In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import pandas as pd
import tensorflow as tf
import numpy as np


#  Import and read the data.csv.
import pandas as pd 
data_df = pd.read_csv("archive/data.csv")
#data_df.head()

In [2]:
#Drop unnecessary columns
data_df = data_df.drop(["Unnamed: 0","Unnamed: 0.1", "ID", "Name", "Sex", "Age", "Height", "Weight","Event", "Team", "Games","Year","City", "Nat_Pop", "GDP"], 1)

#data_df = data_df.drop(["GDP_Per_Cap"], 1)
data_df = data_df[data_df.GDP_Per_Cap != '#DIV/0!']

#Rename Global_Pop% and Rural_Pop% to make it easier to call in future
data_df.rename(columns = {'Global_Pop%':'Global_Pop_Perc'}, inplace = True)
data_df.rename(columns = {'Rural_Pop%':'Rural_Pop_Perc'}, inplace = True)
data_df.rename(columns = {'Global_GDP%':'Global_GDP_Perc'}, inplace = True)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/939271320.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Unnamed: 0","Unnamed: 0.1", "ID", "Name", "Sex", "Age", "Height", "Weight","Event", "Team", "Games","Year","City", "Nat_Pop", "GDP"], 1)

In [3]:
#Filter out season data to just summer
data_df = data_df[data_df["Season"].str.contains("Winter") == False]

#Filter out hockey data since it is a winter sport
data_df = data_df[data_df["Sport"].str.contains("Hockey") == False]

In [4]:
#Turn Medal Values into Boolean
data_df.fillna(value = False,
          inplace = True)

#Drop Season since no longer needed after filtering
data_df = data_df.drop(["Season"],1)
data_df.head()

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/516755359.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Season"],1)

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,GDP_Per_Cap,Global_GDP_Perc
0,CHN,Basketball,False,0,0.213515,71.8,69.587,366.5330438,0.016811
1,CHN,Judo,False,0,0.190308,48.111,75.602,6337.478113,0.114286
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,24342.1392,0.00375
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,24342.1392,0.00375
50,NOR,Handball,Gold,0,0.000705,21.474,80.592683,97101.38727,0.007291

In [5]:
#Replace medal values to true to finish boolean
data_df = data_df.replace({"Gold" : True})
data_df = data_df.replace({"Silver" : True})
data_df = data_df.replace({"Bronze" : True})

In [6]:
#Begin binning data to make it easier to get dummies
#Find min and max of data types to create bins
data_df['Global_Pop_Perc'] = data_df['Global_Pop_Perc'].astype(float, errors = 'raise')

min_value = data_df['Global_Pop_Perc'].min()
max_value = data_df['Global_Pop_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

names = ["0","1","2","3","4","5","6","7","8"]
print(bins)
print (names)

1.45e-06
0.224549844
[1.45000000e-06 2.49512716e-02 4.99010931e-02 7.48509147e-02
 9.98007362e-02 1.24750558e-01 1.49700379e-01 1.74650201e-01
 1.99600022e-01 2.24549844e-01]
['0', '1', '2', '3', '4', '5', '6', '7', '8']

In [7]:
data_df["Global_Pop_Bin"] = pd.cut(data_df["Global_Pop_Perc"], bins, labels=names)
data_df

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,GDP_Per_Cap,Global_GDP_Perc,Global_Pop_Bin
0,CHN,Basketball,False,0,0.213515,71.8,69.587,366.5330438,0.016811,8
1,CHN,Judo,False,0,0.190308,48.111,75.602,6337.478113,0.114286,7
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,24342.1392,0.00375,0
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,24342.1392,0.00375,0
50,NOR,Handball,True,0,0.000705,21.474,80.592683,97101.38727,0.007291,0
...,...,...,...,...,...,...,...,...,...,...
204020,RUS,Athletics,True,0,0.022383,26.582,65.470976,4102.25644,0.013493,0
204024,USA,Football,False,0,0.054676,26.377,71.156098,6098.258185,0.339523,2
204025,RUS,Rowing,False,0,0.023961,26.65,65.483659,1773.575078,0.007738,0
204026,RUS,Rowing,False,0,0.022383,26.582,65.470976,4102.25644,0.013493,0
204027,BLR,Basketball,False,0,0.001277,22.954,73.826829,4986.496177,0.000625,0

In [8]:
data_df['GDP_Per_Cap'] = data_df['GDP_Per_Cap'].astype(float, errors = 'raise')

min_value = data_df['GDP_Per_Cap'].min()
max_value = data_df['GDP_Per_Cap'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

0.0
192989.1895

In [9]:
data_df["GDP_Per_Cap"] = pd.cut(data_df["GDP_Per_Cap"], bins, labels=names)

In [10]:
data_df['Rural_Pop_Perc'] = data_df['Rural_Pop_Perc'].astype(float, errors = 'raise')

min_value = data_df['Rural_Pop_Perc'].min()
max_value = data_df['Rural_Pop_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

0.0
96.305

In [11]:
data_df["Rural_Pop_Bin"] = pd.cut(data_df["Rural_Pop_Perc"], bins, labels=names)

In [12]:
data_df['Life_Expect'] = data_df['Life_Expect'].astype(float, errors = 'raise')

min_value = data_df['Life_Expect'].min()
max_value = data_df['Life_Expect'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

data_df["Life_Expect_Bin"] = pd.cut(data_df["Life_Expect"], bins, labels=names)

0.0
85.41707317

In [13]:
data_df.dtypes

NOC                  object
Sport                object
Medal                  bool
Host                  int64
Global_Pop_Perc     float64
Rural_Pop_Perc      float64
Life_Expect         float64
GDP_Per_Cap        category
Global_GDP_Perc      object
Global_Pop_Bin     category
Rural_Pop_Bin      category
Life_Expect_Bin    category
dtype: object

In [14]:
min_value = data_df['Global_GDP_Perc'].min()
max_value = data_df['Global_GDP_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

names = ["0","1","2","3","4","5","6","7","8"]

data_df["Global_GDP_Perc_Bin"] = pd.cut(data_df["Global_GDP_Perc"], bins, labels=names)

False
0.3963503649635037

In [15]:
data_df = data_df.drop(["Global_Pop_Perc", "Rural_Pop_Perc", "Life_Expect", "Global_GDP_Perc"], 1)
data_df.head()

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/4282354263.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Global_Pop_Perc", "Rural_Pop_Perc", "Life_Expect", "Global_GDP_Perc"], 1)

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
0,CHN,Basketball,False,0,0,8,6,7,0
1,CHN,Judo,False,0,0,7,4,7,2
26,FIN,Badminton,False,0,1,0,1,8,0
29,FIN,Athletics,False,0,1,0,1,8,0
50,NOR,Handball,True,0,4,0,2,8,0

Athletics Logistic Regression

In [16]:
# Creating on the basis of Athlethics
Athletics_df = data_df[data_df['Sport'] == "Athletics"]
Athletics_df = Athletics_df.dropna()
 
print(Athletics_df)

        NOC      Sport  Medal  Host GDP_Per_Cap Global_Pop_Bin Rural_Pop_Bin  \
29      FIN  Athletics  False     0           1              0             1
62      FRA  Athletics  False     0           1              0             1
81      EST  Athletics  False     0           0              0             2
82      EST  Athletics  False     0           0              0             2
91      FRA  Athletics  False     0           0              0             2
...     ...        ...    ...   ...         ...            ...           ...
203977  KAZ  Athletics  False     0           0              0             4
203978  KAZ  Athletics  False     0           0              0             4
203979  KAZ  Athletics  False     0           0              0             4
204019  RUS  Athletics   True     0           0              0             2
204020  RUS  Athletics   True     0           0              0             2

       Life_Expect_Bin Global_GDP_Perc_Bin
29                   8                   0
62                   8                   0
81                   7                   0
82                   7                   0
91                   7                   1
...                ...                 ...
203977               7                   0
203978               7                   0
203979               7                   0
204019               6                   0
204020               6                   0

[24221 rows x 9 columns]

In [17]:
Athletics_dummies = pd.get_dummies(Athletics_df)
Athletics_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_AFG,NOC_AGO,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_ATG,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
29,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
62,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
81,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [18]:
from sklearn.model_selection import train_test_split

# Convert categorical data to numeric and separate target feature for training data
x_train = Athletics_dummies.drop(columns=['Medal'])
y_train = Athletics_dummies['Medal']

# Convert categorical data to numeric and separate target feature for testing data
x_test = Athletics_dummies.drop(columns=['Medal'])
y_test = Athletics_dummies['Medal']

In [19]:
# Train the Logistic Regression model on the unscaled data and print the model score
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9218859667230915

In [20]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Athletics_df)

array([0.45340004, 0.44138183, 0.38498074, ..., 0.2682194 , 0.73571669,
       0.73571669])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
29,FIN,Athletics,False,0,1,0,1,8,0
62,FRA,Athletics,False,0,1,0,1,8,0
81,EST,Athletics,False,0,0,0,2,7,0
82,EST,Athletics,False,0,0,0,2,7,0
91,FRA,Athletics,False,0,0,0,2,7,1
...,...,...,...,...,...,...,...,...,...
203977,KAZ,Athletics,False,0,0,0,4,7,0
203978,KAZ,Athletics,False,0,0,0,4,7,0
203979,KAZ,Athletics,False,0,0,0,4,7,0
204019,RUS,Athletics,True,0,0,0,2,6,0
204020,RUS,Athletics,True,0,0,0,2,6,0

In [21]:
Athletics_df['Predictions'] = y_pred.tolist()

In [22]:
Athletics_final = Athletics_df.drop_duplicates(subset=['NOC'], keep='last')
Athletics_final = Athletics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
Athletics_final

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3032431419.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Athletics_final = Athletics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC      Sport  Predictions
3132    OMN  Athletics     0.056710
93515   PLW  Athletics     0.142405
124976  SOM  Athletics     0.039474
130609  AGO  Athletics     0.039474
130654  BDI  Athletics     0.394120
...     ...        ...          ...
203957  DEU  Athletics     0.464116
203959  NLD  Athletics     0.186889
203968  USA  Athletics     0.858066
203979  KAZ  Athletics     0.268219
204020  RUS  Athletics     0.735717

[187 rows x 3 columns]

##Swimming Logistics Regression

In [23]:
# Creating on the basis of Athlethics
Swimming_df = data_df[data_df['Sport'] == "Swimming"]
Swimming_df = Swimming_df.dropna()
  
print(Swimming_df)

        NOC     Sport  Medal  Host GDP_Per_Cap Global_Pop_Bin Rural_Pop_Bin  \
64      NLD  Swimming  False     0           1              0             2
65      NLD  Swimming  False     0           1              0             2
66      NLD  Swimming  False     0           1              0             2
67      NLD  Swimming  False     0           1              0             2
68      NLD  Swimming  False     0           1              0             2
...     ...       ...    ...   ...         ...            ...           ...
203887  RUS  Swimming  False     0           0              0             2
203888  RUS  Swimming  False     0           0              0             2
203942  NLD  Swimming  False     0           1              0             2
203943  NLD  Swimming  False     0           1              0             2
203944  NLD  Swimming   True     0           1              0             1

       Life_Expect_Bin Global_GDP_Perc_Bin
64                   8                   0
65                   8                   0
66                   8                   0
67                   8                   0
68                   8                   0
...                ...                 ...
203887               7                   0
203888               7                   0
203942               8                   0
203943               8                   0
203944               8                   0

[17638 rows x 9 columns]

In [24]:
Swimming_dummies = pd.get_dummies(Swimming_df)
Swimming_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_AGO,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_ATG,NOC_AUS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
64,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
65,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
66,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [25]:
# Convert categorical data to numeric and separate target feature for training data
x_train = Swimming_dummies.drop(columns=['Medal'])
y_train = Swimming_dummies['Medal']

In [26]:
x_test = Swimming_dummies.drop(columns=['Medal'])
y_test = Swimming_dummies['Medal']

In [27]:
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9132554711418528

In [28]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Swimming_df)

array([0.57584815, 0.57584815, 0.57584815, ..., 0.57584815, 0.57584815,
       0.64262404])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
64,NLD,Swimming,False,0,1,0,2,8,0
65,NLD,Swimming,False,0,1,0,2,8,0
66,NLD,Swimming,False,0,1,0,2,8,0
67,NLD,Swimming,False,0,1,0,2,8,0
68,NLD,Swimming,False,0,1,0,2,8,0
...,...,...,...,...,...,...,...,...,...
203887,RUS,Swimming,False,0,0,0,2,7,0
203888,RUS,Swimming,False,0,0,0,2,7,0
203942,NLD,Swimming,False,0,1,0,2,8,0
203943,NLD,Swimming,False,0,1,0,2,8,0
203944,NLD,Swimming,True,0,1,0,1,8,0

In [29]:
Swimming_df['Predictions'] = y_pred.tolist()

In [30]:
Swimming_final = Swimming_df.drop_duplicates(subset=['NOC'], keep='last')
Swimming_final = Swimming_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2203429247.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Swimming_final = Swimming_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [31]:
A = pd.merge(Athletics_final, Swimming_final, how='outer', on=['NOC', 'NOC'])
A

     NOC    Sport_x  Predictions_x   Sport_y  Predictions_y
0    OMN  Athletics       0.056710  Swimming       0.035608
1    PLW  Athletics       0.142405  Swimming       0.035608
2    SOM  Athletics       0.039474       NaN            NaN
3    AGO  Athletics       0.039474  Swimming       0.006516
4    BDI  Athletics       0.394120  Swimming       0.007109
..   ...        ...            ...       ...            ...
182  DEU  Athletics       0.464116  Swimming       0.635384
183  NLD  Athletics       0.186889  Swimming       0.642624
184  USA  Athletics       0.858066  Swimming       0.964731
185  KAZ  Athletics       0.268219  Swimming       0.073415
186  RUS  Athletics       0.735717  Swimming       0.499291

[187 rows x 5 columns]

In [32]:
A.rename(columns = {'Predictions_x':'Athletics', 'Predictions_y':'Swimming'}, inplace = True)
A = A.drop(["Sport_x","Sport_y"], 1)
A

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2218725990.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  A = A.drop(["Sport_x","Sport_y"], 1)

     NOC  Athletics  Swimming
0    OMN   0.056710  0.035608
1    PLW   0.142405  0.035608
2    SOM   0.039474       NaN
3    AGO   0.039474  0.006516
4    BDI   0.394120  0.007109
..   ...        ...       ...
182  DEU   0.464116  0.635384
183  NLD   0.186889  0.642624
184  USA   0.858066  0.964731
185  KAZ   0.268219  0.073415
186  RUS   0.735717  0.499291

[187 rows x 3 columns]

Gymnastics Logistic Regression

In [33]:
Gymnastics_df = data_df[data_df['Sport'] == "Gymnastics"]
Gymnastics_df = Gymnastics_df.dropna()

In [34]:
Gymnastics_dummies = pd.get_dummies(Gymnastics_df)
Gymnastics_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGD,NOC_BGR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
85,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
86,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
87,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [35]:
# Convert categorical data to numeric and separate target feature for training data
x_train = Gymnastics_dummies.drop(columns=['Medal'])
y_train = Gymnastics_dummies['Medal']

x_test = Gymnastics_dummies.drop(columns=['Medal'])
y_test = Gymnastics_dummies['Medal']

In [36]:
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9492940640655837

In [37]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Gymnastics_df)

array([0.23424944, 0.23424944, 0.23424944, ..., 0.19703449, 0.19703449,
       0.19703449])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
85,ESP,Gymnastics,False,0,1,0,1,8,0
86,ESP,Gymnastics,False,0,1,0,1,8,0
87,ESP,Gymnastics,False,0,1,0,1,8,0
88,ESP,Gymnastics,False,0,1,0,1,8,0
89,ESP,Gymnastics,False,0,1,0,1,8,0
...,...,...,...,...,...,...,...,...,...
203680,ITA,Gymnastics,False,0,0,0,3,7,0
203681,ITA,Gymnastics,False,0,0,0,3,7,0
203682,ITA,Gymnastics,False,0,0,0,3,7,0
203683,ITA,Gymnastics,False,0,0,0,3,7,0
203684,ITA,Gymnastics,False,0,0,0,3,7,0

In [38]:
Gymnastics_df['Predictions'] = y_pred.tolist()

In [39]:
Gymnastics_final = Gymnastics_df.drop_duplicates(subset=['NOC'], keep='last')
Gymnastics_final = Gymnastics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2535500066.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Gymnastics_final = Gymnastics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Cycling Logistic Regression

In [40]:
Cycling_df = data_df[data_df['Sport'] == "Cycling"]
Cycling_df = Cycling_df.dropna()

In [41]:
Cycling_dummies = pd.get_dummies(Cycling_df)
Cycling_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_ATG,NOC_AUS,NOC_AUT,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
131,True,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
132,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
173,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [42]:
# Convert categorical data to numeric and separate target feature for training data
x_train = Cycling_dummies.drop(columns=['Medal'])
y_train = Cycling_dummies['Medal']

In [43]:
x_test = Cycling_dummies.drop(columns=['Medal'])
y_test = Cycling_dummies['Medal']

In [44]:
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9057317427989525

In [45]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Cycling_df)

array([0.54309791, 0.54309791, 0.04105731, ..., 0.58117185, 0.58117185,
       0.02388469])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
131,RUS,Cycling,True,0,0,0,2,6,0
132,RUS,Cycling,False,0,0,0,2,6,0
173,EGY,Cycling,False,0,0,0,5,7,0
204,USA,Cycling,False,0,2,1,1,8,5
241,EGY,Cycling,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203743,CHE,Cycling,False,0,2,0,2,8,0
203744,CHE,Cycling,False,0,2,0,2,8,0
203745,CHE,Cycling,False,0,1,0,2,8,0
203746,CHE,Cycling,False,0,1,0,2,8,0
203776,MNG,Cycling,False,0,0,0,4,6,0

In [46]:
Cycling_df['Predictions'] = y_pred.tolist()

In [47]:
Cycling_final = Cycling_df.drop_duplicates(subset=['NOC'], keep='last')
Cycling_final = Cycling_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1199427753.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Cycling_final = Cycling_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [48]:
B = pd.merge(Gymnastics_final, Cycling_final, how='outer', on=['NOC', 'NOC'])
B.rename(columns = {'Predictions_x':'Gymnastics', 'Predictions_y':'Cycling'}, inplace = True)
B = B.drop(["Sport_x","Sport_y"], 1)
B

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/597712745.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  B = B.drop(["Sport_x","Sport_y"], 1)

     NOC  Gymnastics   Cycling
0    YEM    0.018416       NaN
1    PAN    0.017619       NaN
2    TUN    0.021851  0.137522
3    BGD    0.021851       NaN
4    BRB    0.021851  0.003409
..   ...         ...       ...
123  KHM         NaN  0.032306
124  HKG         NaN  0.063620
125  MWI         NaN  0.032306
126  LBN         NaN  0.104414
127  MNG         NaN  0.023885

[128 rows x 3 columns]

Rowing Logistic Regression

In [49]:
Rowing_df = data_df[data_df['Sport'] == "Rowing"]
Rowing_df = Rowing_df.dropna()

In [50]:
Rowing_dummies = pd.get_dummies(Rowing_df)
Rowing_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGR,NOC_BHS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
60,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
61,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
98,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [51]:
# Convert categorical data to numeric and separate target feature for training data
x_train = Rowing_dummies.drop(columns=['Medal'])
y_train = Rowing_dummies['Medal']

x_test = Rowing_dummies.drop(columns=['Medal'])
y_test = Rowing_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7811712846347607

In [52]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Rowing_df)

array([0.5895253 , 0.5895253 , 0.50789496, ..., 0.5895253 , 0.38279209,
       0.38279209])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
60,NLD,Rowing,True,0,1,0,2,8,0
61,NLD,Rowing,False,0,1,0,2,8,0
98,ITA,Rowing,True,0,1,0,2,8,0
116,ARG,Rowing,False,0,0,0,0,7,0
130,CHL,Rowing,False,0,0,0,1,7,0
...,...,...,...,...,...,...,...,...,...
203971,NLD,Rowing,False,0,0,0,2,8,0
203972,NLD,Rowing,True,0,1,0,2,8,0
203973,NLD,Rowing,True,0,1,0,2,8,0
204025,RUS,Rowing,False,0,0,0,2,6,0
204026,RUS,Rowing,False,0,0,0,2,6,0

In [53]:
Rowing_df['Predictions'] = y_pred.tolist()
Rowing_final = Rowing_df.drop_duplicates(subset=['NOC'], keep='last')
Rowing_final = Rowing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/772740510.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Rowing_final = Rowing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Shooting Logistic Regression

In [54]:
Shooting_df = data_df[data_df['Sport'] == "Shooting"]
Shooting_df = Shooting_df.dropna()

In [55]:
Shooting_dummies = pd.get_dummies(Shooting_df)
Shooting_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
79,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
124,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
137,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [56]:
x_train = Shooting_dummies.drop(columns=['Medal'])
y_train = Shooting_dummies['Medal']

x_test = Shooting_dummies.drop(columns=['Medal'])
y_test = Shooting_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9352194180999839

In [57]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Shooting_df)

array([0.19086128, 0.28391255, 0.28391255, ..., 0.44241322, 0.19086128,
       0.19086128])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
79,NOR,Shooting,False,0,0,0,4,7,0
124,CHL,Shooting,False,0,0,0,1,7,0
137,CHL,Shooting,False,0,0,0,1,7,0
237,EGY,Shooting,False,0,0,0,5,7,0
282,EGY,Shooting,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203765,CHE,Shooting,False,0,2,0,2,8,0
203766,CHE,Shooting,False,0,2,0,2,8,0
203767,CHE,Shooting,False,0,2,0,2,8,0
203948,NOR,Shooting,False,0,0,0,4,7,0
203949,NOR,Shooting,False,0,0,0,4,7,0

In [58]:
Shooting_df['Predictions'] = y_pred.tolist()
Shooting_final = Shooting_df.drop_duplicates(subset=['NOC'], keep='last')
Shooting_final = Shooting_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/4008684553.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Shooting_final = Shooting_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [59]:
C = pd.merge(Rowing_final, Shooting_final, how='outer', on=['NOC', 'NOC'])
C.rename(columns = {'Predictions_x':'Rowing', 'Predictions_y':'Shooting'}, inplace = True)
C = C.drop(["Sport_x","Sport_y"], 1)
C

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2485172735.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  C = C.drop(["Sport_x","Sport_y"], 1)

     NOC    Rowing  Shooting
0    KWT  0.192253  0.534172
1    TGO  0.008707       NaN
2    HND  0.091612  0.190861
3    TTO  0.187417  0.145890
4    CMR  0.103862       NaN
..   ...       ...       ...
125  DOM       NaN  0.109686
126  BHR       NaN  0.216840
127  MAR       NaN  0.000967
128  MDA       NaN  0.646543
129  MNG       NaN  0.402277

[130 rows x 3 columns]

Fencing Logistic Regression

In [60]:
Fencing_df = data_df[data_df['Sport'] == "Fencing"]
Fencing_df = Fencing_df.dropna()
Fencing_df

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
99,ESP,Fencing,True,0,1,0,2,8,0
117,GRC,Fencing,False,0,1,0,2,8,0
141,MEX,Fencing,False,1,0,0,3,6,0
142,MEX,Fencing,False,1,0,0,3,6,0
143,MEX,Fencing,False,1,0,0,3,6,0
...,...,...,...,...,...,...,...,...,...
203312,AUT,Fencing,False,0,0,0,3,7,0
203313,AUT,Fencing,False,0,0,0,3,7,0
203408,CHN,Fencing,False,0,0,8,7,7,0
203409,CHN,Fencing,False,0,0,8,7,7,0
203962,POL,Fencing,False,0,0,0,3,7,0

In [61]:
Fencing_dummies = pd.get_dummies(Fencing_df)
Fencing_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BEN,NOC_BFA,NOC_BGR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
99,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
117,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
141,False,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [62]:
x_train = Fencing_dummies.drop(columns=['Medal'])
y_train = Fencing_dummies['Medal']

x_test = Fencing_dummies.drop(columns=['Medal'])
y_test = Fencing_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8693467336683417

In [63]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Fencing_df)

array([0.09263812, 0.04414394, 0.05364436, ..., 0.1206045 , 0.1206045 ,
       0.56245881])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
99,ESP,Fencing,True,0,1,0,2,8,0
117,GRC,Fencing,False,0,1,0,2,8,0
141,MEX,Fencing,False,1,0,0,3,6,0
142,MEX,Fencing,False,1,0,0,3,6,0
143,MEX,Fencing,False,1,0,0,3,6,0
...,...,...,...,...,...,...,...,...,...
203312,AUT,Fencing,False,0,0,0,3,7,0
203313,AUT,Fencing,False,0,0,0,3,7,0
203408,CHN,Fencing,False,0,0,8,7,7,0
203409,CHN,Fencing,False,0,0,8,7,7,0
203962,POL,Fencing,False,0,0,0,3,7,0

In [64]:
Fencing_df['Predictions'] = y_pred.tolist()
Fencing_final = Fencing_df.drop_duplicates(subset=['NOC'], keep='last')
Fencing_final = Fencing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2959214136.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Fencing_final = Fencing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Canoeing Logistic Regression

In [65]:
Canoeing_df = data_df[data_df['Sport'] == "Canoeing"]
Canoeing_df = Canoeing_df.dropna()

In [66]:
Canoeing_dummies = pd.get_dummies(Canoeing_df)
Canoeing_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_ARM,NOC_ATG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
109,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
110,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
111,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [67]:
x_train = Canoeing_dummies.drop(columns=['Medal'])
y_train = Canoeing_dummies['Medal']

x_test = Canoeing_dummies.drop(columns=['Medal'])
y_test = Canoeing_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8574193548387097

In [68]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Canoeing_df)

array([0.32177805, 0.32177805, 0.75111045, ..., 0.33041141, 0.33041141,
       0.39590712])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
109,CUB,Canoeing,False,0,0,0,2,7,0
110,CUB,Canoeing,False,0,0,0,2,7,0
111,BLR,Canoeing,False,0,0,0,2,7,0
112,BLR,Canoeing,True,0,0,0,2,7,0
203,CAN,Canoeing,False,1,0,0,2,7,0
...,...,...,...,...,...,...,...,...,...
203817,USA,Canoeing,False,0,1,1,1,8,6
203818,USA,Canoeing,False,0,1,1,1,8,6
203819,USA,Canoeing,False,0,2,1,1,8,5
203820,USA,Canoeing,False,0,2,1,1,8,5
203861,LTU,Canoeing,False,0,0,0,3,7,0

In [69]:
Canoeing_df['Predictions'] = y_pred.tolist()
Canoeing_final = Canoeing_df.drop_duplicates(subset=['NOC'], keep='last')
Canoeing_final = Canoeing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2271154440.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Canoeing_final = Canoeing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [70]:
D = pd.merge(Fencing_final, Canoeing_final, how='outer', on=['NOC', 'NOC'])
D.rename(columns = {'Predictions_x':'Fencing', 'Predictions_y':'Canoeing'}, inplace = True)
D = D.drop(["Sport_x","Sport_y"], 1)
D

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/242490794.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  D = D.drop(["Sport_x","Sport_y"], 1)

     NOC   Fencing  Canoeing
0    QAT  0.033491       NaN
1    BEN  0.060600       NaN
2    PRY  0.060600       NaN
3    PER  0.043265  0.240127
4    SAU  0.060600       NaN
..   ...       ...       ...
98   MKD       NaN  0.317249
99   SVK       NaN  0.746850
100  SRB       NaN  0.233500
101  SVN       NaN  0.280128
102  LTU       NaN  0.395907

[103 rows x 3 columns]

Wrestling Logistic Regression

In [71]:
Wrestling_df = data_df[data_df['Sport'] == "Wrestling"]
Wrestling_df = Wrestling_df.dropna()

In [72]:
Wrestling_dummies = pd.get_dummies(Wrestling_df)
Wrestling_dummies.head(3)

,Medal,Host,NOC_AFG,NOC_ALB,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
52,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
53,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
84,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [73]:
x_train = Wrestling_dummies.drop(columns=['Medal'])
y_train = Wrestling_dummies['Medal']

x_test = Wrestling_dummies.drop(columns=['Medal'])
y_test = Wrestling_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.861604997597309

In [74]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Wrestling_df)

array([0.37197665, 0.37197665, 0.22172613, ..., 0.76725942, 0.18305438,
       0.49651937])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
52,NOR,Wrestling,False,0,1,0,2,8,0
53,NOR,Wrestling,False,0,2,0,2,8,0
84,EST,Wrestling,False,0,0,0,2,7,0
125,USA,Wrestling,True,0,1,1,1,8,6
207,EGY,Wrestling,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203710,HRV,Wrestling,False,0,0,0,3,8,0
203711,HRV,Wrestling,False,0,0,0,3,8,0
203779,USA,Wrestling,False,1,1,1,2,8,5
203924,LVA,Wrestling,False,0,0,0,3,7,0
204017,GRC,Wrestling,False,0,1,0,2,8,0

In [75]:
Wrestling_df['Predictions'] = y_pred.tolist()
Wrestling_final = Wrestling_df.drop_duplicates(subset=['NOC'], keep='last')
Wrestling_final = Wrestling_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1911261898.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Wrestling_final = Wrestling_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Football Logistic Regression

In [76]:
Football_df = data_df[data_df['Sport'] == "Football"]
Football_df = Football_df.dropna()
 
print(Football_df)

        NOC     Sport  Medal  Host GDP_Per_Cap Global_Pop_Bin Rural_Pop_Bin  \
69      NOR  Football   True     0           1              0             2
118     CMR  Football   True     0           0              0             5
122     GRC  Football  False     0           1              0             2
134     ITA  Football  False     0           1              0             2
166     IRQ  Football  False     0           0              0             2
...     ...       ...    ...   ...         ...            ...           ...
203675  SAU  Football  False     0           0              0             1
203725  NLD  Football  False     0           2              0             1
203784  ESP  Football  False     0           0              0             2
203859  CAN  Football  False     0           2              0             1
204024  USA  Football  False     0           0              2             2

       Life_Expect_Bin Global_GDP_Perc_Bin
69                   8                   0
118                  5                   0
122                  8                   0
134                  8                   0
166                  7                   0
...                ...                 ...
203675               7                   0
203725               8                   0
203784               7                   0
203859               8                   0
204024               7                   7

[4209 rows x 9 columns]

In [77]:
Football_dummies = pd.get_dummies(Football_df)
Football_dummies.head(3)

,Medal,Host,NOC_ARE,NOC_ARG,NOC_AUS,NOC_BEL,NOC_BLR,NOC_BRA,NOC_CAN,NOC_CHE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
69,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
118,True,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
122,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [78]:
x_train = Football_dummies.drop(columns=['Medal'])
y_train = Football_dummies['Medal']

x_test = Football_dummies.drop(columns=['Medal'])
y_test = Football_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8740793537657401

In [79]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Football_df)

array([0.89871808, 0.80488485, 0.04849552, ..., 0.29936204, 0.91046264,
       0.01814279])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
69,NOR,Football,True,0,1,0,2,8,0
118,CMR,Football,True,0,0,0,5,5,0
122,GRC,Football,False,0,1,0,2,8,0
134,ITA,Football,False,0,1,0,2,8,0
166,IRQ,Football,False,0,0,0,2,7,0
...,...,...,...,...,...,...,...,...,...
203675,SAU,Football,False,0,0,0,1,7,0
203725,NLD,Football,False,0,2,0,1,8,0
203784,ESP,Football,False,0,0,0,2,7,0
203859,CAN,Football,False,0,2,0,1,8,0
204024,USA,Football,False,0,0,2,2,7,7

In [80]:
Football_df['Predictions'] = y_pred.tolist()
Football_final = Football_df.drop_duplicates(subset=['NOC'], keep='last')
Football_final = Football_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3633843560.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Football_final = Football_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [81]:
E = pd.merge(Wrestling_final, Football_final, how='outer', on=['NOC', 'NOC'])
E.rename(columns = {'Predictions_x':'Wrestling', 'Predictions_y':'Football'}, inplace = True)
E = E.drop(["Sport_x","Sport_y"], 1)
E

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3963166347.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  E = E.drop(["Sport_x","Sport_y"], 1)

     NOC  Wrestling  Football
0    YEM   0.024006       NaN
1    CHL   0.196641  0.892639
2    BHR   0.298727       NaN
3    LBN   0.165723       NaN
4    CIV   0.050638  0.000010
..   ...        ...       ...
123  CRI        NaN  0.026713
124  GHA        NaN  0.139070
125  PRY        NaN  0.807502
126  KWT        NaN  0.022682
127  SAU        NaN  0.007871

[128 rows x 3 columns]

Boxing Logistic Regression

In [82]:
Boxing_df = data_df[data_df['Sport'] == "Boxing"]
Boxing_df = Boxing_df.dropna()

In [83]:
Boxing_dummies = pd.get_dummies(Boxing_df)
Boxing_dummies.head(3)

,Medal,Host,NOC_AFG,NOC_AGO,NOC_ARG,NOC_ARM,NOC_ATG,NOC_AUS,NOC_AUT,NOC_AZE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
80,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
94,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
102,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [84]:
x_train = Boxing_dummies.drop(columns=['Medal'])
y_train = Boxing_dummies['Medal']

x_test = Boxing_dummies.drop(columns=['Medal'])
y_test = Boxing_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8773800456968773

In [85]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Boxing_df)

array([0.29803402, 0.62643175, 0.04655201, ..., 0.64027763, 0.3415265 ,
       0.3415265 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
80,MAR,Boxing,False,0,0,0,3,7,0
94,BGR,Boxing,False,0,0,0,3,7,0
102,SDN,Boxing,False,0,0,0,7,5,0
119,CMR,Boxing,False,0,0,0,7,4,0
145,NGA,Boxing,False,0,0,0,7,4,0
...,...,...,...,...,...,...,...,...,...
203780,CHL,Boxing,False,0,0,0,2,6,0
203788,COL,Boxing,False,0,0,0,3,7,0
203857,ITA,Boxing,False,0,0,0,3,7,0
203877,BLR,Boxing,True,0,0,0,2,7,0
203878,BLR,Boxing,False,0,0,0,2,7,0

In [86]:
Boxing_df['Predictions'] = y_pred.tolist()
Boxing_final = Boxing_df.drop_duplicates(subset=['NOC'], keep='last')
Boxing_final = Boxing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/4182983223.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Boxing_final = Boxing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Equestrianism Logistic Regression

In [87]:
Equestrianism_df = data_df[data_df['Sport'] == "Equestrianism"]
Equestrianism_df = Equestrianism_df.dropna()

In [88]:
Equestrianism_dummies = pd.get_dummies(Equestrianism_df)
Equestrianism_dummies.head(3)

,Medal,Host,NOC_ARE,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGR,NOC_BLR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
73,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
196,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
197,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [89]:
x_train = Equestrianism_dummies.drop(columns=['Medal'])
y_train = Equestrianism_dummies['Medal']

x_test = Equestrianism_dummies.drop(columns=['Medal'])
y_test = Equestrianism_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8697627460878344

In [90]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Equestrianism_df)

array([0.0793335 , 0.05436557, 0.05436557, ..., 0.19635419, 0.19635419,
       0.19635419])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
73,NOR,Equestrianism,False,0,1,0,2,8,0
196,IRL,Equestrianism,False,0,2,0,3,8,0
197,IRL,Equestrianism,False,0,2,0,3,8,0
1037,ARG,Equestrianism,False,0,0,0,2,6,0
1038,ARG,Equestrianism,False,0,0,0,2,6,0
...,...,...,...,...,...,...,...,...,...
203407,ARG,Equestrianism,False,0,0,0,1,7,0
203598,DNK,Equestrianism,False,0,2,0,1,8,0
203599,DNK,Equestrianism,True,0,2,0,1,8,0
203600,DNK,Equestrianism,False,0,2,0,1,8,0
203601,DNK,Equestrianism,False,0,2,0,1,8,0

In [91]:
Equestrianism_df['Predictions'] = y_pred.tolist()
Equestrianism_final = Equestrianism_df.drop_duplicates(subset=['NOC'], keep='last')
Equestrianism_final = Equestrianism_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1249077138.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Equestrianism_final = Equestrianism_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [92]:
F = pd.merge(Boxing_final, Equestrianism_final, how='outer', on=['NOC', 'NOC'])
F.rename(columns = {'Predictions_x':'Boxing', 'Predictions_y':'Equestrianism'}, inplace = True)
F = F.drop(["Sport_x","Sport_y"], 1)
F

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1904098448.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  F = F.drop(["Sport_x","Sport_y"], 1)

     NOC    Boxing  Equestrianism
0    OMN  0.270712            NaN
1    KWT  0.217088            NaN
2    SLB  0.133535            NaN
3    BOL  0.133535       0.041644
4    FSM  0.094315            NaN
..   ...       ...            ...
147  COL  0.432454       0.075769
148  ITA  0.640278       0.414043
149  BLR  0.341526       0.112318
150  ARE       NaN       0.124629
151  SAU       NaN       0.560158

[152 rows x 3 columns]

Judo Logistic Regression

In [93]:
Judo_df = data_df[data_df['Sport'] == "Judo"]
Judo_df = Judo_df.dropna()

In [94]:
Judo_dummies = pd.get_dummies(Judo_df)
Judo_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_AFG,NOC_AGO,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_AUS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
1,False,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
100,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
120,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [95]:
x_train = Judo_dummies.drop(columns=['Medal'])
y_train = Judo_dummies['Medal']

x_test = Judo_dummies.drop(columns=['Medal'])
y_test = Judo_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8726263511539585

In [96]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Judo_df)

array([0.64518045, 0.00319859, 0.29464617, ..., 0.57990675, 0.69661665,
       0.64376888])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
1,CHN,Judo,False,0,0,7,4,7,2
100,TCD,Judo,False,0,0,0,7,4,0
120,TUR,Judo,False,0,0,0,3,7,0
300,EGY,Judo,False,0,0,0,5,7,0
314,EGY,Judo,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203810,CAN,Judo,False,0,2,0,1,8,0
203811,CAN,Judo,False,0,1,0,1,8,0
203922,GEO,Judo,True,0,0,0,4,7,0
203960,NLD,Judo,True,0,1,0,2,8,0
203961,NLD,Judo,False,0,1,0,1,8,0

In [97]:
Judo_df['Predictions'] = y_pred.tolist()
Judo_final = Judo_df.drop_duplicates(subset=['NOC'], keep='last')
Judo_final = Judo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/405281857.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Judo_final = Judo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Basketball Logistic Regression

In [98]:
Basketball_df = data_df[data_df['Sport'] == "Basketball"]
Basketball_df = Basketball_df.dropna()

In [99]:
Basketball_dummies = pd.get_dummies(Basketball_df)
Basketball_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_AUS,NOC_BGR,NOC_BLR,NOC_BRA,NOC_CAF,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
0,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
107,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
192,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [100]:
x_train = Basketball_dummies.drop(columns=['Medal'])
y_train = Basketball_dummies['Medal']

x_test = Basketball_dummies.drop(columns=['Medal'])
y_test = Basketball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8938140919616275

In [101]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Basketball_df)

array([0.47147875, 0.84547076, 0.26249214, ..., 0.61633405, 0.00206276,
       0.01347241])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
0,CHN,Basketball,False,0,0,8,6,7,0
107,ESP,Basketball,False,0,1,0,2,8,0
192,ITA,Basketball,False,0,0,0,3,8,0
257,EGY,Basketball,False,0,0,0,5,5,0
264,EGY,Basketball,False,0,0,0,5,6,0
...,...,...,...,...,...,...,...,...,...
203733,LTU,Basketball,False,0,0,0,3,7,0
203734,LTU,Basketball,True,0,0,0,3,7,0
203735,LTU,Basketball,False,0,0,0,3,7,0
203956,DEU,Basketball,False,0,2,0,2,8,1
204027,BLR,Basketball,False,0,0,0,2,7,0

In [102]:
Basketball_df['Predictions'] = y_pred.tolist()
Basketball_final = Basketball_df.drop_duplicates(subset=['NOC'], keep='last')
Basketball_final = Basketball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1911532976.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Basketball_final = Basketball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [103]:
G = pd.merge(Judo_final, Basketball_final, how='outer', on=['NOC', 'NOC'])
G.rename(columns = {'Predictions_x':'Judo', 'Predictions_y':'Basketball'}, inplace = True)
G = G.drop(["Sport_x","Sport_y"], 1)
G

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3586753422.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  G = G.drop(["Sport_x","Sport_y"], 1)

     NOC      Judo  Basketball
0    GUM  0.133986         NaN
1    TGO  0.068382         NaN
2    NIC  0.180143         NaN
3    TTO  0.180143         NaN
4    BEN  0.068382         NaN
..   ...       ...         ...
152  HUN  0.430885         NaN
153  CHL  0.174665         NaN
154  CAN  0.194549    0.002093
155  GEO  0.579907         NaN
156  NLD  0.643769         NaN

[157 rows x 3 columns]

Handball Logistic Regression

In [104]:
Handball_df = data_df[data_df['Sport'] == "Handball"]
Handball_df = Handball_df.dropna()

In [105]:
Handball_dummies = pd.get_dummies(Handball_df)
Handball_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BRA,NOC_CAN,NOC_CHE,NOC_CHN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
50,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
113,True,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
114,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [106]:
x_train = Handball_dummies.drop(columns=['Medal'])
y_train = Handball_dummies['Medal']

x_test = Handball_dummies.drop(columns=['Medal'])
y_test = Handball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.7936344969199178

In [107]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Handball_df)

array([0.9872138 , 0.58509065, 0.75110245, ..., 0.51197043, 0.02492861,
       0.0236445 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
50,NOR,Handball,True,0,4,0,2,8,0
113,FRA,Handball,True,0,2,0,2,8,1
114,FRA,Handball,True,0,1,0,1,8,0
115,FRA,Handball,True,0,1,0,1,8,0
135,FRA,Handball,False,0,1,0,2,8,1
...,...,...,...,...,...,...,...,...,...
203758,CUB,Handball,False,0,0,0,2,7,0
203770,CHE,Handball,False,0,2,0,2,8,0
203787,ESP,Handball,False,0,0,0,2,8,0
203858,AUT,Handball,False,0,1,0,3,7,0
203925,SVN,Handball,False,0,0,0,4,8,0

In [108]:
Handball_df['Predictions'] = y_pred.tolist()
Handball_final = Handball_df.drop_duplicates(subset=['NOC'], keep='last')
Handball_final = Handball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1399169446.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Handball_final = Handball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Volleyball

In [109]:
Volleyball_df = data_df[data_df['Sport'] == "Volleyball"]
Volleyball_df = Volleyball_df.dropna()

In [110]:
Volleyball_dummies = pd.get_dummies(Volleyball_df)
Volleyball_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_BEL,NOC_BGR,NOC_BRA,NOC_CAN,NOC_CHN,NOC_CMR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
210,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
218,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
236,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [111]:
x_train = Volleyball_dummies.drop(columns=['Medal'])
y_train = Volleyball_dummies['Medal']

x_test = Volleyball_dummies.drop(columns=['Medal'])
y_test = Volleyball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8166845685642679

In [112]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Volleyball_df)

array([0.03059131, 0.03059131, 0.03059131, ..., 0.42613874, 0.42613874,
       0.01264144])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
210,EGY,Volleyball,False,0,0,0,5,7,0
218,EGY,Volleyball,False,0,0,0,5,7,0
236,EGY,Volleyball,False,0,0,0,5,7,0
254,EGY,Volleyball,False,0,0,0,5,6,0
270,EGY,Volleyball,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203795,CHN,Volleyball,False,0,0,8,7,7,0
203945,NLD,Volleyball,False,0,0,0,2,8,0
203946,NLD,Volleyball,True,0,1,0,2,8,0
203947,NLD,Volleyball,True,0,1,0,2,8,0
204009,POL,Volleyball,False,0,0,0,3,8,0

In [113]:
Volleyball_df['Predictions'] = y_pred.tolist()
Volleyball_final = Volleyball_df.drop_duplicates(subset=['NOC'], keep='last')
Volleyball_final = Volleyball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3185448111.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Volleyball_final = Volleyball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [114]:
H = pd.merge(Handball_final, Volleyball_final, how='outer', on=['NOC', 'NOC'])
H.rename(columns = {'Predictions_x':'Handball', 'Predictions_y':'Volleyball'}, inplace = True)
H = H.drop(["Sport_x","Sport_y"], 1)
H

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1895146923.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  H = H.drop(["Sport_x","Sport_y"], 1)

    NOC  Handball  Volleyball
0   COG  0.057339         NaN
1   KWT  0.011314         NaN
2   DZA  0.007170    0.015409
3   AUS  0.051609    0.033935
4   ISL  0.478225         NaN
5   NOR  0.481155         NaN
6   CZE  0.011314         NaN
7   CAN  0.014495    0.018650
8   ARG  0.025113    0.450339
9   CIV  0.009617         NaN
10  DNK  0.411566         NaN
11  SRB  0.027414    0.412019
12  MNE  0.634134    0.696890
13  AGO  0.022974         NaN
14  NLD  0.039963    0.426139
15  GBR  0.054775    0.012544
16  USA  0.000240    0.519972
17  POL  0.021054    0.012641
18  KAZ  0.027414    0.124548
19  NGA  0.025113         NaN
20  JPN  0.064485    0.093479
21  KOR  0.734073    0.351666
22  FRA  0.751102    0.024664
23  SWE  0.621285    0.029076
24  ROU  0.026697         NaN
25  QAT  0.039963         NaN
26  EGY  0.004479    0.030591
27  UKR  0.969929    0.032214
28  DEU  0.532732    0.002647
29  BRA  0.000059    0.527893
30  RUS  0.804584    0.738512
31  CHN  0.018006    0.823208
32  TUN  0.008683    0.007936
33  GRC  0.051597    0.024664
34  HRV  0.797024    0.135870
35  HUN  0.574258         NaN
36  CUB  0.011314    0.507009
37  CHE  0.039963         NaN
38  ESP  0.511970    0.012427
39  AUT  0.024929         NaN
40  SVN  0.023644         NaN
41  CMR       NaN    0.149445
42  TUR       NaN    0.056821
43  DOM       NaN    0.056821
44  MEX       NaN    0.033935
45  VEN       NaN    0.066592
46  BEL       NaN    0.006936
47  KEN       NaN    0.002311
48  PER       NaN    0.457849
49  IRN       NaN    0.028809
50  BGR       NaN    0.516639
51  ITA       NaN    0.543075

Weightlifting

In [115]:
Weightlifting_df = data_df[data_df['Sport'] == "Weightlifting"]
Weightlifting_df = Weightlifting_df.dropna()

In [116]:
Weightlifting_dummies = pd.get_dummies(Weightlifting_df)
Weightlifting_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
51,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
165,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
176,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [117]:
x_train = Weightlifting_dummies.drop(columns=['Medal'])
y_train = Weightlifting_dummies['Medal']

x_test = Weightlifting_dummies.drop(columns=['Medal'])
y_test = Weightlifting_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8793300342596118

In [118]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Weightlifting_df)

array([0.46818654, 0.1214001 , 0.44990507, ..., 0.24977166, 0.33853195,
       0.65612038])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
51,ROU,Weightlifting,False,0,0,0,4,7,0
165,IRQ,Weightlifting,False,0,0,0,4,5,0
176,QAT,Weightlifting,False,0,1,0,0,8,0
188,AZE,Weightlifting,False,0,0,0,4,7,0
195,IRQ,Weightlifting,False,0,0,0,2,7,0
...,...,...,...,...,...,...,...,...,...
203502,MAR,Weightlifting,False,0,0,0,4,7,0
203658,CZE,Weightlifting,False,0,0,0,2,7,0
203855,ESP,Weightlifting,False,0,0,0,2,8,0
203856,ESP,Weightlifting,False,1,0,0,2,8,0
203937,POL,Weightlifting,False,0,0,0,3,8,0

In [119]:
Weightlifting_df['Predictions'] = y_pred.tolist()
Weightlifting_final = Weightlifting_df.drop_duplicates(subset=['NOC'], keep='last')
Weightlifting_final = Weightlifting_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1673677086.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Weightlifting_final = Weightlifting_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Water Polo

In [120]:
Polo_df = data_df[data_df['Sport'] == "Water Polo"]
Polo_df = Polo_df.dropna()

In [121]:
Polo_dummies = pd.get_dummies(Polo_df)
Polo_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_BEL,NOC_BGR,NOC_BRA,NOC_CAN,NOC_CHN,NOC_CUB,NOC_CZE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
58,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
121,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
189,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [122]:
x_train = Polo_dummies.drop(columns=['Medal'])
y_train = Polo_dummies['Medal']

x_test = Polo_dummies.drop(columns=['Medal'])
y_test = Polo_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8627450980392157

In [123]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Polo_df)

array([0.17200241, 0.18422608, 0.67229382, ..., 0.86621261, 0.00837879,
       0.30003566])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
58,NLD,Water Polo,False,0,0,0,3,8,0
121,ESP,Water Polo,True,0,0,0,2,8,0
189,ITA,Water Polo,False,0,1,0,2,8,0
251,EGY,Water Polo,False,0,0,0,5,7,0
267,EGY,Water Polo,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203275,RUS,Water Polo,False,0,0,0,2,6,0
203613,ESP,Water Polo,False,0,0,0,3,7,0
203630,RUS,Water Polo,False,0,0,0,2,6,0
203631,KAZ,Water Polo,False,0,0,0,4,6,0
203719,NLD,Water Polo,False,0,1,0,2,8,0

In [124]:
Polo_df['Predictions'] = y_pred.tolist()
Polo_final = Polo_df.drop_duplicates(subset=['NOC'], keep='last')
Polo_final = Polo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1686184237.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Polo_final = Polo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [125]:
I = pd.merge(Weightlifting_final, Polo_final, how='outer', on=['NOC', 'NOC'])
I.rename(columns = {'Predictions_x':'Weightlifting', 'Predictions_y':'Water Polo'}, inplace = True)
I = I.drop(["Sport_x","Sport_y"], 1)
I

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1958365582.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  I = I.drop(["Sport_x","Sport_y"], 1)

     NOC  Weightlifting  Water Polo
0    SAU       0.199698         NaN
1    GHA       0.055781         NaN
2    ZWE       0.018348         NaN
3    SLE       0.060120         NaN
4    LBN       0.199698         NaN
..   ...            ...         ...
121  CZE       0.144099    0.016672
122  ESP       0.338532    0.479836
123  POL       0.656120         NaN
124  SRB            NaN    0.988492
125  MNE            NaN    0.647181

[126 rows x 3 columns]

Archery

In [126]:
Archery_df = data_df[data_df['Sport'] == "Archery"]
Archery_df = Archery_df.dropna()

In [127]:
Archery_dummies = pd.get_dummies(Archery_df)
Archery_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGD,NOC_BGR,NOC_BLR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
206,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
521,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
764,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [128]:
x_train = Archery_dummies.drop(columns=['Medal'])
y_train = Archery_dummies['Medal']

x_test = Archery_dummies.drop(columns=['Medal'])
y_test = Archery_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9129082426127527

In [129]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Archery_df)

array([0.01310072, 0.05049789, 0.51941128, ..., 0.82805867, 0.82805867,
       0.21284847])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
206,MAR,Archery,False,0,0,0,4,7,0
521,EGY,Archery,False,0,0,0,5,7,0
764,RUS,Archery,False,0,0,0,2,7,0
765,RUS,Archery,False,0,0,0,2,7,0
845,IRN,Archery,False,0,0,0,2,7,0
...,...,...,...,...,...,...,...,...,...
202043,CHN,Archery,False,0,0,8,5,7,1
202044,CHN,Archery,True,0,0,8,5,7,1
202045,CHN,Archery,True,1,0,7,4,7,1
202046,CHN,Archery,True,1,0,7,4,7,1
202286,CHN,Archery,False,0,0,8,7,7,0

In [130]:
Archery_df['Predictions'] = y_pred.tolist()
Archery_final = Archery_df.drop_duplicates(subset=['NOC'], keep='last')
Archery_final = Archery_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/4291309299.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Archery_final = Archery_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Diving

In [131]:
Diving_df = data_df[data_df['Sport'] == "Diving"]
Diving_df = Diving_df.dropna()

In [132]:
Diving_dummies = pd.get_dummies(Diving_df)
Diving_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGR,NOC_BHS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
108,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
235,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
538,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [133]:
x_train = Diving_dummies.drop(columns=['Medal'])
y_train = Diving_dummies['Medal']

x_test = Diving_dummies.drop(columns=['Medal'])
y_test = Diving_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8816234498308907

In [134]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Diving_df)

array([0.03381947, 0.04389726, 0.51633471, ..., 0.25326653, 0.25326653,
       0.25326653])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
108,CUB,Diving,False,0,0,0,2,8,0
235,EGY,Diving,False,0,0,0,5,7,0
538,CAN,Diving,False,0,2,0,1,8,0
539,CAN,Diving,False,0,2,0,1,8,0
540,CAN,Diving,True,0,2,0,1,8,0
...,...,...,...,...,...,...,...,...,...
202802,UKR,Diving,False,0,0,0,3,7,0
202803,UKR,Diving,False,0,0,0,3,7,0
202804,UKR,Diving,False,0,0,0,3,7,0
202805,UKR,Diving,True,0,0,0,3,7,0
202806,UKR,Diving,False,0,0,0,3,7,0

In [135]:
Diving_df['Predictions'] = y_pred.tolist()
Diving_final = Diving_df.drop_duplicates(subset=['NOC'], keep='last')
Diving_final = Diving_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1671132766.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Diving_final = Diving_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [136]:
J = pd.merge(Archery_final, Diving_final, how='outer', on=['NOC', 'NOC'])
J.rename(columns = {'Predictions_x':'Archery', 'Predictions_y':'Diving'}, inplace = True)
J = J.drop(["Sport_x","Sport_y"], 1)
J

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2986169119.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  J = J.drop(["Sport_x","Sport_y"], 1)

    NOC   Archery    Diving
0   MAR  0.013101       NaN
1   IRQ  0.050498       NaN
2   JOR  0.050498       NaN
3   ROU  0.013101  0.043897
4   DOM  0.031375  0.037727
..  ...       ...       ...
93  BHS       NaN  0.043897
94  PER       NaN  0.043897
95  SYR       NaN  0.043897
96  ECU       NaN  0.037727
97  JAM       NaN  0.043897

[98 rows x 3 columns]

Tennis

In [137]:
Tennis_df = data_df[data_df['Sport'] == "Tennis"]
Tennis_df = Tennis_df.dropna()

In [138]:
Tennis_dummies = pd.get_dummies(Tennis_df)
Tennis_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BEN,NOC_BGR,NOC_BHS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
123,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
446,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1008,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [139]:
x_train = Tennis_dummies.drop(columns=['Medal'])
y_train = Tennis_dummies['Medal']

x_test = Tennis_dummies.drop(columns=['Medal'])
y_test = Tennis_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9209989806320081

In [140]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Tennis_df)

array([0.06810516, 0.03028908, 0.02199167, ..., 0.67154737, 0.67154737,
       0.67154737])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
123,MEX,Tennis,False,0,0,0,2,7,0
446,NGA,Tennis,False,0,0,0,6,4,0
1008,BRA,Tennis,False,0,0,1,2,6,0
1178,ZAF,Tennis,False,0,0,0,4,5,0
1607,USA,Tennis,True,1,1,1,2,8,5
...,...,...,...,...,...,...,...,...,...
203920,BLR,Tennis,False,0,0,0,2,7,0
203921,BLR,Tennis,False,0,0,0,2,7,0
203926,RUS,Tennis,True,0,0,0,2,7,0
203927,RUS,Tennis,False,0,0,0,2,7,0
203928,RUS,Tennis,False,0,0,0,2,7,0

In [141]:
Tennis_df['Predictions'] = y_pred.tolist()
Tennis_final = Tennis_df.drop_duplicates(subset=['NOC'], keep='last')
Tennis_final = Tennis_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
Tennis_final

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3496524252.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Tennis_final = Tennis_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC   Sport  Predictions
3362    MDA  Tennis     0.168556
7152    SLV  Tennis     0.042128
15122   LTU  Tennis     0.042128
24797   TUR  Tennis     0.117699
25595   BOL  Tennis     0.030831
...     ...     ...          ...
203567  CZE  Tennis     0.575483
203569  SVK  Tennis     0.036352
203757  COL  Tennis     0.117699
203921  BLR  Tennis     0.538296
203928  RUS  Tennis     0.671547

[81 rows x 3 columns]

Table Tennis

In [142]:
Table_Tennis_df = data_df[data_df['Sport'] == "Table Tennis"]
Table_Tennis_df = Table_Tennis_df.dropna()

In [143]:
Table_Tennis_dummies = pd.get_dummies(Table_Tennis_df)
Table_Tennis_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BIH,NOC_BLR,NOC_BRA,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
369,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
370,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
371,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [144]:
x_train = Table_Tennis_dummies.drop(columns=['Medal'])
y_train = Table_Tennis_dummies['Medal']

x_test = Table_Tennis_dummies.drop(columns=['Medal'])
y_test = Table_Tennis_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9215572341661824

In [145]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Table_Tennis_df)

array([0.00587529, 0.00587529, 0.00587529, ..., 0.00535769, 0.00567739,
       0.00663938])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
369,EGY,Table Tennis,False,0,0,0,5,7,0
370,EGY,Table Tennis,False,0,0,0,5,7,0
371,EGY,Table Tennis,False,0,0,0,5,7,0
611,NGA,Table Tennis,False,0,0,1,4,5,0
962,IND,Table Tennis,False,0,0,7,6,6,0
...,...,...,...,...,...,...,...,...,...
202757,USA,Table Tennis,False,1,1,1,2,8,5
202758,USA,Table Tennis,False,0,1,1,1,8,6
202759,USA,Table Tennis,False,0,1,1,1,8,6
202760,USA,Table Tennis,False,0,2,1,1,8,5
203951,HUN,Table Tennis,False,0,0,0,2,7,0

In [146]:
Table_Tennis_df['Predictions'] = y_pred.tolist()
Table_Tennis_final = Table_Tennis_df.drop_duplicates(subset=['NOC'], keep='last')
Table_Tennis_final = Table_Tennis_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/959563229.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Table_Tennis_final = Table_Tennis_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [147]:
K = pd.merge(Tennis_final, Table_Tennis_final, how='outer', on=['NOC', 'NOC'])
K.rename(columns = {'Predictions_x':'Tennis', 'Predictions_y':'Table Tennis'}, inplace = True)
K = K.drop(["Sport_x","Sport_y"], 1)
K

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2974582299.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  K = K.drop(["Sport_x","Sport_y"], 1)

     NOC    Tennis  Table Tennis
0    MDA  0.168556           NaN
1    SLV  0.042128           NaN
2    LTU  0.042128      0.006639
3    TUR  0.117699      0.006639
4    BOL  0.030831           NaN
..   ...       ...           ...
106  VUT       NaN      0.003067
107  HKG       NaN      0.107393
108  COG       NaN      0.007957
109  FJI       NaN      0.006639
110  EGY       NaN      0.005875

[111 rows x 3 columns]

Badminton

In [148]:
Badminton_df = data_df[data_df['Sport'] == "Badminton"]
Badminton_df = Badminton_df.dropna()

In [149]:
Badminton_dummies = pd.get_dummies(Badminton_df)
Badminton_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BLR,NOC_BRA,NOC_BRN,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
26,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
593,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
594,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [150]:
x_train = Badminton_dummies.drop(columns=['Medal'])
y_train = Badminton_dummies['Medal']

x_test = Badminton_dummies.drop(columns=['Medal'])
y_test = Badminton_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8830242510699001

In [151]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Badminton_df)

array([0.03054617, 0.22672519, 0.3621166 , ..., 0.02280393, 0.02280393,
       0.01243125])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
26,FIN,Badminton,False,0,1,0,1,8,0
593,ESP,Badminton,False,0,1,0,2,8,0
594,ESP,Badminton,False,0,1,0,1,8,0
595,ESP,Badminton,False,0,1,0,1,8,0
1239,GBR,Badminton,False,1,1,0,1,8,0
...,...,...,...,...,...,...,...,...,...
203867,RUS,Badminton,False,0,0,1,2,6,0
203868,RUS,Badminton,False,0,0,0,2,6,0
203952,DEU,Badminton,False,0,2,0,2,8,1
203953,DEU,Badminton,False,0,2,0,2,8,1
203954,DEU,Badminton,False,0,1,0,2,8,1

In [152]:
Badminton_df['Predictions'] = y_pred.tolist()
Badminton_final = Badminton_df.drop_duplicates(subset=['NOC'], keep='last')
Badminton_final = Badminton_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1196665366.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Badminton_final = Badminton_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Modern Pentathlon

In [153]:
Pentathlon_df = data_df[data_df['Sport'] == "Modern Pentathlon"]
Pentathlon_df = Pentathlon_df.dropna()

In [154]:
Pentathlon_dummies = pd.get_dummies(Pentathlon_df)
Pentathlon_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BHR,NOC_BLR,NOC_BRA,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
355,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
356,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
357,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [155]:
x_train = Pentathlon_dummies.drop(columns=['Medal'])
y_train = Pentathlon_dummies['Medal']

x_test = Pentathlon_dummies.drop(columns=['Medal'])
y_test = Pentathlon_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9207135777998018

In [156]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Pentathlon_df)

array([0.03069475, 0.03808506, 0.03808506, ..., 0.16514419, 0.05436268,
       0.05436268])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
355,EGY,Modern Pentathlon,False,0,0,0,5,7,0
356,EGY,Modern Pentathlon,False,0,0,0,5,6,0
357,EGY,Modern Pentathlon,False,0,0,0,5,6,0
358,EGY,Modern Pentathlon,False,0,0,0,5,6,0
359,EGY,Modern Pentathlon,False,0,0,0,5,6,0
...,...,...,...,...,...,...,...,...,...
202201,CHN,Modern Pentathlon,False,0,0,7,4,8,3
202814,BLR,Modern Pentathlon,False,0,0,0,2,7,0
202989,DEU,Modern Pentathlon,False,0,1,0,2,8,1
203310,AUT,Modern Pentathlon,False,0,0,0,3,7,0
203311,AUT,Modern Pentathlon,False,0,0,0,3,7,0

In [157]:
Pentathlon_df['Predictions'] = y_pred.tolist()
Pentathlon_final = Pentathlon_df.drop_duplicates(subset=['NOC'], keep='last')
Pentathlon_final = Pentathlon_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1043166688.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Pentathlon_final = Pentathlon_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [158]:
L = pd.merge(Badminton_final, Pentathlon_final, how='outer', on=['NOC', 'NOC'])
L.rename(columns = {'Predictions_x':'Badminton', 'Predictions_y':'Modern Pentathlon'}, inplace = True)
L = L.drop(["Sport_x","Sport_y"], 1)
L

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1863086147.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  L = L.drop(["Sport_x","Sport_y"], 1)

    NOC  Badminton  Modern Pentathlon
0   ROU   0.042543           0.070224
1   ITA   0.016013           0.298572
2   SYC   0.042543                NaN
3   UGA   0.049880                NaN
4   EGY   0.063613           0.038085
..  ...        ...                ...
69  LVA        NaN           0.561855
70  KAZ        NaN           0.490180
71  KGZ        NaN           0.166424
72  CUB        NaN           0.097990
73  ARG        NaN           0.760017

[74 rows x 3 columns]

Synchronized Swimming

In [159]:
S_Swimming_df = data_df[data_df['Sport'] == "Synchronized Swimming"]
S_Swimming_df = S_Swimming_df.dropna()

In [160]:
S_Swimming_dummies = pd.get_dummies(S_Swimming_df)
S_Swimming_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BLR,NOC_BRA,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
214,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
215,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
216,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [161]:
x_train = S_Swimming_dummies.drop(columns=['Medal'])
y_train = S_Swimming_dummies['Medal']

x_test = S_Swimming_dummies.drop(columns=['Medal'])
y_test = S_Swimming_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.905638665132336

In [162]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,S_Swimming_df)

array([2.00261443e-02, 2.00261443e-02, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 2.00261443e-02, 3.24011263e-02,
       1.27676669e-02, 3.99107352e-02, 3.43912691e-02, 1.57689525e-01,
       1.57689525e-01, 1.57689525e-01, 2.00261443e-02, 7.35597703e-02,
       2.00261443e-02, 2.00261443e-02, 7.47813504e-01, 2.67601572e-04,
       2.67601572e-04, 2.00261443e-02, 2.00261443e-02, 2.00261443e-02,
       3.70470089e-04, 3.56934447e-02, 3.56934447e-02, 3.11355527e-02,
       3.24011263e-02, 2.00261443e-02, 2.00261443e-02, 1.96630907e-04,
       1.27676669e-02, 1.27676669e-02, 1.27676669e-02, 5.25443127e-01,
       5.60500281e-01, 5.60500281e-01, 2.00261443e-02, 2.00261443e-02,
       4.83251100e-02, 2.00261443e-02, 1.27676669e-02, 5.25443127e-01,
       5.25443127e-01, 4.56980234e-01, 5.25251500e-01, 2.00261443e-02,
       5.91536799e-02, 5.25443127e-01, 5.25443127e-01, 5.60500281e-01,
       4.56980234e-01, 9.55796310e-01, 9.55796310e-01, 8.96329352e-01,
       2.00261443e-02, 3.56934447e-02, 2.97646738e-02, 1.21953348e-02,
       7.72862762e-01, 7.72862762e-01, 7.72862762e-01, 6.35195996e-01,
       8.23420765e-01, 1.96630907e-04, 2.00261443e-02, 2.00261443e-02,
       4.83251100e-02, 2.00261443e-02, 2.00261443e-02, 7.00621077e-02,
       7.00621077e-02, 2.97646738e-02, 1.21953348e-02, 9.08746188e-01,
       1.96630907e-04, 1.27676669e-02, 1.27676669e-02, 5.79422292e-04,
       5.79422292e-04, 1.72974452e-02, 1.72974452e-02, 4.83251100e-02,
       4.83251100e-02, 4.83251100e-02, 4.83251100e-02, 2.77463210e-02,
       2.77463210e-02, 2.77463210e-02, 2.77463210e-02, 9.03689116e-02,
       3.43912691e-02, 2.67601572e-04, 2.67601572e-04, 7.47813504e-01,
       2.97646738e-02, 1.21953348e-02, 3.10665429e-04, 2.00261443e-02,
       5.79422292e-04, 4.56980234e-01, 9.55796310e-01, 9.55796310e-01,
       9.55796310e-01, 5.46504035e-02, 5.46504035e-02, 2.97646738e-02,
       1.21953348e-02, 1.27676669e-02, 1.27676669e-02, 2.00261443e-02,
       1.27676669e-02, 7.33426146e-01, 6.35195996e-01, 3.43912691e-02,
       7.47813504e-01, 7.47813504e-01, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 7.00621077e-02, 7.00621077e-02,
       1.57689525e-01, 1.57689525e-01, 6.35195996e-01, 6.35195996e-01,
       6.35195996e-01, 2.00261443e-02, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 1.24942935e-02, 1.24942935e-02, 2.97646738e-02,
       2.97646738e-02, 4.92190514e-04, 4.92190514e-04, 4.92190514e-04,
       4.92190514e-04, 4.92190514e-04, 8.23420765e-01, 8.23420765e-01,
       1.21953348e-02, 1.27676669e-02, 3.43912691e-02, 2.97646738e-02,
       1.21953348e-02, 1.21953348e-02, 5.46504035e-02, 5.46504035e-02,
       2.97646738e-02, 3.43912691e-02, 3.43912691e-02, 2.00261443e-02,
       8.23420765e-01, 8.23420765e-01, 9.98465018e-01, 8.23420765e-01,
       9.98465018e-01, 2.00261443e-02, 3.70808402e-02, 9.72163058e-01,
       2.29963455e-02, 5.91536799e-02, 2.00261443e-02, 2.97646738e-02,
       7.47813504e-01, 3.56934447e-02, 3.11355527e-02, 9.08746188e-01,
       7.72862762e-01, 7.33426146e-01, 7.33426146e-01, 5.25443127e-01,
       7.13647664e-01, 7.13647664e-01, 6.35195996e-01, 1.20599055e-03,
       7.72862762e-01, 3.24011263e-02, 2.00261443e-02, 2.00261443e-02,
       3.11355527e-02, 3.11355527e-02, 2.00261443e-02, 3.56934447e-02,
       9.55796310e-01, 9.55796310e-01, 9.72163058e-01, 9.72163058e-01,
       9.72163058e-01, 3.56934447e-02, 1.57689525e-01, 9.03689116e-02,
       9.03689116e-02, 1.57689525e-01, 3.43912691e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 1.27676669e-02, 7.72862762e-01,
       2.00261443e-02, 1.21953348e-02, 1.96630907e-04, 1.27676669e-02,
       1.14439771e-03, 8.23420765e-01, 2.77463210e-02, 4.83251100e-02,
       2.00261443e-02, 2.00261443e-02, 2.77463210e-02, 9.08746188e-01,
       1.72974452e-02, 1.72974452e-02, 9.62805871e-01, 1.72974452e-02,
       1.72974452e-02, 2.00261443e-02, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 2.00261443e-02, 2.00261443e-02,
       1.72974452e-02, 1.72974452e-02, 9.03689116e-02, 1.57689525e-01,
       2.00261443e-02, 2.97646738e-02, 5.79422292e-04, 5.79422292e-04,
       2.00261443e-02, 1.27676669e-02, 1.27676669e-02, 3.43912691e-02,
       3.43912691e-02, 5.03093357e-04, 5.03093357e-04, 7.72862762e-01,
       2.97646738e-02, 2.00261443e-02, 3.43912691e-02, 7.47813504e-01,
       2.77463210e-02, 7.47813504e-01, 7.47813504e-01, 4.83251100e-02,
       4.83251100e-02, 2.00261443e-02, 7.33426146e-01, 7.33426146e-01,
       7.33426146e-01, 6.35195996e-01, 6.35195996e-01, 7.33426146e-01,
       9.76135353e-01, 9.62805871e-01, 9.90394070e-01, 7.18446207e-01,
       8.23420765e-01, 2.77463210e-02, 8.23420765e-01, 4.83251100e-02,
       3.56934447e-02, 2.00261443e-02, 1.27676669e-02, 1.27676669e-02,
       9.03689116e-02, 1.96630907e-04, 1.96630907e-04, 7.35597703e-02,
       1.64786571e-01, 1.64786571e-01, 1.64786571e-01, 2.00261443e-02,
       3.70808402e-02, 3.70808402e-02, 4.83251100e-02, 9.55796310e-01,
       9.72163058e-01, 9.72163058e-01, 3.70808402e-02, 3.70808402e-02,
       8.89377876e-01, 9.93914116e-01, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 9.93914116e-01, 2.00261443e-02, 2.29963455e-02,
       2.29963455e-02, 1.72974452e-02, 3.99107352e-02, 8.71672725e-01,
       7.47813504e-01, 7.47813504e-01, 1.27676669e-02, 1.20599055e-03,
       1.72974452e-02, 9.90394070e-01, 5.25251500e-01, 5.25251500e-01,
       2.00261443e-02, 2.00261443e-02, 2.00261443e-02, 2.00261443e-02,
       3.70808402e-02, 3.70808402e-02, 1.24942935e-02, 7.33426146e-01,
       6.35195996e-01, 7.00621077e-02, 7.00621077e-02, 7.00621077e-02,
       4.83251100e-02, 2.00261443e-02, 2.00261443e-02, 3.24011263e-02,
       2.00261443e-02, 3.70808402e-02, 7.47813504e-01, 2.00261443e-02,
       3.70808402e-02, 8.89377876e-01, 9.98465018e-01, 9.98465018e-01,
       9.93914116e-01, 9.93914116e-01, 4.83251100e-02, 4.83251100e-02,
       3.99107352e-02, 3.99107352e-02, 8.71672725e-01, 8.71672725e-01,
       4.83251100e-02, 2.77463210e-02, 9.72163058e-01, 9.72163058e-01,
       9.72163058e-01, 9.72163058e-01, 9.72163058e-01, 5.25251500e-01,
       9.62805871e-01, 9.76135353e-01, 3.99107352e-02, 3.11355527e-02,
       1.27676669e-02, 7.72862762e-01, 8.89377876e-01, 8.89377876e-01,
       9.98465018e-01, 8.89377876e-01, 8.89377876e-01, 9.98465018e-01,
       9.76135353e-01, 9.62805871e-01, 2.00261443e-02, 3.24011263e-02,
       3.24011263e-02, 8.43175700e-01, 8.43175700e-01, 8.96329352e-01,
       8.96329352e-01, 7.13647664e-01, 8.43175700e-01, 8.43175700e-01,
       8.96329352e-01, 8.96329352e-01, 1.24942935e-02, 1.24942935e-02,
       9.76135353e-01, 9.76135353e-01, 9.90394070e-01, 5.25251500e-01,
       2.00261443e-02, 1.20599055e-03, 2.00261443e-02, 2.00261443e-02,
       9.55796310e-01, 9.72163058e-01, 9.72163058e-01, 4.83251100e-02,
       2.03989085e-02, 3.24011263e-02, 2.29963455e-02, 2.29963455e-02,
       1.27676669e-02, 7.18446207e-01, 7.18446207e-01, 4.56980234e-01,
       9.55796310e-01, 9.55796310e-01, 9.55796310e-01, 2.00261443e-02,
       9.90394070e-01, 6.35195996e-01, 3.56934447e-02, 3.99107352e-02,
       3.99107352e-02, 5.25251500e-01, 9.72163058e-01, 5.25251500e-01,
       2.77463210e-02, 9.72163058e-01, 2.03989085e-02, 3.24011263e-02,
       9.76135353e-01, 9.76135353e-01, 9.76135353e-01, 4.83251100e-02,
       7.72862762e-01, 7.72862762e-01, 7.72862762e-01, 7.72862762e-01,
       2.00261443e-02, 7.47813504e-01, 7.47813504e-01, 2.00261443e-02,
       2.00261443e-02, 9.72163058e-01, 2.00261443e-02, 5.91536799e-02,
       3.56934447e-02, 3.11355527e-02, 2.77463210e-02, 2.67601572e-04,
       3.43912691e-02, 3.43912691e-02, 7.47813504e-01, 7.47813504e-01,
       3.11355527e-02, 9.03689116e-02, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 1.96630907e-04, 1.96630907e-04,
       2.77463210e-02, 9.08746188e-01, 8.23420765e-01, 8.23420765e-01,
       8.23420765e-01, 8.23420765e-01, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 9.93914116e-01, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 2.00261443e-02, 3.70808402e-02,
       9.93914116e-01, 3.56934447e-02, 1.27676669e-02, 1.27676669e-02,
       1.57689525e-01, 9.03689116e-02, 9.03689116e-02, 2.00261443e-02,
       2.77463210e-02, 2.77463210e-02, 8.89377876e-01, 9.98465018e-01,
       9.98465018e-01, 4.92190514e-04, 4.92190514e-04, 5.79422292e-04,
       2.00261443e-02, 5.25443127e-01, 5.25443127e-01, 5.60500281e-01,
       5.60500281e-01, 7.33426146e-01, 7.72862762e-01, 3.56934447e-02,
       1.21953348e-02, 1.21953348e-02, 7.72862762e-01, 8.89377876e-01,
       9.98465018e-01, 2.00261443e-02, 2.00261443e-02, 4.92190514e-04,
       4.92190514e-04, 2.67601572e-04, 4.83251100e-02, 4.56980234e-01,
       2.77463210e-02, 2.77463210e-02, 2.77463210e-02, 1.57689525e-01,
       1.72974452e-02, 7.72862762e-01, 8.71672725e-01, 1.57689525e-01,
       9.03689116e-02, 5.25251500e-01, 7.72862762e-01, 2.00261443e-02,
       1.14439771e-03, 5.25443127e-01, 7.33426146e-01, 7.33426146e-01,
       7.33426146e-01, 7.33426146e-01, 6.35195996e-01, 5.79422292e-04,
       5.79422292e-04, 7.72862762e-01, 7.72862762e-01, 3.99107352e-02,
       8.71672725e-01, 8.71672725e-01, 2.00261443e-02, 2.00261443e-02,
       1.24942935e-02, 1.24942935e-02, 5.79422292e-04, 7.33426146e-01,
       5.03093357e-04, 5.03093357e-04, 5.03093357e-04, 5.03093357e-04,
       7.18446207e-01, 7.18446207e-01, 8.73320997e-02, 8.73320997e-02,
       4.19053694e-02, 4.19053694e-02, 4.19053694e-02, 4.19053694e-02,
       8.23420765e-01, 2.00261443e-02, 2.00261443e-02, 9.76135353e-01,
       8.71672725e-01, 3.99107352e-02, 8.71672725e-01, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 7.72862762e-01, 3.11355527e-02,
       5.79422292e-04, 8.23420765e-01, 3.24011263e-02, 3.24011263e-02,
       2.00261443e-02, 2.00261443e-02, 4.56980234e-01, 9.55796310e-01,
       9.55796310e-01, 2.97646738e-02, 2.00261443e-02, 9.76135353e-01,
       9.76135353e-01, 3.56934447e-02, 3.56934447e-02, 2.00261443e-02,
       2.00261443e-02, 8.71672725e-01, 3.24011263e-02, 3.56934447e-02,
       1.96630907e-04, 1.27676669e-02, 9.72163058e-01, 7.35597703e-02,
       7.35597703e-02, 1.20599055e-03, 1.20599055e-03, 2.97646738e-02,
       2.00261443e-02, 4.56980234e-01, 2.00261443e-02, 2.00261443e-02,
       3.11355527e-02, 3.11355527e-02, 9.72163058e-01, 9.72163058e-01,
       9.08746188e-01, 7.72862762e-01, 4.83251100e-02, 4.83251100e-02,
       4.83251100e-02, 4.83251100e-02, 3.24011263e-02, 2.00261443e-02,
       4.83251100e-02, 3.43912691e-02, 3.43912691e-02, 9.55796310e-01,
       7.00621077e-02, 1.72974452e-02, 2.97646738e-02, 4.83251100e-02,
       2.00261443e-02, 6.35195996e-01, 1.21953348e-02, 3.24011263e-02,
       9.72163058e-01, 2.00261443e-02, 2.00261443e-02, 2.77463210e-02,
       3.56934447e-02, 3.70470089e-04, 3.56934447e-02, 3.56934447e-02,
       1.57689525e-01, 9.03689116e-02, 7.47813504e-01, 2.00261443e-02,
       2.00261443e-02, 1.96630907e-04, 1.27676669e-02, 3.56934447e-02,
       8.23420765e-01, 4.92190514e-04, 4.92190514e-04, 1.57689525e-01,
       7.33426146e-01, 7.33426146e-01, 1.20599055e-03, 1.27676669e-02,
       1.27676669e-02, 1.27676669e-02, 1.27676669e-02, 9.72163058e-01,
       9.72163058e-01, 9.72163058e-01, 9.72163058e-01, 9.72163058e-01,
       2.00261443e-02, 1.72974452e-02, 1.27676669e-02, 7.13647664e-01,
       7.13647664e-01, 8.43175700e-01, 2.00261443e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 1.27676669e-02, 1.27676669e-02,
       1.27676669e-02, 1.27676669e-02, 2.00261443e-02, 3.99107352e-02,
       2.00261443e-02, 2.00261443e-02, 7.35597703e-02, 7.35597703e-02,
       7.35597703e-02, 7.35597703e-02, 2.00261443e-02, 9.08746188e-01,
       2.97646738e-02, 4.83251100e-02, 3.10665429e-04, 2.00261443e-02,
       9.08746188e-01, 8.73320997e-02, 8.73320997e-02, 7.00621077e-02,
       7.00621077e-02, 1.57689525e-01, 4.56980234e-01, 3.70808402e-02,
       7.35597703e-02, 7.35597703e-02, 7.35597703e-02, 7.33426146e-01,
       3.43912691e-02, 3.70808402e-02, 3.70808402e-02, 1.24942935e-02,
       3.70808402e-02, 3.70808402e-02, 1.20599055e-03, 9.72163058e-01,
       9.72163058e-01, 9.55796310e-01, 9.72163058e-01, 9.72163058e-01,
       9.08746188e-01, 8.23420765e-01, 1.72974452e-02, 1.72974452e-02,
       4.83251100e-02, 4.83251100e-02, 3.56934447e-02, 1.24942935e-02,
       1.24942935e-02, 4.83251100e-02, 4.83251100e-02, 2.77463210e-02,
       4.92190514e-04, 9.55796310e-01, 2.97646738e-02, 2.97646738e-02,
       1.20599055e-03, 1.20599055e-03, 1.27676669e-02, 1.27676669e-02,
       2.97646738e-02, 8.23420765e-01, 8.23420765e-01, 1.72974452e-02,
       9.08746188e-01, 8.89377876e-01, 9.98465018e-01, 9.93914116e-01,
       9.93914116e-01, 9.90394070e-01, 5.25251500e-01, 5.25251500e-01,
       2.00261443e-02, 2.00261443e-02, 2.00261443e-02, 2.00261443e-02,
       5.25251500e-01, 9.76135353e-01, 9.62805871e-01, 9.62805871e-01,
       9.90394070e-01, 9.90394070e-01, 8.23420765e-01, 9.76135353e-01,
       9.76135353e-01, 9.76135353e-01, 9.76135353e-01, 9.62805871e-01,
       9.62805871e-01, 9.90394070e-01, 9.90394070e-01, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 9.76135353e-01, 9.76135353e-01,
       9.76135353e-01, 9.93914116e-01, 5.25443127e-01, 5.25443127e-01,
       8.23420765e-01, 9.62805871e-01, 9.90394070e-01, 1.24942935e-02,
       1.24942935e-02, 5.03093357e-04, 5.03093357e-04, 5.79422292e-04,
       1.21953348e-02, 1.64786571e-01, 2.00261443e-02, 2.00261443e-02,
       4.83251100e-02, 4.83251100e-02, 2.00261443e-02, 1.57689525e-01,
       9.08746188e-01, 2.77463210e-02, 8.23420765e-01, 1.20599055e-03,
       9.72163058e-01, 5.25443127e-01, 7.33426146e-01, 7.33426146e-01,
       7.33426146e-01, 1.24942935e-02, 2.00261443e-02, 9.72163058e-01,
       7.35597703e-02, 1.20599055e-03, 3.70808402e-02, 3.70808402e-02,
       4.83251100e-02, 3.11355527e-02, 1.96630907e-04, 3.11355527e-02,
       1.96630907e-04, 2.00261443e-02, 9.55796310e-01, 9.55796310e-01,
       4.92190514e-04, 4.92190514e-04, 2.00261443e-02, 7.47813504e-01,
       7.47813504e-01, 7.47813504e-01, 7.47813504e-01, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 7.47813504e-01, 7.47813504e-01,
       7.47813504e-01, 1.96630907e-04, 2.00261443e-02, 3.70808402e-02,
       8.89377876e-01, 2.00261443e-02, 2.00261443e-02, 2.77463210e-02,
       3.56934447e-02, 5.91536799e-02, 2.00261443e-02, 2.00261443e-02,
       7.47813504e-01, 1.72974452e-02, 1.72974452e-02, 2.00261443e-02,
       9.98465018e-01, 1.24942935e-02, 1.24942935e-02, 7.72862762e-01,
       2.00261443e-02, 9.55796310e-01, 9.55796310e-01, 9.72163058e-01,
       9.72163058e-01, 2.00261443e-02, 9.93914116e-01, 7.35597703e-02,
       1.64786571e-01, 1.64786571e-01, 9.62805871e-01, 9.90394070e-01,
       9.62805871e-01, 3.99107352e-02, 8.71672725e-01, 3.56934447e-02,
       3.56934447e-02, 1.24942935e-02, 1.24942935e-02, 1.27676669e-02,
       1.27676669e-02, 4.56980234e-01, 1.72974452e-02, 2.00261443e-02,
       2.00261443e-02, 2.00261443e-02, 2.97646738e-02, 2.97646738e-02,
       1.72974452e-02, 2.97646738e-02, 7.72862762e-01, 2.00261443e-02,
       9.93914116e-01, 2.00261443e-02, 3.70808402e-02, 3.70808402e-02,
       8.89377876e-01, 2.00261443e-02, 2.00261443e-02, 4.83251100e-02,
       4.83251100e-02])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
214,EGY,Synchronized Swimming,False,0,0,0,5,7,0
215,EGY,Synchronized Swimming,False,0,0,0,5,7,0
216,EGY,Synchronized Swimming,False,0,0,0,5,7,0
246,EGY,Synchronized Swimming,False,0,0,0,5,7,0
247,EGY,Synchronized Swimming,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
202196,CHN,Synchronized Swimming,True,1,0,7,4,7,1
202249,CHN,Synchronized Swimming,False,0,0,8,7,7,0
202444,KAZ,Synchronized Swimming,False,0,0,0,4,7,0
203935,NLD,Synchronized Swimming,False,0,1,0,2,8,0
203936,NLD,Synchronized Swimming,False,0,1,0,2,8,0

In [163]:
S_Swimming_df['Predictions'] = y_pred.tolist()
S_Swimming_final = S_Swimming_df.drop_duplicates(subset=['NOC'], keep='last')
S_Swimming_final = S_Swimming_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
S_Swimming_final

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1902890597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  S_Swimming_final = S_Swimming_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC                  Sport  Predictions
6909    COL  Synchronized Swimming     0.020026
78326   SWE  Synchronized Swimming     0.031136
97996   SVK  Synchronized Swimming     0.020026
99981   FIN  Synchronized Swimming     0.031136
112650  HUN  Synchronized Swimming     0.017297
153259  CUB  Synchronized Swimming     0.020026
154914  VEN  Synchronized Swimming     0.012768
156097  NZL  Synchronized Swimming     0.012768
157764  ARG  Synchronized Swimming     0.073560
161006  DEU  Synchronized Swimming     0.087332
162932  BEL  Synchronized Swimming     0.073560
169203  DOM  Synchronized Swimming     0.012494
173841  CHE  Synchronized Swimming     0.017297
175524  CZE  Synchronized Swimming     0.020026
179364  GRC  Synchronized Swimming     0.020026
180746  ESP  Synchronized Swimming     0.733426
182046  PRI  Synchronized Swimming     0.073560
188584  BRA  Synchronized Swimming     0.000492
189860  MEX  Synchronized Swimming     0.020026
195561  FRA  Synchronized Swimming     0.059154
195988  GBR  Synchronized Swimming     0.020026
197024  CAN  Synchronized Swimming     0.747814
197118  AUT  Synchronized Swimming     0.017297
197548  ZAF  Synchronized Swimming     0.012494
199464  BLR  Synchronized Swimming     0.020026
199660  ISR  Synchronized Swimming     0.164787
199847  JPN  Synchronized Swimming     0.871673
199993  AUS  Synchronized Swimming     0.035693
200069  EGY  Synchronized Swimming     0.012494
200216  KOR  Synchronized Swimming     0.012768
200531  RUS  Synchronized Swimming     0.456980
200856  UKR  Synchronized Swimming     0.017297
201124  ITA  Synchronized Swimming     0.029765
201210  USA  Synchronized Swimming     0.772863
201276  BGR  Synchronized Swimming     0.020026
202249  CHN  Synchronized Swimming     0.020026
202444  KAZ  Synchronized Swimming     0.020026
203936  NLD  Synchronized Swimming     0.048325

Baseball

In [164]:
Baseball_df = data_df[data_df['Sport'] == "Baseball"]
Baseball_df = Baseball_df.dropna()

In [165]:
Baseball_dummies = pd.get_dummies(Baseball_df)
Baseball_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_CAN,NOC_CHN,NOC_CUB,NOC_DOM,NOC_ESP,NOC_GRC,NOC_ITA,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
505,False,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
506,False,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
578,True,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [166]:
x_train = Baseball_dummies.drop(columns=['Medal'])
y_train = Baseball_dummies['Medal']

x_test = Baseball_dummies.drop(columns=['Medal'])
y_test = Baseball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9463087248322147

In [167]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Baseball_df)

array([2.06342082e-01, 3.40526006e-02, 9.68661504e-01, 2.30153528e-01,
       5.67325154e-03, 2.54242927e-02, 6.47446390e-04, 4.68455100e-03,
       9.68609559e-01, 9.68661504e-01, 9.81259382e-01, 9.81259382e-01,
       9.99967152e-01, 2.06342082e-01, 3.07649865e-04, 5.67325154e-03,
       5.67325154e-03, 2.30153528e-01, 9.27068493e-01, 6.45213385e-01,
       9.69097049e-01, 1.00267229e-01, 6.03779945e-01, 9.68609559e-01,
       3.40526006e-02, 3.07649865e-04, 9.99967152e-01, 3.40526006e-02,
       3.40526006e-02, 3.07649865e-04, 6.22037732e-02, 9.69097049e-01,
       9.81259382e-01, 6.22037732e-02, 3.07649865e-04, 4.54137183e-02,
       3.07649865e-04, 6.45213385e-01, 3.79151612e-03, 5.51905470e-03,
       3.87547190e-02, 6.47446390e-04, 2.54242927e-02, 2.54242927e-02,
       6.47446390e-04, 1.00267229e-01, 5.51905470e-03, 9.69097049e-01,
       6.22037732e-02, 1.00267229e-01, 6.50601374e-03, 4.54137183e-02,
       2.54242927e-02, 6.47446390e-04, 9.99967152e-01, 5.67325154e-03,
       5.43081935e-02, 6.22037732e-02, 6.47446390e-04, 1.00267229e-01,
       9.27068493e-01, 4.68455100e-03, 5.67325154e-03, 3.07649865e-04,
       9.99967152e-01, 5.51905470e-03, 3.87547190e-02, 6.50601374e-03,
       3.79151612e-03, 5.51905470e-03, 3.07649865e-04, 9.99055127e-01,
       9.68661504e-01, 9.99967152e-01, 4.68455100e-03, 3.07649865e-04,
       2.54242927e-02, 6.03779945e-01, 9.69097049e-01, 5.34565363e-04,
       5.51905470e-03, 1.00267229e-01, 6.03779945e-01, 9.68661504e-01,
       1.00267229e-01, 4.54137183e-02, 1.00267229e-01, 5.51905470e-03,
       3.87547190e-02, 9.69097049e-01, 9.81259382e-01, 9.99967152e-01,
       2.54242927e-02, 6.22037732e-02, 6.22037732e-02, 5.51905470e-03,
       3.07649865e-04, 3.79151612e-03, 5.51905470e-03, 3.87547190e-02,
       3.07649865e-04, 5.51905470e-03, 3.87547190e-02, 5.51905470e-03,
       9.99967152e-01, 3.79151612e-03, 5.51905470e-03, 3.79151612e-03,
       3.07649865e-04, 9.99967152e-01, 9.99967152e-01, 3.87547190e-02,
       9.62416061e-01, 7.26047620e-03, 7.26047620e-03, 7.26047620e-03,
       7.26047620e-03, 9.62416061e-01, 9.62416061e-01, 9.99967152e-01,
       6.45213385e-01, 9.62416061e-01, 7.26047620e-03, 7.26047620e-03,
       7.26047620e-03, 7.26047620e-03, 5.34565363e-04, 5.34565363e-04,
       9.62416061e-01, 7.26047620e-03, 7.26047620e-03, 7.26047620e-03,
       7.26047620e-03, 7.26047620e-03, 7.26047620e-03, 7.26047620e-03,
       9.62416061e-01, 5.51905470e-03, 3.79151612e-03, 6.22037732e-02,
       6.50601374e-03, 4.54137183e-02, 6.47446390e-04, 9.81259382e-01,
       9.99967152e-01, 5.67325154e-03, 2.54242927e-02, 2.54242927e-02,
       6.47446390e-04, 4.68455100e-03, 3.07649865e-04, 4.54137183e-02,
       4.54137183e-02, 6.22037732e-02, 9.68661504e-01, 2.54242927e-02,
       2.54242927e-02, 5.43081935e-02, 3.79151612e-03, 5.51905470e-03,
       2.54242927e-02, 9.69097049e-01, 6.50601374e-03, 3.79151612e-03,
       5.51905470e-03, 3.87547190e-02, 3.87547190e-02, 5.51905470e-03,
       6.22037732e-02, 3.40526006e-02, 4.54137183e-02, 3.07649865e-04,
       5.67325154e-03, 6.03779945e-01, 9.68661504e-01, 2.54242927e-02,
       6.47446390e-04, 4.68455100e-03, 5.51905470e-03, 3.87547190e-02,
       6.47446390e-04, 4.68455100e-03, 5.67325154e-03, 2.54242927e-02,
       6.47446390e-04, 3.79151612e-03, 5.51905470e-03, 9.81259382e-01,
       5.43081935e-02, 5.67325154e-03, 9.99967152e-01, 6.50601374e-03,
       3.87547190e-02, 9.81259382e-01, 9.27068493e-01, 6.50601374e-03,
       6.22037732e-02, 2.54242927e-02, 2.54242927e-02, 2.06342082e-01,
       9.69097049e-01, 6.03779945e-01, 5.43081935e-02, 5.67325154e-03,
       6.47446390e-04, 4.68455100e-03, 2.30153528e-01, 6.50601374e-03,
       9.99967152e-01, 9.69097049e-01, 4.68455100e-03, 9.99967152e-01,
       2.54242927e-02, 4.68455100e-03, 9.99967152e-01, 9.99967152e-01,
       9.81259382e-01, 9.81259382e-01, 1.00267229e-01, 5.51905470e-03,
       3.87547190e-02, 9.68661504e-01, 2.54242927e-02, 3.07649865e-04,
       5.34565363e-04, 9.81259382e-01, 3.07649865e-04, 6.03779945e-01,
       3.07649865e-04, 2.54242927e-02, 3.79151612e-03, 5.51905470e-03,
       9.69097049e-01, 5.51905470e-03, 9.68661504e-01, 3.87547190e-02,
       5.51905470e-03, 4.54137183e-02, 3.40526006e-02, 9.68609559e-01,
       9.12807976e-01, 9.68609559e-01, 9.81259382e-01, 9.69097049e-01,
       3.79151612e-03, 6.45213385e-01, 9.99055127e-01, 6.45213385e-01,
       3.07649865e-04, 4.54137183e-02, 2.30153528e-01, 9.68661504e-01,
       2.30153528e-01, 3.87547190e-02, 9.27068493e-01, 9.99055127e-01,
       9.99967152e-01, 5.67325154e-03, 9.99967152e-01, 9.99967152e-01,
       1.00267229e-01, 6.03779945e-01, 9.81259382e-01, 9.99967152e-01,
       9.99967152e-01, 9.27068493e-01, 4.54137183e-02, 2.30153528e-01,
       9.27068493e-01, 6.45213385e-01, 6.50601374e-03, 5.34565363e-04,
       3.07649865e-04, 9.99055127e-01, 2.30153528e-01, 9.99055127e-01,
       9.27068493e-01, 5.67325154e-03, 5.67325154e-03, 5.67325154e-03,
       5.43081935e-02, 9.68661504e-01, 2.06342082e-01, 5.43081935e-02,
       2.30153528e-01, 3.07649865e-04, 9.81259382e-01, 9.81259382e-01,
       9.81259382e-01, 9.69097049e-01, 6.03779945e-01, 6.50601374e-03,
       9.27068493e-01, 6.03779945e-01, 2.06342082e-01, 5.67325154e-03,
       6.45213385e-01, 5.34565363e-04, 6.03779945e-01, 7.26047620e-03,
       7.26047620e-03, 9.62416061e-01, 7.26047620e-03, 7.26047620e-03,
       9.62416061e-01, 1.00267229e-01, 6.03779945e-01, 9.99967152e-01,
       9.12807976e-01, 2.06342082e-01, 5.51905470e-03, 6.45213385e-01,
       6.45213385e-01, 6.45213385e-01, 9.12807976e-01, 3.40526006e-02,
       9.81259382e-01, 2.54242927e-02, 6.47446390e-04, 2.54242927e-02,
       4.68455100e-03, 9.68609559e-01, 2.06342082e-01, 9.12807976e-01,
       9.68609559e-01, 9.68609559e-01, 3.40526006e-02, 6.45213385e-01,
       9.99055127e-01, 2.54242927e-02, 2.54242927e-02, 6.47446390e-04,
       9.68661504e-01, 6.45213385e-01, 6.45213385e-01, 9.99055127e-01,
       9.99055127e-01, 6.45213385e-01, 6.45213385e-01, 9.69097049e-01,
       5.34565363e-04, 5.34565363e-04, 6.45213385e-01, 9.99055127e-01,
       6.45213385e-01, 6.45213385e-01, 6.45213385e-01, 6.45213385e-01,
       9.68609559e-01, 2.30153528e-01, 5.67325154e-03, 6.50601374e-03,
       4.54137183e-02, 1.00267229e-01, 9.27068493e-01, 9.62416061e-01,
       2.54242927e-02, 6.47446390e-04, 2.54242927e-02, 2.06342082e-01,
       9.68609559e-01, 7.26047620e-03, 7.26047620e-03, 5.43081935e-02,
       9.12807976e-01, 3.40526006e-02, 9.12807976e-01, 2.06342082e-01,
       3.40526006e-02, 2.54242927e-02, 5.67325154e-03, 7.26047620e-03,
       6.45213385e-01, 9.99055127e-01, 6.45213385e-01, 9.99055127e-01,
       6.45213385e-01, 9.99055127e-01, 9.99055127e-01, 6.45213385e-01,
       6.45213385e-01, 6.45213385e-01, 6.45213385e-01, 6.45213385e-01,
       6.03779945e-01, 9.12807976e-01, 9.68609559e-01, 9.81259382e-01,
       9.81259382e-01, 9.99967152e-01, 6.03779945e-01, 6.47446390e-04,
       4.68455100e-03, 5.43081935e-02, 9.68661504e-01, 2.30153528e-01,
       6.50601374e-03, 9.69097049e-01, 9.68609559e-01, 9.27068493e-01,
       9.12807976e-01, 2.54242927e-02, 9.12807976e-01, 9.12807976e-01,
       4.68455100e-03, 9.69097049e-01, 9.27068493e-01, 5.43081935e-02,
       5.43081935e-02, 9.68661504e-01, 2.54242927e-02, 9.62416061e-01,
       7.26047620e-03, 9.62416061e-01, 9.68609559e-01, 2.06342082e-01,
       9.12807976e-01, 6.50601374e-03, 9.12807976e-01, 3.87547190e-02,
       5.51905470e-03, 9.99967152e-01, 6.50601374e-03, 3.87547190e-02,
       9.69097049e-01, 4.54137183e-02, 9.81259382e-01, 9.99967152e-01,
       9.99967152e-01, 9.99967152e-01, 9.27068493e-01, 6.45213385e-01,
       6.45213385e-01, 7.26047620e-03, 9.99055127e-01, 6.45213385e-01,
       9.99055127e-01, 9.99055127e-01, 6.45213385e-01, 6.45213385e-01,
       9.99055127e-01, 9.99055127e-01, 9.27068493e-01, 9.99055127e-01,
       2.54242927e-02, 6.47446390e-04, 4.68455100e-03, 6.22037732e-02,
       6.03779945e-01, 5.34565363e-04, 5.34565363e-04, 5.34565363e-04,
       9.62416061e-01, 9.62416061e-01, 7.26047620e-03, 7.26047620e-03,
       7.26047620e-03, 9.62416061e-01, 7.26047620e-03, 7.26047620e-03,
       9.81259382e-01, 9.81259382e-01, 9.99967152e-01, 6.03779945e-01,
       6.22037732e-02, 5.34565363e-04, 5.51905470e-03, 3.87547190e-02,
       5.51905470e-03, 6.03779945e-01, 9.62416061e-01, 7.26047620e-03,
       9.62416061e-01, 7.26047620e-03, 2.54242927e-02, 4.54137183e-02,
       9.27068493e-01, 3.07649865e-04, 3.07649865e-04, 3.07649865e-04,
       3.07649865e-04, 9.27068493e-01, 5.34565363e-04, 5.51905470e-03,
       9.81259382e-01, 9.99967152e-01, 9.99967152e-01, 5.67325154e-03,
       3.87547190e-02, 6.47446390e-04, 2.54242927e-02, 5.43081935e-02,
       3.07649865e-04, 5.51905470e-03, 9.99967152e-01, 9.81259382e-01,
       9.99967152e-01, 5.51905470e-03, 5.43081935e-02, 6.47446390e-04,
       4.68455100e-03, 9.69097049e-01, 9.99967152e-01, 9.99967152e-01,
       6.22037732e-02, 2.54242927e-02, 4.68455100e-03, 3.79151612e-03,
       5.51905470e-03, 5.51905470e-03, 3.07649865e-04, 9.12807976e-01,
       2.06342082e-01, 2.06342082e-01, 9.68609559e-01, 5.67325154e-03,
       5.51905470e-03, 2.30153528e-01, 6.03779945e-01, 1.00267229e-01,
       6.03779945e-01, 4.54137183e-02, 1.00267229e-01, 6.50601374e-03,
       4.68455100e-03, 3.79151612e-03, 5.43081935e-02, 9.99967152e-01,
       3.07649865e-04, 9.99967152e-01, 9.99967152e-01, 9.81259382e-01,
       9.99967152e-01, 9.81259382e-01, 2.54242927e-02, 5.67325154e-03,
       9.68661504e-01, 5.51905470e-03, 2.54242927e-02, 6.47446390e-04,
       9.99967152e-01, 3.07649865e-04, 9.12807976e-01, 9.68609559e-01,
       9.12807976e-01, 9.68609559e-01, 3.40526006e-02, 6.47446390e-04,
       9.81259382e-01, 9.99967152e-01, 6.03779945e-01, 3.07649865e-04,
       3.07649865e-04, 9.12807976e-01, 9.12807976e-01, 3.40526006e-02,
       5.67325154e-03, 9.27068493e-01, 1.00267229e-01, 6.45213385e-01,
       3.87547190e-02, 9.68609559e-01, 3.40526006e-02, 2.30153528e-01,
       6.50601374e-03, 6.45213385e-01, 3.40526006e-02, 9.12807976e-01,
       9.12807976e-01, 6.03779945e-01, 1.00267229e-01, 2.06342082e-01,
       9.68609559e-01, 2.54242927e-02, 2.54242927e-02, 3.40526006e-02,
       9.99967152e-01, 9.69097049e-01, 9.68661504e-01, 2.30153528e-01,
       3.87547190e-02, 7.26047620e-03, 6.50601374e-03, 3.07649865e-04,
       1.00267229e-01, 6.03779945e-01, 9.12807976e-01, 3.40526006e-02,
       9.12807976e-01, 9.69097049e-01, 2.06342082e-01, 2.06342082e-01,
       9.12807976e-01, 3.07649865e-04, 3.07649865e-04, 5.51905470e-03,
       6.45213385e-01, 9.99055127e-01, 3.07649865e-04, 9.99967152e-01,
       9.99967152e-01, 6.03779945e-01, 9.68609559e-01, 6.50601374e-03,
       9.27068493e-01, 2.06342082e-01, 9.12807976e-01, 5.51905470e-03,
       9.99967152e-01, 3.07649865e-04, 9.12807976e-01, 6.50601374e-03,
       3.07649865e-04, 9.12807976e-01, 9.68661504e-01, 6.03779945e-01,
       6.03779945e-01, 9.81259382e-01, 9.81259382e-01, 9.99967152e-01,
       3.07649865e-04, 9.81259382e-01, 9.81259382e-01, 9.62416061e-01,
       9.99967152e-01, 9.99967152e-01, 7.26047620e-03, 7.26047620e-03,
       7.26047620e-03, 5.51905470e-03, 5.43081935e-02, 9.81259382e-01,
       9.99967152e-01, 9.99967152e-01, 6.22037732e-02, 5.51905470e-03,
       6.45213385e-01, 6.45213385e-01, 6.45213385e-01, 9.99055127e-01,
       6.45213385e-01, 6.45213385e-01, 9.27068493e-01, 5.51905470e-03,
       9.99967152e-01, 3.07649865e-04, 3.07649865e-04, 3.07649865e-04,
       7.26047620e-03, 7.26047620e-03, 9.81259382e-01, 3.87547190e-02,
       9.99967152e-01, 9.99967152e-01, 9.99967152e-01, 3.79151612e-03,
       5.67325154e-03, 9.99967152e-01, 6.50601374e-03, 3.07649865e-04,
       3.07649865e-04, 6.22037732e-02, 3.07649865e-04, 6.50601374e-03,
       4.54137183e-02, 9.99967152e-01, 3.07649865e-04, 5.51905470e-03,
       5.43081935e-02, 9.68661504e-01, 6.22037732e-02, 1.00267229e-01,
       4.54137183e-02, 2.54242927e-02, 3.87547190e-02, 5.51905470e-03,
       5.51905470e-03, 3.07649865e-04, 2.30153528e-01, 4.54137183e-02,
       5.43081935e-02, 9.99967152e-01, 9.99967152e-01, 3.07649865e-04,
       4.54137183e-02, 5.51905470e-03, 4.68455100e-03, 9.81259382e-01,
       1.00267229e-01, 6.03779945e-01, 3.07649865e-04, 6.03779945e-01,
       9.99055127e-01, 9.12807976e-01, 9.12807976e-01, 6.22037732e-02,
       6.22037732e-02, 9.99967152e-01, 9.99967152e-01, 9.99967152e-01,
       3.07649865e-04, 9.68661504e-01, 3.07649865e-04, 3.07649865e-04,
       9.12807976e-01, 3.40526006e-02, 9.12807976e-01, 9.12807976e-01,
       3.40526006e-02, 4.54137183e-02, 3.79151612e-03, 5.51905470e-03,
       9.69097049e-01, 6.03779945e-01, 9.81259382e-01, 9.99967152e-01,
       9.99967152e-01, 9.68661504e-01, 3.07649865e-04, 3.07649865e-04,
       9.68661504e-01, 3.87547190e-02, 6.03779945e-01, 6.03779945e-01,
       7.26047620e-03, 9.68609559e-01, 3.87547190e-02, 4.68455100e-03,
       4.68455100e-03, 6.47446390e-04, 4.68455100e-03, 5.67325154e-03,
       1.00267229e-01, 3.07649865e-04, 6.45213385e-01, 6.45213385e-01,
       6.45213385e-01, 9.99055127e-01, 5.43081935e-02, 5.43081935e-02,
       5.43081935e-02, 6.50601374e-03, 6.22037732e-02, 6.03779945e-01,
       6.50601374e-03, 4.54137183e-02, 9.69097049e-01, 6.50601374e-03,
       2.54242927e-02, 6.03779945e-01, 9.69097049e-01, 3.79151612e-03,
       2.06342082e-01, 3.40526006e-02, 9.12807976e-01, 9.12807976e-01,
       2.06342082e-01, 9.12807976e-01, 4.68455100e-03, 5.34565363e-04,
       5.34565363e-04, 5.34565363e-04, 2.06342082e-01, 4.54137183e-02,
       5.43081935e-02, 9.99967152e-01, 3.79151612e-03, 2.06342082e-01,
       9.12807976e-01, 9.68609559e-01, 9.12807976e-01, 6.03779945e-01,
       3.40526006e-02, 2.06342082e-01, 9.12807976e-01, 9.68609559e-01,
       9.69097049e-01, 3.07649865e-04, 2.54242927e-02, 2.54242927e-02,
       2.54242927e-02, 6.47446390e-04, 5.43081935e-02, 5.43081935e-02,
       1.00267229e-01, 6.03779945e-01, 6.03779945e-01, 4.54137183e-02,
       9.69097049e-01, 9.12807976e-01, 9.12807976e-01, 6.03779945e-01,
       3.87547190e-02, 3.79151612e-03, 7.26047620e-03, 9.62416061e-01,
       7.26047620e-03, 7.26047620e-03, 7.26047620e-03, 2.30153528e-01,
       6.03779945e-01, 3.79151612e-03, 5.51905470e-03, 9.68609559e-01,
       3.40526006e-02, 9.81259382e-01, 9.81259382e-01, 9.99967152e-01,
       9.99967152e-01, 9.99967152e-01, 9.81259382e-01, 9.99967152e-01,
       6.03779945e-01, 6.03779945e-01, 6.22037732e-02, 9.81259382e-01,
       3.07649865e-04, 3.79151612e-03, 9.99967152e-01, 2.54242927e-02,
       6.47446390e-04, 4.68455100e-03, 1.00267229e-01, 6.03779945e-01,
       6.47446390e-04, 4.68455100e-03, 2.54242927e-02, 5.67325154e-03,
       4.54137183e-02, 9.81259382e-01, 9.81259382e-01, 2.30153528e-01,
       5.51905470e-03, 3.07649865e-04, 9.99967152e-01, 3.07649865e-04,
       3.07649865e-04, 9.99967152e-01, 9.99967152e-01, 9.99967152e-01,
       3.07649865e-04, 2.30153528e-01, 3.07649865e-04, 6.03779945e-01,
       9.68609559e-01, 9.68609559e-01, 3.40526006e-02, 9.12807976e-01,
       3.40526006e-02, 2.30153528e-01, 4.68455100e-03, 5.34565363e-04,
       7.26047620e-03, 9.62416061e-01, 5.34565363e-04, 5.34565363e-04,
       2.54242927e-02, 6.50601374e-03, 9.12807976e-01, 2.06342082e-01,
       9.69097049e-01, 9.27068493e-01, 4.54137183e-02, 1.00267229e-01,
       1.00267229e-01, 6.03779945e-01, 9.68661504e-01, 1.00267229e-01,
       6.03779945e-01, 9.27068493e-01, 6.03779945e-01, 6.03779945e-01,
       9.68661504e-01, 2.30153528e-01, 2.30153528e-01, 2.54242927e-02,
       9.62416061e-01, 5.34565363e-04, 2.06342082e-01, 7.26047620e-03,
       7.26047620e-03, 5.34565363e-04, 3.40526006e-02, 7.26047620e-03,
       7.26047620e-03, 9.99055127e-01, 2.06342082e-01, 9.68661504e-01,
       9.68661504e-01, 3.07649865e-04, 5.43081935e-02, 5.34565363e-04,
       5.34565363e-04, 5.34565363e-04])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
505,JPN,Baseball,False,0,1,0,1,8,3
506,JPN,Baseball,False,0,1,0,1,8,1
578,USA,Baseball,True,0,1,1,1,8,6
1216,USA,Baseball,False,0,1,1,2,7,5
1439,ZAF,Baseball,False,0,0,0,4,5,0
...,...,...,...,...,...,...,...,...,...
201091,NIC,Baseball,False,0,0,0,4,7,0
201419,GRC,Baseball,False,0,1,0,2,8,0
202009,CHN,Baseball,False,1,0,7,4,7,1
202064,CHN,Baseball,False,1,0,7,4,7,1
202276,CHN,Baseball,False,1,0,7,4,7,1

In [168]:
Baseball_df['Predictions'] = y_pred.tolist()
Baseball_final = Baseball_df.drop_duplicates(subset=['NOC'], keep='last')
Baseball_final = Baseball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
Baseball_final

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1263594060.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Baseball_final = Baseball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC     Sport  Predictions
186125  ESP  Baseball     0.062204
187383  ZAF  Baseball     0.005673
188471  ITA  Baseball     0.005519
188746  PRI  Baseball     0.000308
188969  CUB  Baseball     0.999967
190122  DOM  Baseball     0.000308
193818  CAN  Baseball     0.045414
195652  AUS  Baseball     0.603780
197203  NLD  Baseball     0.025424
199761  KOR  Baseball     0.999055
199888  JPN  Baseball     0.206342
200006  USA  Baseball     0.968662
201091  NIC  Baseball     0.000308
201419  GRC  Baseball     0.054308
202276  CHN  Baseball     0.000535

In [169]:
M = pd.merge(S_Swimming_final, Baseball_final, how='outer', on=['NOC', 'NOC'])
M.rename(columns = {'Predictions_x':'Sychronized Swimming', 'Predictions_y':'Baseball'}, inplace = True)
M = M.drop(["Sport_x","Sport_y"], 1)
M

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/184479326.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  M = M.drop(["Sport_x","Sport_y"], 1)

    NOC  Sychronized Swimming  Baseball
0   COL              0.020026       NaN
1   SWE              0.031136       NaN
2   SVK              0.020026       NaN
3   FIN              0.031136       NaN
4   HUN              0.017297       NaN
5   CUB              0.020026  0.999967
6   VEN              0.012768       NaN
7   NZL              0.012768       NaN
8   ARG              0.073560       NaN
9   DEU              0.087332       NaN
10  BEL              0.073560       NaN
11  DOM              0.012494  0.000308
12  CHE              0.017297       NaN
13  CZE              0.020026       NaN
14  GRC              0.020026  0.054308
15  ESP              0.733426  0.062204
16  PRI              0.073560  0.000308
17  BRA              0.000492       NaN
18  MEX              0.020026       NaN
19  FRA              0.059154       NaN
20  GBR              0.020026       NaN
21  CAN              0.747814  0.045414
22  AUT              0.017297       NaN
23  ZAF              0.012494  0.005673
24  BLR              0.020026       NaN
25  ISR              0.164787       NaN
26  JPN              0.871673  0.206342
27  AUS              0.035693  0.603780
28  EGY              0.012494       NaN
29  KOR              0.012768  0.999055
30  RUS              0.456980       NaN
31  UKR              0.017297       NaN
32  ITA              0.029765  0.005519
33  USA              0.772863  0.968662
34  BGR              0.020026       NaN
35  CHN              0.020026  0.000535
36  KAZ              0.020026       NaN
37  NLD              0.048325  0.025424
38  NIC                   NaN  0.000308

Rhythmic Gymnastics

In [170]:
R_Gymnastics_df = data_df[data_df['Sport'] == "Rhythmic Gymnastics"]
R_Gymnastics_df = R_Gymnastics_df.dropna()

In [171]:
R_Gymnastics_dummies = pd.get_dummies(R_Gymnastics_df)
R_Gymnastics_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGR,NOC_BLR,NOC_BRA,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
527,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
759,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
935,False,1,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [172]:
x_train = R_Gymnastics_dummies.drop(columns=['Medal'])
y_train = R_Gymnastics_dummies['Medal']

x_test = R_Gymnastics_dummies.drop(columns=['Medal'])
y_test = R_Gymnastics_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8769716088328076

In [173]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,R_Gymnastics_df)

array([0.43133903, 0.07217754, 0.78652983, 0.47820774, 0.47820774,
       0.47820774, 0.45208453, 0.02389838, 0.00405976, 0.75058436,
       0.34400949, 0.98029102, 0.07217754, 0.70935478, 0.07217754,
       0.45208453, 0.75058436, 0.28530136, 0.28530136, 0.03246017,
       0.6105615 , 0.07217754, 0.03246017, 0.69284714, 0.04221269,
       0.75058436, 0.07217754, 0.6105615 , 0.07217754, 0.25723802,
       0.034169  , 0.98738284, 0.96507234, 0.75058436, 0.98738284,
       0.98738284, 0.13618215, 0.03246017, 0.03535943, 0.03246017,
       0.07217754, 0.5572827 , 0.03528003, 0.00747236, 0.36891258,
       0.38392233, 0.07217754, 0.36891258, 0.03535943, 0.98029102,
       0.07217754, 0.03246017, 0.04221269, 0.070868  , 0.54145198,
       0.5572827 , 0.5572827 , 0.98029102, 0.98029102, 0.07217754,
       0.6105615 , 0.54145198, 0.96507234, 0.07217754, 0.07217754,
       0.0523099 , 0.03246017, 0.75058436, 0.75058436, 0.04032281,
       0.6105615 , 0.80979547, 0.07217754, 0.6105615 , 0.03246017,
       0.10686447, 0.034169  , 0.034169  , 0.5572827 , 0.6105615 ,
       0.6105615 , 0.07217754, 0.07217754, 0.15200371, 0.034169  ,
       0.5572827 , 0.0765792 , 0.98738284, 0.38392233, 0.75058436,
       0.75058436, 0.36891258, 0.03246017, 0.80979547, 0.6105615 ,
       0.6105615 , 0.43133903, 0.43133903, 0.60802721, 0.10686447,
       0.06484699, 0.15778104, 0.70935478, 0.07675971, 0.07217754,
       0.03970144, 0.02708389, 0.07217754, 0.034169  , 0.03246017,
       0.69284714, 0.07217754, 0.75058436, 0.64433313, 0.03246017,
       0.98029102, 0.38392233, 0.38392233, 0.38392233, 0.54145198,
       0.5572827 , 0.28530136, 0.45208453, 0.6105615 , 0.98029102,
       0.09107379, 0.05937912, 0.75058436, 0.98029102, 0.67907235,
       0.15778104, 0.07217754, 0.04032281, 0.36891258, 0.96507234,
       0.28530136, 0.01539647, 0.03895639, 0.45208453, 0.54145198,
       0.5572827 , 0.07217754, 0.034169  , 0.15200371, 0.0440403 ,
       0.034169  , 0.034169  , 0.38557385, 0.07217754, 0.45208453,
       0.04032281, 0.03246017, 0.15200371, 0.04623602, 0.07217754,
       0.07217754, 0.07217754, 0.02381648, 0.15778104, 0.15778104,
       0.75058436, 0.07217754, 0.07675971, 0.15778104, 0.47820774,
       0.98029102, 0.45208453, 0.38557385, 0.54145198, 0.07217754,
       0.6105615 , 0.15778104, 0.98738284, 0.75058436, 0.07675971,
       0.07217754, 0.0523099 , 0.75058436, 0.43133903, 0.43133903,
       0.43133903, 0.98029102, 0.70935478, 0.03246017, 0.07217754,
       0.6105615 , 0.6105615 , 0.0523099 , 0.03895639, 0.02381648,
       0.02184224, 0.03535943, 0.07217754, 0.03246017, 0.36891258,
       0.38392233, 0.03246017, 0.38392233, 0.38392233, 0.16310572,
       0.38392233, 0.03970144, 0.07217754, 0.07217754, 0.07217754,
       0.38392233, 0.38392233, 0.07217754, 0.15200371, 0.70935478,
       0.75058436, 0.69284714, 0.69284714, 0.56466262, 0.00490103,
       0.03895639, 0.03246017, 0.75058436, 0.75058436, 0.96507234,
       0.02708389, 0.07692501, 0.15200371, 0.07217754, 0.03246017,
       0.98738284, 0.98738284, 0.75058436, 0.28530136, 0.28530136,
       0.69284714, 0.070868  , 0.69284714, 0.69284714, 0.98029102,
       0.98029102, 0.01539647, 0.98029102, 0.36891258, 0.45208453,
       0.00405976, 0.69284714, 0.09107379, 0.69284714, 0.69284714,
       0.69284714, 0.10904957, 0.03246017, 0.28530136, 0.45208453,
       0.28530136, 0.0765792 , 0.16310572, 0.0765792 , 0.10904957,
       0.05937912, 0.07217754, 0.02087784, 0.69284714, 0.45208453,
       0.04032281, 0.04032281, 0.75058436, 0.36891258, 0.96507234,
       0.98029102, 0.98738284, 0.07217754, 0.69284714, 0.07217754,
       0.28530136, 0.04623602, 0.6105615 , 0.10686447, 0.5572827 ,
       0.070868  , 0.05937912, 0.98738284, 0.98738284, 0.75058436,
       0.07217754, 0.0765792 , 0.070868  , 0.03246017, 0.034169  ,
       0.38392233, 0.15200371, 0.75058436, 0.07217754, 0.04032281,
       0.00747236, 0.80979547, 0.03970144, 0.07675971, 0.43133903,
       0.09870214, 0.6105615 , 0.5572827 , 0.47820774, 0.47820774,
       0.28530136, 0.00747236, 0.03970144, 0.03970144, 0.80979547,
       0.70935478, 0.75058436, 0.75058436, 0.75058436, 0.04032281,
       0.034169  , 0.69284714, 0.69284714, 0.28530136, 0.07675971,
       0.98029102, 0.98029102, 0.38392233, 0.38392233, 0.75058436,
       0.6105615 , 0.98029102, 0.05937912, 0.28530136, 0.69284714,
       0.034169  , 0.034169  , 0.70935478, 0.54145198, 0.69284714,
       0.69284714, 0.69284714, 0.15778104, 0.6105615 , 0.6105615 ,
       0.75058436, 0.75058436, 0.54145198, 0.5572827 , 0.02708389,
       0.02381648, 0.02184224, 0.00490103, 0.034169  , 0.5572827 ,
       0.04032281, 0.38392233, 0.01539647, 0.03895639, 0.034169  ,
       0.45208453, 0.03246017, 0.02184224, 0.03895639, 0.69284714,
       0.07217754, 0.10904957, 0.00490103, 0.47820774, 0.47820774,
       0.07217754, 0.07217754, 0.09107379, 0.070868  , 0.07217754,
       0.10904957, 0.03535943, 0.034169  , 0.10686447, 0.00490103,
       0.03895639, 0.10548713, 0.98738284, 0.034169  , 0.00490103,
       0.00490103, 0.75058436, 0.69284714, 0.69284714, 0.98029102,
       0.02708389, 0.75058436, 0.98738284, 0.03246017, 0.75058436,
       0.6105615 , 0.02184224, 0.75058436, 0.00490103, 0.034169  ,
       0.10686447, 0.00405976, 0.0765792 , 0.0765792 , 0.43133903,
       0.43133903, 0.5572827 , 0.5572827 , 0.69284714, 0.69284714,
       0.04032281, 0.28530136, 0.07217754, 0.45208453, 0.67907235,
       0.45208453, 0.28530136, 0.54145198, 0.78652983, 0.36891258,
       0.5572827 , 0.69284714, 0.07217754, 0.43133903, 0.38392233,
       0.07675971, 0.67907235, 0.69284714, 0.69284714, 0.69284714,
       0.03535943, 0.54145198, 0.28530136, 0.54145198, 0.07990661,
       0.04032281, 0.75058436, 0.28530136, 0.05937912, 0.75058436,
       0.45208453, 0.75058436, 0.67907235, 0.69284714, 0.98738284,
       0.98029102, 0.03246017, 0.15200371, 0.0765792 , 0.04389248,
       0.38392233, 0.07217754, 0.03535943, 0.75058436, 0.07217754,
       0.07217754, 0.07217754, 0.47820774, 0.47820774, 0.07217754,
       0.03535943, 0.69284714, 0.69284714, 0.75058436, 0.47820774,
       0.0523099 , 0.10686447, 0.10904957, 0.04032281, 0.04032281,
       0.04032281, 0.04032281, 0.38392233, 0.38392233, 0.0523099 ,
       0.43133903, 0.47820774, 0.47820774, 0.01539647, 0.07217754,
       0.07217754, 0.54145198, 0.75058436, 0.43133903, 0.06076812,
       0.70935478, 0.02381648, 0.03246017, 0.43133903, 0.28530136,
       0.28530136, 0.45208453, 0.01411011, 0.10904957, 0.75058436,
       0.75058436, 0.45208453, 0.54145198, 0.5572827 , 0.5572827 ,
       0.05937912, 0.04032281, 0.5572827 , 0.5572827 , 0.03246017,
       0.034169  , 0.05590625, 0.03246017, 0.0440403 , 0.03246017,
       0.0765792 , 0.03246017, 0.06484699, 0.07217754, 0.36891258,
       0.03246017, 0.05937912, 0.98029102, 0.98738284, 0.01539647,
       0.25723802, 0.98738284, 0.98029102, 0.96507234, 0.25723802,
       0.04032281, 0.02708389, 0.02708389, 0.00747236, 0.13618215,
       0.45208453, 0.38392233, 0.15200371, 0.070868  , 0.070868  ,
       0.45208453, 0.06484699, 0.0765792 , 0.03246017, 0.03246017,
       0.60802721, 0.56466262, 0.75058436, 0.75058436, 0.03246017,
       0.5572827 , 0.07217754, 0.04032281, 0.04032281, 0.02184224,
       0.80979547, 0.80979547, 0.07217754, 0.07217754, 0.07217754,
       0.69284714, 0.05590625, 0.69284714, 0.03895639, 0.02381648,
       0.69284714, 0.69284714, 0.69284714, 0.98029102, 0.07217754,
       0.69284714, 0.54145198, 0.10686447, 0.03246017, 0.69284714,
       0.69284714, 0.69284714, 0.07990661, 0.98029102, 0.69284714,
       0.07217754, 0.05590625, 0.07217754, 0.28530136, 0.34400949,
       0.75058436, 0.03895639, 0.75058436, 0.75058436, 0.02708389,
       0.69284714, 0.75058436, 0.43133903, 0.69284714, 0.6105615 ,
       0.54145198, 0.10904957, 0.04032281, 0.04032281, 0.36891258,
       0.36891258, 0.69284714, 0.07692501, 0.38392233, 0.09107379,
       0.07217754, 0.06076812, 0.06076812, 0.03246017, 0.07217754,
       0.07217754, 0.00405976, 0.00405976, 0.00405976, 0.02389838,
       0.25723802, 0.07217754, 0.36891258, 0.02184224, 0.0765792 ,
       0.96507234, 0.10904957, 0.07217754, 0.54145198, 0.28530136,
       0.04032281, 0.28530136, 0.96507234, 0.07217754, 0.01539647,
       0.01539647, 0.25723802, 0.03970144, 0.80979547, 0.25723802,
       0.75058436, 0.07217754, 0.04032281, 0.07217754, 0.03970144,
       0.07217754, 0.07217754, 0.75058436, 0.75058436, 0.98738284,
       0.03528003, 0.1154201 , 0.38392233, 0.98029102])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
527,ESP,Rhythmic Gymnastics,False,0,1,0,2,8,0
759,GEO,Rhythmic Gymnastics,False,0,0,0,4,7,0
935,ESP,Rhythmic Gymnastics,False,1,0,0,2,8,0
961,ESP,Rhythmic Gymnastics,False,0,1,0,1,8,0
1783,ESP,Rhythmic Gymnastics,False,0,1,0,1,8,0
...,...,...,...,...,...,...,...,...,...
202970,RUS,Rhythmic Gymnastics,True,0,0,0,2,6,0
203071,USA,Rhythmic Gymnastics,False,1,0,1,2,7,7
203465,NOR,Rhythmic Gymnastics,False,0,0,0,2,8,0
203608,UKR,Rhythmic Gymnastics,False,0,0,0,2,7,0
203879,RUS,Rhythmic Gymnastics,True,0,0,0,2,7,0

In [174]:
R_Gymnastics_df['Predictions'] = y_pred.tolist()
R_Gymnastics_final = R_Gymnastics_df.drop_duplicates(subset=['NOC'], keep='last')
R_Gymnastics_final = R_Gymnastics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
R_Gymnastics_final

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2322458286.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  R_Gymnastics_final = R_Gymnastics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC                Sport  Predictions
14839   SWE  Rhythmic Gymnastics     0.136182
53785   DNK  Rhythmic Gymnastics     0.046236
82268   PRT  Rhythmic Gymnastics     0.072178
88051   EST  Rhythmic Gymnastics     0.076579
90843   LTU  Rhythmic Gymnastics     0.072178
121737  CPV  Rhythmic Gymnastics     0.072178
145369  AUS  Rhythmic Gymnastics     0.043892
157925  ZAF  Rhythmic Gymnastics     0.109050
160902  BRA  Rhythmic Gymnastics     0.044040
162979  FRA  Rhythmic Gymnastics     0.059379
169997  GBR  Rhythmic Gymnastics     0.064847
170741  CZE  Rhythmic Gymnastics     0.076579
172821  ROU  Rhythmic Gymnastics     0.072178
172914  BEL  Rhythmic Gymnastics     0.040323
176039  HUN  Rhythmic Gymnastics     0.072178
176441  EGY  Rhythmic Gymnastics     0.072178
178264  GEO  Rhythmic Gymnastics     0.072178
180832  CAN  Rhythmic Gymnastics     0.106864
183052  CYP  Rhythmic Gymnastics     0.055906
183150  UZB  Rhythmic Gymnastics     0.072178
189054  ESP  Rhythmic Gymnastics     0.610562
189346  CHE  Rhythmic Gymnastics     0.109050
190503  BGR  Rhythmic Gymnastics     0.692847
190904  FIN  Rhythmic Gymnastics     0.076925
192090  NZL  Rhythmic Gymnastics     0.091074
193608  AUT  Rhythmic Gymnastics     0.060768
195376  DEU  Rhythmic Gymnastics     0.032460
199159  AZE  Rhythmic Gymnastics     0.072178
199676  JPN  Rhythmic Gymnastics     0.021842
200395  KOR  Rhythmic Gymnastics     0.076579
200579  KAZ  Rhythmic Gymnastics     0.072178
200675  ITA  Rhythmic Gymnastics     0.541452
200955  GRC  Rhythmic Gymnastics     0.285301
201460  POL  Rhythmic Gymnastics     0.072178
202573  ISR  Rhythmic Gymnastics     0.040323
202659  CHN  Rhythmic Gymnastics     0.072178
202781  BLR  Rhythmic Gymnastics     0.750584
203071  USA  Rhythmic Gymnastics     0.035280
203465  NOR  Rhythmic Gymnastics     0.115420
203608  UKR  Rhythmic Gymnastics     0.383922
203879  RUS  Rhythmic Gymnastics     0.980291

Taekwondo

In [175]:
Taekwondo_df = data_df[data_df['Sport'] == "Taekwondo"]
Taekwondo_df = Taekwondo_df.dropna()

In [176]:
Taekwondo_dummies = pd.get_dummies(Taekwondo_df)
Taekwondo_dummies.head(3)

,Medal,Host,NOC_AFG,NOC_ARE,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
92,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
101,True,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
213,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [177]:
x_train = Taekwondo_dummies.drop(columns=['Medal'])
y_train = Taekwondo_dummies['Medal']

x_test = Taekwondo_dummies.drop(columns=['Medal'])
y_test = Taekwondo_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.7979966611018364

In [178]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Taekwondo_df)

array([0.2484668 , 0.5142375 , 0.2484668 , 0.76553013, 0.15771783,
       0.15771783, 0.406888  , 0.406888  , 0.16483402, 0.41253042,
       0.2484668 , 0.57545659, 0.2484668 , 0.23305483, 0.406888  ,
       0.406888  , 0.15771783, 0.25546949, 0.15771783, 0.55102483,
       0.51912629, 0.60976064, 0.10356875, 0.23305483, 0.22853876,
       0.2484668 , 0.13085924, 0.16483402, 0.60976064, 0.25546949,
       0.08476774, 0.51684818, 0.58373127, 0.16483402, 0.29321219,
       0.68886933, 0.74149326, 0.406888  , 0.27879378, 0.41113236,
       0.63576943, 0.51821268, 0.23305483, 0.6247539 , 0.08476774,
       0.15771783, 0.28111006, 0.5662077 , 0.5662077 , 0.52796674,
       0.67483535, 0.76040771, 0.18990202, 0.5142375 , 0.20003404,
       0.11225064, 0.11225064, 0.23305483, 0.23305483, 0.23305483,
       0.23305483, 0.52031865, 0.25942007, 0.11225064, 0.65270235,
       0.23305483, 0.51507853, 0.52600345, 0.68972996, 0.38065049,
       0.38065049, 0.1867906 , 0.1867906 , 0.11225064, 0.11225064,
       0.14202405, 0.6247539 , 0.21653999, 0.40563349, 0.52796674,
       0.17830287, 0.17830287, 0.60269628, 0.40563349, 0.18990202,
       0.18990202, 0.29321219, 0.406888  , 0.406888  , 0.406888  ,
       0.21500418, 0.14202405, 0.14202405, 0.34578679, 0.39137246,
       0.39137246, 0.81682421, 0.74463468, 0.81682421, 0.81918911,
       0.18990202, 0.18990202, 0.08476774, 0.74463468, 0.81682421,
       0.29321219, 0.5212364 , 0.81682421, 0.72190834, 0.15771783,
       0.65440536, 0.1867906 , 0.1867906 , 0.1867906 , 0.41113236,
       0.406888  , 0.406888  , 0.27204269, 0.53835371, 0.1867906 ,
       0.28734735, 0.34578679, 0.1867906 , 0.3009355 , 0.69575886,
       0.23305483, 0.21653999, 0.17264171, 0.40346666, 0.40346666,
       0.32880564, 0.6247539 , 0.406888  , 0.406888  , 0.406888  ,
       0.28734735, 0.69258884, 0.29321219, 0.39137246, 0.5662077 ,
       0.5662077 , 0.29321219, 0.62632707, 0.13085924, 0.406888  ,
       0.1867906 , 0.1867906 , 0.1867906 , 0.406888  , 0.08476774,
       0.08476774, 0.17264171, 0.23305483, 0.54137383, 0.1867906 ,
       0.5662077 , 0.41253042, 0.29321219, 0.2484668 , 0.2484668 ,
       0.39137246, 0.76040771, 0.68972996, 0.68886933, 0.13810877,
       0.13810877, 0.52031865, 0.69258884, 0.55102483, 0.56697354,
       0.2484668 , 0.69258884, 0.69258884, 0.40346666, 0.40346666,
       0.40346666, 0.51507853, 0.29321219, 0.29321219, 0.3296931 ,
       0.3296931 , 0.69575886, 0.55102483, 0.58710511, 0.58710511,
       0.406888  , 0.60269628, 0.16483402, 0.5662077 , 0.41113236,
       0.41113236, 0.1867906 , 0.17264171, 0.17264171, 0.67483535,
       0.76040771, 0.51507853, 0.17547254, 0.17264171, 0.10356875,
       0.38065049, 0.3009355 , 0.60269628, 0.60269628, 0.68886933,
       0.6247539 , 0.3558578 , 0.41253042, 0.41253042, 0.3296931 ,
       0.3296931 , 0.79907671, 0.15771783, 0.61829932, 0.56697354,
       0.65270235, 0.74149326, 0.08476774, 0.17451342, 0.23184678,
       0.23305483, 0.66713918, 0.40563349, 0.68886933, 0.66713918,
       0.53835371, 0.21500418, 0.406888  , 0.74463468, 0.32880564,
       0.41253042, 0.62632707, 0.49023451, 0.406888  , 0.21653999,
       0.50078454, 0.5142375 , 0.5142375 , 0.77658907, 0.74463468,
       0.74463468, 0.74463468, 0.81682421, 0.65440536, 0.39137246,
       0.2484668 , 0.93111752, 0.93111752, 0.94658024, 0.93111752,
       0.5142375 , 0.69258884, 0.5662077 , 0.93111752, 0.94658024,
       0.94658024, 0.93111752, 0.69575886, 0.17547254, 0.17547254,
       0.65518568, 0.5212364 , 0.29321219, 0.96126184, 0.406888  ,
       0.1867906 , 0.66713918, 0.57545659, 0.74149326, 0.13810877,
       0.17451342, 0.23305483, 0.23305483, 0.13810877, 0.17547254,
       0.15771783, 0.1867906 , 0.1867906 , 0.16483402, 0.22976238,
       0.09938108, 0.52600345, 0.60976064, 0.74149326, 0.18990202,
       0.13810877, 0.13810877, 0.96126184, 0.5662077 , 0.94658024,
       0.94658024, 0.27879378, 0.41113236, 0.41113236, 0.39137246,
       0.32880564, 0.58373127, 0.76553013, 0.62632707, 0.69575886,
       0.15771783, 0.94658024, 0.94658024, 0.94658024, 0.96126184,
       0.23305483, 0.65440536, 0.81918911, 0.77658907, 0.32880564,
       0.23303207, 0.21653999, 0.69575886, 0.69575886, 0.69575886,
       0.39137246, 0.39137246, 0.76553013, 0.76553013, 0.69575886,
       0.69575886, 0.69575886, 0.23305483, 0.25072971, 0.14202405,
       0.17830287, 0.81682421, 0.40563349, 0.5662077 , 0.23305483,
       0.2484668 , 0.2484668 , 0.13810877, 0.29321219, 0.51507853,
       0.51507853, 0.56697354, 0.3296931 , 0.60976064, 0.1867906 ,
       0.21500418, 0.22976238, 0.09938108, 0.09938108, 0.40563349,
       0.28111006, 0.62632707, 0.62632707, 0.62632707, 0.62632707,
       0.69575886, 0.69575886, 0.62632707, 0.29872782, 0.47408114,
       0.47408114, 0.3009355 , 0.3009355 , 0.25546949, 0.25546949,
       0.13810877, 0.5662077 , 0.23305483, 0.1867906 , 0.1867906 ,
       0.14202405, 0.25942007, 0.23305483, 0.34578679, 0.52796674,
       0.20003404, 0.62632707, 0.39137246, 0.39137246, 0.13085924,
       0.29321219, 0.76553013, 0.28111006, 0.21500418, 0.51684818,
       0.58373127, 0.65518568, 0.5212364 , 0.93111752, 0.62632707,
       0.39137246, 0.39137246, 0.25072971, 0.58373127, 0.58373127,
       0.74149326, 0.39137246, 0.23305483, 0.56697354, 0.68886933,
       0.15771783, 0.76040771, 0.15771783, 0.15771783, 0.23305483,
       0.15771783, 0.15771783, 0.68886933, 0.51684818, 0.58373127,
       0.58373127, 0.58373127, 0.63576943, 0.51821268, 0.66713918,
       0.406888  , 0.52600345, 0.28734735, 0.40346666, 0.29321219,
       0.406888  , 0.406888  , 0.1867906 , 0.16483402, 0.1867906 ,
       0.1867906 , 0.94658024, 0.40563349, 0.50078454, 0.50078454,
       0.4282945 , 0.23305483, 0.09152284, 0.55102483, 0.23305483,
       0.23305483, 0.25942007, 0.38065049, 0.27204269, 0.5142375 ,
       0.39137246, 0.39137246, 0.14202405, 0.69258884, 0.69258884,
       0.49023451, 0.76553013, 0.32880564, 0.17830287, 0.52600345,
       0.1867906 , 0.52600345, 0.39137246, 0.26961259, 0.26961259,
       0.65440536, 0.13810877, 0.26961259, 0.22853876, 0.58710511,
       0.58710511, 0.16483402, 0.39137246, 0.2484668 , 0.23305483,
       0.58710511, 0.17264171, 0.10356875, 0.14202405, 0.49023451,
       0.25546949, 0.39137246, 0.16483402, 0.52031865, 0.57545659,
       0.57545659, 0.74149326, 0.62632707, 0.1867906 , 0.29321219,
       0.29321219, 0.2484668 , 0.2484668 , 0.69258884, 0.69258884,
       0.23305483, 0.21653999, 0.21653999, 0.23305483, 0.17547254,
       0.1867906 , 0.13085924, 0.58062934, 0.58062934, 0.52796674,
       0.52796674, 0.18990202, 0.11225064, 0.3009355 , 0.3009355 ,
       0.23305483, 0.09938108, 0.13810877, 0.40346666, 0.58710511,
       0.96126184, 0.54137383, 0.54137383, 0.56865018, 0.2630797 ,
       0.53152737, 0.5527145 , 0.93111752, 0.93111752, 0.66713918,
       0.23305483, 0.23305483, 0.27204269, 0.15771783, 0.65518568,
       0.2630797 , 0.6247539 , 0.6247539 , 0.53835371, 0.65518568,
       0.17264171, 0.72190834, 0.52600345, 0.72190834, 0.52600345,
       0.79907671, 0.65270235, 0.79907671, 0.79907671, 0.406888  ,
       0.79907671, 0.79907671, 0.23305483, 0.79907671, 0.79907671,
       0.79907671, 0.54137383, 0.23305483, 0.39137246, 0.23305483,
       0.23305483, 0.23303207, 0.11225064, 0.39137246, 0.23305483,
       0.23305483, 0.60269628, 0.23305483, 0.22853876, 0.23305483,
       0.15771783, 0.40563349, 0.28111006, 0.77658907, 0.3296931 ,
       0.13810877, 0.5662077 , 0.2484668 , 0.23305483, 0.406888  ,
       0.58062934, 0.58062934, 0.62632707, 0.5212364 , 0.23305483,
       0.77658907, 0.40346666, 0.40346666, 0.40563349, 0.18990202,
       0.66713918, 0.81918911, 0.77658907, 0.65440536, 0.58710511,
       0.60269628, 0.72190834, 0.77658907, 0.23305483, 0.29321219,
       0.29321219, 0.17547254, 0.29321219, 0.3558578 , 0.3558578 ,
       0.3558578 , 0.3558578 , 0.52031865, 0.65440536, 0.29321219,
       0.65440536, 0.74463468, 0.81918911, 0.5142375 , 0.5142375 ,
       0.5142375 , 0.11225064, 0.11225064, 0.58062934])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
92,EGY,Taekwondo,False,0,0,0,5,7,0
101,AZE,Taekwondo,True,0,0,0,4,7,0
213,EGY,Taekwondo,False,0,0,0,5,7,0
230,USA,Taekwondo,True,0,1,1,1,8,6
475,KGZ,Taekwondo,False,0,0,0,6,7,0
...,...,...,...,...,...,...,...,...,...
203239,AZE,Taekwondo,False,0,0,0,4,7,0
203240,AZE,Taekwondo,False,0,0,0,4,7,0
203565,MAR,Taekwondo,False,0,0,0,4,7,0
203566,MAR,Taekwondo,False,0,0,0,4,7,0
203610,HRV,Taekwondo,True,0,0,0,4,7,0

In [179]:
Taekwondo_df['Predictions'] = y_pred.tolist()
Taekwondo_final = Taekwondo_df.drop_duplicates(subset=['NOC'], keep='last')
Taekwondo_final = Taekwondo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/4211559542.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Taekwondo_final = Taekwondo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [180]:
N = pd.merge(R_Gymnastics_final, Taekwondo_final, how='outer', on=['NOC', 'NOC'])
N.rename(columns = {'Predictions_x':'Rhythmic Gymnastics', 'Predictions_y':'Taekwondo'}, inplace = True)
N = N.drop(["Sport_x","Sport_y"], 1)
N

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/1912829512.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  N = N.drop(["Sport_x","Sport_y"], 1)

     NOC  Rhythmic Gymnastics  Taekwondo
0    SWE             0.136182   0.175473
1    DNK             0.046236   0.255469
2    PRT             0.072178   0.178303
3    EST             0.076579        NaN
4    LTU             0.072178        NaN
..   ...                  ...        ...
104  THA                  NaN   0.667139
105  ARM                  NaN   0.233055
106  GTM                  NaN   0.293212
107  MAR                  NaN   0.112251
108  HRV                  NaN   0.580629

[109 rows x 3 columns]

Beach Volleyball

In [181]:
B_Volleyball_df = data_df[data_df['Sport'] == "Beach Volleyball"]
B_Volleyball_df = B_Volleyball_df.dropna()

In [182]:
B_Volleyball_dummies = pd.get_dummies(B_Volleyball_df)
B_Volleyball_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BRA,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
816,False,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1912,False,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1913,True,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0

In [183]:
x_train = B_Volleyball_dummies.drop(columns=['Medal'])
y_train = B_Volleyball_dummies['Medal']

x_test = B_Volleyball_dummies.drop(columns=['Medal'])
y_test = B_Volleyball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8714285714285714

In [184]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,B_Volleyball_df)

array([0.00297108, 0.48509129, 0.48509129, 0.07255478, 0.86538825,
       0.90225253, 0.07255478, 0.07255478, 0.40520827, 0.86538825,
       0.86538825, 0.02740387, 0.64710808, 0.07994222, 0.07994222,
       0.07994222, 0.12124829, 0.27685897, 0.02740387, 0.25758572,
       0.29999674, 0.29999674, 0.04032418, 0.08307479, 0.08307479,
       0.90225253, 0.45958632, 0.0692421 , 0.07255478, 0.07255478,
       0.0692421 , 0.64710808, 0.90225253, 0.86538825, 0.86538825,
       0.02740387, 0.07994222, 0.09161805, 0.07255478, 0.86538825,
       0.04458771, 0.04458771, 0.03034451, 0.03034451, 0.07103435,
       0.30866913, 0.25758572, 0.78327729, 0.78327729, 0.48509129,
       0.21329629, 0.48509129, 0.41806533, 0.41806533, 0.44379826,
       0.7673458 , 0.04032418, 0.04032418, 0.04032418, 0.54799025,
       0.54799025, 0.25758572, 0.3677313 , 0.36893001, 0.18094434,
       0.02740387, 0.48509129, 0.48509129, 0.07255478, 0.20912678,
       0.40520827, 0.8726343 , 0.07255478, 0.07255478, 0.07255478,
       0.09161805, 0.06622306, 0.3677313 , 0.25758572, 0.25758572,
       0.02740387, 0.40520827, 0.64710808, 0.04032418, 0.04032418,
       0.08307479, 0.08307479, 0.39790201, 0.48688031, 0.39790201,
       0.45958632, 0.0692421 , 0.20912678, 0.07255478, 0.86538825,
       0.04458771, 0.04458771, 0.7673458 , 0.82303902, 0.7673458 ,
       0.06279885, 0.78327729, 0.48509129, 0.54799025, 0.48509129,
       0.41806533, 0.8726343 , 0.0387122 , 0.0387122 , 0.0387122 ,
       0.07255478, 0.07255478, 0.3677313 , 0.25758572, 0.3677313 ,
       0.07255478, 0.00297108, 0.92289419, 0.86538825, 0.86538825,
       0.86538825, 0.86538825, 0.04458771, 0.54799025, 0.07255478,
       0.90225253, 0.28174478, 0.86538825, 0.7673458 , 0.39790201,
       0.00297108, 0.07255478, 0.07255478, 0.07255478, 0.29999674,
       0.29999674, 0.02740387, 0.02740387, 0.48509129, 0.78327729,
       0.8726343 , 0.09161805, 0.48509129, 0.07784132, 0.07255478,
       0.08307479, 0.08307479, 0.07255478, 0.07255478, 0.06279885,
       0.03034451, 0.0387122 , 0.18094434, 0.1970234 , 0.29999674,
       0.29999674, 0.07255478, 0.07255478, 0.04032418, 0.1970234 ,
       0.04032418, 0.7673458 , 0.82303902, 0.7673458 , 0.40520827,
       0.08958587, 0.06441245, 0.20912678, 0.02740387, 0.54799025,
       0.54799025, 0.48688031, 0.03034451, 0.0387122 , 0.1970234 ,
       0.08307479, 0.08307479, 0.48688031, 0.06279885, 0.48509129,
       0.48509129, 0.07255478, 0.08958587, 0.06441245, 0.20912678,
       0.04032418, 0.04032418, 0.8726343 , 0.3677313 , 0.25758572,
       0.25758572, 0.78327729, 0.09161805, 0.8726343 , 0.07255478,
       0.04032418, 0.08307479, 0.44379826, 0.44379826, 0.29999674,
       0.29999674, 0.07103435, 0.53552638, 0.09161805, 0.09161805,
       0.09161805, 0.09161805, 0.25758572, 0.78327729, 0.54799025,
       0.08958587, 0.0387122 , 0.0387122 , 0.0387122 , 0.07103435,
       0.08958587, 0.0387122 , 0.07255478, 0.07255478, 0.48688031,
       0.07784132, 0.04337213, 0.41806533, 0.20912678, 0.07994222,
       0.78327729, 0.86538825, 0.28174478, 0.17402353, 0.21329629,
       0.07255478, 0.1875056 , 0.02740387, 0.07255478, 0.07994222,
       0.07994222, 0.07255478, 0.21329629, 0.82303902, 0.07255478,
       0.07255478, 0.8726343 , 0.07103435, 0.08958587, 0.06441245,
       0.07255478, 0.54799025, 0.08307479, 0.53552638, 0.07255478,
       0.07255478, 0.54799025, 0.07994222, 0.07994222, 0.02740387,
       0.07255478, 0.07255478, 0.07255478, 0.53552638, 0.09161805,
       0.09161805, 0.07255478, 0.03176619, 0.12124829, 0.07103435,
       0.07103435, 0.47256237, 0.53552638, 0.09161805, 0.47256237,
       0.53552638, 0.48509129, 0.64710808, 0.86538825, 0.86538825,
       0.90225253, 0.07255478, 0.07255478, 0.07255478, 0.07255478,
       0.17402353, 0.25758572, 0.20912678, 0.30866913, 0.00297108,
       0.40520827, 0.39790201, 0.86538825, 0.92289419, 0.02740387,
       0.7673458 , 0.54799025, 0.54799025, 0.48509129, 0.40520827,
       0.40520827, 0.07255478, 0.07103435, 0.07103435, 0.08958587,
       0.08958587, 0.06441245, 0.04032418, 0.04032418, 0.04032418,
       0.3677313 , 0.48688031, 0.86538825, 0.86538825, 0.86538825,
       0.1875056 , 0.25758572, 0.30866913, 0.41806533, 0.04032418,
       0.04032418, 0.54799025, 0.78327729, 0.78327729, 0.7673458 ,
       0.82303902, 0.8726343 , 0.78327729, 0.78327729, 0.00297108,
       0.36893001, 0.40520827, 0.40520827, 0.21329629, 0.36893001,
       0.44379826, 0.78327729, 0.07994222, 0.21329629, 0.11464799,
       0.28174478, 0.06279885, 0.48509129, 0.48509129, 0.48509129,
       0.02740387, 0.07784132, 0.02740387, 0.92289419, 0.40520827,
       0.40520827, 0.03034451, 0.21329629, 0.21329629, 0.36893001,
       0.1875056 , 0.78327729, 0.48509129, 0.04032418, 0.07255478,
       0.07255478, 0.07255478, 0.0692421 , 0.08307479, 0.7673458 ,
       0.25758572, 0.20912678, 0.07994222, 0.04032418, 0.11464799,
       0.18094434, 0.1970234 , 0.04458771, 0.18094434, 0.60405844,
       0.60405844, 0.02740387, 0.48509129, 0.54799025, 0.39790201,
       0.48688031, 0.39790201, 0.20912678, 0.07994222, 0.07255478,
       0.39790201, 0.48688031, 0.39790201, 0.02740387, 0.02740387,
       0.18094434, 0.40520827, 0.48509129, 0.54799025, 0.30866913,
       0.48509129, 0.54799025, 0.86538825, 0.8726343 , 0.86538825,
       0.86538825, 0.86538825, 0.86538825, 0.8726343 , 0.07994222,
       0.00297108, 0.92289419, 0.07255478, 0.7673458 , 0.82303902,
       0.21329629, 0.02740387, 0.07255478, 0.07255478, 0.7673458 ,
       0.82303902, 0.82303902, 0.7673458 , 0.04032418, 0.04337213,
       0.12124829, 0.04032418, 0.04032418, 0.60405844, 0.60405844,
       0.60405844, 0.92289419, 0.86538825, 0.39790201, 0.92289419,
       0.86538825, 0.86538825, 0.25758572, 0.39790201, 0.45958632,
       0.25758572, 0.25758572, 0.48509129, 0.48509129, 0.90225253,
       0.48509129, 0.09161805, 0.53552638, 0.28174478, 0.28174478,
       0.21329629, 0.21329629, 0.04032418, 0.0387122 , 0.0387122 ,
       0.0387122 , 0.0387122 , 0.09161805, 0.0387122 , 0.04337213,
       0.54799025, 0.07255478, 0.07255478, 0.07784132, 0.07255478,
       0.07994222, 0.86538825, 0.86538825, 0.12124829, 0.27685897,
       0.07255478, 0.92289419, 0.06441245, 0.0356598 , 0.48688031,
       0.39790201, 0.45958632, 0.07255478, 0.07255478, 0.60405844,
       0.60405844, 0.8726343 , 0.1970234 , 0.18094434, 0.90225253,
       0.60405844, 0.07255478, 0.0356598 , 0.39790201, 0.03034451,
       0.48509129, 0.8726343 , 0.48688031, 0.7673458 , 0.07784132,
       0.04337213, 0.07784132, 0.86538825, 0.86538825, 0.90225253,
       0.06622306, 0.17751523, 0.81376449, 0.07255478, 0.03176619,
       0.08958587, 0.06441245, 0.07994222, 0.07994222, 0.1970234 ,
       0.07255478, 0.07255478, 0.07255478, 0.25758572, 0.11464799,
       0.28174478, 0.36893001, 0.21329629, 0.36893001, 0.21329629,
       0.36893001, 0.36893001, 0.07255478, 0.09161805, 0.07255478,
       0.04032418, 0.04032418, 0.07255478, 0.48509129, 0.78327729,
       0.7673458 , 0.82303902, 0.7673458 , 0.5       , 0.17751523,
       0.81376449, 0.17751523, 0.8726343 , 0.02740387, 0.39790201,
       0.78327729, 0.81376449, 0.41982943, 0.06622306, 0.81376449,
       0.41982943, 0.81376449, 0.41982943, 0.07255478, 0.07255478,
       0.07255478, 0.07255478, 0.07255478, 0.17751523, 0.78327729,
       0.7673458 , 0.11464799, 0.1875056 , 0.5       , 0.41806533,
       0.39790201, 0.48688031, 0.92289419, 0.86538825, 0.06622306,
       0.81376449, 0.41982943, 0.08307479, 0.09161805, 0.09161805])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
816,AGO,Beach Volleyball,False,0,0,0,5,5,0
1912,DEU,Beach Volleyball,False,0,1,0,2,8,1
1913,DEU,Beach Volleyball,True,0,1,0,2,8,1
3764,CRI,Beach Volleyball,False,0,0,0,2,8,0
3948,BRA,Beach Volleyball,True,0,0,1,1,7,0
...,...,...,...,...,...,...,...,...,...
202179,CHN,Beach Volleyball,True,1,0,7,4,7,1
202180,CHN,Beach Volleyball,False,0,0,7,4,7,2
203411,ARG,Beach Volleyball,False,0,0,0,0,7,0
203768,CHE,Beach Volleyball,False,0,3,0,2,8,0
203769,CHE,Beach Volleyball,False,0,3,0,2,8,0

In [185]:
B_Volleyball_df['Predictions'] = y_pred.tolist()
B_Volleyball_final = B_Volleyball_df.drop_duplicates(subset=['NOC'], keep='last')
B_Volleyball_final = B_Volleyball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3648103712.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  B_Volleyball_final = B_Volleyball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Triathlon

In [186]:
Triathlon_df = data_df[data_df['Sport'] == "Triathlon"]
Triathlon_df = Triathlon_df.dropna()

In [187]:
Triathlon_dummies = pd.get_dummies(Triathlon_df)
Triathlon_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BRA,NOC_BRB,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
831,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
901,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
902,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [188]:
x_train = Triathlon_dummies.drop(columns=['Medal'])
y_train = Triathlon_dummies['Medal']

x_test = Triathlon_dummies.drop(columns=['Medal'])
y_test = Triathlon_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.941972920696325

In [189]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Triathlon_df)

array([3.76758911e-02, 3.76758911e-02, 3.76758911e-02, 4.68789698e-04,
       4.66132616e-01, 5.30353389e-01, 3.76758911e-02, 3.76758911e-02,
       5.27946145e-01, 4.66132616e-01, 8.16776632e-03, 1.40697516e-01,
       1.40697516e-01, 7.57410397e-01, 4.68537761e-01, 8.85132655e-02,
       7.76371798e-01, 7.54878264e-01, 1.88100515e-01, 3.76758911e-02,
       9.90981886e-03, 1.74753672e-01, 9.41958593e-02, 8.88522715e-02,
       5.42289204e-01, 1.44155071e-01, 2.40416827e-03, 1.87789773e-03,
       8.16412021e-01, 5.26935783e-01, 3.76825551e-01, 8.57441367e-01,
       2.07940454e-01, 4.48659183e-01, 4.48659183e-01, 4.65693895e-02,
       5.26935783e-01, 9.90981886e-03, 4.65693895e-02, 2.40416827e-03,
       4.38842610e-01, 4.68537761e-01, 5.30353389e-01, 1.07298109e-01,
       1.07298109e-01, 8.83143796e-03, 3.33639409e-02, 5.27946145e-01,
       4.66132616e-01, 5.80317174e-01, 8.67209010e-02, 2.37002132e-02,
       2.28849040e-01, 6.91183673e-02, 1.88100515e-01, 8.57441367e-01,
       8.57441367e-01, 8.57441367e-01, 8.57441367e-01, 3.76758911e-02,
       3.76758911e-02, 3.76758911e-02, 2.46686985e-01, 2.46686985e-01,
       2.07940454e-01, 6.91183673e-02, 7.08394188e-01, 5.30353389e-01,
       1.72212304e-01, 3.76758911e-02, 9.90981886e-03, 9.90981886e-03,
       1.44155071e-01, 1.07298109e-01, 8.83143796e-03, 1.88100515e-01,
       9.41958593e-02, 9.41958593e-02, 1.44155071e-01, 3.76758911e-02,
       2.25716663e-01, 5.10298471e-02, 8.67209010e-02, 2.37002132e-02,
       1.07298109e-01, 5.30353389e-01, 6.44413603e-02, 3.76789168e-01,
       3.76758911e-02, 5.10298471e-02, 9.41958593e-02, 9.41958593e-02,
       8.67209010e-02, 6.02798770e-01, 7.76371798e-01, 7.54878264e-01,
       1.74753672e-01, 2.28849040e-01, 2.28849040e-01, 2.28849040e-01,
       2.46686985e-01, 6.02798770e-01, 6.02798770e-01, 5.42289204e-01,
       5.42289204e-01, 7.08394188e-01, 7.08394188e-01, 7.08394188e-01,
       7.08394188e-01, 5.27946145e-01, 2.28849040e-01, 2.28849040e-01,
       1.88100515e-01, 5.80317174e-01, 8.67209010e-02, 5.27946145e-01,
       1.07298109e-01, 1.07298109e-01, 3.76758911e-02, 1.18950402e-01,
       3.76758911e-02, 3.76758911e-02, 3.84973130e-02, 7.60602365e-01,
       2.37002132e-02, 5.19114946e-01, 1.74753672e-01, 8.16776632e-03,
       1.07298109e-01, 2.28849040e-01, 6.02798770e-01, 6.02798770e-01,
       2.54937916e-01, 8.71901920e-01, 1.72212304e-01, 1.72212304e-01,
       5.42289204e-01, 5.42289204e-01, 1.66403112e-01, 1.40697516e-01,
       1.40697516e-01, 1.18950402e-01, 6.44413603e-02, 8.83143796e-03,
       2.25716663e-01, 7.08394188e-01, 7.08394188e-01, 1.40697516e-01,
       1.74753672e-01, 4.66132616e-01, 8.67209010e-02, 2.46686985e-01,
       5.30353389e-01, 1.18950402e-01, 1.18950402e-01, 3.33639409e-02,
       9.90981886e-03, 3.33639409e-02, 3.76825551e-01, 5.26935783e-01,
       5.19114946e-01, 8.18461370e-01, 5.30353389e-01, 8.16412021e-01,
       4.66132616e-01, 8.57441367e-01, 2.54778818e-01, 3.04731082e-01,
       1.87789773e-03, 1.44155071e-01, 8.16412021e-01, 8.16412021e-01,
       5.26935783e-01, 5.42289204e-01, 6.02798770e-01, 4.66132616e-01,
       1.44155071e-01, 8.57441367e-01, 2.54937916e-01, 2.54937916e-01,
       5.30353389e-01, 5.30353389e-01, 7.08394188e-01, 7.08394188e-01,
       7.08394188e-01, 2.46686985e-01, 8.16412021e-01, 1.66403112e-01,
       1.66403112e-01, 8.67209010e-02, 8.67209010e-02, 3.76758911e-02,
       4.65693895e-02, 8.57441367e-01, 8.57441367e-01, 8.88522715e-02,
       2.51654751e-01, 4.68789698e-04, 1.66403112e-01, 3.76825551e-01,
       8.18461370e-01, 7.78746977e-01, 7.57410397e-01, 9.75321019e-03,
       4.68789698e-04, 3.76758911e-02, 7.54878264e-01, 8.67209010e-02,
       2.37002132e-02, 5.19114946e-01, 2.28849040e-01, 2.54937916e-01,
       2.37002132e-02, 2.37002132e-02, 2.28849040e-01, 2.28849040e-01,
       5.19114946e-01, 8.16412021e-01, 3.76825551e-01, 5.26935783e-01,
       5.42289204e-01, 7.76371798e-01, 7.54878264e-01, 5.26935783e-01,
       6.00402982e-04, 3.76789168e-01, 8.18461370e-01, 5.30353389e-01,
       5.30353389e-01, 5.26935783e-01, 3.76825551e-01, 2.37002132e-02,
       2.07940454e-01, 1.57609102e-02, 3.76758911e-02, 3.76758911e-02,
       5.80317174e-01, 4.48659183e-01, 4.48659183e-01, 9.90981886e-03,
       2.46686985e-01, 8.67209010e-02, 8.67209010e-02, 1.40697516e-01,
       2.25716663e-01, 1.44155071e-01, 2.28849040e-01, 6.02798770e-01,
       5.30353389e-01, 5.42289204e-01, 9.90981886e-03, 2.46686985e-01,
       2.46686985e-01, 8.88522715e-02, 2.51654751e-01, 1.44155071e-01,
       1.44155071e-01, 5.26935783e-01, 3.76758911e-02, 4.65693895e-02,
       7.78746977e-01, 7.57410397e-01, 7.60602365e-01, 8.18461370e-01,
       4.38842610e-01, 4.68537761e-01, 1.07298109e-01, 1.07298109e-01,
       5.80317174e-01, 7.08394188e-01, 5.80317174e-01, 5.19114946e-01,
       8.18461370e-01, 7.78746977e-01, 2.07940454e-01, 9.90981886e-03,
       1.44155071e-01, 8.18461370e-01, 7.57410397e-01, 6.44413603e-02,
       5.80317174e-01, 9.41958593e-02, 7.76371798e-01, 7.54878264e-01,
       1.74753672e-01, 5.30353389e-01, 5.30353389e-01, 8.67209010e-02,
       8.67209010e-02, 5.80317174e-01, 5.80317174e-01, 1.23546118e-01,
       3.76758911e-02, 9.41958593e-02, 9.41958593e-02, 9.41958593e-02,
       9.41958593e-02, 9.41958593e-02, 3.76789168e-01, 3.76789168e-01,
       1.87789773e-03, 4.65693895e-02, 4.65693895e-02, 5.19114946e-01,
       5.88444069e-01, 5.88444069e-01, 2.46686985e-01, 2.46686985e-01,
       5.30353389e-01, 5.30353389e-01, 1.66403112e-01, 1.66403112e-01,
       1.66403112e-01, 1.66403112e-01, 1.66403112e-01, 9.75321019e-03,
       3.76789168e-01, 7.43766190e-01, 7.43766190e-01, 7.43766190e-01,
       1.66403112e-01, 9.41958593e-02, 9.41958593e-02, 9.41958593e-02,
       9.41958593e-02, 9.41958593e-02, 4.48659183e-01, 4.48659183e-01,
       8.71901920e-01, 3.04731082e-01, 7.60602365e-01, 8.85132655e-02,
       2.40416827e-03, 1.87789773e-03, 1.44155071e-01, 8.88522715e-02,
       8.85132655e-02, 3.33639409e-02, 3.33639409e-02, 5.30353389e-01,
       4.66132616e-01, 6.02798770e-01, 5.42289204e-01, 3.76758911e-02,
       5.42289204e-01, 5.30353389e-01, 8.67209010e-02, 8.67209010e-02,
       3.76758911e-02, 3.76758911e-02, 3.76758911e-02, 3.76758911e-02,
       3.76758911e-02, 5.30353389e-01, 2.40416827e-03, 5.42289204e-01,
       3.76758911e-02, 2.54778818e-01, 5.88444069e-01, 5.30353389e-01,
       4.48659183e-01, 8.71901920e-01, 6.02798770e-01, 6.02798770e-01,
       9.90981886e-03, 2.46686985e-01, 2.46686985e-01, 3.76758911e-02,
       3.76758911e-02, 5.26935783e-01, 7.08394188e-01, 4.48659183e-01,
       7.08394188e-01, 7.78746977e-01, 7.57410397e-01, 7.57410397e-01,
       7.57410397e-01, 9.90981886e-03, 3.33639409e-02, 3.33639409e-02,
       3.33639409e-02, 2.10087650e-03, 2.54778818e-01, 5.88444069e-01,
       8.16412021e-01, 8.16412021e-01, 5.30353389e-01, 3.76758911e-02,
       5.30353389e-01, 1.74753672e-01, 7.57410397e-01, 7.57410397e-01,
       7.57410397e-01, 7.08394188e-01, 7.08394188e-01, 5.88444069e-01,
       5.88444069e-01, 1.40697516e-01, 3.76758911e-02, 3.76758911e-02,
       6.00402982e-04, 5.80317174e-01, 2.54937916e-01, 5.88444069e-01,
       9.41958593e-02, 9.41958593e-02, 8.16412021e-01, 3.76758911e-02,
       7.54878264e-01, 1.40697516e-01, 3.76758911e-02, 5.26935783e-01,
       3.76758911e-02, 8.85132655e-02, 8.85132655e-02, 2.46686985e-01,
       2.46686985e-01, 3.76758911e-02, 7.08394188e-01, 7.08394188e-01,
       6.44413603e-02, 6.44413603e-02, 7.76371798e-01, 9.41958593e-02,
       9.41958593e-02, 7.78746977e-01, 7.57410397e-01, 7.57410397e-01,
       7.57410397e-01, 4.66132616e-01, 3.76758911e-02, 3.76758911e-02,
       8.57441367e-01, 8.16412021e-01, 1.23546118e-01, 2.54778818e-01,
       6.44413603e-02, 6.44413603e-02, 1.72212304e-01, 5.26935783e-01,
       2.28849040e-01, 5.80317174e-01, 1.40697516e-01, 3.76758911e-02,
       8.67209010e-02, 2.10087650e-03, 7.08394188e-01, 5.30353389e-01,
       5.30353389e-01, 1.66403112e-01, 9.75321019e-03, 4.68789698e-04,
       6.00402982e-04, 8.16776632e-03, 2.10087650e-03, 8.16412021e-01,
       5.19114946e-01, 3.76758911e-02, 5.19114946e-01, 5.19114946e-01,
       1.88100515e-01, 8.57441367e-01, 8.57441367e-01, 5.80317174e-01,
       1.07298109e-01, 1.07298109e-01, 9.75321019e-03, 4.68789698e-04,
       6.00402982e-04, 5.42289204e-01, 3.33639409e-02, 8.88522715e-02,
       8.88522715e-02, 6.44413603e-02, 3.76758911e-02, 9.90981886e-03,
       9.90981886e-03, 3.76758911e-02, 5.10298471e-02, 6.44413603e-02,
       1.87789773e-03, 1.44155071e-01, 4.66132616e-01, 1.72212304e-01,
       6.02798770e-01, 8.16412021e-01, 3.76758911e-02, 1.92798135e-03,
       1.92798135e-03, 9.90981886e-03, 7.08394188e-01, 7.08394188e-01,
       6.91183673e-02, 5.80317174e-01, 5.80317174e-01, 5.19114946e-01,
       5.19114946e-01, 7.57410397e-01, 7.88050622e-01, 5.30353389e-01,
       6.91183673e-02, 3.76758911e-02, 3.76758911e-02, 1.92798135e-03,
       1.92798135e-03, 9.75321019e-03, 3.76758911e-02, 3.76758911e-02,
       3.76758911e-02, 5.80317174e-01, 5.26935783e-01, 3.76758911e-02,
       5.10298471e-02, 5.30353389e-01, 4.48659183e-01, 1.92798135e-03,
       3.76758911e-02])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
831,RUS,Triathlon,False,0,0,0,2,7,0
901,RUS,Triathlon,False,0,0,0,2,7,0
902,RUS,Triathlon,False,0,0,0,2,7,0
1078,JPN,Triathlon,False,0,2,0,0,8,1
1685,AUT,Triathlon,False,0,2,0,3,8,0
...,...,...,...,...,...,...,...,...,...
201588,BEL,Triathlon,False,0,2,0,0,8,0
201620,USA,Triathlon,False,0,1,1,1,8,6
201646,CZE,Triathlon,False,0,0,0,2,7,0
202244,CHN,Triathlon,False,1,0,7,4,7,1
202245,CHN,Triathlon,False,0,0,7,4,7,2

In [190]:
Triathlon_df['Predictions'] = y_pred.tolist()
Triathlon_final = Triathlon_df.drop_duplicates(subset=['NOC'], keep='last')
Triathlon_final = Triathlon_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/2330985694.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Triathlon_final = Triathlon_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [191]:
O = pd.merge(B_Volleyball_final, Triathlon_final, how='outer', on=['NOC', 'NOC'])
O.rename(columns = {'Predictions_x':'Beach Volleyball', 'Predictions_y':'Triathlon'}, inplace = True)
O = O.drop(["Sport_x","Sport_y"], 1)
O

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3167638783.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  O = O.drop(["Sport_x","Sport_y"], 1)

    NOC  Beach Volleyball  Triathlon
0   TUN          0.027404        NaN
1   CRI          0.072555   0.023700
2   AGO          0.002971        NaN
3   CHL          0.083075   0.033364
4   NZL          0.040324   0.069118
5   EGY          0.002971        NaN
6   GBR          0.062799   0.857441
7   PRI          0.083075        NaN
8   SWE          0.044588   0.788051
9   POL          0.027404   0.023700
10  FRA          0.079942   0.144155
11  MUS          0.002971   0.037676
12  CUB          0.072555        NaN
13  GEO          0.040324        NaN
14  PRT          0.040324   0.088513
15  LVA          0.604058        NaN
16  AUT          0.030345   0.466133
17  CZE          0.072555   0.448659
18  JPN          0.031766   0.009753
19  NOR          0.064412   0.438843
20  GRC          0.079942   0.246687
21  ITA          0.197023   0.107298
22  CAN          0.257586   0.580317
23  BEL          0.114648   0.051030
24  NLD          0.368930   0.088852
25  EST          0.072555   0.023700
26  VEN          0.040324   0.118950
27  MEX          0.040324   0.037676
28  DEU          0.485091   0.602799
29  ZAF          0.027404   0.254779
30  BGR          0.072555        NaN
31  RUS          0.072555   0.037676
32  USA          0.767346   0.530353
33  QAT          0.114648        NaN
34  IDN          0.187506        NaN
35  ESP          0.418065   0.530353
36  AUS          0.486880   0.816412
37  BRA          0.865388   0.094196
38  CHN          0.419829   0.037676
39  ARG          0.083075   0.002101
40  CHE          0.091618   0.757410
41  ECU               NaN   0.023700
42  ISR               NaN   0.064441
43  JOR               NaN   0.118950
44  KOR               NaN   0.530353
45  ZWE               NaN   0.037676
46  LUX               NaN   0.468538
47  IRL               NaN   0.376789
48  AZE               NaN   0.037676
49  COL               NaN   0.037676
50  DNK               NaN   0.254938
51  KAZ               NaN   0.140698
52  SVN               NaN   0.246687
53  HUN               NaN   0.037676
54  SVK               NaN   0.009910
55  BRB               NaN   0.037676
56  JAM               NaN   0.037676
57  UKR               NaN   0.037676

Softball

In [192]:
Softball_df = data_df[data_df['Sport'] == "Softball"]
Softball_df = Softball_df.dropna()

In [193]:
Softball_dummies = pd.get_dummies(Softball_df)
Softball_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_CAN,NOC_CHN,NOC_CUB,NOC_GRC,NOC_ITA,NOC_JPN,NOC_NLD,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
205,True,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
2088,False,0,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
3904,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [194]:
x_train = Softball_dummies.drop(columns=['Medal'])
y_train = Softball_dummies['Medal']

x_test = Softball_dummies.drop(columns=['Medal'])
y_test = Softball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9686192468619247

In [195]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Softball_df)

array([9.98699835e-01, 1.47821717e-04, 2.26199276e-02, 9.92782596e-01,
       9.92782596e-01, 9.71447679e-01, 1.47821717e-04, 9.99678094e-01,
       5.92688266e-01, 5.23702608e-03, 1.25507123e-01, 9.57386245e-01,
       1.94361833e-02, 2.26199276e-02, 1.47821717e-04, 3.70126609e-02,
       1.47821717e-04, 1.47821717e-04, 2.26199276e-02, 1.94361833e-02,
       1.94361833e-02, 1.94361833e-02, 3.70126609e-02, 3.70126609e-02,
       9.41727708e-03, 1.83134840e-06, 2.26362374e-03, 2.26362374e-03,
       9.52011630e-01, 9.99678094e-01, 9.99678094e-01, 9.98699835e-01,
       8.07516572e-02, 2.26199276e-02, 1.94361833e-02, 9.71447679e-01,
       9.52011630e-01, 3.70126609e-02, 9.41727708e-03, 9.92782596e-01,
       9.92782596e-01, 9.99678094e-01, 1.47821717e-04, 1.94361833e-02,
       9.99678094e-01, 9.99678094e-01, 9.98699835e-01, 9.92782596e-01,
       3.70126609e-02, 1.47821717e-04, 1.94361833e-02, 2.26199276e-02,
       1.47821717e-04, 1.47821717e-04, 5.92688266e-01, 2.92724982e-02,
       2.92724982e-02, 5.92688266e-01, 2.92724982e-02, 2.92724982e-02,
       2.92724982e-02, 5.92688266e-01, 5.92688266e-01, 5.92688266e-01,
       2.92724982e-02, 5.92688266e-01, 1.94361833e-02, 2.26199276e-02,
       1.83134840e-06, 1.47821717e-04, 9.92782596e-01, 9.52011630e-01,
       9.99678094e-01, 1.47821717e-04, 9.71447679e-01, 9.92782596e-01,
       3.70126609e-02, 9.41727708e-03, 1.94361833e-02, 2.26362374e-03,
       2.26362374e-03, 8.07516572e-02, 8.07516572e-02, 1.47821717e-04,
       1.94361833e-02, 5.23702608e-03, 2.92724982e-02, 2.26199276e-02,
       1.47821717e-04, 1.94361833e-02, 9.92782596e-01, 9.92782596e-01,
       1.83134840e-06, 9.92782596e-01, 9.98699835e-01, 3.70126609e-02,
       1.47821717e-04, 9.92782596e-01, 9.92782596e-01, 9.92782596e-01,
       9.57386245e-01, 1.47821717e-04, 9.92782596e-01, 1.94361833e-02,
       1.94361833e-02, 1.94361833e-02, 8.07516572e-02, 9.52011630e-01,
       9.99678094e-01, 9.99678094e-01, 9.99678094e-01, 9.98699835e-01,
       1.83134840e-06, 1.47821717e-04, 9.99678094e-01, 9.98699835e-01,
       9.92782596e-01, 3.70126609e-02, 1.47821717e-04, 1.94361833e-02,
       9.99678094e-01, 2.26199276e-02, 9.57386245e-01, 9.57386245e-01,
       1.25507123e-01, 1.25507123e-01, 1.94361833e-02, 9.98699835e-01,
       1.47821717e-04, 1.94361833e-02, 2.26362374e-03, 1.94361833e-02,
       2.26199276e-02, 1.47821717e-04, 1.47821717e-04, 8.07516572e-02,
       9.52011630e-01, 2.92724982e-02, 2.92724982e-02, 5.92688266e-01,
       9.92782596e-01, 9.92782596e-01, 1.25507123e-01, 9.92782596e-01,
       9.71447679e-01, 9.92782596e-01, 9.92782596e-01, 9.92782596e-01,
       9.71447679e-01, 9.52011630e-01, 9.99678094e-01, 9.99678094e-01,
       9.52011630e-01, 5.92688266e-01, 9.99678094e-01, 1.47821717e-04,
       3.70126609e-02, 2.26199276e-02, 9.57386245e-01, 9.92782596e-01,
       9.92782596e-01, 3.70126609e-02, 2.92724982e-02, 1.47821717e-04,
       2.92724982e-02, 2.92724982e-02, 2.26199276e-02, 1.25507123e-01,
       9.57386245e-01, 9.57386245e-01, 9.57386245e-01, 9.57386245e-01,
       9.57386245e-01, 9.57386245e-01, 1.94361833e-02, 9.99678094e-01,
       9.98699835e-01, 9.57386245e-01, 1.83134840e-06, 2.26199276e-02,
       1.94361833e-02, 8.07516572e-02, 2.26362374e-03, 1.25507123e-01,
       9.57386245e-01, 1.25507123e-01, 9.57386245e-01, 2.26362374e-03,
       8.07516572e-02, 1.94361833e-02, 1.94361833e-02, 9.99678094e-01,
       9.98699835e-01, 8.07516572e-02, 2.92724982e-02, 2.92724982e-02,
       2.92724982e-02, 3.70126609e-02, 3.70126609e-02, 9.98699835e-01,
       3.70126609e-02, 9.41727708e-03, 9.41727708e-03, 2.26362374e-03,
       2.26199276e-02, 1.47821717e-04, 5.92688266e-01, 2.92724982e-02,
       5.92688266e-01, 9.92782596e-01, 9.41727708e-03, 2.92724982e-02,
       2.92724982e-02, 2.92724982e-02, 2.92724982e-02, 2.92724982e-02,
       2.92724982e-02, 3.70126609e-02, 2.92724982e-02, 2.92724982e-02,
       2.92724982e-02, 5.92688266e-01, 5.92688266e-01, 5.92688266e-01,
       5.92688266e-01, 2.92724982e-02, 9.98699835e-01, 2.92724982e-02,
       2.92724982e-02, 2.92724982e-02, 2.92724982e-02, 5.92688266e-01,
       9.57386245e-01, 9.41727708e-03, 9.52011630e-01, 1.94361833e-02,
       9.41727708e-03, 1.47821717e-04, 9.57386245e-01, 1.25507123e-01,
       9.57386245e-01, 9.41727708e-03, 1.83134840e-06, 9.92782596e-01,
       9.92782596e-01, 9.99678094e-01, 1.83134840e-06, 9.41727708e-03,
       9.92782596e-01, 1.47821717e-04, 9.41727708e-03, 2.26362374e-03,
       9.99678094e-01, 9.98699835e-01, 2.92724982e-02, 1.47821717e-04,
       9.57386245e-01, 1.47821717e-04, 9.57386245e-01, 9.57386245e-01,
       1.47821717e-04, 1.25507123e-01, 9.92782596e-01, 9.92782596e-01,
       9.71447679e-01, 9.92782596e-01, 9.71447679e-01, 5.23702608e-03,
       2.92724982e-02, 2.26199276e-02, 1.83134840e-06, 9.57386245e-01,
       9.57386245e-01, 3.70126609e-02, 3.70126609e-02, 3.70126609e-02,
       2.26362374e-03, 9.57386245e-01, 9.99678094e-01, 9.99678094e-01,
       9.98699835e-01, 3.70126609e-02, 9.52011630e-01, 9.99678094e-01,
       9.99678094e-01, 2.26362374e-03, 3.70126609e-02, 3.70126609e-02,
       3.70126609e-02, 1.47821717e-04, 9.99678094e-01, 9.98699835e-01,
       5.92688266e-01, 5.92688266e-01, 1.47821717e-04, 2.92724982e-02,
       2.92724982e-02, 2.92724982e-02, 2.26362374e-03, 1.47821717e-04,
       1.83134840e-06, 1.47821717e-04, 1.47821717e-04, 2.26199276e-02,
       1.47821717e-04, 9.92782596e-01, 2.26199276e-02, 1.94361833e-02,
       9.92782596e-01, 9.71447679e-01, 2.26199276e-02, 2.26199276e-02,
       1.47821717e-04, 2.26199276e-02, 5.23702608e-03, 5.23702608e-03,
       9.41727708e-03, 1.47821717e-04, 2.26362374e-03, 9.52011630e-01,
       9.99678094e-01, 9.92782596e-01, 2.26199276e-02, 9.92782596e-01,
       9.92782596e-01, 9.92782596e-01, 9.71447679e-01, 2.26199276e-02,
       2.26199276e-02, 1.47821717e-04, 1.47821717e-04, 1.47821717e-04,
       1.25507123e-01, 9.57386245e-01, 9.57386245e-01, 9.57386245e-01,
       9.57386245e-01, 9.57386245e-01, 9.41727708e-03, 1.47821717e-04,
       3.70126609e-02, 9.57386245e-01, 9.57386245e-01, 9.57386245e-01,
       3.70126609e-02, 1.47821717e-04, 2.26199276e-02, 3.70126609e-02,
       1.83134840e-06, 1.94361833e-02, 9.71447679e-01, 8.07516572e-02,
       2.26199276e-02, 9.52011630e-01, 9.52011630e-01, 9.99678094e-01,
       1.83134840e-06, 2.26199276e-02, 9.57386245e-01, 1.83134840e-06,
       1.47821717e-04, 2.26199276e-02, 8.07516572e-02, 1.94361833e-02,
       1.83134840e-06, 9.71447679e-01, 2.26362374e-03, 9.52011630e-01,
       1.47821717e-04, 2.92724982e-02, 1.25507123e-01, 9.57386245e-01,
       9.57386245e-01, 9.57386245e-01, 2.92724982e-02, 5.92688266e-01,
       5.23702608e-03, 2.92724982e-02, 1.83134840e-06, 3.70126609e-02,
       8.07516572e-02, 9.41727708e-03, 2.26199276e-02, 9.92782596e-01,
       9.92782596e-01, 9.71447679e-01, 9.99678094e-01, 2.26199276e-02,
       1.94361833e-02, 1.25507123e-01, 5.92688266e-01, 5.92688266e-01,
       2.92724982e-02, 2.92724982e-02, 1.94361833e-02, 9.52011630e-01,
       9.57386245e-01, 9.57386245e-01, 2.26199276e-02, 9.57386245e-01,
       9.57386245e-01, 1.83134840e-06, 2.26362374e-03, 8.07516572e-02,
       8.07516572e-02, 1.47821717e-04, 8.07516572e-02, 9.99678094e-01,
       1.94361833e-02, 8.07516572e-02, 2.92724982e-02, 5.92688266e-01,
       5.23702608e-03, 2.92724982e-02, 5.92688266e-01, 2.92724982e-02,
       5.92688266e-01, 5.23702608e-03, 9.92782596e-01, 9.92782596e-01,
       9.92782596e-01, 9.71447679e-01, 1.25507123e-01, 1.25507123e-01,
       9.99678094e-01, 9.98699835e-01, 2.26199276e-02, 5.92688266e-01,
       5.23702608e-03, 2.92724982e-02, 2.92724982e-02, 3.70126609e-02,
       3.70126609e-02, 9.92782596e-01, 9.92782596e-01, 9.92782596e-01,
       9.52011630e-01, 9.99678094e-01, 3.70126609e-02, 3.70126609e-02,
       3.70126609e-02, 9.71447679e-01, 2.92724982e-02, 2.92724982e-02,
       2.92724982e-02, 2.92724982e-02, 9.92782596e-01, 9.71447679e-01,
       2.92724982e-02, 5.92688266e-01, 5.23702608e-03, 9.57386245e-01,
       9.57386245e-01, 9.57386245e-01, 1.25507123e-01, 9.57386245e-01,
       9.57386245e-01, 5.92688266e-01, 5.23702608e-03, 5.92688266e-01,
       2.92724982e-02, 9.41727708e-03, 5.92688266e-01, 2.92724982e-02,
       2.92724982e-02, 5.23702608e-03, 2.92724982e-02, 1.47821717e-04,
       2.92724982e-02, 2.92724982e-02, 5.92688266e-01, 5.23702608e-03,
       2.92724982e-02, 2.92724982e-02, 5.23702608e-03, 5.23702608e-03,
       2.92724982e-02, 2.92724982e-02])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
205,USA,Softball,True,0,2,1,1,8,5
2088,ITA,Softball,False,0,0,0,3,8,0
3904,VEN,Softball,False,0,0,0,1,7,0
4121,AUS,Softball,True,1,1,0,1,8,0
4122,AUS,Softball,True,0,1,0,1,8,0
...,...,...,...,...,...,...,...,...,...
202090,CHN,Softball,False,0,0,8,5,7,1
202240,CHN,Softball,False,0,0,8,5,7,0
202668,CHN,Softball,False,0,0,8,5,7,0
202676,CHN,Softball,False,0,0,8,5,7,1
202677,CHN,Softball,False,1,0,7,4,7,1

In [196]:
Softball_df['Predictions'] = y_pred.tolist()
Softball_final = Softball_df.drop_duplicates(subset=['NOC'], keep='last')
Softball_final = Softball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3040282946.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Softball_final = Softball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Rugby Sevens

In [197]:
Rugby_df = data_df[data_df['Sport'] == "Rugby Sevens"]
Rugby_df = Rugby_df.dropna()

In [198]:
Rugby_dummies = pd.get_dummies(Rugby_df)
Rugby_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_BRA,NOC_CAN,NOC_COL,NOC_ESP,NOC_FJI,NOC_FRA,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
605,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
950,False,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
951,False,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [199]:
x_train = Rugby_dummies.drop(columns=['Medal'])
y_train = Rugby_dummies['Medal']

x_test = Rugby_dummies.drop(columns=['Medal'])
y_test = Rugby_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8361204013377926

In [200]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Rugby_df)

array([0.06256206, 0.11314278, 0.11314278, 0.06256206, 0.96192433,
       0.96192433, 0.0601974 , 0.00710103, 0.72146836, 0.11577059,
       0.06256206, 0.0601974 , 0.06256206, 0.06256206, 0.00710103,
       0.06256206, 0.05308293, 0.70687712, 0.00710103, 0.05308293,
       0.05308293, 0.0601974 , 0.70687712, 0.05308293, 0.95874908,
       0.72146836, 0.00710103, 0.11314278, 0.72146836, 0.0601974 ,
       0.0601974 , 0.0601974 , 0.70687712, 0.70687712, 0.72146836,
       0.96192433, 0.11577059, 0.72146836, 0.00710103, 0.0601974 ,
       0.05308293, 0.0601974 , 0.0601974 , 0.70687712, 0.00710103,
       0.06256206, 0.70687712, 0.70687712, 0.00710103, 0.0601974 ,
       0.00710103, 0.72146836, 0.72335222, 0.70687712, 0.70687712,
       0.72335222, 0.0601974 , 0.70687712, 0.95874908, 0.72335222,
       0.72146836, 0.96192433, 0.0601974 , 0.11314278, 0.70687712,
       0.72335222, 0.05308293, 0.00710103, 0.00710103, 0.05308293,
       0.05308293, 0.0601974 , 0.0601974 , 0.11577059, 0.11577059,
       0.70687712, 0.11577059, 0.70687712, 0.05308293, 0.95874908,
       0.05308293, 0.0601974 , 0.00710103, 0.72146836, 0.70687712,
       0.05308293, 0.70687712, 0.0601974 , 0.70687712, 0.06020067,
       0.0601974 , 0.0601974 , 0.96192433, 0.0601974 , 0.00710103,
       0.11314278, 0.70687712, 0.06020067, 0.06020067, 0.0601974 ,
       0.70687712, 0.05308293, 0.0601974 , 0.0601974 , 0.06020067,
       0.0601974 , 0.06020067, 0.70687712, 0.0601974 , 0.96192433,
       0.05308293, 0.72146836, 0.70687712, 0.11577059, 0.0601974 ,
       0.06256206, 0.70687712, 0.70687712, 0.05308293, 0.00710103,
       0.05308293, 0.0601974 , 0.05308293, 0.70687712, 0.05308293,
       0.72146836, 0.70687712, 0.06020067, 0.06256206, 0.05308293,
       0.70687712, 0.95874908, 0.00710103, 0.06020067, 0.96192433,
       0.96192433, 0.72335222, 0.72335222, 0.06020067, 0.06020067,
       0.0601974 , 0.0601974 , 0.95874908, 0.0601974 , 0.0601974 ,
       0.06020067, 0.72146836, 0.11314278, 0.0601974 , 0.11314278,
       0.0601974 , 0.06256206, 0.95874908, 0.11577059, 0.70687712,
       0.70687712, 0.11314278, 0.0601974 , 0.0601974 , 0.06256206,
       0.72335222, 0.0601974 , 0.06256206, 0.70687712, 0.72146836,
       0.70687712, 0.72146836, 0.0601974 , 0.11314278, 0.70687712,
       0.72146836, 0.06020067, 0.95874908, 0.70687712, 0.11577059,
       0.00710103, 0.11577059, 0.06256206, 0.72335222, 0.72335222,
       0.06020067, 0.72335222, 0.70687712, 0.05308293, 0.72146836,
       0.06256206, 0.06256206, 0.06020067, 0.06256206, 0.06256206,
       0.06256206, 0.70687712, 0.06256206, 0.06256206, 0.06256206,
       0.06256206, 0.06256206, 0.95874908, 0.70687712, 0.0601974 ,
       0.70687712, 0.70687712, 0.05308293, 0.0601974 , 0.0601974 ,
       0.0601974 , 0.70687712, 0.05308293, 0.70687712, 0.70687712,
       0.00710103, 0.11314278, 0.11314278, 0.72335222, 0.72335222,
       0.72335222, 0.06256206, 0.11577059, 0.0601974 , 0.0601974 ,
       0.72146836, 0.72335222, 0.72146836, 0.72146836, 0.11577059,
       0.72335222, 0.11314278, 0.72335222, 0.95874908, 0.11577059,
       0.96192433, 0.06020067, 0.00710103, 0.00710103, 0.00710103,
       0.00710103, 0.00710103, 0.72335222, 0.72146836, 0.00710103,
       0.00710103, 0.11577059, 0.72146836, 0.0601974 , 0.96192433,
       0.00710103, 0.96192433, 0.96192433, 0.06020067, 0.96192433,
       0.70687712, 0.95874908, 0.05308293, 0.06020067, 0.06020067,
       0.72335222, 0.72335222, 0.06020067, 0.72335222, 0.70687712,
       0.00710103, 0.05308293, 0.0601974 , 0.72335222, 0.72335222,
       0.06020067, 0.06020067, 0.70687712, 0.06020067, 0.0601974 ,
       0.0601974 , 0.0601974 , 0.70687712, 0.72335222, 0.06020067,
       0.70687712, 0.72335222, 0.05308293, 0.0601974 , 0.0601974 ,
       0.72335222, 0.0601974 , 0.72335222, 0.70687712, 0.95874908,
       0.72146836, 0.72146836, 0.72146836, 0.70687712, 0.95874908,
       0.70687712, 0.70687712, 0.70687712, 0.72146836, 0.70687712,
       0.05308293, 0.06020067, 0.06020067, 0.06020067])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
605,KEN,Rugby Sevens,False,0,0,0,6,7,0
950,COL,Rugby Sevens,False,0,0,0,2,7,0
951,COL,Rugby Sevens,False,0,0,0,2,7,0
1311,KEN,Rugby Sevens,False,0,0,0,6,7,0
1555,ZAF,Rugby Sevens,True,0,0,0,3,6,0
...,...,...,...,...,...,...,...,...,...
197026,NZL,Rugby Sevens,True,0,1,0,1,8,0
197656,USA,Rugby Sevens,False,0,2,1,1,8,5
198269,JPN,Rugby Sevens,False,0,1,0,0,8,1
198376,JPN,Rugby Sevens,False,0,1,0,0,8,1
199674,JPN,Rugby Sevens,False,0,1,0,0,8,1

In [201]:
Rugby_df['Predictions'] = y_pred.tolist()
Rugby_final = Rugby_df.drop_duplicates(subset=['NOC'], keep='last')
Rugby_final = Rugby_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3353199450.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Rugby_final = Rugby_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [202]:
P = pd.merge(Softball_final, Rugby_final, how='outer', on=['NOC', 'NOC'])
P.rename(columns = {'Predictions_x':'Softball', 'Predictions_y':'Rugby Sevens'}, inplace = True)
P = P.drop(["Sport_x","Sport_y"], 1)
P

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3810029682.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  P = P.drop(["Sport_x","Sport_y"], 1)

    NOC  Softball  Rugby Sevens
0   GRC  0.019436           NaN
1   VEN  0.022620           NaN
2   PRI  0.000148           NaN
3   ITA  0.019436           NaN
4   NLD  0.080752           NaN
5   NZL  0.022620      0.706877
6   USA  0.999678      0.053083
7   AUS  0.971448      0.706877
8   JPN  0.957386      0.060201
9   CAN  0.009417      0.958749
10  CUB  0.000148           NaN
11  CHN  0.029272           NaN
12  KEN       NaN      0.062562
13  COL       NaN      0.113143
14  ARG       NaN      0.115771
15  ZAF       NaN      0.961924
16  BRA       NaN      0.007101
17  FRA       NaN      0.060197
18  ESP       NaN      0.060197
19  FJI       NaN      0.723352
20  GBR       NaN      0.721468

Trampolining

In [203]:
Trampolining_df = data_df[data_df['Sport'] == "Trampolining"]
Trampolining_df = Trampolining_df.dropna()

In [204]:
Trampolining_dummies = pd.get_dummies(Trampolining_df)
Trampolining_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_BLR,NOC_BRA,NOC_CAN,NOC_CHE,NOC_CHN,NOC_CZE,NOC_DEU,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
803,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1099,False,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
2029,False,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [205]:
x_train = Trampolining_dummies.drop(columns=['Medal'])
y_train = Trampolining_dummies['Medal']

x_test = Trampolining_dummies.drop(columns=['Medal'])
y_test = Trampolining_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8552631578947368

In [206]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Trampolining_df)

array([0.22930634, 0.48289323, 0.11769911, 0.43064804, 0.42806883,
       0.24945491, 0.11769911, 0.43064804, 0.24945491, 0.69897815,
       0.69897815, 0.84276467, 0.24945491, 0.17380828, 0.17380828,
       0.4678212 , 0.69704035, 0.3237568 , 0.84276467, 0.84276467,
       0.69897815, 0.69897815, 0.29491311, 0.48289323, 0.48289323,
       0.288032  , 0.288032  , 0.93995686, 0.93613122, 0.86560101,
       0.11769911, 0.26198519, 0.24945491, 0.11769911, 0.3237568 ,
       0.30878735, 0.17380828, 0.15399761, 0.22930634, 0.22930634,
       0.86560101, 0.29491311, 0.1534041 , 0.11769911, 0.32103166,
       0.32103166, 0.32103166, 0.3237568 , 0.3237568 , 0.93995686,
       0.93613122, 0.86560101, 0.15399761, 0.15399761, 0.80329576,
       0.93995686, 0.93613122, 0.07309489, 0.15399761, 0.12586454,
       0.12586454, 0.12586454, 0.24945491, 0.69704035, 0.69704035,
       0.3237568 , 0.3237568 , 0.3237568 , 0.3237568 , 0.43064804,
       0.43064804, 0.43064804, 0.43064804, 0.43064804, 0.32103166,
       0.32103166, 0.07309489, 0.3574967 , 0.24945491, 0.24945491,
       0.12586454, 0.86560101, 0.93995686, 0.93613122, 0.69897815,
       0.69897815, 0.84276467, 0.17380828, 0.17380828, 0.08352555,
       0.24945491, 0.22930634, 0.3237568 , 0.24945491, 0.69704035,
       0.69704035, 0.3574967 , 0.4678212 , 0.3574967 , 0.80329576,
       0.15399761, 0.15399761, 0.15399761, 0.4678212 , 0.3574967 ,
       0.3574967 , 0.24945491, 0.23543105, 0.23543105, 0.3237568 ,
       0.17380828, 0.08352555, 0.24945491, 0.3237568 , 0.3237568 ,
       0.3237568 , 0.3237568 , 0.3237568 , 0.3237568 , 0.17380828,
       0.43064804, 0.22930634, 0.22930634, 0.22930634, 0.84276467,
       0.69704035, 0.3237568 , 0.24945491, 0.48289323, 0.24945491,
       0.15399761, 0.48289323, 0.288032  , 0.288032  , 0.4678212 ,
       0.84276467, 0.84276467, 0.15399761, 0.07309489, 0.3237568 ,
       0.3237568 , 0.3237568 , 0.3237568 , 0.17380828, 0.24945491,
       0.11769911, 0.3237568 , 0.30878735, 0.17380828, 0.1534041 ,
       0.12586454, 0.3237568 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
803,PRT,Trampolining,False,0,0,0,3,8,0
1099,DEU,Trampolining,False,0,1,0,2,8,1
2029,USA,Trampolining,False,0,2,1,1,8,5
3963,KAZ,Trampolining,False,0,0,0,4,7,0
5722,BRA,Trampolining,False,1,0,1,1,7,0
...,...,...,...,...,...,...,...,...,...
192188,AUS,Trampolining,True,1,1,0,1,8,0
195202,CHE,Trampolining,False,0,1,0,2,8,0
195374,AUS,Trampolining,False,0,2,0,1,8,0
197277,GBR,Trampolining,False,0,2,0,1,8,1
200348,RUS,Trampolining,False,0,0,0,2,7,0

In [207]:
Trampolining_df['Predictions'] = y_pred.tolist()
Trampolining_final = Trampolining_df.drop_duplicates(subset=['NOC'], keep='last')
Trampolining_final = Trampolining_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/458389408.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Trampolining_final = Trampolining_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Golf

In [208]:
Golf_df = data_df[data_df['Sport'] == "Golf"]
Golf_df = Golf_df.dropna()

In [209]:
Golf_dummies = pd.get_dummies(Golf_df)
Golf_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGD,NOC_BRA,NOC_CAN,NOC_CHE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
1755,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
5152,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
6701,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [210]:
x_train = Golf_dummies.drop(columns=['Medal'])
y_train = Golf_dummies['Medal']

x_test = Golf_dummies.drop(columns=['Medal'])
y_test = Golf_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9491525423728814

In [211]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Golf_df)

array([0.07933427, 0.70852232, 0.0338644 , 0.14227002, 0.07933427,
       0.07933427, 0.19737095, 0.19737095, 0.19737095, 0.17445496,
       0.14227002, 0.0338644 , 0.70852232, 0.19737095, 0.07933427,
       0.32126957, 0.19737095, 0.65331279, 0.74050963, 0.81139127,
       0.07933427, 0.17445496, 0.19737095, 0.07933427, 0.07933427,
       0.0338644 , 0.0338644 , 0.07933427, 0.0338644 , 0.07933427,
       0.19737095, 0.07933427, 0.19737095, 0.77392438, 0.19737095,
       0.17445496, 0.19737095, 0.07933427, 0.0338644 , 0.0338644 ,
       0.19737095, 0.17445496, 0.17445496, 0.70852232, 0.19737095,
       0.81139127, 0.19737095, 0.0338644 , 0.74050963, 0.65331279,
       0.14227002, 0.19737095, 0.81139127, 0.07933427, 0.07933427,
       0.74050963, 0.65331279, 0.07933427, 0.65331279, 0.65331279,
       0.77390985, 0.77390985, 0.19737095, 0.19737095, 0.32126957,
       0.65331279, 0.07933427, 0.19737095, 0.07933427, 0.07933427,
       0.17445496, 0.77392438, 0.07933427, 0.07933427, 0.19737095,
       0.32126957, 0.19737095, 0.17445496, 0.77390985, 0.07933427,
       0.19737095, 0.17445496, 0.65331279, 0.70852232, 0.19737095,
       0.0338644 , 0.07933427, 0.74050963, 0.07933427, 0.19737095,
       0.0338644 , 0.74050963, 0.07933427, 0.77392438, 0.07933427,
       0.19737095, 0.07933427, 0.19737095, 0.07933427, 0.77390985,
       0.07933427, 0.0338644 , 0.19737095, 0.0338644 , 0.74050963,
       0.0338644 , 0.07933427, 0.07933427, 0.0338644 , 0.70852232,
       0.74050963, 0.07933427, 0.19737095, 0.77392438, 0.07933427,
       0.65331279, 0.70852232, 0.0338644 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
1755,CHL,Golf,False,0,0,0,0,8,0
5152,KOR,Golf,False,0,1,0,1,8,0
6701,THA,Golf,False,0,0,0,4,7,0
7986,IND,Golf,False,0,0,7,6,7,0
13296,ISR,Golf,False,0,1,0,0,8,0
...,...,...,...,...,...,...,...,...,...
195547,GBR,Golf,False,0,1,0,1,8,0
196704,AUT,Golf,False,0,2,0,3,8,0
197358,CHN,Golf,False,0,0,7,4,8,3
198605,KOR,Golf,False,0,1,0,1,8,0
201209,PRY,Golf,False,0,0,0,3,7,0

In [212]:
Golf_df['Predictions'] = y_pred.tolist()
Golf_final = Golf_df.drop_duplicates(subset=['NOC'], keep='last')
Golf_final = Golf_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/3088466276.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Golf_final = Golf_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [213]:
Q = pd.merge(Trampolining_final, Golf_final, how='outer', on=['NOC', 'NOC'])
Q.rename(columns = {'Predictions_x':'Trampoling', 'Predictions_y':'Golf'}, inplace = True)
Q = Q.drop(["Sport_x","Sport_y"], 1)
Q

C:\Users\14043\AppData\Local\Temp/ipykernel_1700/762997901.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Q = Q.drop(["Sport_x","Sport_y"], 1)

    NOC  Trampoling      Golf
0   KAZ    0.430648       NaN
1   BRA    0.428069  0.321270
2   DZA    0.430648       NaN
3   ITA    0.173808  0.079334
4   DNK    0.125865  0.197371
5   UZB    0.430648       NaN
6   GEO    0.321032       NaN
7   CHN    0.803296  0.653313
8   GRC    0.173808       NaN
9   FRA    0.249455  0.197371
10  BLR    0.323757       NaN
11  SVK    0.430648       NaN
12  PRT    0.229306  0.079334
13  NZL    0.249455  0.811391
14  DEU    0.288032  0.174455
15  UKR    0.467821       NaN
16  CAN    0.842765  0.197371
17  JPN    0.073095  0.174455
18  CZE    0.323757  0.079334
19  NLD    0.249455  0.079334
20  USA    0.117699  0.740510
21  CHE    0.173808  0.079334
22  AUS    0.153404  0.079334
23  GBR    0.125865  0.773924
24  RUS    0.323757  0.033864
25  CHL         NaN  0.079334
26  ISR         NaN  0.079334
27  ARG         NaN  0.079334
28  MAR         NaN  0.033864
29  IND         NaN  0.142270
30  MEX         NaN  0.197371
31  ESP         NaN  0.197371
32  THA         NaN  0.033864
33  BEL         NaN  0.079334
34  IRL         NaN  0.079334
35  BGD         NaN  0.033864
36  NOR         NaN  0.197371
37  SWE         NaN  0.773910
38  PHL         NaN  0.033864
39  MYS         NaN  0.033864
40  COL         NaN  0.033864
41  ZAF         NaN  0.079334
42  FIN         NaN  0.197371
43  AUT         NaN  0.079334
44  KOR         NaN  0.708522
45  PRY         NaN  0.033864

In [214]:
First = pd.merge(A, B, how='outer', on=['NOC', 'NOC'])
First

     NOC  Athletics  Swimming  Gymnastics   Cycling
0    OMN   0.056710  0.035608         NaN  0.082364
1    PLW   0.142405  0.035608         NaN       NaN
2    SOM   0.039474       NaN         NaN       NaN
3    AGO   0.039474  0.006516         NaN       NaN
4    BDI   0.394120  0.007109         NaN       NaN
..   ...        ...       ...         ...       ...
182  DEU   0.464116  0.635384    0.302244  0.766613
183  NLD   0.186889  0.642624    0.258100  0.579867
184  USA   0.858066  0.964731    0.631431  0.008193
185  KAZ   0.268219  0.073415    0.017179  0.389322
186  RUS   0.735717  0.499291    0.786953  0.543098

[187 rows x 5 columns]

In [215]:
Second = pd.merge(C, D, how='outer', on=['NOC', 'NOC'])
Second

     NOC    Rowing  Shooting   Fencing  Canoeing
0    KWT  0.192253  0.534172  0.031138       NaN
1    TGO  0.008707       NaN       NaN  0.689700
2    HND  0.091612  0.190861  0.043265       NaN
3    TTO  0.187417  0.145890       NaN       NaN
4    CMR  0.103862       NaN       NaN       NaN
..   ...       ...       ...       ...       ...
136  ATG       NaN       NaN       NaN  0.030549
137  SYC       NaN       NaN       NaN  0.106965
138  MOZ       NaN       NaN       NaN  0.023624
139  GUM       NaN       NaN       NaN  0.310492
140  STP       NaN       NaN       NaN  0.317249

[141 rows x 5 columns]

In [216]:
Third = pd.merge(E, F, how='outer', on=['NOC', 'NOC'])
Third

     NOC  Wrestling  Football    Boxing  Equestrianism
0    YEM   0.024006       NaN       NaN            NaN
1    CHL   0.196641  0.892639  0.094670       0.008916
2    BHR   0.298727       NaN       NaN            NaN
3    LBN   0.165723       NaN  0.274829            NaN
4    CIV   0.050638  0.000010  0.084550            NaN
..   ...        ...       ...       ...            ...
158  ETH        NaN       NaN  0.133535            NaN
159  TON        NaN       NaN  0.257779            NaN
160  JAM        NaN       NaN  0.061544       0.112318
161  PNG        NaN       NaN  0.096735            NaN
162  SYC        NaN       NaN  0.123824            NaN

[163 rows x 5 columns]

In [217]:
Fourth = pd.merge(G, H, how='outer', on=['NOC', 'NOC'])
Fourth

     NOC      Judo  Basketball  Handball  Volleyball
0    GUM  0.133986         NaN       NaN         NaN
1    TGO  0.068382         NaN       NaN         NaN
2    NIC  0.180143         NaN       NaN         NaN
3    TTO  0.180143         NaN       NaN         NaN
4    BEN  0.068382         NaN       NaN         NaN
..   ...       ...         ...       ...         ...
152  HUN  0.430885         NaN  0.574258         NaN
153  CHL  0.174665         NaN       NaN         NaN
154  CAN  0.194549    0.002093  0.014495    0.018650
155  GEO  0.579907         NaN       NaN         NaN
156  NLD  0.643769         NaN  0.039963    0.426139

[157 rows x 5 columns]

In [218]:
Fifth = pd.merge(I, J, how='outer', on=['NOC', 'NOC'])
Fifth

     NOC  Weightlifting  Water Polo   Archery    Diving
0    SAU       0.199698         NaN  0.011219       NaN
1    GHA       0.055781         NaN       NaN       NaN
2    ZWE       0.018348         NaN  0.026757  0.025323
3    SLE       0.060120         NaN       NaN       NaN
4    LBN       0.199698         NaN       NaN       NaN
..   ...            ...         ...       ...       ...
133  LAO            NaN         NaN  0.026757       NaN
134  CAF            NaN         NaN  0.050498       NaN
135  HKG            NaN         NaN  0.157136  0.033819
136  BTN            NaN         NaN  0.050498       NaN
137  BHS            NaN         NaN       NaN  0.043897

[138 rows x 5 columns]

In [219]:
Sixth = pd.merge(K, L, how='outer', on=['NOC', 'NOC'])
Sixth

     NOC    Tennis  Table Tennis  Badminton  Modern Pentathlon
0    MDA  0.168556           NaN        NaN                NaN
1    SLV  0.042128           NaN        NaN                NaN
2    LTU  0.042128      0.006639   0.001491           0.790233
3    TUR  0.117699      0.006639   0.033898           0.111344
4    BOL  0.030831           NaN        NaN                NaN
..   ...       ...           ...        ...                ...
116  LKA       NaN           NaN   0.063613                NaN
117  GTM       NaN           NaN   0.042543           0.070224
118  BRN       NaN           NaN   0.016013                NaN
119  BHR       NaN           NaN        NaN           0.153452
120  KGZ       NaN           NaN        NaN           0.166424

[121 rows x 5 columns]

In [220]:
Seventh = pd.merge(M, N, how='outer', on=['NOC', 'NOC'])
Seventh

     NOC  Sychronized Swimming  Baseball  Rhythmic Gymnastics  Taekwondo
0    COL              0.020026       NaN                  NaN   0.391372
1    SWE              0.031136       NaN             0.136182   0.175473
2    SVK              0.020026       NaN                  NaN        NaN
3    FIN              0.031136       NaN             0.076925   0.255469
4    HUN              0.017297       NaN             0.072178   0.233055
..   ...                   ...       ...                  ...        ...
105  THA                   NaN       NaN                  NaN   0.667139
106  ARM                   NaN       NaN                  NaN   0.233055
107  GTM                   NaN       NaN                  NaN   0.293212
108  MAR                   NaN       NaN                  NaN   0.112251
109  HRV                   NaN       NaN                  NaN   0.580629

[110 rows x 5 columns]

In [221]:
Eighth = pd.merge(O, P, how='outer', on=['NOC', 'NOC'])
Eighth

    NOC  Beach Volleyball  Triathlon  Softball  Rugby Sevens
0   TUN          0.027404        NaN       NaN           NaN
1   CRI          0.072555   0.023700       NaN           NaN
2   AGO          0.002971        NaN       NaN           NaN
3   CHL          0.083075   0.033364       NaN           NaN
4   NZL          0.040324   0.069118  0.022620      0.706877
5   EGY          0.002971        NaN       NaN           NaN
6   GBR          0.062799   0.857441       NaN      0.721468
7   PRI          0.083075        NaN  0.000148           NaN
8   SWE          0.044588   0.788051       NaN           NaN
9   POL          0.027404   0.023700       NaN           NaN
10  FRA          0.079942   0.144155       NaN      0.060197
11  MUS          0.002971   0.037676       NaN           NaN
12  CUB          0.072555        NaN  0.000148           NaN
13  GEO          0.040324        NaN       NaN           NaN
14  PRT          0.040324   0.088513       NaN           NaN
15  LVA          0.604058        NaN       NaN           NaN
16  AUT          0.030345   0.466133       NaN           NaN
17  CZE          0.072555   0.448659       NaN           NaN
18  JPN          0.031766   0.009753  0.957386      0.060201
19  NOR          0.064412   0.438843       NaN           NaN
20  GRC          0.079942   0.246687  0.019436           NaN
21  ITA          0.197023   0.107298  0.019436           NaN
22  CAN          0.257586   0.580317  0.009417      0.958749
23  BEL          0.114648   0.051030       NaN           NaN
24  NLD          0.368930   0.088852  0.080752           NaN
25  EST          0.072555   0.023700       NaN           NaN
26  VEN          0.040324   0.118950  0.022620           NaN
27  MEX          0.040324   0.037676       NaN           NaN
28  DEU          0.485091   0.602799       NaN           NaN
29  ZAF          0.027404   0.254779       NaN      0.961924
30  BGR          0.072555        NaN       NaN           NaN
31  RUS          0.072555   0.037676       NaN           NaN
32  USA          0.767346   0.530353  0.999678      0.053083
33  QAT          0.114648        NaN       NaN           NaN
34  IDN          0.187506        NaN       NaN           NaN
35  ESP          0.418065   0.530353       NaN      0.060197
36  AUS          0.486880   0.816412  0.971448      0.706877
37  BRA          0.865388   0.094196       NaN      0.007101
38  CHN          0.419829   0.037676  0.029272           NaN
39  ARG          0.083075   0.002101       NaN      0.115771
40  CHE          0.091618   0.757410       NaN           NaN
41  ECU               NaN   0.023700       NaN           NaN
42  ISR               NaN   0.064441       NaN           NaN
43  JOR               NaN   0.118950       NaN           NaN
44  KOR               NaN   0.530353       NaN           NaN
45  ZWE               NaN   0.037676       NaN           NaN
46  LUX               NaN   0.468538       NaN           NaN
47  IRL               NaN   0.376789       NaN           NaN
48  AZE               NaN   0.037676       NaN           NaN
49  COL               NaN   0.037676       NaN      0.113143
50  DNK               NaN   0.254938       NaN           NaN
51  KAZ               NaN   0.140698       NaN           NaN
52  SVN               NaN   0.246687       NaN           NaN
53  HUN               NaN   0.037676       NaN           NaN
54  SVK               NaN   0.009910       NaN           NaN
55  BRB               NaN   0.037676       NaN           NaN
56  JAM               NaN   0.037676       NaN           NaN
57  UKR               NaN   0.037676       NaN           NaN
58  KEN               NaN        NaN       NaN      0.062562
59  FJI               NaN        NaN       NaN      0.723352

In [222]:
A = pd.merge(First, Second, how='outer', on=['NOC', 'NOC'])
A

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing
0,OMN,0.056710,0.035608,NaN,0.082364,NaN,0.086522,NaN,NaN
1,PLW,0.142405,0.035608,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039474,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039474,0.006516,NaN,NaN,0.008707,0.007468,NaN,0.160373
4,BDI,0.394120,0.007109,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
183,NLD,0.186889,0.642624,0.258100,0.579867,0.589525,0.192910,0.256265,0.336485
184,USA,0.858066,0.964731,0.631431,0.008193,0.404299,0.775181,0.214388,0.330411
185,KAZ,0.268219,0.073415,0.017179,0.389322,0.091612,0.412283,0.008770,0.027573
186,RUS,0.735717,0.499291,0.786953,0.543098,0.382792,0.875006,0.838182,0.586206
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095232,NaN,NaN

In [223]:
B = pd.merge(Third, Fourth, how = 'outer', on=['NOC','NOC'])
B

,NOC,Wrestling,Football,Boxing,Equestrianism,Judo,Basketball,Handball,Volleyball
0,YEM,0.024006,NaN,NaN,NaN,0.002548,NaN,NaN,NaN
1,CHL,0.196641,0.892639,0.094670,0.008916,0.174665,NaN,NaN,NaN
2,BHR,0.298727,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LBN,0.165723,NaN,0.274829,NaN,0.172860,NaN,NaN,NaN
4,CIV,0.050638,0.000010,0.084550,NaN,0.035572,NaN,0.009617,NaN
...,...,...,...,...,...,...,...,...,...
169,ISL,NaN,NaN,NaN,NaN,0.236401,NaN,0.478225,NaN
170,RWA,NaN,NaN,NaN,NaN,0.048661,NaN,NaN,NaN
171,ABW,NaN,NaN,NaN,NaN,0.180143,NaN,NaN,NaN
172,MMR,NaN,NaN,NaN,NaN,0.079584,NaN,NaN,NaN
173,SVN,NaN,NaN,NaN,NaN,0.577847,NaN,0.023644,NaN

In [224]:
C = pd.merge(Fifth, Sixth, how = 'outer', on=['NOC','NOC'])
C

,NOC,Weightlifting,Water Polo,Archery,Diving,Tennis,Table Tennis,Badminton,Modern Pentathlon
0,SAU,0.199698,NaN,0.011219,NaN,NaN,0.006639,NaN,NaN
1,GHA,0.055781,NaN,NaN,NaN,NaN,0.007042,NaN,NaN
2,ZWE,0.018348,NaN,0.026757,0.025323,0.030289,NaN,NaN,NaN
3,SLE,0.060120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LBN,0.199698,NaN,NaN,NaN,NaN,0.002925,NaN,NaN
...,...,...,...,...,...,...,...,...,...
148,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,0.055189,NaN
149,MDV,NaN,NaN,NaN,NaN,NaN,NaN,0.055189,NaN
150,SUR,NaN,NaN,NaN,NaN,NaN,NaN,0.001491,NaN
151,BRN,NaN,NaN,NaN,NaN,NaN,NaN,0.016013,NaN
152,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.153452

In [225]:
D = pd.merge(Seventh, Eighth, how = 'outer', on=['NOC','NOC'])
D

,NOC,Sychronized Swimming,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens
0,COL,0.020026,NaN,NaN,0.391372,NaN,0.037676,NaN,0.113143
1,SWE,0.031136,NaN,0.136182,0.175473,0.044588,0.788051,NaN,NaN
2,SVK,0.020026,NaN,NaN,NaN,NaN,0.009910,NaN,NaN
3,FIN,0.031136,NaN,0.076925,0.255469,NaN,NaN,NaN,NaN
4,HUN,0.017297,NaN,0.072178,0.233055,NaN,0.037676,NaN,NaN
...,...,...,...,...,...,...,...,...,...
113,ZWE,NaN,NaN,NaN,NaN,NaN,0.037676,NaN,NaN
114,LUX,NaN,NaN,NaN,NaN,NaN,0.468538,NaN,NaN
115,IRL,NaN,NaN,NaN,NaN,NaN,0.376789,NaN,NaN
116,BRB,NaN,NaN,NaN,NaN,NaN,0.037676,NaN,NaN
117,FJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.723352

In [227]:
First = pd.merge(A, B, how = 'outer', on=['NOC','NOC'])
First

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing,Wrestling,Football,Boxing,Equestrianism,Judo,Basketball,Handball,Volleyball
0,OMN,0.056710,0.035608,NaN,0.082364,NaN,0.086522,NaN,NaN,NaN,NaN,0.270712,NaN,NaN,NaN,NaN,NaN
1,PLW,0.142405,0.035608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039474,0.006516,NaN,NaN,0.008707,0.007468,NaN,0.160373,NaN,NaN,0.063665,NaN,0.060366,0.012225,0.022974,NaN
4,BDI,0.394120,0.007109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.061310,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NLD,0.186889,0.642624,0.258100,0.579867,0.589525,0.192910,0.256265,0.336485,0.334028,0.103058,0.551324,0.484646,0.643769,NaN,0.039963,0.426139
184,USA,0.858066,0.964731,0.631431,0.008193,0.404299,0.775181,0.214388,0.330411,0.767259,0.018143,0.793294,0.819421,0.538368,0.986471,0.000240,0.519972
185,KAZ,0.268219,0.073415,0.017179,0.389322,0.091612,0.412283,0.008770,0.027573,0.712701,NaN,0.800936,NaN,0.297569,NaN,0.027414,0.124548
186,RUS,0.735717,0.499291,0.786953,0.543098,0.382792,0.875006,0.838182,0.586206,0.924468,NaN,0.843051,0.104262,0.694135,0.880470,0.804584,0.738512
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
Second = pd.merge(C, D, how = 'outer', on=['NOC','NOC'])
Second

,NOC,Weightlifting,Water Polo,Archery,Diving,Tennis,Table Tennis,Badminton,Modern Pentathlon,Sychronized Swimming,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens
0,SAU,0.199698,NaN,0.011219,NaN,NaN,0.006639,NaN,NaN,NaN,NaN,NaN,0.406888,NaN,NaN,NaN,NaN
1,GHA,0.055781,NaN,NaN,NaN,NaN,0.007042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZWE,0.018348,NaN,0.026757,0.025323,0.030289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037676,NaN,NaN
3,SLE,0.060120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LBN,0.199698,NaN,NaN,NaN,NaN,0.002925,NaN,NaN,NaN,NaN,NaN,0.272043,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,GAB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.406888,NaN,NaN,NaN,NaN
160,KHM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.233055,NaN,NaN,NaN,NaN
161,GRD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.157718,NaN,NaN,NaN,NaN
162,LSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.233055,NaN,NaN,NaN,NaN
163,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002971,NaN,NaN,NaN

In [229]:
A = pd.merge(First, Second, how = 'outer', on=['NOC','NOC'])
A

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing,Wrestling,...,Badminton,Modern Pentathlon,Sychronized Swimming,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens
0,OMN,0.056710,0.035608,NaN,0.082364,NaN,0.086522,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PLW,0.142405,0.035608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039474,0.006516,NaN,NaN,0.008707,0.007468,NaN,0.160373,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.002971,NaN,NaN,NaN
4,BDI,0.394120,0.007109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NLD,0.186889,0.642624,0.258100,0.579867,0.589525,0.192910,0.256265,0.336485,0.334028,...,0.226756,0.166424,0.048325,0.025424,NaN,0.263080,0.368930,0.088852,0.080752,NaN
184,USA,0.858066,0.964731,0.631431,0.008193,0.404299,0.775181,0.214388,0.330411,0.767259,...,0.038650,0.472313,0.772863,0.968662,0.035280,0.765530,0.767346,0.530353,0.999678,0.053083
185,KAZ,0.268219,0.073415,0.017179,0.389322,0.091612,0.412283,0.008770,0.027573,0.712701,...,NaN,0.490180,0.020026,NaN,0.072178,0.293212,NaN,0.140698,NaN,NaN
186,RUS,0.735717,0.499291,0.786953,0.543098,0.382792,0.875006,0.838182,0.586206,0.924468,...,0.274320,0.849728,0.456980,NaN,0.980291,0.566208,0.072555,0.037676,NaN,NaN
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095232,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [230]:
Final = pd.merge(A, Q, how = 'outer', on=['NOC','NOC'])
Final

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing,Wrestling,...,Sychronized Swimming,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens,Trampoling,Golf
0,OMN,0.056710,0.035608,NaN,0.082364,NaN,0.086522,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PLW,0.142405,0.035608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039474,0.006516,NaN,NaN,0.008707,0.007468,NaN,0.160373,NaN,...,NaN,NaN,NaN,NaN,0.002971,NaN,NaN,NaN,NaN,NaN
4,BDI,0.394120,0.007109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NLD,0.186889,0.642624,0.258100,0.579867,0.589525,0.192910,0.256265,0.336485,0.334028,...,0.048325,0.025424,NaN,0.263080,0.368930,0.088852,0.080752,NaN,0.249455,0.079334
184,USA,0.858066,0.964731,0.631431,0.008193,0.404299,0.775181,0.214388,0.330411,0.767259,...,0.772863,0.968662,0.035280,0.765530,0.767346,0.530353,0.999678,0.053083,0.117699,0.740510
185,KAZ,0.268219,0.073415,0.017179,0.389322,0.091612,0.412283,0.008770,0.027573,0.712701,...,0.020026,NaN,0.072178,0.293212,NaN,0.140698,NaN,NaN,0.430648,NaN
186,RUS,0.735717,0.499291,0.786953,0.543098,0.382792,0.875006,0.838182,0.586206,0.924468,...,0.456980,NaN,0.980291,0.566208,0.072555,0.037676,NaN,NaN,0.323757,0.033864
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095232,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
Final.to_csv(r'archive\countryPredictions.csv', index = False)