In [244]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import pandas as pd
import tensorflow as tf
import numpy as np


#  Import and read the data.csv.
import pandas as pd 
data_df = pd.read_csv("archive/data.csv")
#data_df.head()

In [245]:
#Drop unnecessary columns
data_df = data_df.drop(["Unnamed: 0","Unnamed: 0.1", "ID", "Name", "Sex", "Age", "Height", "Weight","Event", "Team", "Games","Year","City", "Nat_Pop", "GDP"], 1)

#data_df = data_df.drop(["GDP_Per_Cap"], 1)
data_df = data_df[data_df.GDP_Per_Cap != '#DIV/0!']

#Rename Global_Pop% and Rural_Pop% to make it easier to call in future
data_df.rename(columns = {'Global_Pop%':'Global_Pop_Perc'}, inplace = True)
data_df.rename(columns = {'Rural_Pop%':'Rural_Pop_Perc'}, inplace = True)
data_df.rename(columns = {'Global_GDP%':'Global_GDP_Perc'}, inplace = True)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/939271320.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Unnamed: 0","Unnamed: 0.1", "ID", "Name", "Sex", "Age", "Height", "Weight","Event", "Team", "Games","Year","City", "Nat_Pop", "GDP"], 1)

In [246]:
#Filter out season data to just summer
data_df = data_df[data_df["Season"].str.contains("Winter") == False]

In [247]:
#Turn Medal Values into Boolean
data_df.fillna(value = False,
          inplace = True)

#Drop Season since no longer needed after filtering
data_df = data_df.drop(["Season"],1)
data_df.head()

data_df.to_csv(r'archive\countryData.csv', index = False)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3429533325.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Season"],1)

In [5]:
#Replace medal values to true to finish boolean
data_df = data_df.replace({"Gold" : True})
data_df = data_df.replace({"Silver" : True})
data_df = data_df.replace({"Bronze" : True})

In [6]:
#Begin binning data to make it easier to get dummies
#Find min and max of data types to create bins
data_df['Global_Pop_Perc'] = data_df['Global_Pop_Perc'].astype(float, errors = 'raise')

min_value = data_df['Global_Pop_Perc'].min()
max_value = data_df['Global_Pop_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

names = ["0","1","2","3","4","5","6","7","8"]
print(bins)
print (names)

1.45e-06
0.224549844
[1.45000000e-06 2.49512716e-02 4.99010931e-02 7.48509147e-02
 9.98007362e-02 1.24750558e-01 1.49700379e-01 1.74650201e-01
 1.99600022e-01 2.24549844e-01]
['0', '1', '2', '3', '4', '5', '6', '7', '8']

In [7]:
data_df["Global_Pop_Bin"] = pd.cut(data_df["Global_Pop_Perc"], bins, labels=names)
data_df

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,GDP_Per_Cap,Global_GDP_Perc,Global_Pop_Bin
0,CHN,Basketball,False,0,0.213515,71.8,69.587,366.5330438,0.016811,8
1,CHN,Judo,False,0,0.190308,48.111,75.602,6337.478113,0.114286,7
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,24342.1392,0.00375,0
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,24342.1392,0.00375,0
50,NOR,Handball,True,0,0.000705,21.474,80.592683,97101.38727,0.007291,0
...,...,...,...,...,...,...,...,...,...,...
204023,ARG,Hockey,False,0,0.006017,10.101,74.603,4260.406805,0.003767,0
204024,USA,Football,False,0,0.054676,26.377,71.156098,6098.258185,0.339523,2
204025,RUS,Rowing,False,0,0.023961,26.65,65.483659,1773.575078,0.007738,0
204026,RUS,Rowing,False,0,0.022383,26.582,65.470976,4102.25644,0.013493,0
204027,BLR,Basketball,False,0,0.001277,22.954,73.826829,4986.496177,0.000625,0

In [8]:
data_df['GDP_Per_Cap'] = data_df['GDP_Per_Cap'].astype(float, errors = 'raise')

min_value = data_df['GDP_Per_Cap'].min()
max_value = data_df['GDP_Per_Cap'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

0.0
192989.1895

In [9]:
data_df["GDP_Per_Cap"] = pd.cut(data_df["GDP_Per_Cap"], bins, labels=names)

In [10]:
data_df['Rural_Pop_Perc'] = data_df['Rural_Pop_Perc'].astype(float, errors = 'raise')

min_value = data_df['Rural_Pop_Perc'].min()
max_value = data_df['Rural_Pop_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

0.0
96.305

In [11]:
data_df["Rural_Pop_Bin"] = pd.cut(data_df["Rural_Pop_Perc"], bins, labels=names)

In [12]:
data_df['Life_Expect'] = data_df['Life_Expect'].astype(float, errors = 'raise')

min_value = data_df['Life_Expect'].min()
max_value = data_df['Life_Expect'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

data_df["Life_Expect_Bin"] = pd.cut(data_df["Life_Expect"], bins, labels=names)

0.0
85.41707317

In [13]:
data_df.dtypes

NOC                  object
Sport                object
Medal                  bool
Host                  int64
Global_Pop_Perc     float64
Rural_Pop_Perc      float64
Life_Expect         float64
GDP_Per_Cap        category
Global_GDP_Perc      object
Global_Pop_Bin     category
Rural_Pop_Bin      category
Life_Expect_Bin    category
dtype: object

In [14]:
min_value = data_df['Global_GDP_Perc'].min()
max_value = data_df['Global_GDP_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

names = ["0","1","2","3","4","5","6","7","8"]

data_df["Global_GDP_Perc_Bin"] = pd.cut(data_df["Global_GDP_Perc"], bins, labels=names)

False
0.3963503649635037

In [15]:
data_df = data_df.drop(["Global_Pop_Perc", "Rural_Pop_Perc", "Life_Expect", "Global_GDP_Perc"], 1)
data_df.head()

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/4282354263.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Global_Pop_Perc", "Rural_Pop_Perc", "Life_Expect", "Global_GDP_Perc"], 1)

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
0,CHN,Basketball,False,0,0,8,6,7,0
1,CHN,Judo,False,0,0,7,4,7,2
26,FIN,Badminton,False,0,1,0,1,8,0
29,FIN,Athletics,False,0,1,0,1,8,0
50,NOR,Handball,True,0,4,0,2,8,0

Athletics Logistic Regression

In [16]:
# Creating on the basis of Athlethics
Athletics_df = data_df[data_df['Sport'] == "Athletics"]
Athletics_df = Athletics_df.dropna()
 
print(Athletics_df)

        NOC      Sport  Medal  Host GDP_Per_Cap Global_Pop_Bin Rural_Pop_Bin  \
29      FIN  Athletics  False     0           1              0             1
62      FRA  Athletics  False     0           1              0             1
81      EST  Athletics  False     0           0              0             2
82      EST  Athletics  False     0           0              0             2
91      FRA  Athletics  False     0           0              0             2
...     ...        ...    ...   ...         ...            ...           ...
203977  KAZ  Athletics  False     0           0              0             4
203978  KAZ  Athletics  False     0           0              0             4
203979  KAZ  Athletics  False     0           0              0             4
204019  RUS  Athletics   True     0           0              0             2
204020  RUS  Athletics   True     0           0              0             2

       Life_Expect_Bin Global_GDP_Perc_Bin
29                   8                   0
62                   8                   0
81                   7                   0
82                   7                   0
91                   7                   1
...                ...                 ...
203977               7                   0
203978               7                   0
203979               7                   0
204019               6                   0
204020               6                   0

[24221 rows x 9 columns]

In [17]:
Athletics_dummies = pd.get_dummies(Athletics_df)
Athletics_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_AFG,NOC_AGO,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_ATG,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
29,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
62,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
81,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [18]:
from sklearn.model_selection import train_test_split

# Convert categorical data to numeric and separate target feature for training data
x_train = Athletics_dummies.drop(columns=['Medal'])
y_train = Athletics_dummies['Medal']

# Convert categorical data to numeric and separate target feature for testing data
x_test = Athletics_dummies.drop(columns=['Medal'])
y_test = Athletics_dummies['Medal']

In [19]:
# Train the Logistic Regression model on the unscaled data and print the model score
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9218859667230915

In [20]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Athletics_df)

array([0.45338557, 0.4413611 , 0.38497424, ..., 0.26818918, 0.73571313,
       0.73571313])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
29,FIN,Athletics,False,0,1,0,1,8,0
62,FRA,Athletics,False,0,1,0,1,8,0
81,EST,Athletics,False,0,0,0,2,7,0
82,EST,Athletics,False,0,0,0,2,7,0
91,FRA,Athletics,False,0,0,0,2,7,1
...,...,...,...,...,...,...,...,...,...
203977,KAZ,Athletics,False,0,0,0,4,7,0
203978,KAZ,Athletics,False,0,0,0,4,7,0
203979,KAZ,Athletics,False,0,0,0,4,7,0
204019,RUS,Athletics,True,0,0,0,2,6,0
204020,RUS,Athletics,True,0,0,0,2,6,0

In [21]:
Athletics_df['Predictions'] = y_pred.tolist()

In [22]:
Athletics_final = Athletics_df.drop_duplicates(subset=['NOC'], keep='last')
Athletics_final = Athletics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
Athletics_final

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3032431419.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Athletics_final = Athletics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC      Sport  Predictions
3132    OMN  Athletics     0.056707
93515   PLW  Athletics     0.142536
124976  SOM  Athletics     0.039518
130609  AGO  Athletics     0.039518
130654  BDI  Athletics     0.394044
...     ...        ...          ...
203957  DEU  Athletics     0.464117
203959  NLD  Athletics     0.186885
203968  USA  Athletics     0.858045
203979  KAZ  Athletics     0.268189
204020  RUS  Athletics     0.735713

[187 rows x 3 columns]

In [23]:
# Creating on the basis of Athlethics
Hockey_df = data_df[data_df['Sport'] == "Hockey"]
Hockey_df = Hockey_df.dropna()
 
print(Hockey_df)

        NOC   Sport  Medal  Host GDP_Per_Cap Global_Pop_Bin Rural_Pop_Bin  \
59      NLD  Hockey   True     0           0              0             2
177     PAK  Hockey  False     0           0              0             6
178     PAK  Hockey  False     0           0              0             6
179     PAK  Hockey  False     0           0              1             5
180     MYS  Hockey  False     0           0              0             5
...     ...     ...    ...   ...         ...            ...           ...
203941  DEU  Hockey   True     0           1              0             2
203950  DEU  Hockey   True     0           1              0             2
203958  NLD  Hockey  False     0           0              0             3
204022  ARG  Hockey  False     0           0              0             1
204023  ARG  Hockey  False     0           0              0             0

       Life_Expect_Bin Global_GDP_Perc_Bin
59                   8                   0
177                  6                   0
178                  6                   0
179                  6                   0
180                  7                   0
...                ...                 ...
203941               8                   1
203950               8                   1
203958               7                   0
204022               7                   0
204023               7                   0

[4126 rows x 9 columns]

In [24]:
Hockey_dummies = pd.get_dummies(Hockey_df)
Hockey_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BRA,NOC_CAN,NOC_CHE,NOC_CHN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
59,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
177,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
178,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [25]:
from sklearn.model_selection import train_test_split

# Convert categorical data to numeric and separate target feature for training data
x_train = Hockey_dummies.drop(columns=['Medal'])
y_train = Hockey_dummies['Medal']

# Convert categorical data to numeric and separate target feature for testing data
x_test = Hockey_dummies.drop(columns=['Medal'])
y_test = Hockey_dummies['Medal']

In [26]:
# Train the Logistic Regression model on the unscaled data and print the model score
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8184682501211827

In [27]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Hockey_df)

array([0.94592269, 0.59107638, 0.59107638, ..., 0.32320159, 0.44745707,
       0.65704312])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
59,NLD,Hockey,True,0,0,0,2,8,0
177,PAK,Hockey,False,0,0,0,6,6,0
178,PAK,Hockey,False,0,0,0,6,6,0
179,PAK,Hockey,False,0,0,1,5,6,0
180,MYS,Hockey,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203941,DEU,Hockey,True,0,1,0,2,8,1
203950,DEU,Hockey,True,0,1,0,2,8,1
203958,NLD,Hockey,False,0,0,0,3,7,0
204022,ARG,Hockey,False,0,0,0,1,7,0
204023,ARG,Hockey,False,0,0,0,0,7,0

In [28]:
Hockey_df['Predictions'] = y_pred.tolist()

In [29]:
Hockey_final = Hockey_df.drop_duplicates(subset=['NOC'], keep='last')
Hockey_final = Hockey_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
Hockey_final

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1908904570.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Hockey_final = Hockey_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC   Sport  Predictions
138866  DNK  Hockey     0.123510
166523  HKG  Hockey     0.087183
166601  UGA  Hockey     0.003314
172662  AUT  Hockey     0.005399
178278  EGY  Hockey     0.000377
186867  BRA  Hockey     0.092652
188387  KEN  Hockey     0.000262
188411  CUB  Hockey     0.092632
190055  MEX  Hockey     0.000860
193433  ZWE  Hockey     0.936405
193469  IRL  Hockey     0.001464
196029  ZAF  Hockey     0.000012
196195  FRA  Hockey     0.041855
196467  USA  Hockey     0.002326
197322  NZL  Hockey     0.145210
197628  GBR  Hockey     0.262806
197635  POL  Hockey     0.005399
198037  IND  Hockey     0.029495
199970  CAN  Hockey     0.008863
200458  KOR  Hockey     0.288019
200584  JPN  Hockey     0.006898
200845  MYS  Hockey     0.000254
201029  AUS  Hockey     0.704120
201192  CHE  Hockey     0.092632
201767  BEL  Hockey     0.335352
202656  CHN  Hockey     0.665911
203428  ITA  Hockey     0.021272
203606  PAK  Hockey     0.059412
203760  ESP  Hockey     0.471366
203950  DEU  Hockey     0.834942
203958  NLD  Hockey     0.323202
204023  ARG  Hockey     0.657043

In [239]:
Hockey_final.rename(columns = {'Predictions':'Hockey'}, inplace = True)
Hockey_final = Hockey_final.drop(["Sport"], 1)
Hockey_final

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/4121295266.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Hockey_final = Hockey_final.drop(["Sport"], 1)

        NOC    Hockey
138866  DNK  0.123510
166523  HKG  0.087183
166601  UGA  0.003314
172662  AUT  0.005399
178278  EGY  0.000377
186867  BRA  0.092652
188387  KEN  0.000262
188411  CUB  0.092632
190055  MEX  0.000860
193433  ZWE  0.936405
193469  IRL  0.001464
196029  ZAF  0.000012
196195  FRA  0.041855
196467  USA  0.002326
197322  NZL  0.145210
197628  GBR  0.262806
197635  POL  0.005399
198037  IND  0.029495
199970  CAN  0.008863
200458  KOR  0.288019
200584  JPN  0.006898
200845  MYS  0.000254
201029  AUS  0.704120
201192  CHE  0.092632
201767  BEL  0.335352
202656  CHN  0.665911
203428  ITA  0.021272
203606  PAK  0.059412
203760  ESP  0.471366
203950  DEU  0.834942
203958  NLD  0.323202
204023  ARG  0.657043

##Swimming Logistics Regression

In [30]:
# Creating on the basis of Athlethics
Swimming_df = data_df[data_df['Sport'] == "Swimming"]
Swimming_df = Swimming_df.dropna()
  
print(Swimming_df)

        NOC     Sport  Medal  Host GDP_Per_Cap Global_Pop_Bin Rural_Pop_Bin  \
64      NLD  Swimming  False     0           1              0             2
65      NLD  Swimming  False     0           1              0             2
66      NLD  Swimming  False     0           1              0             2
67      NLD  Swimming  False     0           1              0             2
68      NLD  Swimming  False     0           1              0             2
...     ...       ...    ...   ...         ...            ...           ...
203887  RUS  Swimming  False     0           0              0             2
203888  RUS  Swimming  False     0           0              0             2
203942  NLD  Swimming  False     0           1              0             2
203943  NLD  Swimming  False     0           1              0             2
203944  NLD  Swimming   True     0           1              0             1

       Life_Expect_Bin Global_GDP_Perc_Bin
64                   8                   0
65                   8                   0
66                   8                   0
67                   8                   0
68                   8                   0
...                ...                 ...
203887               7                   0
203888               7                   0
203942               8                   0
203943               8                   0
203944               8                   0

[17638 rows x 9 columns]

In [31]:
Swimming_dummies = pd.get_dummies(Swimming_df)
Swimming_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_AGO,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_ATG,NOC_AUS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
64,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
65,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
66,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [32]:
# Convert categorical data to numeric and separate target feature for training data
x_train = Swimming_dummies.drop(columns=['Medal'])
y_train = Swimming_dummies['Medal']

In [33]:
x_test = Swimming_dummies.drop(columns=['Medal'])
y_test = Swimming_dummies['Medal']

In [34]:
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9132554711418528

In [35]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Swimming_df)

array([0.57590624, 0.57590624, 0.57590624, ..., 0.57590624, 0.57590624,
       0.64263206])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
64,NLD,Swimming,False,0,1,0,2,8,0
65,NLD,Swimming,False,0,1,0,2,8,0
66,NLD,Swimming,False,0,1,0,2,8,0
67,NLD,Swimming,False,0,1,0,2,8,0
68,NLD,Swimming,False,0,1,0,2,8,0
...,...,...,...,...,...,...,...,...,...
203887,RUS,Swimming,False,0,0,0,2,7,0
203888,RUS,Swimming,False,0,0,0,2,7,0
203942,NLD,Swimming,False,0,1,0,2,8,0
203943,NLD,Swimming,False,0,1,0,2,8,0
203944,NLD,Swimming,True,0,1,0,1,8,0

In [36]:
Swimming_df['Predictions'] = y_pred.tolist()

In [37]:
Swimming_final = Swimming_df.drop_duplicates(subset=['NOC'], keep='last')
Swimming_final = Swimming_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2203429247.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Swimming_final = Swimming_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [38]:
A = pd.merge(Athletics_final, Swimming_final, how='outer', on=['NOC', 'NOC'])
A

     NOC    Sport_x  Predictions_x   Sport_y  Predictions_y
0    OMN  Athletics       0.056707  Swimming       0.035696
1    PLW  Athletics       0.142536  Swimming       0.035696
2    SOM  Athletics       0.039518       NaN            NaN
3    AGO  Athletics       0.039518  Swimming       0.006514
4    BDI  Athletics       0.394044  Swimming       0.007105
..   ...        ...            ...       ...            ...
182  DEU  Athletics       0.464117  Swimming       0.635424
183  NLD  Athletics       0.186885  Swimming       0.642632
184  USA  Athletics       0.858045  Swimming       0.964731
185  KAZ  Athletics       0.268189  Swimming       0.073388
186  RUS  Athletics       0.735713  Swimming       0.499230

[187 rows x 5 columns]

In [39]:
A.rename(columns = {'Predictions_x':'Athletics', 'Predictions_y':'Swimming'}, inplace = True)
A = A.drop(["Sport_x","Sport_y"], 1)
A

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2218725990.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  A = A.drop(["Sport_x","Sport_y"], 1)

     NOC  Athletics  Swimming
0    OMN   0.056707  0.035696
1    PLW   0.142536  0.035696
2    SOM   0.039518       NaN
3    AGO   0.039518  0.006514
4    BDI   0.394044  0.007105
..   ...        ...       ...
182  DEU   0.464117  0.635424
183  NLD   0.186885  0.642632
184  USA   0.858045  0.964731
185  KAZ   0.268189  0.073388
186  RUS   0.735713  0.499230

[187 rows x 3 columns]

Gymnastics Logistic Regression

In [40]:
Gymnastics_df = data_df[data_df['Sport'] == "Gymnastics"]
Gymnastics_df = Gymnastics_df.dropna()

In [41]:
Gymnastics_dummies = pd.get_dummies(Gymnastics_df)
Gymnastics_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGD,NOC_BGR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
85,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
86,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
87,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [42]:
# Convert categorical data to numeric and separate target feature for training data
x_train = Gymnastics_dummies.drop(columns=['Medal'])
y_train = Gymnastics_dummies['Medal']

x_test = Gymnastics_dummies.drop(columns=['Medal'])
y_test = Gymnastics_dummies['Medal']

In [43]:
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9492940640655837

In [44]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Gymnastics_df)

array([0.23418772, 0.23418772, 0.23418772, ..., 0.1969869 , 0.1969869 ,
       0.1969869 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
85,ESP,Gymnastics,False,0,1,0,1,8,0
86,ESP,Gymnastics,False,0,1,0,1,8,0
87,ESP,Gymnastics,False,0,1,0,1,8,0
88,ESP,Gymnastics,False,0,1,0,1,8,0
89,ESP,Gymnastics,False,0,1,0,1,8,0
...,...,...,...,...,...,...,...,...,...
203680,ITA,Gymnastics,False,0,0,0,3,7,0
203681,ITA,Gymnastics,False,0,0,0,3,7,0
203682,ITA,Gymnastics,False,0,0,0,3,7,0
203683,ITA,Gymnastics,False,0,0,0,3,7,0
203684,ITA,Gymnastics,False,0,0,0,3,7,0

In [45]:
Gymnastics_df['Predictions'] = y_pred.tolist()

In [46]:
Gymnastics_final = Gymnastics_df.drop_duplicates(subset=['NOC'], keep='last')
Gymnastics_final = Gymnastics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2535500066.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Gymnastics_final = Gymnastics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Cycling Logistic Regression

In [47]:
Cycling_df = data_df[data_df['Sport'] == "Cycling"]
Cycling_df = Cycling_df.dropna()

In [48]:
Cycling_dummies = pd.get_dummies(Cycling_df)
Cycling_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_ATG,NOC_AUS,NOC_AUT,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
131,True,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
132,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
173,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [49]:
# Convert categorical data to numeric and separate target feature for training data
x_train = Cycling_dummies.drop(columns=['Medal'])
y_train = Cycling_dummies['Medal']

In [50]:
x_test = Cycling_dummies.drop(columns=['Medal'])
y_test = Cycling_dummies['Medal']

In [51]:
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9057317427989525

In [52]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Cycling_df)

array([0.5430928 , 0.5430928 , 0.04104892, ..., 0.58116127, 0.58116127,
       0.02388176])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
131,RUS,Cycling,True,0,0,0,2,6,0
132,RUS,Cycling,False,0,0,0,2,6,0
173,EGY,Cycling,False,0,0,0,5,7,0
204,USA,Cycling,False,0,2,1,1,8,5
241,EGY,Cycling,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203743,CHE,Cycling,False,0,2,0,2,8,0
203744,CHE,Cycling,False,0,2,0,2,8,0
203745,CHE,Cycling,False,0,1,0,2,8,0
203746,CHE,Cycling,False,0,1,0,2,8,0
203776,MNG,Cycling,False,0,0,0,4,6,0

In [53]:
Cycling_df['Predictions'] = y_pred.tolist()

In [54]:
Cycling_final = Cycling_df.drop_duplicates(subset=['NOC'], keep='last')
Cycling_final = Cycling_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1199427753.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Cycling_final = Cycling_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [55]:
B = pd.merge(Gymnastics_final, Cycling_final, how='outer', on=['NOC', 'NOC'])
B.rename(columns = {'Predictions_x':'Gymnastics', 'Predictions_y':'Cycling'}, inplace = True)
B = B.drop(["Sport_x","Sport_y"], 1)
B

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/597712745.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  B = B.drop(["Sport_x","Sport_y"], 1)

     NOC  Gymnastics   Cycling
0    YEM    0.018576       NaN
1    PAN    0.017729       NaN
2    TUN    0.021994  0.137490
3    BGD    0.021994       NaN
4    BRB    0.021994  0.003408
..   ...         ...       ...
123  KHM         NaN  0.032305
124  HKG         NaN  0.063619
125  MWI         NaN  0.032305
126  LBN         NaN  0.104375
127  MNG         NaN  0.023882

[128 rows x 3 columns]

Rowing Logistic Regression

In [56]:
Rowing_df = data_df[data_df['Sport'] == "Rowing"]
Rowing_df = Rowing_df.dropna()

In [57]:
Rowing_dummies = pd.get_dummies(Rowing_df)
Rowing_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGR,NOC_BHS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
60,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
61,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
98,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [58]:
# Convert categorical data to numeric and separate target feature for training data
x_train = Rowing_dummies.drop(columns=['Medal'])
y_train = Rowing_dummies['Medal']

x_test = Rowing_dummies.drop(columns=['Medal'])
y_test = Rowing_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7811712846347607

In [59]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Rowing_df)

array([0.5895383 , 0.5895383 , 0.5079932 , ..., 0.5895383 , 0.38240685,
       0.38240685])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
60,NLD,Rowing,True,0,1,0,2,8,0
61,NLD,Rowing,False,0,1,0,2,8,0
98,ITA,Rowing,True,0,1,0,2,8,0
116,ARG,Rowing,False,0,0,0,0,7,0
130,CHL,Rowing,False,0,0,0,1,7,0
...,...,...,...,...,...,...,...,...,...
203971,NLD,Rowing,False,0,0,0,2,8,0
203972,NLD,Rowing,True,0,1,0,2,8,0
203973,NLD,Rowing,True,0,1,0,2,8,0
204025,RUS,Rowing,False,0,0,0,2,6,0
204026,RUS,Rowing,False,0,0,0,2,6,0

In [60]:
Rowing_df['Predictions'] = y_pred.tolist()
Rowing_final = Rowing_df.drop_duplicates(subset=['NOC'], keep='last')
Rowing_final = Rowing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/772740510.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Rowing_final = Rowing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Shooting Logistic Regression

In [61]:
Shooting_df = data_df[data_df['Sport'] == "Shooting"]
Shooting_df = Shooting_df.dropna()

In [62]:
Shooting_dummies = pd.get_dummies(Shooting_df)
Shooting_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
79,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
124,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
137,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [63]:
x_train = Shooting_dummies.drop(columns=['Medal'])
y_train = Shooting_dummies['Medal']

x_test = Shooting_dummies.drop(columns=['Medal'])
y_test = Shooting_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9352194180999839

In [64]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Shooting_df)

array([0.19086406, 0.28390975, 0.28390975, ..., 0.44241896, 0.19086406,
       0.19086406])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
79,NOR,Shooting,False,0,0,0,4,7,0
124,CHL,Shooting,False,0,0,0,1,7,0
137,CHL,Shooting,False,0,0,0,1,7,0
237,EGY,Shooting,False,0,0,0,5,7,0
282,EGY,Shooting,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203765,CHE,Shooting,False,0,2,0,2,8,0
203766,CHE,Shooting,False,0,2,0,2,8,0
203767,CHE,Shooting,False,0,2,0,2,8,0
203948,NOR,Shooting,False,0,0,0,4,7,0
203949,NOR,Shooting,False,0,0,0,4,7,0

In [65]:
Shooting_df['Predictions'] = y_pred.tolist()
Shooting_final = Shooting_df.drop_duplicates(subset=['NOC'], keep='last')
Shooting_final = Shooting_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/4008684553.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Shooting_final = Shooting_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [66]:
C = pd.merge(Rowing_final, Shooting_final, how='outer', on=['NOC', 'NOC'])
C.rename(columns = {'Predictions_x':'Rowing', 'Predictions_y':'Shooting'}, inplace = True)
C = C.drop(["Sport_x","Sport_y"], 1)
C

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2485172735.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  C = C.drop(["Sport_x","Sport_y"], 1)

     NOC    Rowing  Shooting
0    KWT  0.191735  0.534134
1    TGO  0.008697       NaN
2    HND  0.091383  0.190864
3    TTO  0.186799  0.145889
4    CMR  0.103624       NaN
..   ...       ...       ...
125  DOM       NaN  0.109686
126  BHR       NaN  0.216843
127  MAR       NaN  0.000967
128  MDA       NaN  0.646524
129  MNG       NaN  0.402268

[130 rows x 3 columns]

Fencing Logistic Regression

In [67]:
Fencing_df = data_df[data_df['Sport'] == "Fencing"]
Fencing_df = Fencing_df.dropna()
Fencing_df

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
99,ESP,Fencing,True,0,1,0,2,8,0
117,GRC,Fencing,False,0,1,0,2,8,0
141,MEX,Fencing,False,1,0,0,3,6,0
142,MEX,Fencing,False,1,0,0,3,6,0
143,MEX,Fencing,False,1,0,0,3,6,0
...,...,...,...,...,...,...,...,...,...
203312,AUT,Fencing,False,0,0,0,3,7,0
203313,AUT,Fencing,False,0,0,0,3,7,0
203408,CHN,Fencing,False,0,0,8,7,7,0
203409,CHN,Fencing,False,0,0,8,7,7,0
203962,POL,Fencing,False,0,0,0,3,7,0

In [68]:
Fencing_dummies = pd.get_dummies(Fencing_df)
Fencing_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BEN,NOC_BFA,NOC_BGR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
99,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
117,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
141,False,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [69]:
x_train = Fencing_dummies.drop(columns=['Medal'])
y_train = Fencing_dummies['Medal']

x_test = Fencing_dummies.drop(columns=['Medal'])
y_test = Fencing_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8693467336683417

In [70]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Fencing_df)

array([0.0926444 , 0.04414971, 0.05364526, ..., 0.120606  , 0.120606  ,
       0.56247642])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
99,ESP,Fencing,True,0,1,0,2,8,0
117,GRC,Fencing,False,0,1,0,2,8,0
141,MEX,Fencing,False,1,0,0,3,6,0
142,MEX,Fencing,False,1,0,0,3,6,0
143,MEX,Fencing,False,1,0,0,3,6,0
...,...,...,...,...,...,...,...,...,...
203312,AUT,Fencing,False,0,0,0,3,7,0
203313,AUT,Fencing,False,0,0,0,3,7,0
203408,CHN,Fencing,False,0,0,8,7,7,0
203409,CHN,Fencing,False,0,0,8,7,7,0
203962,POL,Fencing,False,0,0,0,3,7,0

In [71]:
Fencing_df['Predictions'] = y_pred.tolist()
Fencing_final = Fencing_df.drop_duplicates(subset=['NOC'], keep='last')
Fencing_final = Fencing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2959214136.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Fencing_final = Fencing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Canoeing Logistic Regression

In [72]:
Canoeing_df = data_df[data_df['Sport'] == "Canoeing"]
Canoeing_df = Canoeing_df.dropna()

In [73]:
Canoeing_dummies = pd.get_dummies(Canoeing_df)
Canoeing_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_ARM,NOC_ATG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
109,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
110,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
111,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [74]:
x_train = Canoeing_dummies.drop(columns=['Medal'])
y_train = Canoeing_dummies['Medal']

x_test = Canoeing_dummies.drop(columns=['Medal'])
y_test = Canoeing_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8574193548387097

In [75]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Canoeing_df)

array([0.32179769, 0.32179769, 0.75110505, ..., 0.33040213, 0.33040213,
       0.39589592])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
109,CUB,Canoeing,False,0,0,0,2,7,0
110,CUB,Canoeing,False,0,0,0,2,7,0
111,BLR,Canoeing,False,0,0,0,2,7,0
112,BLR,Canoeing,True,0,0,0,2,7,0
203,CAN,Canoeing,False,1,0,0,2,7,0
...,...,...,...,...,...,...,...,...,...
203817,USA,Canoeing,False,0,1,1,1,8,6
203818,USA,Canoeing,False,0,1,1,1,8,6
203819,USA,Canoeing,False,0,2,1,1,8,5
203820,USA,Canoeing,False,0,2,1,1,8,5
203861,LTU,Canoeing,False,0,0,0,3,7,0

In [76]:
Canoeing_df['Predictions'] = y_pred.tolist()
Canoeing_final = Canoeing_df.drop_duplicates(subset=['NOC'], keep='last')
Canoeing_final = Canoeing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2271154440.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Canoeing_final = Canoeing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [77]:
D = pd.merge(Fencing_final, Canoeing_final, how='outer', on=['NOC', 'NOC'])
D.rename(columns = {'Predictions_x':'Fencing', 'Predictions_y':'Canoeing'}, inplace = True)
D = D.drop(["Sport_x","Sport_y"], 1)
D

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/242490794.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  D = D.drop(["Sport_x","Sport_y"], 1)

     NOC   Fencing  Canoeing
0    QAT  0.033488       NaN
1    BEN  0.060583       NaN
2    PRY  0.060583       NaN
3    PER  0.043268  0.240135
4    SAU  0.060583       NaN
..   ...       ...       ...
98   MKD       NaN  0.317250
99   SVK       NaN  0.746853
100  SRB       NaN  0.233504
101  SVN       NaN  0.280133
102  LTU       NaN  0.395896

[103 rows x 3 columns]

Wrestling Logistic Regression

In [78]:
Wrestling_df = data_df[data_df['Sport'] == "Wrestling"]
Wrestling_df = Wrestling_df.dropna()

In [79]:
Wrestling_dummies = pd.get_dummies(Wrestling_df)
Wrestling_dummies.head(3)

,Medal,Host,NOC_AFG,NOC_ALB,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
52,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
53,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
84,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [80]:
x_train = Wrestling_dummies.drop(columns=['Medal'])
y_train = Wrestling_dummies['Medal']

x_test = Wrestling_dummies.drop(columns=['Medal'])
y_test = Wrestling_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.861604997597309

In [81]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Wrestling_df)

array([0.37205674, 0.37205674, 0.22158709, ..., 0.76730135, 0.18321149,
       0.49665421])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
52,NOR,Wrestling,False,0,1,0,2,8,0
53,NOR,Wrestling,False,0,2,0,2,8,0
84,EST,Wrestling,False,0,0,0,2,7,0
125,USA,Wrestling,True,0,1,1,1,8,6
207,EGY,Wrestling,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203710,HRV,Wrestling,False,0,0,0,3,8,0
203711,HRV,Wrestling,False,0,0,0,3,8,0
203779,USA,Wrestling,False,1,1,1,2,8,5
203924,LVA,Wrestling,False,0,0,0,3,7,0
204017,GRC,Wrestling,False,0,1,0,2,8,0

In [82]:
Wrestling_df['Predictions'] = y_pred.tolist()
Wrestling_final = Wrestling_df.drop_duplicates(subset=['NOC'], keep='last')
Wrestling_final = Wrestling_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1911261898.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Wrestling_final = Wrestling_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Football Logistic Regression

In [83]:
Football_df = data_df[data_df['Sport'] == "Football"]
Football_df = Football_df.dropna()
 
print(Football_df)

        NOC     Sport  Medal  Host GDP_Per_Cap Global_Pop_Bin Rural_Pop_Bin  \
69      NOR  Football   True     0           1              0             2
118     CMR  Football   True     0           0              0             5
122     GRC  Football  False     0           1              0             2
134     ITA  Football  False     0           1              0             2
166     IRQ  Football  False     0           0              0             2
...     ...       ...    ...   ...         ...            ...           ...
203675  SAU  Football  False     0           0              0             1
203725  NLD  Football  False     0           2              0             1
203784  ESP  Football  False     0           0              0             2
203859  CAN  Football  False     0           2              0             1
204024  USA  Football  False     0           0              2             2

       Life_Expect_Bin Global_GDP_Perc_Bin
69                   8                   0
118                  5                   0
122                  8                   0
134                  8                   0
166                  7                   0
...                ...                 ...
203675               7                   0
203725               8                   0
203784               7                   0
203859               8                   0
204024               7                   7

[4209 rows x 9 columns]

In [84]:
Football_dummies = pd.get_dummies(Football_df)
Football_dummies.head(3)

,Medal,Host,NOC_ARE,NOC_ARG,NOC_AUS,NOC_BEL,NOC_BLR,NOC_BRA,NOC_CAN,NOC_CHE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
69,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
118,True,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
122,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [85]:
x_train = Football_dummies.drop(columns=['Medal'])
y_train = Football_dummies['Medal']

x_test = Football_dummies.drop(columns=['Medal'])
y_test = Football_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8740793537657401

In [86]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Football_df)

array([0.89876756, 0.80488009, 0.04849552, ..., 0.29948604, 0.91047443,
       0.01822373])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
69,NOR,Football,True,0,1,0,2,8,0
118,CMR,Football,True,0,0,0,5,5,0
122,GRC,Football,False,0,1,0,2,8,0
134,ITA,Football,False,0,1,0,2,8,0
166,IRQ,Football,False,0,0,0,2,7,0
...,...,...,...,...,...,...,...,...,...
203675,SAU,Football,False,0,0,0,1,7,0
203725,NLD,Football,False,0,2,0,1,8,0
203784,ESP,Football,False,0,0,0,2,7,0
203859,CAN,Football,False,0,2,0,1,8,0
204024,USA,Football,False,0,0,2,2,7,7

In [87]:
Football_df['Predictions'] = y_pred.tolist()
Football_final = Football_df.drop_duplicates(subset=['NOC'], keep='last')
Football_final = Football_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3633843560.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Football_final = Football_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [88]:
E = pd.merge(Wrestling_final, Football_final, how='outer', on=['NOC', 'NOC'])
E.rename(columns = {'Predictions_x':'Wrestling', 'Predictions_y':'Football'}, inplace = True)
E = E.drop(["Sport_x","Sport_y"], 1)
E

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3963166347.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  E = E.drop(["Sport_x","Sport_y"], 1)

     NOC  Wrestling  Football
0    YEM   0.024006       NaN
1    CHL   0.196795  0.892681
2    BHR   0.298853       NaN
3    LBN   0.165656       NaN
4    CIV   0.050698  0.000010
..   ...        ...       ...
123  CRI        NaN  0.026704
124  GHA        NaN  0.139095
125  PRY        NaN  0.807395
126  KWT        NaN  0.022703
127  SAU        NaN  0.007878

[128 rows x 3 columns]

Boxing Logistic Regression

In [89]:
Boxing_df = data_df[data_df['Sport'] == "Boxing"]
Boxing_df = Boxing_df.dropna()

In [90]:
Boxing_dummies = pd.get_dummies(Boxing_df)
Boxing_dummies.head(3)

,Medal,Host,NOC_AFG,NOC_AGO,NOC_ARG,NOC_ARM,NOC_ATG,NOC_AUS,NOC_AUT,NOC_AZE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
80,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
94,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
102,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [91]:
x_train = Boxing_dummies.drop(columns=['Medal'])
y_train = Boxing_dummies['Medal']

x_test = Boxing_dummies.drop(columns=['Medal'])
y_test = Boxing_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8773800456968773

In [92]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Boxing_df)

array([0.29805576, 0.62640264, 0.04649004, ..., 0.64029206, 0.34151431,
       0.34151431])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
80,MAR,Boxing,False,0,0,0,3,7,0
94,BGR,Boxing,False,0,0,0,3,7,0
102,SDN,Boxing,False,0,0,0,7,5,0
119,CMR,Boxing,False,0,0,0,7,4,0
145,NGA,Boxing,False,0,0,0,7,4,0
...,...,...,...,...,...,...,...,...,...
203780,CHL,Boxing,False,0,0,0,2,6,0
203788,COL,Boxing,False,0,0,0,3,7,0
203857,ITA,Boxing,False,0,0,0,3,7,0
203877,BLR,Boxing,True,0,0,0,2,7,0
203878,BLR,Boxing,False,0,0,0,2,7,0

In [93]:
Boxing_df['Predictions'] = y_pred.tolist()
Boxing_final = Boxing_df.drop_duplicates(subset=['NOC'], keep='last')
Boxing_final = Boxing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/4182983223.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Boxing_final = Boxing_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Equestrianism Logistic Regression

In [94]:
Equestrianism_df = data_df[data_df['Sport'] == "Equestrianism"]
Equestrianism_df = Equestrianism_df.dropna()

In [95]:
Equestrianism_dummies = pd.get_dummies(Equestrianism_df)
Equestrianism_dummies.head(3)

,Medal,Host,NOC_ARE,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGR,NOC_BLR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
73,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
196,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
197,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [96]:
x_train = Equestrianism_dummies.drop(columns=['Medal'])
y_train = Equestrianism_dummies['Medal']

x_test = Equestrianism_dummies.drop(columns=['Medal'])
y_test = Equestrianism_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8697627460878344

In [97]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Equestrianism_df)

array([0.07931016, 0.05436847, 0.05436847, ..., 0.19632394, 0.19632394,
       0.19632394])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
73,NOR,Equestrianism,False,0,1,0,2,8,0
196,IRL,Equestrianism,False,0,2,0,3,8,0
197,IRL,Equestrianism,False,0,2,0,3,8,0
1037,ARG,Equestrianism,False,0,0,0,2,6,0
1038,ARG,Equestrianism,False,0,0,0,2,6,0
...,...,...,...,...,...,...,...,...,...
203407,ARG,Equestrianism,False,0,0,0,1,7,0
203598,DNK,Equestrianism,False,0,2,0,1,8,0
203599,DNK,Equestrianism,True,0,2,0,1,8,0
203600,DNK,Equestrianism,False,0,2,0,1,8,0
203601,DNK,Equestrianism,False,0,2,0,1,8,0

In [98]:
Equestrianism_df['Predictions'] = y_pred.tolist()
Equestrianism_final = Equestrianism_df.drop_duplicates(subset=['NOC'], keep='last')
Equestrianism_final = Equestrianism_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1249077138.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Equestrianism_final = Equestrianism_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [99]:
F = pd.merge(Boxing_final, Equestrianism_final, how='outer', on=['NOC', 'NOC'])
F.rename(columns = {'Predictions_x':'Boxing', 'Predictions_y':'Equestrianism'}, inplace = True)
F = F.drop(["Sport_x","Sport_y"], 1)
F

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1904098448.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  F = F.drop(["Sport_x","Sport_y"], 1)

     NOC    Boxing  Equestrianism
0    OMN  0.270755            NaN
1    KWT  0.217017            NaN
2    SLB  0.133529            NaN
3    BOL  0.133529       0.041463
4    FSM  0.094141            NaN
..   ...       ...            ...
147  COL  0.432396       0.075760
148  ITA  0.640292       0.414012
149  BLR  0.341514       0.112294
150  ARE       NaN       0.124596
151  SAU       NaN       0.560141

[152 rows x 3 columns]

Judo Logistic Regression

In [100]:
Judo_df = data_df[data_df['Sport'] == "Judo"]
Judo_df = Judo_df.dropna()

In [101]:
Judo_dummies = pd.get_dummies(Judo_df)
Judo_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_AFG,NOC_AGO,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_AUS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
1,False,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
100,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
120,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [102]:
x_train = Judo_dummies.drop(columns=['Medal'])
y_train = Judo_dummies['Medal']

x_test = Judo_dummies.drop(columns=['Medal'])
y_test = Judo_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8726263511539585

In [103]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Judo_df)

array([0.64518252, 0.00319782, 0.29459822, ..., 0.57988492, 0.69658256,
       0.64376177])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
1,CHN,Judo,False,0,0,7,4,7,2
100,TCD,Judo,False,0,0,0,7,4,0
120,TUR,Judo,False,0,0,0,3,7,0
300,EGY,Judo,False,0,0,0,5,7,0
314,EGY,Judo,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203810,CAN,Judo,False,0,2,0,1,8,0
203811,CAN,Judo,False,0,1,0,1,8,0
203922,GEO,Judo,True,0,0,0,4,7,0
203960,NLD,Judo,True,0,1,0,2,8,0
203961,NLD,Judo,False,0,1,0,1,8,0

In [104]:
Judo_df['Predictions'] = y_pred.tolist()
Judo_final = Judo_df.drop_duplicates(subset=['NOC'], keep='last')
Judo_final = Judo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/405281857.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Judo_final = Judo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Basketball Logistic Regression

In [105]:
Basketball_df = data_df[data_df['Sport'] == "Basketball"]
Basketball_df = Basketball_df.dropna()

In [106]:
Basketball_dummies = pd.get_dummies(Basketball_df)
Basketball_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_AUS,NOC_BGR,NOC_BLR,NOC_BRA,NOC_CAF,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
0,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
107,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
192,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [107]:
x_train = Basketball_dummies.drop(columns=['Medal'])
y_train = Basketball_dummies['Medal']

x_test = Basketball_dummies.drop(columns=['Medal'])
y_test = Basketball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8938140919616275

In [108]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Basketball_df)

array([0.47193759, 0.84711872, 0.26139781, ..., 0.61608298, 0.00221554,
       0.01439607])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
0,CHN,Basketball,False,0,0,8,6,7,0
107,ESP,Basketball,False,0,1,0,2,8,0
192,ITA,Basketball,False,0,0,0,3,8,0
257,EGY,Basketball,False,0,0,0,5,5,0
264,EGY,Basketball,False,0,0,0,5,6,0
...,...,...,...,...,...,...,...,...,...
203733,LTU,Basketball,False,0,0,0,3,7,0
203734,LTU,Basketball,True,0,0,0,3,7,0
203735,LTU,Basketball,False,0,0,0,3,7,0
203956,DEU,Basketball,False,0,2,0,2,8,1
204027,BLR,Basketball,False,0,0,0,2,7,0

In [109]:
Basketball_df['Predictions'] = y_pred.tolist()
Basketball_final = Basketball_df.drop_duplicates(subset=['NOC'], keep='last')
Basketball_final = Basketball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1911532976.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Basketball_final = Basketball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [110]:
G = pd.merge(Judo_final, Basketball_final, how='outer', on=['NOC', 'NOC'])
G.rename(columns = {'Predictions_x':'Judo', 'Predictions_y':'Basketball'}, inplace = True)
G = G.drop(["Sport_x","Sport_y"], 1)
G

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3586753422.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  G = G.drop(["Sport_x","Sport_y"], 1)

     NOC      Judo  Basketball
0    GUM  0.133960         NaN
1    TGO  0.068379         NaN
2    NIC  0.179992         NaN
3    TTO  0.179992         NaN
4    BEN  0.068379         NaN
..   ...       ...         ...
152  HUN  0.430832         NaN
153  CHL  0.174682         NaN
154  CAN  0.194526     0.00204
155  GEO  0.579885         NaN
156  NLD  0.643762         NaN

[157 rows x 3 columns]

Handball Logistic Regression

In [111]:
Handball_df = data_df[data_df['Sport'] == "Handball"]
Handball_df = Handball_df.dropna()

In [112]:
Handball_dummies = pd.get_dummies(Handball_df)
Handball_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BRA,NOC_CAN,NOC_CHE,NOC_CHN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
50,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
113,True,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
114,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [113]:
x_train = Handball_dummies.drop(columns=['Medal'])
y_train = Handball_dummies['Medal']

x_test = Handball_dummies.drop(columns=['Medal'])
y_test = Handball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.7936344969199178

In [114]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Handball_df)

array([0.98721103, 0.58498555, 0.75137164, ..., 0.51199646, 0.02448416,
       0.02364353])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
50,NOR,Handball,True,0,4,0,2,8,0
113,FRA,Handball,True,0,2,0,2,8,1
114,FRA,Handball,True,0,1,0,1,8,0
115,FRA,Handball,True,0,1,0,1,8,0
135,FRA,Handball,False,0,1,0,2,8,1
...,...,...,...,...,...,...,...,...,...
203758,CUB,Handball,False,0,0,0,2,7,0
203770,CHE,Handball,False,0,2,0,2,8,0
203787,ESP,Handball,False,0,0,0,2,8,0
203858,AUT,Handball,False,0,1,0,3,7,0
203925,SVN,Handball,False,0,0,0,4,8,0

In [115]:
Handball_df['Predictions'] = y_pred.tolist()
Handball_final = Handball_df.drop_duplicates(subset=['NOC'], keep='last')
Handball_final = Handball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1399169446.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Handball_final = Handball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Volleyball

In [116]:
Volleyball_df = data_df[data_df['Sport'] == "Volleyball"]
Volleyball_df = Volleyball_df.dropna()

In [117]:
Volleyball_dummies = pd.get_dummies(Volleyball_df)
Volleyball_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_BEL,NOC_BGR,NOC_BRA,NOC_CAN,NOC_CHN,NOC_CMR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
210,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
218,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
236,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [118]:
x_train = Volleyball_dummies.drop(columns=['Medal'])
y_train = Volleyball_dummies['Medal']

x_test = Volleyball_dummies.drop(columns=['Medal'])
y_test = Volleyball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8166845685642679

In [119]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Volleyball_df)

array([0.03064924, 0.03064924, 0.03064924, ..., 0.42619133, 0.42619133,
       0.01263121])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
210,EGY,Volleyball,False,0,0,0,5,7,0
218,EGY,Volleyball,False,0,0,0,5,7,0
236,EGY,Volleyball,False,0,0,0,5,7,0
254,EGY,Volleyball,False,0,0,0,5,6,0
270,EGY,Volleyball,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203795,CHN,Volleyball,False,0,0,8,7,7,0
203945,NLD,Volleyball,False,0,0,0,2,8,0
203946,NLD,Volleyball,True,0,1,0,2,8,0
203947,NLD,Volleyball,True,0,1,0,2,8,0
204009,POL,Volleyball,False,0,0,0,3,8,0

In [120]:
Volleyball_df['Predictions'] = y_pred.tolist()
Volleyball_final = Volleyball_df.drop_duplicates(subset=['NOC'], keep='last')
Volleyball_final = Volleyball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3185448111.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Volleyball_final = Volleyball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [121]:
H = pd.merge(Handball_final, Volleyball_final, how='outer', on=['NOC', 'NOC'])
H.rename(columns = {'Predictions_x':'Handball', 'Predictions_y':'Volleyball'}, inplace = True)
H = H.drop(["Sport_x","Sport_y"], 1)
H

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1895146923.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  H = H.drop(["Sport_x","Sport_y"], 1)

    NOC  Handball  Volleyball
0   COG  0.057051         NaN
1   KWT  0.011075         NaN
2   DZA  0.007203    0.015423
3   AUS  0.051631    0.034034
4   ISL  0.478393         NaN
5   NOR  0.481515         NaN
6   CZE  0.011075         NaN
7   CAN  0.014220    0.018686
8   ARG  0.024611    0.450258
9   CIV  0.009610         NaN
10  DNK  0.411577         NaN
11  SRB  0.027042    0.411977
12  MNE  0.634204    0.696834
13  AGO  0.023001         NaN
14  NLD  0.039175    0.426191
15  GBR  0.053813    0.012599
16  USA  0.000235    0.519885
17  POL  0.020691    0.012631
18  KAZ  0.027042    0.124584
19  NGA  0.024611         NaN
20  JPN  0.063261    0.093443
21  KOR  0.734376    0.351676
22  FRA  0.751372    0.024760
23  SWE  0.621414    0.029204
24  ROU  0.026704         NaN
25  QAT  0.039175         NaN
26  EGY  0.004438    0.030649
27  UKR  0.969925    0.032311
28  DEU  0.532929    0.002649
29  BRA  0.000057    0.528021
30  RUS  0.804641    0.738540
31  CHN  0.017761    0.823256
32  TUN  0.008801    0.007942
33  GRC  0.051631    0.024760
34  HRV  0.797278    0.135851
35  HUN  0.574356         NaN
36  CUB  0.011075    0.506989
37  CHE  0.039175         NaN
38  ESP  0.511996    0.012456
39  AUT  0.024484         NaN
40  SVN  0.023644         NaN
41  CMR       NaN    0.149422
42  TUR       NaN    0.056990
43  DOM       NaN    0.056990
44  MEX       NaN    0.034034
45  VEN       NaN    0.066821
46  BEL       NaN    0.006971
47  KEN       NaN    0.002324
48  PER       NaN    0.457736
49  IRN       NaN    0.028877
50  BGR       NaN    0.516716
51  ITA       NaN    0.543172

Weightlifting

In [122]:
Weightlifting_df = data_df[data_df['Sport'] == "Weightlifting"]
Weightlifting_df = Weightlifting_df.dropna()

In [123]:
Weightlifting_dummies = pd.get_dummies(Weightlifting_df)
Weightlifting_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_ALB,NOC_ARE,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
51,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
165,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
176,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [124]:
x_train = Weightlifting_dummies.drop(columns=['Medal'])
y_train = Weightlifting_dummies['Medal']

x_test = Weightlifting_dummies.drop(columns=['Medal'])
y_test = Weightlifting_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8793300342596118

In [125]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Weightlifting_df)

array([0.4681642 , 0.12139444, 0.44995452, ..., 0.24984875, 0.33869486,
       0.6561803 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
51,ROU,Weightlifting,False,0,0,0,4,7,0
165,IRQ,Weightlifting,False,0,0,0,4,5,0
176,QAT,Weightlifting,False,0,1,0,0,8,0
188,AZE,Weightlifting,False,0,0,0,4,7,0
195,IRQ,Weightlifting,False,0,0,0,2,7,0
...,...,...,...,...,...,...,...,...,...
203502,MAR,Weightlifting,False,0,0,0,4,7,0
203658,CZE,Weightlifting,False,0,0,0,2,7,0
203855,ESP,Weightlifting,False,0,0,0,2,8,0
203856,ESP,Weightlifting,False,1,0,0,2,8,0
203937,POL,Weightlifting,False,0,0,0,3,8,0

In [126]:
Weightlifting_df['Predictions'] = y_pred.tolist()
Weightlifting_final = Weightlifting_df.drop_duplicates(subset=['NOC'], keep='last')
Weightlifting_final = Weightlifting_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1673677086.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Weightlifting_final = Weightlifting_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Water Polo

In [127]:
Polo_df = data_df[data_df['Sport'] == "Water Polo"]
Polo_df = Polo_df.dropna()

In [128]:
Polo_dummies = pd.get_dummies(Polo_df)
Polo_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_BEL,NOC_BGR,NOC_BRA,NOC_CAN,NOC_CHN,NOC_CUB,NOC_CZE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
58,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
121,True,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
189,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [129]:
x_train = Polo_dummies.drop(columns=['Medal'])
y_train = Polo_dummies['Medal']

x_test = Polo_dummies.drop(columns=['Medal'])
y_test = Polo_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8627450980392157

In [130]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Polo_df)

array([0.17288306, 0.18482247, 0.67225898, ..., 0.86618677, 0.00849647,
       0.3000913 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
58,NLD,Water Polo,False,0,0,0,3,8,0
121,ESP,Water Polo,True,0,0,0,2,8,0
189,ITA,Water Polo,False,0,1,0,2,8,0
251,EGY,Water Polo,False,0,0,0,5,7,0
267,EGY,Water Polo,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
203275,RUS,Water Polo,False,0,0,0,2,6,0
203613,ESP,Water Polo,False,0,0,0,3,7,0
203630,RUS,Water Polo,False,0,0,0,2,6,0
203631,KAZ,Water Polo,False,0,0,0,4,6,0
203719,NLD,Water Polo,False,0,1,0,2,8,0

In [131]:
Polo_df['Predictions'] = y_pred.tolist()
Polo_final = Polo_df.drop_duplicates(subset=['NOC'], keep='last')
Polo_final = Polo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1686184237.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Polo_final = Polo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [132]:
I = pd.merge(Weightlifting_final, Polo_final, how='outer', on=['NOC', 'NOC'])
I.rename(columns = {'Predictions_x':'Weightlifting', 'Predictions_y':'Water Polo'}, inplace = True)
I = I.drop(["Sport_x","Sport_y"], 1)
I

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1958365582.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  I = I.drop(["Sport_x","Sport_y"], 1)

     NOC  Weightlifting  Water Polo
0    SAU       0.199775         NaN
1    GHA       0.055786         NaN
2    ZWE       0.018352         NaN
3    SLE       0.060129         NaN
4    LBN       0.199775         NaN
..   ...            ...         ...
121  CZE       0.144089    0.016838
122  ESP       0.338695    0.479488
123  POL       0.656180         NaN
124  SRB            NaN    0.988492
125  MNE            NaN    0.648257

[126 rows x 3 columns]

Archery

In [133]:
Archery_df = data_df[data_df['Sport'] == "Archery"]
Archery_df = Archery_df.dropna()

In [134]:
Archery_dummies = pd.get_dummies(Archery_df)
Archery_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGD,NOC_BGR,NOC_BLR,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
206,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
521,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
764,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [135]:
x_train = Archery_dummies.drop(columns=['Medal'])
y_train = Archery_dummies['Medal']

x_test = Archery_dummies.drop(columns=['Medal'])
y_test = Archery_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9129082426127527

In [136]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Archery_df)

array([0.01308478, 0.05044326, 0.51959814, ..., 0.82802073, 0.82802073,
       0.2128725 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
206,MAR,Archery,False,0,0,0,4,7,0
521,EGY,Archery,False,0,0,0,5,7,0
764,RUS,Archery,False,0,0,0,2,7,0
765,RUS,Archery,False,0,0,0,2,7,0
845,IRN,Archery,False,0,0,0,2,7,0
...,...,...,...,...,...,...,...,...,...
202043,CHN,Archery,False,0,0,8,5,7,1
202044,CHN,Archery,True,0,0,8,5,7,1
202045,CHN,Archery,True,1,0,7,4,7,1
202046,CHN,Archery,True,1,0,7,4,7,1
202286,CHN,Archery,False,0,0,8,7,7,0

In [137]:
Archery_df['Predictions'] = y_pred.tolist()
Archery_final = Archery_df.drop_duplicates(subset=['NOC'], keep='last')
Archery_final = Archery_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/4291309299.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Archery_final = Archery_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Diving

In [138]:
Diving_df = data_df[data_df['Sport'] == "Diving"]
Diving_df = Diving_df.dropna()

In [139]:
Diving_dummies = pd.get_dummies(Diving_df)
Diving_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGR,NOC_BHS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
108,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
235,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
538,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [140]:
x_train = Diving_dummies.drop(columns=['Medal'])
y_train = Diving_dummies['Medal']

x_test = Diving_dummies.drop(columns=['Medal'])
y_test = Diving_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8816234498308907

In [141]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Diving_df)

array([0.0338229 , 0.04390273, 0.51635034, ..., 0.25326653, 0.25326653,
       0.25326653])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
108,CUB,Diving,False,0,0,0,2,8,0
235,EGY,Diving,False,0,0,0,5,7,0
538,CAN,Diving,False,0,2,0,1,8,0
539,CAN,Diving,False,0,2,0,1,8,0
540,CAN,Diving,True,0,2,0,1,8,0
...,...,...,...,...,...,...,...,...,...
202802,UKR,Diving,False,0,0,0,3,7,0
202803,UKR,Diving,False,0,0,0,3,7,0
202804,UKR,Diving,False,0,0,0,3,7,0
202805,UKR,Diving,True,0,0,0,3,7,0
202806,UKR,Diving,False,0,0,0,3,7,0

In [142]:
Diving_df['Predictions'] = y_pred.tolist()
Diving_final = Diving_df.drop_duplicates(subset=['NOC'], keep='last')
Diving_final = Diving_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1671132766.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Diving_final = Diving_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [143]:
J = pd.merge(Archery_final, Diving_final, how='outer', on=['NOC', 'NOC'])
J.rename(columns = {'Predictions_x':'Archery', 'Predictions_y':'Diving'}, inplace = True)
J = J.drop(["Sport_x","Sport_y"], 1)
J

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2986169119.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  J = J.drop(["Sport_x","Sport_y"], 1)

    NOC   Archery    Diving
0   MAR  0.013085       NaN
1   IRQ  0.050443       NaN
2   JOR  0.050443       NaN
3   ROU  0.013085  0.043903
4   DOM  0.031308  0.037717
..  ...       ...       ...
93  BHS       NaN  0.043903
94  PER       NaN  0.043903
95  SYR       NaN  0.043903
96  ECU       NaN  0.037717
97  JAM       NaN  0.043903

[98 rows x 3 columns]

Tennis

In [144]:
Tennis_df = data_df[data_df['Sport'] == "Tennis"]
Tennis_df = Tennis_df.dropna()

In [145]:
Tennis_dummies = pd.get_dummies(Tennis_df)
Tennis_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BEN,NOC_BGR,NOC_BHS,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
123,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
446,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1008,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [146]:
x_train = Tennis_dummies.drop(columns=['Medal'])
y_train = Tennis_dummies['Medal']

x_test = Tennis_dummies.drop(columns=['Medal'])
y_test = Tennis_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9209989806320081

In [147]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Tennis_df)

array([0.06810225, 0.0302259 , 0.02198751, ..., 0.67153912, 0.67153912,
       0.67153912])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
123,MEX,Tennis,False,0,0,0,2,7,0
446,NGA,Tennis,False,0,0,0,6,4,0
1008,BRA,Tennis,False,0,0,1,2,6,0
1178,ZAF,Tennis,False,0,0,0,4,5,0
1607,USA,Tennis,True,1,1,1,2,8,5
...,...,...,...,...,...,...,...,...,...
203920,BLR,Tennis,False,0,0,0,2,7,0
203921,BLR,Tennis,False,0,0,0,2,7,0
203926,RUS,Tennis,True,0,0,0,2,7,0
203927,RUS,Tennis,False,0,0,0,2,7,0
203928,RUS,Tennis,False,0,0,0,2,7,0

In [148]:
Tennis_df['Predictions'] = y_pred.tolist()
Tennis_final = Tennis_df.drop_duplicates(subset=['NOC'], keep='last')
Tennis_final = Tennis_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
Tennis_final

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3496524252.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Tennis_final = Tennis_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC   Sport  Predictions
3362    MDA  Tennis     0.168410
7152    SLV  Tennis     0.042122
15122   LTU  Tennis     0.042122
24797   TUR  Tennis     0.117691
25595   BOL  Tennis     0.030830
...     ...     ...          ...
203567  CZE  Tennis     0.575517
203569  SVK  Tennis     0.036354
203757  COL  Tennis     0.117691
203921  BLR  Tennis     0.538278
203928  RUS  Tennis     0.671539

[81 rows x 3 columns]

Table Tennis

In [149]:
Table_Tennis_df = data_df[data_df['Sport'] == "Table Tennis"]
Table_Tennis_df = Table_Tennis_df.dropna()

In [150]:
Table_Tennis_dummies = pd.get_dummies(Table_Tennis_df)
Table_Tennis_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BIH,NOC_BLR,NOC_BRA,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
369,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
370,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
371,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [151]:
x_train = Table_Tennis_dummies.drop(columns=['Medal'])
y_train = Table_Tennis_dummies['Medal']

x_test = Table_Tennis_dummies.drop(columns=['Medal'])
y_test = Table_Tennis_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9215572341661824

In [152]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Table_Tennis_df)

array([0.00584574, 0.00584574, 0.00584574, ..., 0.00544665, 0.00577337,
       0.00663509])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
369,EGY,Table Tennis,False,0,0,0,5,7,0
370,EGY,Table Tennis,False,0,0,0,5,7,0
371,EGY,Table Tennis,False,0,0,0,5,7,0
611,NGA,Table Tennis,False,0,0,1,4,5,0
962,IND,Table Tennis,False,0,0,7,6,6,0
...,...,...,...,...,...,...,...,...,...
202757,USA,Table Tennis,False,1,1,1,2,8,5
202758,USA,Table Tennis,False,0,1,1,1,8,6
202759,USA,Table Tennis,False,0,1,1,1,8,6
202760,USA,Table Tennis,False,0,2,1,1,8,5
203951,HUN,Table Tennis,False,0,0,0,2,7,0

In [153]:
Table_Tennis_df['Predictions'] = y_pred.tolist()
Table_Tennis_final = Table_Tennis_df.drop_duplicates(subset=['NOC'], keep='last')
Table_Tennis_final = Table_Tennis_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/959563229.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Table_Tennis_final = Table_Tennis_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [154]:
K = pd.merge(Tennis_final, Table_Tennis_final, how='outer', on=['NOC', 'NOC'])
K.rename(columns = {'Predictions_x':'Tennis', 'Predictions_y':'Table Tennis'}, inplace = True)
K = K.drop(["Sport_x","Sport_y"], 1)
K

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2974582299.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  K = K.drop(["Sport_x","Sport_y"], 1)

     NOC    Tennis  Table Tennis
0    MDA  0.168410           NaN
1    SLV  0.042122           NaN
2    LTU  0.042122      0.006635
3    TUR  0.117691      0.006635
4    BOL  0.030830           NaN
..   ...       ...           ...
106  VUT       NaN      0.003051
107  HKG       NaN      0.107373
108  COG       NaN      0.007949
109  FJI       NaN      0.006635
110  EGY       NaN      0.005846

[111 rows x 3 columns]

Badminton

In [155]:
Badminton_df = data_df[data_df['Sport'] == "Badminton"]
Badminton_df = Badminton_df.dropna()

In [156]:
Badminton_dummies = pd.get_dummies(Badminton_df)
Badminton_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BLR,NOC_BRA,NOC_BRN,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
26,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
593,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
594,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [157]:
x_train = Badminton_dummies.drop(columns=['Medal'])
y_train = Badminton_dummies['Medal']

x_test = Badminton_dummies.drop(columns=['Medal'])
y_test = Badminton_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8830242510699001

In [158]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Badminton_df)

array([0.03053524, 0.22680108, 0.36214357, ..., 0.02278961, 0.02278961,
       0.01242499])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
26,FIN,Badminton,False,0,1,0,1,8,0
593,ESP,Badminton,False,0,1,0,2,8,0
594,ESP,Badminton,False,0,1,0,1,8,0
595,ESP,Badminton,False,0,1,0,1,8,0
1239,GBR,Badminton,False,1,1,0,1,8,0
...,...,...,...,...,...,...,...,...,...
203867,RUS,Badminton,False,0,0,1,2,6,0
203868,RUS,Badminton,False,0,0,0,2,6,0
203952,DEU,Badminton,False,0,2,0,2,8,1
203953,DEU,Badminton,False,0,2,0,2,8,1
203954,DEU,Badminton,False,0,1,0,2,8,1

In [159]:
Badminton_df['Predictions'] = y_pred.tolist()
Badminton_final = Badminton_df.drop_duplicates(subset=['NOC'], keep='last')
Badminton_final = Badminton_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1196665366.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Badminton_final = Badminton_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Modern Pentathlon

In [160]:
Pentathlon_df = data_df[data_df['Sport'] == "Modern Pentathlon"]
Pentathlon_df = Pentathlon_df.dropna()

In [161]:
Pentathlon_dummies = pd.get_dummies(Pentathlon_df)
Pentathlon_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BHR,NOC_BLR,NOC_BRA,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
355,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
356,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
357,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [162]:
x_train = Pentathlon_dummies.drop(columns=['Medal'])
y_train = Pentathlon_dummies['Medal']

x_test = Pentathlon_dummies.drop(columns=['Medal'])
y_test = Pentathlon_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9207135777998018

In [163]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Pentathlon_df)

array([0.03068436, 0.03807642, 0.03807642, ..., 0.16514982, 0.0543616 ,
       0.0543616 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
355,EGY,Modern Pentathlon,False,0,0,0,5,7,0
356,EGY,Modern Pentathlon,False,0,0,0,5,6,0
357,EGY,Modern Pentathlon,False,0,0,0,5,6,0
358,EGY,Modern Pentathlon,False,0,0,0,5,6,0
359,EGY,Modern Pentathlon,False,0,0,0,5,6,0
...,...,...,...,...,...,...,...,...,...
202201,CHN,Modern Pentathlon,False,0,0,7,4,8,3
202814,BLR,Modern Pentathlon,False,0,0,0,2,7,0
202989,DEU,Modern Pentathlon,False,0,1,0,2,8,1
203310,AUT,Modern Pentathlon,False,0,0,0,3,7,0
203311,AUT,Modern Pentathlon,False,0,0,0,3,7,0

In [164]:
Pentathlon_df['Predictions'] = y_pred.tolist()
Pentathlon_final = Pentathlon_df.drop_duplicates(subset=['NOC'], keep='last')
Pentathlon_final = Pentathlon_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1043166688.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Pentathlon_final = Pentathlon_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [165]:
L = pd.merge(Badminton_final, Pentathlon_final, how='outer', on=['NOC', 'NOC'])
L.rename(columns = {'Predictions_x':'Badminton', 'Predictions_y':'Modern Pentathlon'}, inplace = True)
L = L.drop(["Sport_x","Sport_y"], 1)
L

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1863086147.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  L = L.drop(["Sport_x","Sport_y"], 1)

    NOC  Badminton  Modern Pentathlon
0   ROU   0.042545           0.070190
1   ITA   0.016012           0.298586
2   SYC   0.042545                NaN
3   UGA   0.049872                NaN
4   EGY   0.063584           0.038076
..  ...        ...                ...
69  LVA        NaN           0.561820
70  KAZ        NaN           0.490189
71  KGZ        NaN           0.166407
72  CUB        NaN           0.097988
73  ARG        NaN           0.759996

[74 rows x 3 columns]

Synchronized Swimming

In [166]:
S_Swimming_df = data_df[data_df['Sport'] == "Synchronized Swimming"]
S_Swimming_df = S_Swimming_df.dropna()

In [167]:
S_Swimming_dummies = pd.get_dummies(S_Swimming_df)
S_Swimming_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BLR,NOC_BRA,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
214,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
215,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
216,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [168]:
x_train = S_Swimming_dummies.drop(columns=['Medal'])
y_train = S_Swimming_dummies['Medal']

x_test = S_Swimming_dummies.drop(columns=['Medal'])
y_test = S_Swimming_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.905638665132336

In [169]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,S_Swimming_df)

array([2.00505715e-02, 2.00505715e-02, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 2.00505715e-02, 3.25126934e-02,
       1.27931318e-02, 3.99455028e-02, 3.43731178e-02, 1.57805269e-01,
       1.57805269e-01, 1.57805269e-01, 2.00505715e-02, 7.37094975e-02,
       2.00505715e-02, 2.00505715e-02, 7.48078445e-01, 2.67566820e-04,
       2.67566820e-04, 2.00505715e-02, 2.00505715e-02, 2.00505715e-02,
       3.71686584e-04, 3.56290211e-02, 3.56290211e-02, 3.11429187e-02,
       3.25126934e-02, 2.00505715e-02, 2.00505715e-02, 1.96721082e-04,
       1.27931318e-02, 1.27931318e-02, 1.27931318e-02, 5.25841024e-01,
       5.60371756e-01, 5.60371756e-01, 2.00505715e-02, 2.00505715e-02,
       4.83007323e-02, 2.00505715e-02, 1.27931318e-02, 5.25841024e-01,
       5.25841024e-01, 4.56773558e-01, 5.25380126e-01, 2.00505715e-02,
       5.90882973e-02, 5.25841024e-01, 5.25841024e-01, 5.60371756e-01,
       4.56773558e-01, 9.55866001e-01, 9.55866001e-01, 8.96567358e-01,
       2.00505715e-02, 3.56290211e-02, 2.97542541e-02, 1.22123717e-02,
       7.72990704e-01, 7.72990704e-01, 7.72990704e-01, 6.35334089e-01,
       8.23479725e-01, 1.96721082e-04, 2.00505715e-02, 2.00505715e-02,
       4.83007323e-02, 2.00505715e-02, 2.00505715e-02, 7.02346539e-02,
       7.02346539e-02, 2.97542541e-02, 1.22123717e-02, 9.08783202e-01,
       1.96721082e-04, 1.27931318e-02, 1.27931318e-02, 5.77928518e-04,
       5.77928518e-04, 1.73217661e-02, 1.73217661e-02, 4.83007323e-02,
       4.83007323e-02, 4.83007323e-02, 4.83007323e-02, 2.77630511e-02,
       2.77630511e-02, 2.77630511e-02, 2.77630511e-02, 9.02087653e-02,
       3.43731178e-02, 2.67566820e-04, 2.67566820e-04, 7.48078445e-01,
       2.97542541e-02, 1.22123717e-02, 3.10567377e-04, 2.00505715e-02,
       5.77928518e-04, 4.56773558e-01, 9.55866001e-01, 9.55866001e-01,
       9.55866001e-01, 5.47776375e-02, 5.47776375e-02, 2.97542541e-02,
       1.22123717e-02, 1.27931318e-02, 1.27931318e-02, 2.00505715e-02,
       1.27931318e-02, 7.33391273e-01, 6.35334089e-01, 3.43731178e-02,
       7.48078445e-01, 7.48078445e-01, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 7.02346539e-02, 7.02346539e-02,
       1.57805269e-01, 1.57805269e-01, 6.35334089e-01, 6.35334089e-01,
       6.35334089e-01, 2.00505715e-02, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 1.25199794e-02, 1.25199794e-02, 2.97542541e-02,
       2.97542541e-02, 4.91991833e-04, 4.91991833e-04, 4.91991833e-04,
       4.91991833e-04, 4.91991833e-04, 8.23479725e-01, 8.23479725e-01,
       1.22123717e-02, 1.27931318e-02, 3.43731178e-02, 2.97542541e-02,
       1.22123717e-02, 1.22123717e-02, 5.47776375e-02, 5.47776375e-02,
       2.97542541e-02, 3.43731178e-02, 3.43731178e-02, 2.00505715e-02,
       8.23479725e-01, 8.23479725e-01, 9.98470174e-01, 8.23479725e-01,
       9.98470174e-01, 2.00505715e-02, 3.72262526e-02, 9.72185105e-01,
       2.29767270e-02, 5.90882973e-02, 2.00505715e-02, 2.97542541e-02,
       7.48078445e-01, 3.56290211e-02, 3.11429187e-02, 9.08783202e-01,
       7.72990704e-01, 7.33391273e-01, 7.33391273e-01, 5.25841024e-01,
       7.13568217e-01, 7.13568217e-01, 6.35334089e-01, 1.20675603e-03,
       7.72990704e-01, 3.25126934e-02, 2.00505715e-02, 2.00505715e-02,
       3.11429187e-02, 3.11429187e-02, 2.00505715e-02, 3.56290211e-02,
       9.55866001e-01, 9.55866001e-01, 9.72185105e-01, 9.72185105e-01,
       9.72185105e-01, 3.56290211e-02, 1.57805269e-01, 9.02087653e-02,
       9.02087653e-02, 1.57805269e-01, 3.43731178e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 1.27931318e-02, 7.72990704e-01,
       2.00505715e-02, 1.22123717e-02, 1.96721082e-04, 1.27931318e-02,
       1.14563930e-03, 8.23479725e-01, 2.77630511e-02, 4.83007323e-02,
       2.00505715e-02, 2.00505715e-02, 2.77630511e-02, 9.08783202e-01,
       1.73217661e-02, 1.73217661e-02, 9.62949158e-01, 1.73217661e-02,
       1.73217661e-02, 2.00505715e-02, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 2.00505715e-02, 2.00505715e-02,
       1.73217661e-02, 1.73217661e-02, 9.02087653e-02, 1.57805269e-01,
       2.00505715e-02, 2.97542541e-02, 5.77928518e-04, 5.77928518e-04,
       2.00505715e-02, 1.27931318e-02, 1.27931318e-02, 3.43731178e-02,
       3.43731178e-02, 5.02859410e-04, 5.02859410e-04, 7.72990704e-01,
       2.97542541e-02, 2.00505715e-02, 3.43731178e-02, 7.48078445e-01,
       2.77630511e-02, 7.48078445e-01, 7.48078445e-01, 4.83007323e-02,
       4.83007323e-02, 2.00505715e-02, 7.33391273e-01, 7.33391273e-01,
       7.33391273e-01, 6.35334089e-01, 6.35334089e-01, 7.33391273e-01,
       9.76210580e-01, 9.62949158e-01, 9.90413068e-01, 7.18550364e-01,
       8.23479725e-01, 2.77630511e-02, 8.23479725e-01, 4.83007323e-02,
       3.56290211e-02, 2.00505715e-02, 1.27931318e-02, 1.27931318e-02,
       9.02087653e-02, 1.96721082e-04, 1.96721082e-04, 7.37094975e-02,
       1.64844504e-01, 1.64844504e-01, 1.64844504e-01, 2.00505715e-02,
       3.72262526e-02, 3.72262526e-02, 4.83007323e-02, 9.55866001e-01,
       9.72185105e-01, 9.72185105e-01, 3.72262526e-02, 3.72262526e-02,
       8.89355202e-01, 9.93946572e-01, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 9.93946572e-01, 2.00505715e-02, 2.29767270e-02,
       2.29767270e-02, 1.73217661e-02, 3.99455028e-02, 8.71750173e-01,
       7.48078445e-01, 7.48078445e-01, 1.27931318e-02, 1.20675603e-03,
       1.73217661e-02, 9.90413068e-01, 5.25380126e-01, 5.25380126e-01,
       2.00505715e-02, 2.00505715e-02, 2.00505715e-02, 2.00505715e-02,
       3.72262526e-02, 3.72262526e-02, 1.25199794e-02, 7.33391273e-01,
       6.35334089e-01, 7.02346539e-02, 7.02346539e-02, 7.02346539e-02,
       4.83007323e-02, 2.00505715e-02, 2.00505715e-02, 3.25126934e-02,
       2.00505715e-02, 3.72262526e-02, 7.48078445e-01, 2.00505715e-02,
       3.72262526e-02, 8.89355202e-01, 9.98470174e-01, 9.98470174e-01,
       9.93946572e-01, 9.93946572e-01, 4.83007323e-02, 4.83007323e-02,
       3.99455028e-02, 3.99455028e-02, 8.71750173e-01, 8.71750173e-01,
       4.83007323e-02, 2.77630511e-02, 9.72185105e-01, 9.72185105e-01,
       9.72185105e-01, 9.72185105e-01, 9.72185105e-01, 5.25380126e-01,
       9.62949158e-01, 9.76210580e-01, 3.99455028e-02, 3.11429187e-02,
       1.27931318e-02, 7.72990704e-01, 8.89355202e-01, 8.89355202e-01,
       9.98470174e-01, 8.89355202e-01, 8.89355202e-01, 9.98470174e-01,
       9.76210580e-01, 9.62949158e-01, 2.00505715e-02, 3.25126934e-02,
       3.25126934e-02, 8.43169699e-01, 8.43169699e-01, 8.96567358e-01,
       8.96567358e-01, 7.13568217e-01, 8.43169699e-01, 8.43169699e-01,
       8.96567358e-01, 8.96567358e-01, 1.25199794e-02, 1.25199794e-02,
       9.76210580e-01, 9.76210580e-01, 9.90413068e-01, 5.25380126e-01,
       2.00505715e-02, 1.20675603e-03, 2.00505715e-02, 2.00505715e-02,
       9.55866001e-01, 9.72185105e-01, 9.72185105e-01, 4.83007323e-02,
       2.04177688e-02, 3.25126934e-02, 2.29767270e-02, 2.29767270e-02,
       1.27931318e-02, 7.18550364e-01, 7.18550364e-01, 4.56773558e-01,
       9.55866001e-01, 9.55866001e-01, 9.55866001e-01, 2.00505715e-02,
       9.90413068e-01, 6.35334089e-01, 3.56290211e-02, 3.99455028e-02,
       3.99455028e-02, 5.25380126e-01, 9.72185105e-01, 5.25380126e-01,
       2.77630511e-02, 9.72185105e-01, 2.04177688e-02, 3.25126934e-02,
       9.76210580e-01, 9.76210580e-01, 9.76210580e-01, 4.83007323e-02,
       7.72990704e-01, 7.72990704e-01, 7.72990704e-01, 7.72990704e-01,
       2.00505715e-02, 7.48078445e-01, 7.48078445e-01, 2.00505715e-02,
       2.00505715e-02, 9.72185105e-01, 2.00505715e-02, 5.90882973e-02,
       3.56290211e-02, 3.11429187e-02, 2.77630511e-02, 2.67566820e-04,
       3.43731178e-02, 3.43731178e-02, 7.48078445e-01, 7.48078445e-01,
       3.11429187e-02, 9.02087653e-02, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 1.96721082e-04, 1.96721082e-04,
       2.77630511e-02, 9.08783202e-01, 8.23479725e-01, 8.23479725e-01,
       8.23479725e-01, 8.23479725e-01, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 9.93946572e-01, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 2.00505715e-02, 3.72262526e-02,
       9.93946572e-01, 3.56290211e-02, 1.27931318e-02, 1.27931318e-02,
       1.57805269e-01, 9.02087653e-02, 9.02087653e-02, 2.00505715e-02,
       2.77630511e-02, 2.77630511e-02, 8.89355202e-01, 9.98470174e-01,
       9.98470174e-01, 4.91991833e-04, 4.91991833e-04, 5.77928518e-04,
       2.00505715e-02, 5.25841024e-01, 5.25841024e-01, 5.60371756e-01,
       5.60371756e-01, 7.33391273e-01, 7.72990704e-01, 3.56290211e-02,
       1.22123717e-02, 1.22123717e-02, 7.72990704e-01, 8.89355202e-01,
       9.98470174e-01, 2.00505715e-02, 2.00505715e-02, 4.91991833e-04,
       4.91991833e-04, 2.67566820e-04, 4.83007323e-02, 4.56773558e-01,
       2.77630511e-02, 2.77630511e-02, 2.77630511e-02, 1.57805269e-01,
       1.73217661e-02, 7.72990704e-01, 8.71750173e-01, 1.57805269e-01,
       9.02087653e-02, 5.25380126e-01, 7.72990704e-01, 2.00505715e-02,
       1.14563930e-03, 5.25841024e-01, 7.33391273e-01, 7.33391273e-01,
       7.33391273e-01, 7.33391273e-01, 6.35334089e-01, 5.77928518e-04,
       5.77928518e-04, 7.72990704e-01, 7.72990704e-01, 3.99455028e-02,
       8.71750173e-01, 8.71750173e-01, 2.00505715e-02, 2.00505715e-02,
       1.25199794e-02, 1.25199794e-02, 5.77928518e-04, 7.33391273e-01,
       5.02859410e-04, 5.02859410e-04, 5.02859410e-04, 5.02859410e-04,
       7.18550364e-01, 7.18550364e-01, 8.75148540e-02, 8.75148540e-02,
       4.18915466e-02, 4.18915466e-02, 4.18915466e-02, 4.18915466e-02,
       8.23479725e-01, 2.00505715e-02, 2.00505715e-02, 9.76210580e-01,
       8.71750173e-01, 3.99455028e-02, 8.71750173e-01, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 7.72990704e-01, 3.11429187e-02,
       5.77928518e-04, 8.23479725e-01, 3.25126934e-02, 3.25126934e-02,
       2.00505715e-02, 2.00505715e-02, 4.56773558e-01, 9.55866001e-01,
       9.55866001e-01, 2.97542541e-02, 2.00505715e-02, 9.76210580e-01,
       9.76210580e-01, 3.56290211e-02, 3.56290211e-02, 2.00505715e-02,
       2.00505715e-02, 8.71750173e-01, 3.25126934e-02, 3.56290211e-02,
       1.96721082e-04, 1.27931318e-02, 9.72185105e-01, 7.37094975e-02,
       7.37094975e-02, 1.20675603e-03, 1.20675603e-03, 2.97542541e-02,
       2.00505715e-02, 4.56773558e-01, 2.00505715e-02, 2.00505715e-02,
       3.11429187e-02, 3.11429187e-02, 9.72185105e-01, 9.72185105e-01,
       9.08783202e-01, 7.72990704e-01, 4.83007323e-02, 4.83007323e-02,
       4.83007323e-02, 4.83007323e-02, 3.25126934e-02, 2.00505715e-02,
       4.83007323e-02, 3.43731178e-02, 3.43731178e-02, 9.55866001e-01,
       7.02346539e-02, 1.73217661e-02, 2.97542541e-02, 4.83007323e-02,
       2.00505715e-02, 6.35334089e-01, 1.22123717e-02, 3.25126934e-02,
       9.72185105e-01, 2.00505715e-02, 2.00505715e-02, 2.77630511e-02,
       3.56290211e-02, 3.71686584e-04, 3.56290211e-02, 3.56290211e-02,
       1.57805269e-01, 9.02087653e-02, 7.48078445e-01, 2.00505715e-02,
       2.00505715e-02, 1.96721082e-04, 1.27931318e-02, 3.56290211e-02,
       8.23479725e-01, 4.91991833e-04, 4.91991833e-04, 1.57805269e-01,
       7.33391273e-01, 7.33391273e-01, 1.20675603e-03, 1.27931318e-02,
       1.27931318e-02, 1.27931318e-02, 1.27931318e-02, 9.72185105e-01,
       9.72185105e-01, 9.72185105e-01, 9.72185105e-01, 9.72185105e-01,
       2.00505715e-02, 1.73217661e-02, 1.27931318e-02, 7.13568217e-01,
       7.13568217e-01, 8.43169699e-01, 2.00505715e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 1.27931318e-02, 1.27931318e-02,
       1.27931318e-02, 1.27931318e-02, 2.00505715e-02, 3.99455028e-02,
       2.00505715e-02, 2.00505715e-02, 7.37094975e-02, 7.37094975e-02,
       7.37094975e-02, 7.37094975e-02, 2.00505715e-02, 9.08783202e-01,
       2.97542541e-02, 4.83007323e-02, 3.10567377e-04, 2.00505715e-02,
       9.08783202e-01, 8.75148540e-02, 8.75148540e-02, 7.02346539e-02,
       7.02346539e-02, 1.57805269e-01, 4.56773558e-01, 3.72262526e-02,
       7.37094975e-02, 7.37094975e-02, 7.37094975e-02, 7.33391273e-01,
       3.43731178e-02, 3.72262526e-02, 3.72262526e-02, 1.25199794e-02,
       3.72262526e-02, 3.72262526e-02, 1.20675603e-03, 9.72185105e-01,
       9.72185105e-01, 9.55866001e-01, 9.72185105e-01, 9.72185105e-01,
       9.08783202e-01, 8.23479725e-01, 1.73217661e-02, 1.73217661e-02,
       4.83007323e-02, 4.83007323e-02, 3.56290211e-02, 1.25199794e-02,
       1.25199794e-02, 4.83007323e-02, 4.83007323e-02, 2.77630511e-02,
       4.91991833e-04, 9.55866001e-01, 2.97542541e-02, 2.97542541e-02,
       1.20675603e-03, 1.20675603e-03, 1.27931318e-02, 1.27931318e-02,
       2.97542541e-02, 8.23479725e-01, 8.23479725e-01, 1.73217661e-02,
       9.08783202e-01, 8.89355202e-01, 9.98470174e-01, 9.93946572e-01,
       9.93946572e-01, 9.90413068e-01, 5.25380126e-01, 5.25380126e-01,
       2.00505715e-02, 2.00505715e-02, 2.00505715e-02, 2.00505715e-02,
       5.25380126e-01, 9.76210580e-01, 9.62949158e-01, 9.62949158e-01,
       9.90413068e-01, 9.90413068e-01, 8.23479725e-01, 9.76210580e-01,
       9.76210580e-01, 9.76210580e-01, 9.76210580e-01, 9.62949158e-01,
       9.62949158e-01, 9.90413068e-01, 9.90413068e-01, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 9.76210580e-01, 9.76210580e-01,
       9.76210580e-01, 9.93946572e-01, 5.25841024e-01, 5.25841024e-01,
       8.23479725e-01, 9.62949158e-01, 9.90413068e-01, 1.25199794e-02,
       1.25199794e-02, 5.02859410e-04, 5.02859410e-04, 5.77928518e-04,
       1.22123717e-02, 1.64844504e-01, 2.00505715e-02, 2.00505715e-02,
       4.83007323e-02, 4.83007323e-02, 2.00505715e-02, 1.57805269e-01,
       9.08783202e-01, 2.77630511e-02, 8.23479725e-01, 1.20675603e-03,
       9.72185105e-01, 5.25841024e-01, 7.33391273e-01, 7.33391273e-01,
       7.33391273e-01, 1.25199794e-02, 2.00505715e-02, 9.72185105e-01,
       7.37094975e-02, 1.20675603e-03, 3.72262526e-02, 3.72262526e-02,
       4.83007323e-02, 3.11429187e-02, 1.96721082e-04, 3.11429187e-02,
       1.96721082e-04, 2.00505715e-02, 9.55866001e-01, 9.55866001e-01,
       4.91991833e-04, 4.91991833e-04, 2.00505715e-02, 7.48078445e-01,
       7.48078445e-01, 7.48078445e-01, 7.48078445e-01, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 7.48078445e-01, 7.48078445e-01,
       7.48078445e-01, 1.96721082e-04, 2.00505715e-02, 3.72262526e-02,
       8.89355202e-01, 2.00505715e-02, 2.00505715e-02, 2.77630511e-02,
       3.56290211e-02, 5.90882973e-02, 2.00505715e-02, 2.00505715e-02,
       7.48078445e-01, 1.73217661e-02, 1.73217661e-02, 2.00505715e-02,
       9.98470174e-01, 1.25199794e-02, 1.25199794e-02, 7.72990704e-01,
       2.00505715e-02, 9.55866001e-01, 9.55866001e-01, 9.72185105e-01,
       9.72185105e-01, 2.00505715e-02, 9.93946572e-01, 7.37094975e-02,
       1.64844504e-01, 1.64844504e-01, 9.62949158e-01, 9.90413068e-01,
       9.62949158e-01, 3.99455028e-02, 8.71750173e-01, 3.56290211e-02,
       3.56290211e-02, 1.25199794e-02, 1.25199794e-02, 1.27931318e-02,
       1.27931318e-02, 4.56773558e-01, 1.73217661e-02, 2.00505715e-02,
       2.00505715e-02, 2.00505715e-02, 2.97542541e-02, 2.97542541e-02,
       1.73217661e-02, 2.97542541e-02, 7.72990704e-01, 2.00505715e-02,
       9.93946572e-01, 2.00505715e-02, 3.72262526e-02, 3.72262526e-02,
       8.89355202e-01, 2.00505715e-02, 2.00505715e-02, 4.83007323e-02,
       4.83007323e-02])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
214,EGY,Synchronized Swimming,False,0,0,0,5,7,0
215,EGY,Synchronized Swimming,False,0,0,0,5,7,0
216,EGY,Synchronized Swimming,False,0,0,0,5,7,0
246,EGY,Synchronized Swimming,False,0,0,0,5,7,0
247,EGY,Synchronized Swimming,False,0,0,0,5,7,0
...,...,...,...,...,...,...,...,...,...
202196,CHN,Synchronized Swimming,True,1,0,7,4,7,1
202249,CHN,Synchronized Swimming,False,0,0,8,7,7,0
202444,KAZ,Synchronized Swimming,False,0,0,0,4,7,0
203935,NLD,Synchronized Swimming,False,0,1,0,2,8,0
203936,NLD,Synchronized Swimming,False,0,1,0,2,8,0

In [170]:
S_Swimming_df['Predictions'] = y_pred.tolist()
S_Swimming_final = S_Swimming_df.drop_duplicates(subset=['NOC'], keep='last')
S_Swimming_final = S_Swimming_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
S_Swimming_final

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1902890597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  S_Swimming_final = S_Swimming_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC                  Sport  Predictions
6909    COL  Synchronized Swimming     0.020051
78326   SWE  Synchronized Swimming     0.031143
97996   SVK  Synchronized Swimming     0.020051
99981   FIN  Synchronized Swimming     0.031143
112650  HUN  Synchronized Swimming     0.017322
153259  CUB  Synchronized Swimming     0.020051
154914  VEN  Synchronized Swimming     0.012793
156097  NZL  Synchronized Swimming     0.012793
157764  ARG  Synchronized Swimming     0.073709
161006  DEU  Synchronized Swimming     0.087515
162932  BEL  Synchronized Swimming     0.073709
169203  DOM  Synchronized Swimming     0.012520
173841  CHE  Synchronized Swimming     0.017322
175524  CZE  Synchronized Swimming     0.020051
179364  GRC  Synchronized Swimming     0.020051
180746  ESP  Synchronized Swimming     0.733391
182046  PRI  Synchronized Swimming     0.073709
188584  BRA  Synchronized Swimming     0.000492
189860  MEX  Synchronized Swimming     0.020051
195561  FRA  Synchronized Swimming     0.059088
195988  GBR  Synchronized Swimming     0.020051
197024  CAN  Synchronized Swimming     0.748078
197118  AUT  Synchronized Swimming     0.017322
197548  ZAF  Synchronized Swimming     0.012520
199464  BLR  Synchronized Swimming     0.020051
199660  ISR  Synchronized Swimming     0.164845
199847  JPN  Synchronized Swimming     0.871750
199993  AUS  Synchronized Swimming     0.035629
200069  EGY  Synchronized Swimming     0.012520
200216  KOR  Synchronized Swimming     0.012793
200531  RUS  Synchronized Swimming     0.456774
200856  UKR  Synchronized Swimming     0.017322
201124  ITA  Synchronized Swimming     0.029754
201210  USA  Synchronized Swimming     0.772991
201276  BGR  Synchronized Swimming     0.020051
202249  CHN  Synchronized Swimming     0.020051
202444  KAZ  Synchronized Swimming     0.020051
203936  NLD  Synchronized Swimming     0.048301

Baseball

In [171]:
Baseball_df = data_df[data_df['Sport'] == "Baseball"]
Baseball_df = Baseball_df.dropna()

In [172]:
Baseball_dummies = pd.get_dummies(Baseball_df)
Baseball_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_CAN,NOC_CHN,NOC_CUB,NOC_DOM,NOC_ESP,NOC_GRC,NOC_ITA,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
505,False,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
506,False,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
578,True,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [173]:
x_train = Baseball_dummies.drop(columns=['Medal'])
y_train = Baseball_dummies['Medal']

x_test = Baseball_dummies.drop(columns=['Medal'])
y_test = Baseball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9463087248322147

In [174]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Baseball_df)

array([2.05977038e-01, 3.38638686e-02, 9.68679791e-01, 2.29677254e-01,
       4.95266594e-03, 2.53871461e-02, 6.44281413e-04, 4.70158672e-03,
       9.68627140e-01, 9.68679791e-01, 9.81235520e-01, 9.81235520e-01,
       9.99966964e-01, 2.05977038e-01, 2.69050058e-04, 4.95266594e-03,
       4.95266594e-03, 2.29677254e-01, 9.26810032e-01, 6.45086518e-01,
       9.69038558e-01, 1.00626085e-01, 6.03944842e-01, 9.68627140e-01,
       3.38638686e-02, 2.69050058e-04, 9.99966964e-01, 3.38638686e-02,
       3.38638686e-02, 2.69050058e-04, 6.23263403e-02, 9.69038558e-01,
       9.81235520e-01, 6.23263403e-02, 2.69050058e-04, 4.54131836e-02,
       2.69050058e-04, 6.45086518e-01, 3.98831876e-03, 5.45146364e-03,
       3.86119295e-02, 6.44281413e-04, 2.53871461e-02, 2.53871461e-02,
       6.44281413e-04, 1.00626085e-01, 5.45146364e-03, 9.69038558e-01,
       6.23263403e-02, 1.00626085e-01, 6.45089855e-03, 4.54131836e-02,
       2.53871461e-02, 6.44281413e-04, 9.99966964e-01, 4.95266594e-03,
       5.41854908e-02, 6.23263403e-02, 6.44281413e-04, 1.00626085e-01,
       9.26810032e-01, 4.70158672e-03, 4.95266594e-03, 2.69050058e-04,
       9.99966964e-01, 5.45146364e-03, 3.86119295e-02, 6.45089855e-03,
       3.98831876e-03, 5.45146364e-03, 2.69050058e-04, 9.99050431e-01,
       9.68679791e-01, 9.99966964e-01, 4.70158672e-03, 2.69050058e-04,
       2.53871461e-02, 6.03944842e-01, 9.69038558e-01, 5.35751142e-04,
       5.45146364e-03, 1.00626085e-01, 6.03944842e-01, 9.68679791e-01,
       1.00626085e-01, 4.54131836e-02, 1.00626085e-01, 5.45146364e-03,
       3.86119295e-02, 9.69038558e-01, 9.81235520e-01, 9.99966964e-01,
       2.53871461e-02, 6.23263403e-02, 6.23263403e-02, 5.45146364e-03,
       2.69050058e-04, 3.98831876e-03, 5.45146364e-03, 3.86119295e-02,
       2.69050058e-04, 5.45146364e-03, 3.86119295e-02, 5.45146364e-03,
       9.99966964e-01, 3.98831876e-03, 5.45146364e-03, 3.98831876e-03,
       2.69050058e-04, 9.99966964e-01, 9.99966964e-01, 3.86119295e-02,
       9.62403950e-01, 7.25280208e-03, 7.25280208e-03, 7.25280208e-03,
       7.25280208e-03, 9.62403950e-01, 9.62403950e-01, 9.99966964e-01,
       6.45086518e-01, 9.62403950e-01, 7.25280208e-03, 7.25280208e-03,
       7.25280208e-03, 7.25280208e-03, 5.35751142e-04, 5.35751142e-04,
       9.62403950e-01, 7.25280208e-03, 7.25280208e-03, 7.25280208e-03,
       7.25280208e-03, 7.25280208e-03, 7.25280208e-03, 7.25280208e-03,
       9.62403950e-01, 5.45146364e-03, 3.98831876e-03, 6.23263403e-02,
       6.45089855e-03, 4.54131836e-02, 6.44281413e-04, 9.81235520e-01,
       9.99966964e-01, 4.95266594e-03, 2.53871461e-02, 2.53871461e-02,
       6.44281413e-04, 4.70158672e-03, 2.69050058e-04, 4.54131836e-02,
       4.54131836e-02, 6.23263403e-02, 9.68679791e-01, 2.53871461e-02,
       2.53871461e-02, 5.41854908e-02, 3.98831876e-03, 5.45146364e-03,
       2.53871461e-02, 9.69038558e-01, 6.45089855e-03, 3.98831876e-03,
       5.45146364e-03, 3.86119295e-02, 3.86119295e-02, 5.45146364e-03,
       6.23263403e-02, 3.38638686e-02, 4.54131836e-02, 2.69050058e-04,
       4.95266594e-03, 6.03944842e-01, 9.68679791e-01, 2.53871461e-02,
       6.44281413e-04, 4.70158672e-03, 5.45146364e-03, 3.86119295e-02,
       6.44281413e-04, 4.70158672e-03, 4.95266594e-03, 2.53871461e-02,
       6.44281413e-04, 3.98831876e-03, 5.45146364e-03, 9.81235520e-01,
       5.41854908e-02, 4.95266594e-03, 9.99966964e-01, 6.45089855e-03,
       3.86119295e-02, 9.81235520e-01, 9.26810032e-01, 6.45089855e-03,
       6.23263403e-02, 2.53871461e-02, 2.53871461e-02, 2.05977038e-01,
       9.69038558e-01, 6.03944842e-01, 5.41854908e-02, 4.95266594e-03,
       6.44281413e-04, 4.70158672e-03, 2.29677254e-01, 6.45089855e-03,
       9.99966964e-01, 9.69038558e-01, 4.70158672e-03, 9.99966964e-01,
       2.53871461e-02, 4.70158672e-03, 9.99966964e-01, 9.99966964e-01,
       9.81235520e-01, 9.81235520e-01, 1.00626085e-01, 5.45146364e-03,
       3.86119295e-02, 9.68679791e-01, 2.53871461e-02, 2.69050058e-04,
       5.35751142e-04, 9.81235520e-01, 2.69050058e-04, 6.03944842e-01,
       2.69050058e-04, 2.53871461e-02, 3.98831876e-03, 5.45146364e-03,
       9.69038558e-01, 5.45146364e-03, 9.68679791e-01, 3.86119295e-02,
       5.45146364e-03, 4.54131836e-02, 3.38638686e-02, 9.68627140e-01,
       9.12901271e-01, 9.68627140e-01, 9.81235520e-01, 9.69038558e-01,
       3.98831876e-03, 6.45086518e-01, 9.99050431e-01, 6.45086518e-01,
       2.69050058e-04, 4.54131836e-02, 2.29677254e-01, 9.68679791e-01,
       2.29677254e-01, 3.86119295e-02, 9.26810032e-01, 9.99050431e-01,
       9.99966964e-01, 4.95266594e-03, 9.99966964e-01, 9.99966964e-01,
       1.00626085e-01, 6.03944842e-01, 9.81235520e-01, 9.99966964e-01,
       9.99966964e-01, 9.26810032e-01, 4.54131836e-02, 2.29677254e-01,
       9.26810032e-01, 6.45086518e-01, 6.45089855e-03, 5.35751142e-04,
       2.69050058e-04, 9.99050431e-01, 2.29677254e-01, 9.99050431e-01,
       9.26810032e-01, 4.95266594e-03, 4.95266594e-03, 4.95266594e-03,
       5.41854908e-02, 9.68679791e-01, 2.05977038e-01, 5.41854908e-02,
       2.29677254e-01, 2.69050058e-04, 9.81235520e-01, 9.81235520e-01,
       9.81235520e-01, 9.69038558e-01, 6.03944842e-01, 6.45089855e-03,
       9.26810032e-01, 6.03944842e-01, 2.05977038e-01, 4.95266594e-03,
       6.45086518e-01, 5.35751142e-04, 6.03944842e-01, 7.25280208e-03,
       7.25280208e-03, 9.62403950e-01, 7.25280208e-03, 7.25280208e-03,
       9.62403950e-01, 1.00626085e-01, 6.03944842e-01, 9.99966964e-01,
       9.12901271e-01, 2.05977038e-01, 5.45146364e-03, 6.45086518e-01,
       6.45086518e-01, 6.45086518e-01, 9.12901271e-01, 3.38638686e-02,
       9.81235520e-01, 2.53871461e-02, 6.44281413e-04, 2.53871461e-02,
       4.70158672e-03, 9.68627140e-01, 2.05977038e-01, 9.12901271e-01,
       9.68627140e-01, 9.68627140e-01, 3.38638686e-02, 6.45086518e-01,
       9.99050431e-01, 2.53871461e-02, 2.53871461e-02, 6.44281413e-04,
       9.68679791e-01, 6.45086518e-01, 6.45086518e-01, 9.99050431e-01,
       9.99050431e-01, 6.45086518e-01, 6.45086518e-01, 9.69038558e-01,
       5.35751142e-04, 5.35751142e-04, 6.45086518e-01, 9.99050431e-01,
       6.45086518e-01, 6.45086518e-01, 6.45086518e-01, 6.45086518e-01,
       9.68627140e-01, 2.29677254e-01, 4.95266594e-03, 6.45089855e-03,
       4.54131836e-02, 1.00626085e-01, 9.26810032e-01, 9.62403950e-01,
       2.53871461e-02, 6.44281413e-04, 2.53871461e-02, 2.05977038e-01,
       9.68627140e-01, 7.25280208e-03, 7.25280208e-03, 5.41854908e-02,
       9.12901271e-01, 3.38638686e-02, 9.12901271e-01, 2.05977038e-01,
       3.38638686e-02, 2.53871461e-02, 4.95266594e-03, 7.25280208e-03,
       6.45086518e-01, 9.99050431e-01, 6.45086518e-01, 9.99050431e-01,
       6.45086518e-01, 9.99050431e-01, 9.99050431e-01, 6.45086518e-01,
       6.45086518e-01, 6.45086518e-01, 6.45086518e-01, 6.45086518e-01,
       6.03944842e-01, 9.12901271e-01, 9.68627140e-01, 9.81235520e-01,
       9.81235520e-01, 9.99966964e-01, 6.03944842e-01, 6.44281413e-04,
       4.70158672e-03, 5.41854908e-02, 9.68679791e-01, 2.29677254e-01,
       6.45089855e-03, 9.69038558e-01, 9.68627140e-01, 9.26810032e-01,
       9.12901271e-01, 2.53871461e-02, 9.12901271e-01, 9.12901271e-01,
       4.70158672e-03, 9.69038558e-01, 9.26810032e-01, 5.41854908e-02,
       5.41854908e-02, 9.68679791e-01, 2.53871461e-02, 9.62403950e-01,
       7.25280208e-03, 9.62403950e-01, 9.68627140e-01, 2.05977038e-01,
       9.12901271e-01, 6.45089855e-03, 9.12901271e-01, 3.86119295e-02,
       5.45146364e-03, 9.99966964e-01, 6.45089855e-03, 3.86119295e-02,
       9.69038558e-01, 4.54131836e-02, 9.81235520e-01, 9.99966964e-01,
       9.99966964e-01, 9.99966964e-01, 9.26810032e-01, 6.45086518e-01,
       6.45086518e-01, 7.25280208e-03, 9.99050431e-01, 6.45086518e-01,
       9.99050431e-01, 9.99050431e-01, 6.45086518e-01, 6.45086518e-01,
       9.99050431e-01, 9.99050431e-01, 9.26810032e-01, 9.99050431e-01,
       2.53871461e-02, 6.44281413e-04, 4.70158672e-03, 6.23263403e-02,
       6.03944842e-01, 5.35751142e-04, 5.35751142e-04, 5.35751142e-04,
       9.62403950e-01, 9.62403950e-01, 7.25280208e-03, 7.25280208e-03,
       7.25280208e-03, 9.62403950e-01, 7.25280208e-03, 7.25280208e-03,
       9.81235520e-01, 9.81235520e-01, 9.99966964e-01, 6.03944842e-01,
       6.23263403e-02, 5.35751142e-04, 5.45146364e-03, 3.86119295e-02,
       5.45146364e-03, 6.03944842e-01, 9.62403950e-01, 7.25280208e-03,
       9.62403950e-01, 7.25280208e-03, 2.53871461e-02, 4.54131836e-02,
       9.26810032e-01, 2.69050058e-04, 2.69050058e-04, 2.69050058e-04,
       2.69050058e-04, 9.26810032e-01, 5.35751142e-04, 5.45146364e-03,
       9.81235520e-01, 9.99966964e-01, 9.99966964e-01, 4.95266594e-03,
       3.86119295e-02, 6.44281413e-04, 2.53871461e-02, 5.41854908e-02,
       2.69050058e-04, 5.45146364e-03, 9.99966964e-01, 9.81235520e-01,
       9.99966964e-01, 5.45146364e-03, 5.41854908e-02, 6.44281413e-04,
       4.70158672e-03, 9.69038558e-01, 9.99966964e-01, 9.99966964e-01,
       6.23263403e-02, 2.53871461e-02, 4.70158672e-03, 3.98831876e-03,
       5.45146364e-03, 5.45146364e-03, 2.69050058e-04, 9.12901271e-01,
       2.05977038e-01, 2.05977038e-01, 9.68627140e-01, 4.95266594e-03,
       5.45146364e-03, 2.29677254e-01, 6.03944842e-01, 1.00626085e-01,
       6.03944842e-01, 4.54131836e-02, 1.00626085e-01, 6.45089855e-03,
       4.70158672e-03, 3.98831876e-03, 5.41854908e-02, 9.99966964e-01,
       2.69050058e-04, 9.99966964e-01, 9.99966964e-01, 9.81235520e-01,
       9.99966964e-01, 9.81235520e-01, 2.53871461e-02, 4.95266594e-03,
       9.68679791e-01, 5.45146364e-03, 2.53871461e-02, 6.44281413e-04,
       9.99966964e-01, 2.69050058e-04, 9.12901271e-01, 9.68627140e-01,
       9.12901271e-01, 9.68627140e-01, 3.38638686e-02, 6.44281413e-04,
       9.81235520e-01, 9.99966964e-01, 6.03944842e-01, 2.69050058e-04,
       2.69050058e-04, 9.12901271e-01, 9.12901271e-01, 3.38638686e-02,
       4.95266594e-03, 9.26810032e-01, 1.00626085e-01, 6.45086518e-01,
       3.86119295e-02, 9.68627140e-01, 3.38638686e-02, 2.29677254e-01,
       6.45089855e-03, 6.45086518e-01, 3.38638686e-02, 9.12901271e-01,
       9.12901271e-01, 6.03944842e-01, 1.00626085e-01, 2.05977038e-01,
       9.68627140e-01, 2.53871461e-02, 2.53871461e-02, 3.38638686e-02,
       9.99966964e-01, 9.69038558e-01, 9.68679791e-01, 2.29677254e-01,
       3.86119295e-02, 7.25280208e-03, 6.45089855e-03, 2.69050058e-04,
       1.00626085e-01, 6.03944842e-01, 9.12901271e-01, 3.38638686e-02,
       9.12901271e-01, 9.69038558e-01, 2.05977038e-01, 2.05977038e-01,
       9.12901271e-01, 2.69050058e-04, 2.69050058e-04, 5.45146364e-03,
       6.45086518e-01, 9.99050431e-01, 2.69050058e-04, 9.99966964e-01,
       9.99966964e-01, 6.03944842e-01, 9.68627140e-01, 6.45089855e-03,
       9.26810032e-01, 2.05977038e-01, 9.12901271e-01, 5.45146364e-03,
       9.99966964e-01, 2.69050058e-04, 9.12901271e-01, 6.45089855e-03,
       2.69050058e-04, 9.12901271e-01, 9.68679791e-01, 6.03944842e-01,
       6.03944842e-01, 9.81235520e-01, 9.81235520e-01, 9.99966964e-01,
       2.69050058e-04, 9.81235520e-01, 9.81235520e-01, 9.62403950e-01,
       9.99966964e-01, 9.99966964e-01, 7.25280208e-03, 7.25280208e-03,
       7.25280208e-03, 5.45146364e-03, 5.41854908e-02, 9.81235520e-01,
       9.99966964e-01, 9.99966964e-01, 6.23263403e-02, 5.45146364e-03,
       6.45086518e-01, 6.45086518e-01, 6.45086518e-01, 9.99050431e-01,
       6.45086518e-01, 6.45086518e-01, 9.26810032e-01, 5.45146364e-03,
       9.99966964e-01, 2.69050058e-04, 2.69050058e-04, 2.69050058e-04,
       7.25280208e-03, 7.25280208e-03, 9.81235520e-01, 3.86119295e-02,
       9.99966964e-01, 9.99966964e-01, 9.99966964e-01, 3.98831876e-03,
       4.95266594e-03, 9.99966964e-01, 6.45089855e-03, 2.69050058e-04,
       2.69050058e-04, 6.23263403e-02, 2.69050058e-04, 6.45089855e-03,
       4.54131836e-02, 9.99966964e-01, 2.69050058e-04, 5.45146364e-03,
       5.41854908e-02, 9.68679791e-01, 6.23263403e-02, 1.00626085e-01,
       4.54131836e-02, 2.53871461e-02, 3.86119295e-02, 5.45146364e-03,
       5.45146364e-03, 2.69050058e-04, 2.29677254e-01, 4.54131836e-02,
       5.41854908e-02, 9.99966964e-01, 9.99966964e-01, 2.69050058e-04,
       4.54131836e-02, 5.45146364e-03, 4.70158672e-03, 9.81235520e-01,
       1.00626085e-01, 6.03944842e-01, 2.69050058e-04, 6.03944842e-01,
       9.99050431e-01, 9.12901271e-01, 9.12901271e-01, 6.23263403e-02,
       6.23263403e-02, 9.99966964e-01, 9.99966964e-01, 9.99966964e-01,
       2.69050058e-04, 9.68679791e-01, 2.69050058e-04, 2.69050058e-04,
       9.12901271e-01, 3.38638686e-02, 9.12901271e-01, 9.12901271e-01,
       3.38638686e-02, 4.54131836e-02, 3.98831876e-03, 5.45146364e-03,
       9.69038558e-01, 6.03944842e-01, 9.81235520e-01, 9.99966964e-01,
       9.99966964e-01, 9.68679791e-01, 2.69050058e-04, 2.69050058e-04,
       9.68679791e-01, 3.86119295e-02, 6.03944842e-01, 6.03944842e-01,
       7.25280208e-03, 9.68627140e-01, 3.86119295e-02, 4.70158672e-03,
       4.70158672e-03, 6.44281413e-04, 4.70158672e-03, 4.95266594e-03,
       1.00626085e-01, 2.69050058e-04, 6.45086518e-01, 6.45086518e-01,
       6.45086518e-01, 9.99050431e-01, 5.41854908e-02, 5.41854908e-02,
       5.41854908e-02, 6.45089855e-03, 6.23263403e-02, 6.03944842e-01,
       6.45089855e-03, 4.54131836e-02, 9.69038558e-01, 6.45089855e-03,
       2.53871461e-02, 6.03944842e-01, 9.69038558e-01, 3.98831876e-03,
       2.05977038e-01, 3.38638686e-02, 9.12901271e-01, 9.12901271e-01,
       2.05977038e-01, 9.12901271e-01, 4.70158672e-03, 5.35751142e-04,
       5.35751142e-04, 5.35751142e-04, 2.05977038e-01, 4.54131836e-02,
       5.41854908e-02, 9.99966964e-01, 3.98831876e-03, 2.05977038e-01,
       9.12901271e-01, 9.68627140e-01, 9.12901271e-01, 6.03944842e-01,
       3.38638686e-02, 2.05977038e-01, 9.12901271e-01, 9.68627140e-01,
       9.69038558e-01, 2.69050058e-04, 2.53871461e-02, 2.53871461e-02,
       2.53871461e-02, 6.44281413e-04, 5.41854908e-02, 5.41854908e-02,
       1.00626085e-01, 6.03944842e-01, 6.03944842e-01, 4.54131836e-02,
       9.69038558e-01, 9.12901271e-01, 9.12901271e-01, 6.03944842e-01,
       3.86119295e-02, 3.98831876e-03, 7.25280208e-03, 9.62403950e-01,
       7.25280208e-03, 7.25280208e-03, 7.25280208e-03, 2.29677254e-01,
       6.03944842e-01, 3.98831876e-03, 5.45146364e-03, 9.68627140e-01,
       3.38638686e-02, 9.81235520e-01, 9.81235520e-01, 9.99966964e-01,
       9.99966964e-01, 9.99966964e-01, 9.81235520e-01, 9.99966964e-01,
       6.03944842e-01, 6.03944842e-01, 6.23263403e-02, 9.81235520e-01,
       2.69050058e-04, 3.98831876e-03, 9.99966964e-01, 2.53871461e-02,
       6.44281413e-04, 4.70158672e-03, 1.00626085e-01, 6.03944842e-01,
       6.44281413e-04, 4.70158672e-03, 2.53871461e-02, 4.95266594e-03,
       4.54131836e-02, 9.81235520e-01, 9.81235520e-01, 2.29677254e-01,
       5.45146364e-03, 2.69050058e-04, 9.99966964e-01, 2.69050058e-04,
       2.69050058e-04, 9.99966964e-01, 9.99966964e-01, 9.99966964e-01,
       2.69050058e-04, 2.29677254e-01, 2.69050058e-04, 6.03944842e-01,
       9.68627140e-01, 9.68627140e-01, 3.38638686e-02, 9.12901271e-01,
       3.38638686e-02, 2.29677254e-01, 4.70158672e-03, 5.35751142e-04,
       7.25280208e-03, 9.62403950e-01, 5.35751142e-04, 5.35751142e-04,
       2.53871461e-02, 6.45089855e-03, 9.12901271e-01, 2.05977038e-01,
       9.69038558e-01, 9.26810032e-01, 4.54131836e-02, 1.00626085e-01,
       1.00626085e-01, 6.03944842e-01, 9.68679791e-01, 1.00626085e-01,
       6.03944842e-01, 9.26810032e-01, 6.03944842e-01, 6.03944842e-01,
       9.68679791e-01, 2.29677254e-01, 2.29677254e-01, 2.53871461e-02,
       9.62403950e-01, 5.35751142e-04, 2.05977038e-01, 7.25280208e-03,
       7.25280208e-03, 5.35751142e-04, 3.38638686e-02, 7.25280208e-03,
       7.25280208e-03, 9.99050431e-01, 2.05977038e-01, 9.68679791e-01,
       9.68679791e-01, 2.69050058e-04, 5.41854908e-02, 5.35751142e-04,
       5.35751142e-04, 5.35751142e-04])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
505,JPN,Baseball,False,0,1,0,1,8,3
506,JPN,Baseball,False,0,1,0,1,8,1
578,USA,Baseball,True,0,1,1,1,8,6
1216,USA,Baseball,False,0,1,1,2,7,5
1439,ZAF,Baseball,False,0,0,0,4,5,0
...,...,...,...,...,...,...,...,...,...
201091,NIC,Baseball,False,0,0,0,4,7,0
201419,GRC,Baseball,False,0,1,0,2,8,0
202009,CHN,Baseball,False,1,0,7,4,7,1
202064,CHN,Baseball,False,1,0,7,4,7,1
202276,CHN,Baseball,False,1,0,7,4,7,1

In [175]:
Baseball_df['Predictions'] = y_pred.tolist()
Baseball_final = Baseball_df.drop_duplicates(subset=['NOC'], keep='last')
Baseball_final = Baseball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
Baseball_final

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1263594060.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Baseball_final = Baseball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC     Sport  Predictions
186125  ESP  Baseball     0.062326
187383  ZAF  Baseball     0.004953
188471  ITA  Baseball     0.005451
188746  PRI  Baseball     0.000269
188969  CUB  Baseball     0.999967
190122  DOM  Baseball     0.000269
193818  CAN  Baseball     0.045413
195652  AUS  Baseball     0.603945
197203  NLD  Baseball     0.025387
199761  KOR  Baseball     0.999050
199888  JPN  Baseball     0.205977
200006  USA  Baseball     0.968680
201091  NIC  Baseball     0.000269
201419  GRC  Baseball     0.054185
202276  CHN  Baseball     0.000536

In [176]:
M = pd.merge(S_Swimming_final, Baseball_final, how='outer', on=['NOC', 'NOC'])
M.rename(columns = {'Predictions_x':'Sychronized Swimming', 'Predictions_y':'Baseball'}, inplace = True)
M = M.drop(["Sport_x","Sport_y"], 1)
M

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/184479326.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  M = M.drop(["Sport_x","Sport_y"], 1)

    NOC  Sychronized Swimming  Baseball
0   COL              0.020051       NaN
1   SWE              0.031143       NaN
2   SVK              0.020051       NaN
3   FIN              0.031143       NaN
4   HUN              0.017322       NaN
5   CUB              0.020051  0.999967
6   VEN              0.012793       NaN
7   NZL              0.012793       NaN
8   ARG              0.073709       NaN
9   DEU              0.087515       NaN
10  BEL              0.073709       NaN
11  DOM              0.012520  0.000269
12  CHE              0.017322       NaN
13  CZE              0.020051       NaN
14  GRC              0.020051  0.054185
15  ESP              0.733391  0.062326
16  PRI              0.073709  0.000269
17  BRA              0.000492       NaN
18  MEX              0.020051       NaN
19  FRA              0.059088       NaN
20  GBR              0.020051       NaN
21  CAN              0.748078  0.045413
22  AUT              0.017322       NaN
23  ZAF              0.012520  0.004953
24  BLR              0.020051       NaN
25  ISR              0.164845       NaN
26  JPN              0.871750  0.205977
27  AUS              0.035629  0.603945
28  EGY              0.012520       NaN
29  KOR              0.012793  0.999050
30  RUS              0.456774       NaN
31  UKR              0.017322       NaN
32  ITA              0.029754  0.005451
33  USA              0.772991  0.968680
34  BGR              0.020051       NaN
35  CHN              0.020051  0.000536
36  KAZ              0.020051       NaN
37  NLD              0.048301  0.025387
38  NIC                   NaN  0.000269

Rhythmic Gymnastics

In [177]:
R_Gymnastics_df = data_df[data_df['Sport'] == "Rhythmic Gymnastics"]
R_Gymnastics_df = R_Gymnastics_df.dropna()

In [178]:
R_Gymnastics_dummies = pd.get_dummies(R_Gymnastics_df)
R_Gymnastics_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BGR,NOC_BLR,NOC_BRA,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
527,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
759,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
935,False,1,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [179]:
x_train = R_Gymnastics_dummies.drop(columns=['Medal'])
y_train = R_Gymnastics_dummies['Medal']

x_test = R_Gymnastics_dummies.drop(columns=['Medal'])
y_test = R_Gymnastics_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8769716088328076

In [180]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,R_Gymnastics_df)

array([0.42989146, 0.07218189, 0.7855446 , 0.47912752, 0.47912752,
       0.47912752, 0.45261119, 0.02389408, 0.00400481, 0.75060945,
       0.34279168, 0.9802429 , 0.07218189, 0.71022934, 0.07218189,
       0.45261119, 0.75060945, 0.28455627, 0.28455627, 0.03241251,
       0.61053272, 0.07218189, 0.03241251, 0.69290556, 0.04208097,
       0.75060945, 0.07218189, 0.61053272, 0.07218189, 0.2574121 ,
       0.0344429 , 0.98744547, 0.96509225, 0.75060945, 0.98744547,
       0.98744547, 0.13858113, 0.03241251, 0.03406288, 0.03241251,
       0.07218189, 0.55765882, 0.03482515, 0.00737294, 0.36852657,
       0.38425433, 0.07218189, 0.36852657, 0.03406288, 0.9802429 ,
       0.07218189, 0.03241251, 0.04208097, 0.07182611, 0.54107029,
       0.55765882, 0.55765882, 0.9802429 , 0.9802429 , 0.07218189,
       0.61053272, 0.54107029, 0.96509225, 0.07218189, 0.07218189,
       0.05245379, 0.03241251, 0.75060945, 0.75060945, 0.04050285,
       0.61053272, 0.80976622, 0.07218189, 0.61053272, 0.03241251,
       0.10468739, 0.0344429 , 0.0344429 , 0.55765882, 0.61053272,
       0.61053272, 0.07218189, 0.07218189, 0.15313161, 0.0344429 ,
       0.55765882, 0.0768006 , 0.98744547, 0.38425433, 0.75060945,
       0.75060945, 0.36852657, 0.03241251, 0.80976622, 0.61053272,
       0.61053272, 0.42989146, 0.42989146, 0.6072449 , 0.10468739,
       0.06510606, 0.15916225, 0.71022934, 0.07693925, 0.07218189,
       0.03946102, 0.02677718, 0.07218189, 0.0344429 , 0.03241251,
       0.69290556, 0.07218189, 0.75060945, 0.64560333, 0.03241251,
       0.9802429 , 0.38425433, 0.38425433, 0.38425433, 0.54107029,
       0.55765882, 0.28455627, 0.45261119, 0.61053272, 0.9802429 ,
       0.09213195, 0.05965177, 0.75060945, 0.9802429 , 0.67846461,
       0.15916225, 0.07218189, 0.04050285, 0.36852657, 0.96509225,
       0.28455627, 0.01489592, 0.03925969, 0.45261119, 0.54107029,
       0.55765882, 0.07218189, 0.0344429 , 0.15313161, 0.04430227,
       0.0344429 , 0.0344429 , 0.38369766, 0.07218189, 0.45261119,
       0.04050285, 0.03241251, 0.15313161, 0.04654276, 0.07218189,
       0.07218189, 0.07218189, 0.02292801, 0.15916225, 0.15916225,
       0.75060945, 0.07218189, 0.07693925, 0.15916225, 0.47912752,
       0.9802429 , 0.45261119, 0.38369766, 0.54107029, 0.07218189,
       0.61053272, 0.15916225, 0.98744547, 0.75060945, 0.07693925,
       0.07218189, 0.05245379, 0.75060945, 0.42989146, 0.42989146,
       0.42989146, 0.9802429 , 0.71022934, 0.03241251, 0.07218189,
       0.61053272, 0.61053272, 0.05245379, 0.03925969, 0.02292801,
       0.02180496, 0.03406288, 0.07218189, 0.03241251, 0.36852657,
       0.38425433, 0.03241251, 0.38425433, 0.38425433, 0.16274974,
       0.38425433, 0.03946102, 0.07218189, 0.07218189, 0.07218189,
       0.38425433, 0.38425433, 0.07218189, 0.15313161, 0.71022934,
       0.75060945, 0.69290556, 0.69290556, 0.56413556, 0.00488111,
       0.03925969, 0.03241251, 0.75060945, 0.75060945, 0.96509225,
       0.02677718, 0.07532709, 0.15313161, 0.07218189, 0.03241251,
       0.98744547, 0.98744547, 0.75060945, 0.28455627, 0.28455627,
       0.69290556, 0.07182611, 0.69290556, 0.69290556, 0.9802429 ,
       0.9802429 , 0.01489592, 0.9802429 , 0.36852657, 0.45261119,
       0.00400481, 0.69290556, 0.09213195, 0.69290556, 0.69290556,
       0.69290556, 0.10978939, 0.03241251, 0.28455627, 0.45261119,
       0.28455627, 0.0768006 , 0.16274974, 0.0768006 , 0.10978939,
       0.05965177, 0.07218189, 0.02069373, 0.69290556, 0.45261119,
       0.04050285, 0.04050285, 0.75060945, 0.36852657, 0.96509225,
       0.9802429 , 0.98744547, 0.07218189, 0.69290556, 0.07218189,
       0.28455627, 0.04654276, 0.61053272, 0.10468739, 0.55765882,
       0.07182611, 0.05965177, 0.98744547, 0.98744547, 0.75060945,
       0.07218189, 0.0768006 , 0.07182611, 0.03241251, 0.0344429 ,
       0.38425433, 0.15313161, 0.75060945, 0.07218189, 0.04050285,
       0.00737294, 0.80976622, 0.03946102, 0.07693925, 0.42989146,
       0.09996936, 0.61053272, 0.55765882, 0.47912752, 0.47912752,
       0.28455627, 0.00737294, 0.03946102, 0.03946102, 0.80976622,
       0.71022934, 0.75060945, 0.75060945, 0.75060945, 0.04050285,
       0.0344429 , 0.69290556, 0.69290556, 0.28455627, 0.07693925,
       0.9802429 , 0.9802429 , 0.38425433, 0.38425433, 0.75060945,
       0.61053272, 0.9802429 , 0.05965177, 0.28455627, 0.69290556,
       0.0344429 , 0.0344429 , 0.71022934, 0.54107029, 0.69290556,
       0.69290556, 0.69290556, 0.15916225, 0.61053272, 0.61053272,
       0.75060945, 0.75060945, 0.54107029, 0.55765882, 0.02677718,
       0.02292801, 0.02180496, 0.00488111, 0.0344429 , 0.55765882,
       0.04050285, 0.38425433, 0.01489592, 0.03925969, 0.0344429 ,
       0.45261119, 0.03241251, 0.02180496, 0.03925969, 0.69290556,
       0.07218189, 0.10978939, 0.00488111, 0.47912752, 0.47912752,
       0.07218189, 0.07218189, 0.09213195, 0.07182611, 0.07218189,
       0.10978939, 0.03406288, 0.0344429 , 0.10468739, 0.00488111,
       0.03925969, 0.07532709, 0.98744547, 0.0344429 , 0.00488111,
       0.00488111, 0.75060945, 0.69290556, 0.69290556, 0.9802429 ,
       0.02677718, 0.75060945, 0.98744547, 0.03241251, 0.75060945,
       0.61053272, 0.02180496, 0.75060945, 0.00488111, 0.0344429 ,
       0.10468739, 0.00400481, 0.0768006 , 0.0768006 , 0.42989146,
       0.42989146, 0.55765882, 0.55765882, 0.69290556, 0.69290556,
       0.04050285, 0.28455627, 0.07218189, 0.45261119, 0.67846461,
       0.45261119, 0.28455627, 0.54107029, 0.7855446 , 0.36852657,
       0.55765882, 0.69290556, 0.07218189, 0.42989146, 0.38425433,
       0.07693925, 0.67846461, 0.69290556, 0.69290556, 0.69290556,
       0.03406288, 0.54107029, 0.28455627, 0.54107029, 0.08067649,
       0.04050285, 0.75060945, 0.28455627, 0.05965177, 0.75060945,
       0.45261119, 0.75060945, 0.67846461, 0.69290556, 0.98744547,
       0.9802429 , 0.03241251, 0.15313161, 0.0768006 , 0.04254705,
       0.38425433, 0.07218189, 0.03406288, 0.75060945, 0.07218189,
       0.07218189, 0.07218189, 0.47912752, 0.47912752, 0.07218189,
       0.03406288, 0.69290556, 0.69290556, 0.75060945, 0.47912752,
       0.05245379, 0.10468739, 0.10978939, 0.04050285, 0.04050285,
       0.04050285, 0.04050285, 0.38425433, 0.38425433, 0.05245379,
       0.42989146, 0.47912752, 0.47912752, 0.01489592, 0.07218189,
       0.07218189, 0.54107029, 0.75060945, 0.42989146, 0.05878032,
       0.71022934, 0.02292801, 0.03241251, 0.42989146, 0.28455627,
       0.28455627, 0.45261119, 0.01416059, 0.10978939, 0.75060945,
       0.75060945, 0.45261119, 0.54107029, 0.55765882, 0.55765882,
       0.05965177, 0.04050285, 0.55765882, 0.55765882, 0.03241251,
       0.0344429 , 0.05600181, 0.03241251, 0.04430227, 0.03241251,
       0.0768006 , 0.03241251, 0.06510606, 0.07218189, 0.36852657,
       0.03241251, 0.05965177, 0.9802429 , 0.98744547, 0.01489592,
       0.2574121 , 0.98744547, 0.9802429 , 0.96509225, 0.2574121 ,
       0.04050285, 0.02677718, 0.02677718, 0.00737294, 0.13858113,
       0.45261119, 0.38425433, 0.15313161, 0.07182611, 0.07182611,
       0.45261119, 0.06510606, 0.0768006 , 0.03241251, 0.03241251,
       0.6072449 , 0.56413556, 0.75060945, 0.75060945, 0.03241251,
       0.55765882, 0.07218189, 0.04050285, 0.04050285, 0.02180496,
       0.80976622, 0.80976622, 0.07218189, 0.07218189, 0.07218189,
       0.69290556, 0.05600181, 0.69290556, 0.03925969, 0.02292801,
       0.69290556, 0.69290556, 0.69290556, 0.9802429 , 0.07218189,
       0.69290556, 0.54107029, 0.10468739, 0.03241251, 0.69290556,
       0.69290556, 0.69290556, 0.08067649, 0.9802429 , 0.69290556,
       0.07218189, 0.05600181, 0.07218189, 0.28455627, 0.34279168,
       0.75060945, 0.03925969, 0.75060945, 0.75060945, 0.02677718,
       0.69290556, 0.75060945, 0.42989146, 0.69290556, 0.61053272,
       0.54107029, 0.10978939, 0.04050285, 0.04050285, 0.36852657,
       0.36852657, 0.69290556, 0.07532709, 0.38425433, 0.09213195,
       0.07218189, 0.05878032, 0.05878032, 0.03241251, 0.07218189,
       0.07218189, 0.00400481, 0.00400481, 0.00400481, 0.02389408,
       0.2574121 , 0.07218189, 0.36852657, 0.02180496, 0.0768006 ,
       0.96509225, 0.10978939, 0.07218189, 0.54107029, 0.28455627,
       0.04050285, 0.28455627, 0.96509225, 0.07218189, 0.01489592,
       0.01489592, 0.2574121 , 0.03946102, 0.80976622, 0.2574121 ,
       0.75060945, 0.07218189, 0.04050285, 0.07218189, 0.03946102,
       0.07218189, 0.07218189, 0.75060945, 0.75060945, 0.98744547,
       0.03482515, 0.1165123 , 0.38425433, 0.9802429 ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
527,ESP,Rhythmic Gymnastics,False,0,1,0,2,8,0
759,GEO,Rhythmic Gymnastics,False,0,0,0,4,7,0
935,ESP,Rhythmic Gymnastics,False,1,0,0,2,8,0
961,ESP,Rhythmic Gymnastics,False,0,1,0,1,8,0
1783,ESP,Rhythmic Gymnastics,False,0,1,0,1,8,0
...,...,...,...,...,...,...,...,...,...
202970,RUS,Rhythmic Gymnastics,True,0,0,0,2,6,0
203071,USA,Rhythmic Gymnastics,False,1,0,1,2,7,7
203465,NOR,Rhythmic Gymnastics,False,0,0,0,2,8,0
203608,UKR,Rhythmic Gymnastics,False,0,0,0,2,7,0
203879,RUS,Rhythmic Gymnastics,True,0,0,0,2,7,0

In [181]:
R_Gymnastics_df['Predictions'] = y_pred.tolist()
R_Gymnastics_final = R_Gymnastics_df.drop_duplicates(subset=['NOC'], keep='last')
R_Gymnastics_final = R_Gymnastics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)
R_Gymnastics_final

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2322458286.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  R_Gymnastics_final = R_Gymnastics_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

        NOC                Sport  Predictions
14839   SWE  Rhythmic Gymnastics     0.138581
53785   DNK  Rhythmic Gymnastics     0.046543
82268   PRT  Rhythmic Gymnastics     0.072182
88051   EST  Rhythmic Gymnastics     0.076801
90843   LTU  Rhythmic Gymnastics     0.072182
121737  CPV  Rhythmic Gymnastics     0.072182
145369  AUS  Rhythmic Gymnastics     0.042547
157925  ZAF  Rhythmic Gymnastics     0.109789
160902  BRA  Rhythmic Gymnastics     0.044302
162979  FRA  Rhythmic Gymnastics     0.059652
169997  GBR  Rhythmic Gymnastics     0.065106
170741  CZE  Rhythmic Gymnastics     0.076801
172821  ROU  Rhythmic Gymnastics     0.072182
172914  BEL  Rhythmic Gymnastics     0.040503
176039  HUN  Rhythmic Gymnastics     0.072182
176441  EGY  Rhythmic Gymnastics     0.072182
178264  GEO  Rhythmic Gymnastics     0.072182
180832  CAN  Rhythmic Gymnastics     0.104687
183052  CYP  Rhythmic Gymnastics     0.056002
183150  UZB  Rhythmic Gymnastics     0.072182
189054  ESP  Rhythmic Gymnastics     0.610533
189346  CHE  Rhythmic Gymnastics     0.109789
190503  BGR  Rhythmic Gymnastics     0.692906
190904  FIN  Rhythmic Gymnastics     0.075327
192090  NZL  Rhythmic Gymnastics     0.092132
193608  AUT  Rhythmic Gymnastics     0.058780
195376  DEU  Rhythmic Gymnastics     0.032413
199159  AZE  Rhythmic Gymnastics     0.072182
199676  JPN  Rhythmic Gymnastics     0.021805
200395  KOR  Rhythmic Gymnastics     0.076801
200579  KAZ  Rhythmic Gymnastics     0.072182
200675  ITA  Rhythmic Gymnastics     0.541070
200955  GRC  Rhythmic Gymnastics     0.284556
201460  POL  Rhythmic Gymnastics     0.072182
202573  ISR  Rhythmic Gymnastics     0.040503
202659  CHN  Rhythmic Gymnastics     0.072182
202781  BLR  Rhythmic Gymnastics     0.750609
203071  USA  Rhythmic Gymnastics     0.034825
203465  NOR  Rhythmic Gymnastics     0.116512
203608  UKR  Rhythmic Gymnastics     0.384254
203879  RUS  Rhythmic Gymnastics     0.980243

Taekwondo

In [182]:
Taekwondo_df = data_df[data_df['Sport'] == "Taekwondo"]
Taekwondo_df = Taekwondo_df.dropna()

In [183]:
Taekwondo_dummies = pd.get_dummies(Taekwondo_df)
Taekwondo_dummies.head(3)

,Medal,Host,NOC_AFG,NOC_ARE,NOC_ARG,NOC_ARM,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
92,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
101,True,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
213,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [184]:
x_train = Taekwondo_dummies.drop(columns=['Medal'])
y_train = Taekwondo_dummies['Medal']

x_test = Taekwondo_dummies.drop(columns=['Medal'])
y_test = Taekwondo_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.7979966611018364

In [185]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Taekwondo_df)

array([0.24843752, 0.5142375 , 0.24843752, 0.76557814, 0.15775554,
       0.15775554, 0.406913  , 0.406913  , 0.16423865, 0.41269565,
       0.24843752, 0.57620129, 0.24843752, 0.2335639 , 0.406913  ,
       0.406913  , 0.15775554, 0.25401992, 0.15775554, 0.55029935,
       0.51919866, 0.60861226, 0.10371466, 0.2335639 , 0.22743696,
       0.24843752, 0.13064245, 0.16423865, 0.60861226, 0.25401992,
       0.08485472, 0.51734166, 0.58362253, 0.16423865, 0.29345293,
       0.68820393, 0.74152662, 0.406913  , 0.2791542 , 0.41100625,
       0.6360773 , 0.51790499, 0.2335639 , 0.62563544, 0.08485472,
       0.15775554, 0.28042152, 0.56618463, 0.56618463, 0.52763629,
       0.67412503, 0.76129869, 0.18987916, 0.5142375 , 0.19995764,
       0.11219445, 0.11219445, 0.2335639 , 0.2335639 , 0.2335639 ,
       0.2335639 , 0.52080512, 0.25845555, 0.11219445, 0.65318784,
       0.2335639 , 0.51502679, 0.52623178, 0.69070904, 0.38069064,
       0.38069064, 0.18731889, 0.18731889, 0.11219445, 0.11219445,
       0.14176207, 0.62563544, 0.2170647 , 0.40605236, 0.52763629,
       0.17763352, 0.17763352, 0.60261437, 0.40605236, 0.18987916,
       0.18987916, 0.29345293, 0.406913  , 0.406913  , 0.406913  ,
       0.21437576, 0.14176207, 0.14176207, 0.34613729, 0.39136557,
       0.39136557, 0.81745947, 0.74389611, 0.81745947, 0.81778346,
       0.18987916, 0.18987916, 0.08485472, 0.74389611, 0.81745947,
       0.29345293, 0.52014579, 0.81745947, 0.71896616, 0.15775554,
       0.65549651, 0.18731889, 0.18731889, 0.18731889, 0.41100625,
       0.406913  , 0.406913  , 0.27107459, 0.53920963, 0.18731889,
       0.28816157, 0.34613729, 0.18731889, 0.30090451, 0.69574826,
       0.2335639 , 0.2170647 , 0.17253574, 0.40309465, 0.40309465,
       0.3271927 , 0.62563544, 0.406913  , 0.406913  , 0.406913  ,
       0.28816157, 0.69302845, 0.29345293, 0.39136557, 0.56618463,
       0.56618463, 0.29345293, 0.62630618, 0.13064245, 0.406913  ,
       0.18731889, 0.18731889, 0.18731889, 0.406913  , 0.08485472,
       0.08485472, 0.17253574, 0.2335639 , 0.54226775, 0.18731889,
       0.56618463, 0.41269565, 0.29345293, 0.24843752, 0.24843752,
       0.39136557, 0.76129869, 0.69070904, 0.68820393, 0.13808298,
       0.13808298, 0.52080512, 0.69302845, 0.55029935, 0.56628609,
       0.24843752, 0.69302845, 0.69302845, 0.40309465, 0.40309465,
       0.40309465, 0.51502679, 0.29345293, 0.29345293, 0.32977357,
       0.32977357, 0.69574826, 0.55029935, 0.58699007, 0.58699007,
       0.406913  , 0.60261437, 0.16423865, 0.56618463, 0.41100625,
       0.41100625, 0.18731889, 0.17253574, 0.17253574, 0.67412503,
       0.76129869, 0.51502679, 0.17547372, 0.17253574, 0.10371466,
       0.38069064, 0.30090451, 0.60261437, 0.60261437, 0.68820393,
       0.62563544, 0.35547476, 0.41269565, 0.41269565, 0.32977357,
       0.32977357, 0.79895909, 0.15775554, 0.61799636, 0.56628609,
       0.65318784, 0.74152662, 0.08485472, 0.17501577, 0.23252438,
       0.2335639 , 0.6668289 , 0.40605236, 0.68820393, 0.6668289 ,
       0.53920963, 0.21437576, 0.406913  , 0.74389611, 0.3271927 ,
       0.41269565, 0.62630618, 0.49019124, 0.406913  , 0.2170647 ,
       0.50709615, 0.5142375 , 0.5142375 , 0.77828922, 0.74389611,
       0.74389611, 0.74389611, 0.81745947, 0.65549651, 0.39136557,
       0.24843752, 0.93113113, 0.93113113, 0.94646831, 0.93113113,
       0.5142375 , 0.69302845, 0.56618463, 0.93113113, 0.94646831,
       0.94646831, 0.93113113, 0.69574826, 0.17547372, 0.17547372,
       0.65536116, 0.52014579, 0.29345293, 0.96145538, 0.406913  ,
       0.18731889, 0.6668289 , 0.57620129, 0.74152662, 0.13808298,
       0.17501577, 0.2335639 , 0.2335639 , 0.13808298, 0.17547372,
       0.15775554, 0.18731889, 0.18731889, 0.16423865, 0.22958794,
       0.09931481, 0.52623178, 0.60861226, 0.74152662, 0.18987916,
       0.13808298, 0.13808298, 0.96145538, 0.56618463, 0.94646831,
       0.94646831, 0.2791542 , 0.41100625, 0.41100625, 0.39136557,
       0.3271927 , 0.58362253, 0.76557814, 0.62630618, 0.69574826,
       0.15775554, 0.94646831, 0.94646831, 0.94646831, 0.96145538,
       0.2335639 , 0.65549651, 0.81778346, 0.77828922, 0.3271927 ,
       0.2330903 , 0.2170647 , 0.69574826, 0.69574826, 0.69574826,
       0.39136557, 0.39136557, 0.76557814, 0.76557814, 0.69574826,
       0.69574826, 0.69574826, 0.2335639 , 0.25067479, 0.14176207,
       0.17763352, 0.81745947, 0.40605236, 0.56618463, 0.2335639 ,
       0.24843752, 0.24843752, 0.13808298, 0.29345293, 0.51502679,
       0.51502679, 0.56628609, 0.32977357, 0.60861226, 0.18731889,
       0.21437576, 0.22958794, 0.09931481, 0.09931481, 0.40605236,
       0.28042152, 0.62630618, 0.62630618, 0.62630618, 0.62630618,
       0.69574826, 0.69574826, 0.62630618, 0.29926632, 0.47400493,
       0.47400493, 0.30090451, 0.30090451, 0.25401992, 0.25401992,
       0.13808298, 0.56618463, 0.2335639 , 0.18731889, 0.18731889,
       0.14176207, 0.25845555, 0.2335639 , 0.34613729, 0.52763629,
       0.19995764, 0.62630618, 0.39136557, 0.39136557, 0.13064245,
       0.29345293, 0.76557814, 0.28042152, 0.21437576, 0.51734166,
       0.58362253, 0.65536116, 0.52014579, 0.93113113, 0.62630618,
       0.39136557, 0.39136557, 0.25067479, 0.58362253, 0.58362253,
       0.74152662, 0.39136557, 0.2335639 , 0.56628609, 0.68820393,
       0.15775554, 0.76129869, 0.15775554, 0.15775554, 0.2335639 ,
       0.15775554, 0.15775554, 0.68820393, 0.51734166, 0.58362253,
       0.58362253, 0.58362253, 0.6360773 , 0.51790499, 0.6668289 ,
       0.406913  , 0.52623178, 0.28816157, 0.40309465, 0.29345293,
       0.406913  , 0.406913  , 0.18731889, 0.16423865, 0.18731889,
       0.18731889, 0.94646831, 0.40605236, 0.50709615, 0.50709615,
       0.42849388, 0.2335639 , 0.09173168, 0.55029935, 0.2335639 ,
       0.2335639 , 0.25845555, 0.38069064, 0.27107459, 0.5142375 ,
       0.39136557, 0.39136557, 0.14176207, 0.69302845, 0.69302845,
       0.49019124, 0.76557814, 0.3271927 , 0.17763352, 0.52623178,
       0.18731889, 0.52623178, 0.39136557, 0.26336979, 0.26336979,
       0.65549651, 0.13808298, 0.26336979, 0.22743696, 0.58699007,
       0.58699007, 0.16423865, 0.39136557, 0.24843752, 0.2335639 ,
       0.58699007, 0.17253574, 0.10371466, 0.14176207, 0.49019124,
       0.25401992, 0.39136557, 0.16423865, 0.52080512, 0.57620129,
       0.57620129, 0.74152662, 0.62630618, 0.18731889, 0.29345293,
       0.29345293, 0.24843752, 0.24843752, 0.69302845, 0.69302845,
       0.2335639 , 0.2170647 , 0.2170647 , 0.2335639 , 0.17547372,
       0.18731889, 0.13064245, 0.581029  , 0.581029  , 0.52763629,
       0.52763629, 0.18987916, 0.11219445, 0.30090451, 0.30090451,
       0.2335639 , 0.09931481, 0.13808298, 0.40309465, 0.58699007,
       0.96145538, 0.54226775, 0.54226775, 0.56896233, 0.2630487 ,
       0.53112866, 0.55299637, 0.93113113, 0.93113113, 0.6668289 ,
       0.2335639 , 0.2335639 , 0.27107459, 0.15775554, 0.65536116,
       0.2630487 , 0.62563544, 0.62563544, 0.53920963, 0.65536116,
       0.17253574, 0.71896616, 0.52623178, 0.71896616, 0.52623178,
       0.79895909, 0.65318784, 0.79895909, 0.79895909, 0.406913  ,
       0.79895909, 0.79895909, 0.2335639 , 0.79895909, 0.79895909,
       0.79895909, 0.54226775, 0.2335639 , 0.39136557, 0.2335639 ,
       0.2335639 , 0.2330903 , 0.11219445, 0.39136557, 0.2335639 ,
       0.2335639 , 0.60261437, 0.2335639 , 0.22743696, 0.2335639 ,
       0.15775554, 0.40605236, 0.28042152, 0.77828922, 0.32977357,
       0.13808298, 0.56618463, 0.24843752, 0.2335639 , 0.406913  ,
       0.581029  , 0.581029  , 0.62630618, 0.52014579, 0.2335639 ,
       0.77828922, 0.40309465, 0.40309465, 0.40605236, 0.18987916,
       0.6668289 , 0.81778346, 0.77828922, 0.65549651, 0.58699007,
       0.60261437, 0.71896616, 0.77828922, 0.2335639 , 0.29345293,
       0.29345293, 0.17547372, 0.29345293, 0.35547476, 0.35547476,
       0.35547476, 0.35547476, 0.52080512, 0.65549651, 0.29345293,
       0.65549651, 0.74389611, 0.81778346, 0.5142375 , 0.5142375 ,
       0.5142375 , 0.11219445, 0.11219445, 0.581029  ])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
92,EGY,Taekwondo,False,0,0,0,5,7,0
101,AZE,Taekwondo,True,0,0,0,4,7,0
213,EGY,Taekwondo,False,0,0,0,5,7,0
230,USA,Taekwondo,True,0,1,1,1,8,6
475,KGZ,Taekwondo,False,0,0,0,6,7,0
...,...,...,...,...,...,...,...,...,...
203239,AZE,Taekwondo,False,0,0,0,4,7,0
203240,AZE,Taekwondo,False,0,0,0,4,7,0
203565,MAR,Taekwondo,False,0,0,0,4,7,0
203566,MAR,Taekwondo,False,0,0,0,4,7,0
203610,HRV,Taekwondo,True,0,0,0,4,7,0

In [186]:
Taekwondo_df['Predictions'] = y_pred.tolist()
Taekwondo_final = Taekwondo_df.drop_duplicates(subset=['NOC'], keep='last')
Taekwondo_final = Taekwondo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/4211559542.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Taekwondo_final = Taekwondo_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [187]:
N = pd.merge(R_Gymnastics_final, Taekwondo_final, how='outer', on=['NOC', 'NOC'])
N.rename(columns = {'Predictions_x':'Rhythmic Gymnastics', 'Predictions_y':'Taekwondo'}, inplace = True)
N = N.drop(["Sport_x","Sport_y"], 1)
N

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/1912829512.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  N = N.drop(["Sport_x","Sport_y"], 1)

     NOC  Rhythmic Gymnastics  Taekwondo
0    SWE             0.138581   0.175474
1    DNK             0.046543   0.254020
2    PRT             0.072182   0.177634
3    EST             0.076801        NaN
4    LTU             0.072182        NaN
..   ...                  ...        ...
104  THA                  NaN   0.666829
105  ARM                  NaN   0.233564
106  GTM                  NaN   0.293453
107  MAR                  NaN   0.112194
108  HRV                  NaN   0.581029

[109 rows x 3 columns]

Beach Volleyball

In [188]:
B_Volleyball_df = data_df[data_df['Sport'] == "Beach Volleyball"]
B_Volleyball_df = B_Volleyball_df.dropna()

In [189]:
B_Volleyball_dummies = pd.get_dummies(B_Volleyball_df)
B_Volleyball_dummies.head(3)

,Medal,Host,NOC_AGO,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGR,NOC_BRA,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
816,False,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1912,False,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1913,True,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0

In [190]:
x_train = B_Volleyball_dummies.drop(columns=['Medal'])
y_train = B_Volleyball_dummies['Medal']

x_test = B_Volleyball_dummies.drop(columns=['Medal'])
y_test = B_Volleyball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8714285714285714

In [191]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,B_Volleyball_df)

array([0.00297228, 0.48503879, 0.48503879, 0.07255569, 0.86540748,
       0.90228998, 0.07255569, 0.07255569, 0.40520201, 0.86540748,
       0.86540748, 0.02740769, 0.64708019, 0.0799774 , 0.0799774 ,
       0.0799774 , 0.12120933, 0.27681145, 0.02740769, 0.25762083,
       0.30001681, 0.30001681, 0.04032472, 0.0830664 , 0.0830664 ,
       0.90228998, 0.45958684, 0.06922584, 0.07255569, 0.07255569,
       0.06922584, 0.64708019, 0.90228998, 0.86540748, 0.86540748,
       0.02740769, 0.0799774 , 0.09160301, 0.07255569, 0.86540748,
       0.04460811, 0.04460811, 0.03036241, 0.03036241, 0.07104036,
       0.30876223, 0.25762083, 0.78326421, 0.78326421, 0.48503879,
       0.21331134, 0.48503879, 0.41797541, 0.41797541, 0.44382173,
       0.76738044, 0.04032472, 0.04032472, 0.04032472, 0.54800076,
       0.54800076, 0.25762083, 0.36766583, 0.36892196, 0.1808909 ,
       0.02740769, 0.48503879, 0.48503879, 0.07255569, 0.20912014,
       0.40520201, 0.87265658, 0.07255569, 0.07255569, 0.07255569,
       0.09160301, 0.06624719, 0.36766583, 0.25762083, 0.25762083,
       0.02740769, 0.40520201, 0.64708019, 0.04032472, 0.04032472,
       0.0830664 , 0.0830664 , 0.397842  , 0.48688258, 0.397842  ,
       0.45958684, 0.06922584, 0.20912014, 0.07255569, 0.86540748,
       0.04460811, 0.04460811, 0.76738044, 0.82306458, 0.76738044,
       0.06284232, 0.78326421, 0.48503879, 0.54800076, 0.48503879,
       0.41797541, 0.87265658, 0.03874425, 0.03874425, 0.03874425,
       0.07255569, 0.07255569, 0.36766583, 0.25762083, 0.36766583,
       0.07255569, 0.00297228, 0.9229059 , 0.86540748, 0.86540748,
       0.86540748, 0.86540748, 0.04460811, 0.54800076, 0.07255569,
       0.90228998, 0.2817117 , 0.86540748, 0.76738044, 0.397842  ,
       0.00297228, 0.07255569, 0.07255569, 0.07255569, 0.30001681,
       0.30001681, 0.02740769, 0.02740769, 0.48503879, 0.78326421,
       0.87265658, 0.09160301, 0.48503879, 0.07785224, 0.07255569,
       0.0830664 , 0.0830664 , 0.07255569, 0.07255569, 0.06284232,
       0.03036241, 0.03874425, 0.1808909 , 0.19703986, 0.30001681,
       0.30001681, 0.07255569, 0.07255569, 0.04032472, 0.19703986,
       0.04032472, 0.76738044, 0.82306458, 0.76738044, 0.40520201,
       0.08961392, 0.06438995, 0.20912014, 0.02740769, 0.54800076,
       0.54800076, 0.48688258, 0.03036241, 0.03874425, 0.19703986,
       0.0830664 , 0.0830664 , 0.48688258, 0.06284232, 0.48503879,
       0.48503879, 0.07255569, 0.08961392, 0.06438995, 0.20912014,
       0.04032472, 0.04032472, 0.87265658, 0.36766583, 0.25762083,
       0.25762083, 0.78326421, 0.09160301, 0.87265658, 0.07255569,
       0.04032472, 0.0830664 , 0.44382173, 0.44382173, 0.30001681,
       0.30001681, 0.07104036, 0.53554474, 0.09160301, 0.09160301,
       0.09160301, 0.09160301, 0.25762083, 0.78326421, 0.54800076,
       0.08961392, 0.03874425, 0.03874425, 0.03874425, 0.07104036,
       0.08961392, 0.03874425, 0.07255569, 0.07255569, 0.48688258,
       0.07785224, 0.04337847, 0.41797541, 0.20912014, 0.0799774 ,
       0.78326421, 0.86540748, 0.2817117 , 0.17400011, 0.21331134,
       0.07255569, 0.18748251, 0.02740769, 0.07255569, 0.0799774 ,
       0.0799774 , 0.07255569, 0.21331134, 0.82306458, 0.07255569,
       0.07255569, 0.87265658, 0.07104036, 0.08961392, 0.06438995,
       0.07255569, 0.54800076, 0.0830664 , 0.53554474, 0.07255569,
       0.07255569, 0.54800076, 0.0799774 , 0.0799774 , 0.02740769,
       0.07255569, 0.07255569, 0.07255569, 0.53554474, 0.09160301,
       0.09160301, 0.07255569, 0.03177045, 0.12120933, 0.07104036,
       0.07104036, 0.4725178 , 0.53554474, 0.09160301, 0.4725178 ,
       0.53554474, 0.48503879, 0.64708019, 0.86540748, 0.86540748,
       0.90228998, 0.07255569, 0.07255569, 0.07255569, 0.07255569,
       0.17400011, 0.25762083, 0.20912014, 0.30876223, 0.00297228,
       0.40520201, 0.397842  , 0.86540748, 0.9229059 , 0.02740769,
       0.76738044, 0.54800076, 0.54800076, 0.48503879, 0.40520201,
       0.40520201, 0.07255569, 0.07104036, 0.07104036, 0.08961392,
       0.08961392, 0.06438995, 0.04032472, 0.04032472, 0.04032472,
       0.36766583, 0.48688258, 0.86540748, 0.86540748, 0.86540748,
       0.18748251, 0.25762083, 0.30876223, 0.41797541, 0.04032472,
       0.04032472, 0.54800076, 0.78326421, 0.78326421, 0.76738044,
       0.82306458, 0.87265658, 0.78326421, 0.78326421, 0.00297228,
       0.36892196, 0.40520201, 0.40520201, 0.21331134, 0.36892196,
       0.44382173, 0.78326421, 0.0799774 , 0.21331134, 0.11470963,
       0.2817117 , 0.06284232, 0.48503879, 0.48503879, 0.48503879,
       0.02740769, 0.07785224, 0.02740769, 0.9229059 , 0.40520201,
       0.40520201, 0.03036241, 0.21331134, 0.21331134, 0.36892196,
       0.18748251, 0.78326421, 0.48503879, 0.04032472, 0.07255569,
       0.07255569, 0.07255569, 0.06922584, 0.0830664 , 0.76738044,
       0.25762083, 0.20912014, 0.0799774 , 0.04032472, 0.11470963,
       0.1808909 , 0.19703986, 0.04460811, 0.1808909 , 0.60405844,
       0.60405844, 0.02740769, 0.48503879, 0.54800076, 0.397842  ,
       0.48688258, 0.397842  , 0.20912014, 0.0799774 , 0.07255569,
       0.397842  , 0.48688258, 0.397842  , 0.02740769, 0.02740769,
       0.1808909 , 0.40520201, 0.48503879, 0.54800076, 0.30876223,
       0.48503879, 0.54800076, 0.86540748, 0.87265658, 0.86540748,
       0.86540748, 0.86540748, 0.86540748, 0.87265658, 0.0799774 ,
       0.00297228, 0.9229059 , 0.07255569, 0.76738044, 0.82306458,
       0.21331134, 0.02740769, 0.07255569, 0.07255569, 0.76738044,
       0.82306458, 0.82306458, 0.76738044, 0.04032472, 0.04337847,
       0.12120933, 0.04032472, 0.04032472, 0.60405844, 0.60405844,
       0.60405844, 0.9229059 , 0.86540748, 0.397842  , 0.9229059 ,
       0.86540748, 0.86540748, 0.25762083, 0.397842  , 0.45958684,
       0.25762083, 0.25762083, 0.48503879, 0.48503879, 0.90228998,
       0.48503879, 0.09160301, 0.53554474, 0.2817117 , 0.2817117 ,
       0.21331134, 0.21331134, 0.04032472, 0.03874425, 0.03874425,
       0.03874425, 0.03874425, 0.09160301, 0.03874425, 0.04337847,
       0.54800076, 0.07255569, 0.07255569, 0.07785224, 0.07255569,
       0.0799774 , 0.86540748, 0.86540748, 0.12120933, 0.27681145,
       0.07255569, 0.9229059 , 0.06438995, 0.03564698, 0.48688258,
       0.397842  , 0.45958684, 0.07255569, 0.07255569, 0.60405844,
       0.60405844, 0.87265658, 0.19703986, 0.1808909 , 0.90228998,
       0.60405844, 0.07255569, 0.03564698, 0.397842  , 0.03036241,
       0.48503879, 0.87265658, 0.48688258, 0.76738044, 0.07785224,
       0.04337847, 0.07785224, 0.86540748, 0.86540748, 0.90228998,
       0.06624719, 0.17749652, 0.81372527, 0.07255569, 0.03177045,
       0.08961392, 0.06438995, 0.0799774 , 0.0799774 , 0.19703986,
       0.07255569, 0.07255569, 0.07255569, 0.25762083, 0.11470963,
       0.2817117 , 0.36892196, 0.21331134, 0.36892196, 0.21331134,
       0.36892196, 0.36892196, 0.07255569, 0.09160301, 0.07255569,
       0.04032472, 0.04032472, 0.07255569, 0.48503879, 0.78326421,
       0.76738044, 0.82306458, 0.76738044, 0.5       , 0.17749652,
       0.81372527, 0.17749652, 0.87265658, 0.02740769, 0.397842  ,
       0.78326421, 0.81372527, 0.41982596, 0.06624719, 0.81372527,
       0.41982596, 0.81372527, 0.41982596, 0.07255569, 0.07255569,
       0.07255569, 0.07255569, 0.07255569, 0.17749652, 0.78326421,
       0.76738044, 0.11470963, 0.18748251, 0.5       , 0.41797541,
       0.397842  , 0.48688258, 0.9229059 , 0.86540748, 0.06624719,
       0.81372527, 0.41982596, 0.0830664 , 0.09160301, 0.09160301])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
816,AGO,Beach Volleyball,False,0,0,0,5,5,0
1912,DEU,Beach Volleyball,False,0,1,0,2,8,1
1913,DEU,Beach Volleyball,True,0,1,0,2,8,1
3764,CRI,Beach Volleyball,False,0,0,0,2,8,0
3948,BRA,Beach Volleyball,True,0,0,1,1,7,0
...,...,...,...,...,...,...,...,...,...
202179,CHN,Beach Volleyball,True,1,0,7,4,7,1
202180,CHN,Beach Volleyball,False,0,0,7,4,7,2
203411,ARG,Beach Volleyball,False,0,0,0,0,7,0
203768,CHE,Beach Volleyball,False,0,3,0,2,8,0
203769,CHE,Beach Volleyball,False,0,3,0,2,8,0

In [192]:
B_Volleyball_df['Predictions'] = y_pred.tolist()
B_Volleyball_final = B_Volleyball_df.drop_duplicates(subset=['NOC'], keep='last')
B_Volleyball_final = B_Volleyball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3648103712.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  B_Volleyball_final = B_Volleyball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Triathlon

In [193]:
Triathlon_df = data_df[data_df['Sport'] == "Triathlon"]
Triathlon_df = Triathlon_df.dropna()

In [194]:
Triathlon_dummies = pd.get_dummies(Triathlon_df)
Triathlon_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_AZE,NOC_BEL,NOC_BRA,NOC_BRB,NOC_CAN,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
831,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
901,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
902,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [195]:
x_train = Triathlon_dummies.drop(columns=['Medal'])
y_train = Triathlon_dummies['Medal']

x_test = Triathlon_dummies.drop(columns=['Medal'])
y_test = Triathlon_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.941972920696325

In [196]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Triathlon_df)

array([3.76767188e-02, 3.76767188e-02, 3.76767188e-02, 4.68730173e-04,
       4.66072780e-01, 5.30359355e-01, 3.76767188e-02, 3.76767188e-02,
       5.27925730e-01, 4.66072780e-01, 8.17040081e-03, 1.40696463e-01,
       1.40696463e-01, 7.57366198e-01, 4.68504248e-01, 8.84910858e-02,
       7.76365950e-01, 7.54853979e-01, 1.88066402e-01, 3.76767188e-02,
       9.90527597e-03, 1.74741743e-01, 9.42028412e-02, 8.88308526e-02,
       5.42254553e-01, 1.44137929e-01, 2.40338009e-03, 1.87698473e-03,
       8.16430734e-01, 5.26888493e-01, 3.76773343e-01, 8.57413681e-01,
       2.07928634e-01, 4.48673309e-01, 4.48673309e-01, 4.65476244e-02,
       5.26888493e-01, 9.90527597e-03, 4.65476244e-02, 2.40338009e-03,
       4.38785443e-01, 4.68504248e-01, 5.30359355e-01, 1.07291287e-01,
       1.07291287e-01, 8.82837071e-03, 3.33603369e-02, 5.27925730e-01,
       4.66072780e-01, 5.80318169e-01, 8.67113413e-02, 2.36861802e-02,
       2.28837595e-01, 6.90959967e-02, 1.88066402e-01, 8.57413681e-01,
       8.57413681e-01, 8.57413681e-01, 8.57413681e-01, 3.76767188e-02,
       3.76767188e-02, 3.76767188e-02, 2.46626147e-01, 2.46626147e-01,
       2.07928634e-01, 6.90959967e-02, 7.08350386e-01, 5.30359355e-01,
       1.72151180e-01, 3.76767188e-02, 9.90527597e-03, 9.90527597e-03,
       1.44137929e-01, 1.07291287e-01, 8.82837071e-03, 1.88066402e-01,
       9.42028412e-02, 9.42028412e-02, 1.44137929e-01, 3.76767188e-02,
       2.25679132e-01, 5.10209559e-02, 8.67113413e-02, 2.36861802e-02,
       1.07291287e-01, 5.30359355e-01, 6.44398478e-02, 3.76754483e-01,
       3.76767188e-02, 5.10209559e-02, 9.42028412e-02, 9.42028412e-02,
       8.67113413e-02, 6.02803304e-01, 7.76365950e-01, 7.54853979e-01,
       1.74741743e-01, 2.28837595e-01, 2.28837595e-01, 2.28837595e-01,
       2.46626147e-01, 6.02803304e-01, 6.02803304e-01, 5.42254553e-01,
       5.42254553e-01, 7.08350386e-01, 7.08350386e-01, 7.08350386e-01,
       7.08350386e-01, 5.27925730e-01, 2.28837595e-01, 2.28837595e-01,
       1.88066402e-01, 5.80318169e-01, 8.67113413e-02, 5.27925730e-01,
       1.07291287e-01, 1.07291287e-01, 3.76767188e-02, 1.18989623e-01,
       3.76767188e-02, 3.76767188e-02, 3.84924491e-02, 7.60577010e-01,
       2.36861802e-02, 5.19076390e-01, 1.74741743e-01, 8.17040081e-03,
       1.07291287e-01, 2.28837595e-01, 6.02803304e-01, 6.02803304e-01,
       2.54887351e-01, 8.71869177e-01, 1.72151180e-01, 1.72151180e-01,
       5.42254553e-01, 5.42254553e-01, 1.66391863e-01, 1.40696463e-01,
       1.40696463e-01, 1.18989623e-01, 6.44398478e-02, 8.82837071e-03,
       2.25679132e-01, 7.08350386e-01, 7.08350386e-01, 1.40696463e-01,
       1.74741743e-01, 4.66072780e-01, 8.67113413e-02, 2.46626147e-01,
       5.30359355e-01, 1.18989623e-01, 1.18989623e-01, 3.33603369e-02,
       9.90527597e-03, 3.33603369e-02, 3.76773343e-01, 5.26888493e-01,
       5.19076390e-01, 8.18463681e-01, 5.30359355e-01, 8.16430734e-01,
       4.66072780e-01, 8.57413681e-01, 2.54785475e-01, 3.04708266e-01,
       1.87698473e-03, 1.44137929e-01, 8.16430734e-01, 8.16430734e-01,
       5.26888493e-01, 5.42254553e-01, 6.02803304e-01, 4.66072780e-01,
       1.44137929e-01, 8.57413681e-01, 2.54887351e-01, 2.54887351e-01,
       5.30359355e-01, 5.30359355e-01, 7.08350386e-01, 7.08350386e-01,
       7.08350386e-01, 2.46626147e-01, 8.16430734e-01, 1.66391863e-01,
       1.66391863e-01, 8.67113413e-02, 8.67113413e-02, 3.76767188e-02,
       4.65476244e-02, 8.57413681e-01, 8.57413681e-01, 8.88308526e-02,
       2.51671091e-01, 4.68730173e-04, 1.66391863e-01, 3.76773343e-01,
       8.18463681e-01, 7.78722341e-01, 7.57366198e-01, 9.75398798e-03,
       4.68730173e-04, 3.76767188e-02, 7.54853979e-01, 8.67113413e-02,
       2.36861802e-02, 5.19076390e-01, 2.28837595e-01, 2.54887351e-01,
       2.36861802e-02, 2.36861802e-02, 2.28837595e-01, 2.28837595e-01,
       5.19076390e-01, 8.16430734e-01, 3.76773343e-01, 5.26888493e-01,
       5.42254553e-01, 7.76365950e-01, 7.54853979e-01, 5.26888493e-01,
       6.00421878e-04, 3.76754483e-01, 8.18463681e-01, 5.30359355e-01,
       5.30359355e-01, 5.26888493e-01, 3.76773343e-01, 2.36861802e-02,
       2.07928634e-01, 1.57590363e-02, 3.76767188e-02, 3.76767188e-02,
       5.80318169e-01, 4.48673309e-01, 4.48673309e-01, 9.90527597e-03,
       2.46626147e-01, 8.67113413e-02, 8.67113413e-02, 1.40696463e-01,
       2.25679132e-01, 1.44137929e-01, 2.28837595e-01, 6.02803304e-01,
       5.30359355e-01, 5.42254553e-01, 9.90527597e-03, 2.46626147e-01,
       2.46626147e-01, 8.88308526e-02, 2.51671091e-01, 1.44137929e-01,
       1.44137929e-01, 5.26888493e-01, 3.76767188e-02, 4.65476244e-02,
       7.78722341e-01, 7.57366198e-01, 7.60577010e-01, 8.18463681e-01,
       4.38785443e-01, 4.68504248e-01, 1.07291287e-01, 1.07291287e-01,
       5.80318169e-01, 7.08350386e-01, 5.80318169e-01, 5.19076390e-01,
       8.18463681e-01, 7.78722341e-01, 2.07928634e-01, 9.90527597e-03,
       1.44137929e-01, 8.18463681e-01, 7.57366198e-01, 6.44398478e-02,
       5.80318169e-01, 9.42028412e-02, 7.76365950e-01, 7.54853979e-01,
       1.74741743e-01, 5.30359355e-01, 5.30359355e-01, 8.67113413e-02,
       8.67113413e-02, 5.80318169e-01, 5.80318169e-01, 1.23565458e-01,
       3.76767188e-02, 9.42028412e-02, 9.42028412e-02, 9.42028412e-02,
       9.42028412e-02, 9.42028412e-02, 3.76754483e-01, 3.76754483e-01,
       1.87698473e-03, 4.65476244e-02, 4.65476244e-02, 5.19076390e-01,
       5.88444923e-01, 5.88444923e-01, 2.46626147e-01, 2.46626147e-01,
       5.30359355e-01, 5.30359355e-01, 1.66391863e-01, 1.66391863e-01,
       1.66391863e-01, 1.66391863e-01, 1.66391863e-01, 9.75398798e-03,
       3.76754483e-01, 7.43751885e-01, 7.43751885e-01, 7.43751885e-01,
       1.66391863e-01, 9.42028412e-02, 9.42028412e-02, 9.42028412e-02,
       9.42028412e-02, 9.42028412e-02, 4.48673309e-01, 4.48673309e-01,
       8.71869177e-01, 3.04708266e-01, 7.60577010e-01, 8.84910858e-02,
       2.40338009e-03, 1.87698473e-03, 1.44137929e-01, 8.88308526e-02,
       8.84910858e-02, 3.33603369e-02, 3.33603369e-02, 5.30359355e-01,
       4.66072780e-01, 6.02803304e-01, 5.42254553e-01, 3.76767188e-02,
       5.42254553e-01, 5.30359355e-01, 8.67113413e-02, 8.67113413e-02,
       3.76767188e-02, 3.76767188e-02, 3.76767188e-02, 3.76767188e-02,
       3.76767188e-02, 5.30359355e-01, 2.40338009e-03, 5.42254553e-01,
       3.76767188e-02, 2.54785475e-01, 5.88444923e-01, 5.30359355e-01,
       4.48673309e-01, 8.71869177e-01, 6.02803304e-01, 6.02803304e-01,
       9.90527597e-03, 2.46626147e-01, 2.46626147e-01, 3.76767188e-02,
       3.76767188e-02, 5.26888493e-01, 7.08350386e-01, 4.48673309e-01,
       7.08350386e-01, 7.78722341e-01, 7.57366198e-01, 7.57366198e-01,
       7.57366198e-01, 9.90527597e-03, 3.33603369e-02, 3.33603369e-02,
       3.33603369e-02, 2.10053943e-03, 2.54785475e-01, 5.88444923e-01,
       8.16430734e-01, 8.16430734e-01, 5.30359355e-01, 3.76767188e-02,
       5.30359355e-01, 1.74741743e-01, 7.57366198e-01, 7.57366198e-01,
       7.57366198e-01, 7.08350386e-01, 7.08350386e-01, 5.88444923e-01,
       5.88444923e-01, 1.40696463e-01, 3.76767188e-02, 3.76767188e-02,
       6.00421878e-04, 5.80318169e-01, 2.54887351e-01, 5.88444923e-01,
       9.42028412e-02, 9.42028412e-02, 8.16430734e-01, 3.76767188e-02,
       7.54853979e-01, 1.40696463e-01, 3.76767188e-02, 5.26888493e-01,
       3.76767188e-02, 8.84910858e-02, 8.84910858e-02, 2.46626147e-01,
       2.46626147e-01, 3.76767188e-02, 7.08350386e-01, 7.08350386e-01,
       6.44398478e-02, 6.44398478e-02, 7.76365950e-01, 9.42028412e-02,
       9.42028412e-02, 7.78722341e-01, 7.57366198e-01, 7.57366198e-01,
       7.57366198e-01, 4.66072780e-01, 3.76767188e-02, 3.76767188e-02,
       8.57413681e-01, 8.16430734e-01, 1.23565458e-01, 2.54785475e-01,
       6.44398478e-02, 6.44398478e-02, 1.72151180e-01, 5.26888493e-01,
       2.28837595e-01, 5.80318169e-01, 1.40696463e-01, 3.76767188e-02,
       8.67113413e-02, 2.10053943e-03, 7.08350386e-01, 5.30359355e-01,
       5.30359355e-01, 1.66391863e-01, 9.75398798e-03, 4.68730173e-04,
       6.00421878e-04, 8.17040081e-03, 2.10053943e-03, 8.16430734e-01,
       5.19076390e-01, 3.76767188e-02, 5.19076390e-01, 5.19076390e-01,
       1.88066402e-01, 8.57413681e-01, 8.57413681e-01, 5.80318169e-01,
       1.07291287e-01, 1.07291287e-01, 9.75398798e-03, 4.68730173e-04,
       6.00421878e-04, 5.42254553e-01, 3.33603369e-02, 8.88308526e-02,
       8.88308526e-02, 6.44398478e-02, 3.76767188e-02, 9.90527597e-03,
       9.90527597e-03, 3.76767188e-02, 5.10209559e-02, 6.44398478e-02,
       1.87698473e-03, 1.44137929e-01, 4.66072780e-01, 1.72151180e-01,
       6.02803304e-01, 8.16430734e-01, 3.76767188e-02, 1.92833632e-03,
       1.92833632e-03, 9.90527597e-03, 7.08350386e-01, 7.08350386e-01,
       6.90959967e-02, 5.80318169e-01, 5.80318169e-01, 5.19076390e-01,
       5.19076390e-01, 7.57366198e-01, 7.88064564e-01, 5.30359355e-01,
       6.90959967e-02, 3.76767188e-02, 3.76767188e-02, 1.92833632e-03,
       1.92833632e-03, 9.75398798e-03, 3.76767188e-02, 3.76767188e-02,
       3.76767188e-02, 5.80318169e-01, 5.26888493e-01, 3.76767188e-02,
       5.10209559e-02, 5.30359355e-01, 4.48673309e-01, 1.92833632e-03,
       3.76767188e-02])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
831,RUS,Triathlon,False,0,0,0,2,7,0
901,RUS,Triathlon,False,0,0,0,2,7,0
902,RUS,Triathlon,False,0,0,0,2,7,0
1078,JPN,Triathlon,False,0,2,0,0,8,1
1685,AUT,Triathlon,False,0,2,0,3,8,0
...,...,...,...,...,...,...,...,...,...
201588,BEL,Triathlon,False,0,2,0,0,8,0
201620,USA,Triathlon,False,0,1,1,1,8,6
201646,CZE,Triathlon,False,0,0,0,2,7,0
202244,CHN,Triathlon,False,1,0,7,4,7,1
202245,CHN,Triathlon,False,0,0,7,4,7,2

In [197]:
Triathlon_df['Predictions'] = y_pred.tolist()
Triathlon_final = Triathlon_df.drop_duplicates(subset=['NOC'], keep='last')
Triathlon_final = Triathlon_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/2330985694.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Triathlon_final = Triathlon_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [198]:
O = pd.merge(B_Volleyball_final, Triathlon_final, how='outer', on=['NOC', 'NOC'])
O.rename(columns = {'Predictions_x':'Beach Volleyball', 'Predictions_y':'Triathlon'}, inplace = True)
O = O.drop(["Sport_x","Sport_y"], 1)
O

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3167638783.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  O = O.drop(["Sport_x","Sport_y"], 1)

    NOC  Beach Volleyball  Triathlon
0   TUN          0.027408        NaN
1   CRI          0.072556   0.023686
2   AGO          0.002972        NaN
3   CHL          0.083066   0.033360
4   NZL          0.040325   0.069096
5   EGY          0.002972        NaN
6   GBR          0.062842   0.857414
7   PRI          0.083066        NaN
8   SWE          0.044608   0.788065
9   POL          0.027408   0.023686
10  FRA          0.079977   0.144138
11  MUS          0.002972   0.037677
12  CUB          0.072556        NaN
13  GEO          0.040325        NaN
14  PRT          0.040325   0.088491
15  LVA          0.604058        NaN
16  AUT          0.030362   0.466073
17  CZE          0.072556   0.448673
18  JPN          0.031770   0.009754
19  NOR          0.064390   0.438785
20  GRC          0.079977   0.246626
21  ITA          0.197040   0.107291
22  CAN          0.257621   0.580318
23  BEL          0.114710   0.051021
24  NLD          0.368922   0.088831
25  EST          0.072556   0.023686
26  VEN          0.040325   0.118990
27  MEX          0.040325   0.037677
28  DEU          0.485039   0.602803
29  ZAF          0.027408   0.254785
30  BGR          0.072556        NaN
31  RUS          0.072556   0.037677
32  USA          0.767380   0.530359
33  QAT          0.114710        NaN
34  IDN          0.187483        NaN
35  ESP          0.417975   0.530359
36  AUS          0.486883   0.816431
37  BRA          0.865407   0.094203
38  CHN          0.419826   0.037677
39  ARG          0.083066   0.002101
40  CHE          0.091603   0.757366
41  ECU               NaN   0.023686
42  ISR               NaN   0.064440
43  JOR               NaN   0.118990
44  KOR               NaN   0.530359
45  ZWE               NaN   0.037677
46  LUX               NaN   0.468504
47  IRL               NaN   0.376754
48  AZE               NaN   0.037677
49  COL               NaN   0.037677
50  DNK               NaN   0.254887
51  KAZ               NaN   0.140696
52  SVN               NaN   0.246626
53  HUN               NaN   0.037677
54  SVK               NaN   0.009905
55  BRB               NaN   0.037677
56  JAM               NaN   0.037677
57  UKR               NaN   0.037677

Softball

In [199]:
Softball_df = data_df[data_df['Sport'] == "Softball"]
Softball_df = Softball_df.dropna()

In [200]:
Softball_dummies = pd.get_dummies(Softball_df)
Softball_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_CAN,NOC_CHN,NOC_CUB,NOC_GRC,NOC_ITA,NOC_JPN,NOC_NLD,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
205,True,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
2088,False,0,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
3904,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [201]:
x_train = Softball_dummies.drop(columns=['Medal'])
y_train = Softball_dummies['Medal']

x_test = Softball_dummies.drop(columns=['Medal'])
y_test = Softball_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9686192468619247

In [202]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Softball_df)

array([9.98696856e-01, 1.41586868e-04, 2.20732917e-02, 9.92907722e-01,
       9.92907722e-01, 9.71235447e-01, 1.41586868e-04, 9.99685395e-01,
       5.92743829e-01, 6.42112277e-03, 1.24977807e-01, 9.57923401e-01,
       1.92176930e-02, 2.20732917e-02, 1.41586868e-04, 3.73080757e-02,
       1.41586868e-04, 1.41586868e-04, 2.20732917e-02, 1.92176930e-02,
       1.92176930e-02, 1.92176930e-02, 3.73080757e-02, 3.73080757e-02,
       9.26016936e-03, 1.75709107e-06, 2.29146514e-03, 2.29146514e-03,
       9.52233616e-01, 9.99685395e-01, 9.99685395e-01, 9.98696856e-01,
       8.11303904e-02, 2.20732917e-02, 1.92176930e-02, 9.71235447e-01,
       9.52233616e-01, 3.73080757e-02, 9.26016936e-03, 9.92907722e-01,
       9.92907722e-01, 9.99685395e-01, 1.41586868e-04, 1.92176930e-02,
       9.99685395e-01, 9.99685395e-01, 9.98696856e-01, 9.92907722e-01,
       3.73080757e-02, 1.41586868e-04, 1.92176930e-02, 2.20732917e-02,
       1.41586868e-04, 1.41586868e-04, 5.92743829e-01, 2.90930767e-02,
       2.90930767e-02, 5.92743829e-01, 2.90930767e-02, 2.90930767e-02,
       2.90930767e-02, 5.92743829e-01, 5.92743829e-01, 5.92743829e-01,
       2.90930767e-02, 5.92743829e-01, 1.92176930e-02, 2.20732917e-02,
       1.75709107e-06, 1.41586868e-04, 9.92907722e-01, 9.52233616e-01,
       9.99685395e-01, 1.41586868e-04, 9.71235447e-01, 9.92907722e-01,
       3.73080757e-02, 9.26016936e-03, 1.92176930e-02, 2.29146514e-03,
       2.29146514e-03, 8.11303904e-02, 8.11303904e-02, 1.41586868e-04,
       1.92176930e-02, 6.42112277e-03, 2.90930767e-02, 2.20732917e-02,
       1.41586868e-04, 1.92176930e-02, 9.92907722e-01, 9.92907722e-01,
       1.75709107e-06, 9.92907722e-01, 9.98696856e-01, 3.73080757e-02,
       1.41586868e-04, 9.92907722e-01, 9.92907722e-01, 9.92907722e-01,
       9.57923401e-01, 1.41586868e-04, 9.92907722e-01, 1.92176930e-02,
       1.92176930e-02, 1.92176930e-02, 8.11303904e-02, 9.52233616e-01,
       9.99685395e-01, 9.99685395e-01, 9.99685395e-01, 9.98696856e-01,
       1.75709107e-06, 1.41586868e-04, 9.99685395e-01, 9.98696856e-01,
       9.92907722e-01, 3.73080757e-02, 1.41586868e-04, 1.92176930e-02,
       9.99685395e-01, 2.20732917e-02, 9.57923401e-01, 9.57923401e-01,
       1.24977807e-01, 1.24977807e-01, 1.92176930e-02, 9.98696856e-01,
       1.41586868e-04, 1.92176930e-02, 2.29146514e-03, 1.92176930e-02,
       2.20732917e-02, 1.41586868e-04, 1.41586868e-04, 8.11303904e-02,
       9.52233616e-01, 2.90930767e-02, 2.90930767e-02, 5.92743829e-01,
       9.92907722e-01, 9.92907722e-01, 1.24977807e-01, 9.92907722e-01,
       9.71235447e-01, 9.92907722e-01, 9.92907722e-01, 9.92907722e-01,
       9.71235447e-01, 9.52233616e-01, 9.99685395e-01, 9.99685395e-01,
       9.52233616e-01, 5.92743829e-01, 9.99685395e-01, 1.41586868e-04,
       3.73080757e-02, 2.20732917e-02, 9.57923401e-01, 9.92907722e-01,
       9.92907722e-01, 3.73080757e-02, 2.90930767e-02, 1.41586868e-04,
       2.90930767e-02, 2.90930767e-02, 2.20732917e-02, 1.24977807e-01,
       9.57923401e-01, 9.57923401e-01, 9.57923401e-01, 9.57923401e-01,
       9.57923401e-01, 9.57923401e-01, 1.92176930e-02, 9.99685395e-01,
       9.98696856e-01, 9.57923401e-01, 1.75709107e-06, 2.20732917e-02,
       1.92176930e-02, 8.11303904e-02, 2.29146514e-03, 1.24977807e-01,
       9.57923401e-01, 1.24977807e-01, 9.57923401e-01, 2.29146514e-03,
       8.11303904e-02, 1.92176930e-02, 1.92176930e-02, 9.99685395e-01,
       9.98696856e-01, 8.11303904e-02, 2.90930767e-02, 2.90930767e-02,
       2.90930767e-02, 3.73080757e-02, 3.73080757e-02, 9.98696856e-01,
       3.73080757e-02, 9.26016936e-03, 9.26016936e-03, 2.29146514e-03,
       2.20732917e-02, 1.41586868e-04, 5.92743829e-01, 2.90930767e-02,
       5.92743829e-01, 9.92907722e-01, 9.26016936e-03, 2.90930767e-02,
       2.90930767e-02, 2.90930767e-02, 2.90930767e-02, 2.90930767e-02,
       2.90930767e-02, 3.73080757e-02, 2.90930767e-02, 2.90930767e-02,
       2.90930767e-02, 5.92743829e-01, 5.92743829e-01, 5.92743829e-01,
       5.92743829e-01, 2.90930767e-02, 9.98696856e-01, 2.90930767e-02,
       2.90930767e-02, 2.90930767e-02, 2.90930767e-02, 5.92743829e-01,
       9.57923401e-01, 9.26016936e-03, 9.52233616e-01, 1.92176930e-02,
       9.26016936e-03, 1.41586868e-04, 9.57923401e-01, 1.24977807e-01,
       9.57923401e-01, 9.26016936e-03, 1.75709107e-06, 9.92907722e-01,
       9.92907722e-01, 9.99685395e-01, 1.75709107e-06, 9.26016936e-03,
       9.92907722e-01, 1.41586868e-04, 9.26016936e-03, 2.29146514e-03,
       9.99685395e-01, 9.98696856e-01, 2.90930767e-02, 1.41586868e-04,
       9.57923401e-01, 1.41586868e-04, 9.57923401e-01, 9.57923401e-01,
       1.41586868e-04, 1.24977807e-01, 9.92907722e-01, 9.92907722e-01,
       9.71235447e-01, 9.92907722e-01, 9.71235447e-01, 6.42112277e-03,
       2.90930767e-02, 2.20732917e-02, 1.75709107e-06, 9.57923401e-01,
       9.57923401e-01, 3.73080757e-02, 3.73080757e-02, 3.73080757e-02,
       2.29146514e-03, 9.57923401e-01, 9.99685395e-01, 9.99685395e-01,
       9.98696856e-01, 3.73080757e-02, 9.52233616e-01, 9.99685395e-01,
       9.99685395e-01, 2.29146514e-03, 3.73080757e-02, 3.73080757e-02,
       3.73080757e-02, 1.41586868e-04, 9.99685395e-01, 9.98696856e-01,
       5.92743829e-01, 5.92743829e-01, 1.41586868e-04, 2.90930767e-02,
       2.90930767e-02, 2.90930767e-02, 2.29146514e-03, 1.41586868e-04,
       1.75709107e-06, 1.41586868e-04, 1.41586868e-04, 2.20732917e-02,
       1.41586868e-04, 9.92907722e-01, 2.20732917e-02, 1.92176930e-02,
       9.92907722e-01, 9.71235447e-01, 2.20732917e-02, 2.20732917e-02,
       1.41586868e-04, 2.20732917e-02, 6.42112277e-03, 6.42112277e-03,
       9.26016936e-03, 1.41586868e-04, 2.29146514e-03, 9.52233616e-01,
       9.99685395e-01, 9.92907722e-01, 2.20732917e-02, 9.92907722e-01,
       9.92907722e-01, 9.92907722e-01, 9.71235447e-01, 2.20732917e-02,
       2.20732917e-02, 1.41586868e-04, 1.41586868e-04, 1.41586868e-04,
       1.24977807e-01, 9.57923401e-01, 9.57923401e-01, 9.57923401e-01,
       9.57923401e-01, 9.57923401e-01, 9.26016936e-03, 1.41586868e-04,
       3.73080757e-02, 9.57923401e-01, 9.57923401e-01, 9.57923401e-01,
       3.73080757e-02, 1.41586868e-04, 2.20732917e-02, 3.73080757e-02,
       1.75709107e-06, 1.92176930e-02, 9.71235447e-01, 8.11303904e-02,
       2.20732917e-02, 9.52233616e-01, 9.52233616e-01, 9.99685395e-01,
       1.75709107e-06, 2.20732917e-02, 9.57923401e-01, 1.75709107e-06,
       1.41586868e-04, 2.20732917e-02, 8.11303904e-02, 1.92176930e-02,
       1.75709107e-06, 9.71235447e-01, 2.29146514e-03, 9.52233616e-01,
       1.41586868e-04, 2.90930767e-02, 1.24977807e-01, 9.57923401e-01,
       9.57923401e-01, 9.57923401e-01, 2.90930767e-02, 5.92743829e-01,
       6.42112277e-03, 2.90930767e-02, 1.75709107e-06, 3.73080757e-02,
       8.11303904e-02, 9.26016936e-03, 2.20732917e-02, 9.92907722e-01,
       9.92907722e-01, 9.71235447e-01, 9.99685395e-01, 2.20732917e-02,
       1.92176930e-02, 1.24977807e-01, 5.92743829e-01, 5.92743829e-01,
       2.90930767e-02, 2.90930767e-02, 1.92176930e-02, 9.52233616e-01,
       9.57923401e-01, 9.57923401e-01, 2.20732917e-02, 9.57923401e-01,
       9.57923401e-01, 1.75709107e-06, 2.29146514e-03, 8.11303904e-02,
       8.11303904e-02, 1.41586868e-04, 8.11303904e-02, 9.99685395e-01,
       1.92176930e-02, 8.11303904e-02, 2.90930767e-02, 5.92743829e-01,
       6.42112277e-03, 2.90930767e-02, 5.92743829e-01, 2.90930767e-02,
       5.92743829e-01, 6.42112277e-03, 9.92907722e-01, 9.92907722e-01,
       9.92907722e-01, 9.71235447e-01, 1.24977807e-01, 1.24977807e-01,
       9.99685395e-01, 9.98696856e-01, 2.20732917e-02, 5.92743829e-01,
       6.42112277e-03, 2.90930767e-02, 2.90930767e-02, 3.73080757e-02,
       3.73080757e-02, 9.92907722e-01, 9.92907722e-01, 9.92907722e-01,
       9.52233616e-01, 9.99685395e-01, 3.73080757e-02, 3.73080757e-02,
       3.73080757e-02, 9.71235447e-01, 2.90930767e-02, 2.90930767e-02,
       2.90930767e-02, 2.90930767e-02, 9.92907722e-01, 9.71235447e-01,
       2.90930767e-02, 5.92743829e-01, 6.42112277e-03, 9.57923401e-01,
       9.57923401e-01, 9.57923401e-01, 1.24977807e-01, 9.57923401e-01,
       9.57923401e-01, 5.92743829e-01, 6.42112277e-03, 5.92743829e-01,
       2.90930767e-02, 9.26016936e-03, 5.92743829e-01, 2.90930767e-02,
       2.90930767e-02, 6.42112277e-03, 2.90930767e-02, 1.41586868e-04,
       2.90930767e-02, 2.90930767e-02, 5.92743829e-01, 6.42112277e-03,
       2.90930767e-02, 2.90930767e-02, 6.42112277e-03, 6.42112277e-03,
       2.90930767e-02, 2.90930767e-02])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
205,USA,Softball,True,0,2,1,1,8,5
2088,ITA,Softball,False,0,0,0,3,8,0
3904,VEN,Softball,False,0,0,0,1,7,0
4121,AUS,Softball,True,1,1,0,1,8,0
4122,AUS,Softball,True,0,1,0,1,8,0
...,...,...,...,...,...,...,...,...,...
202090,CHN,Softball,False,0,0,8,5,7,1
202240,CHN,Softball,False,0,0,8,5,7,0
202668,CHN,Softball,False,0,0,8,5,7,0
202676,CHN,Softball,False,0,0,8,5,7,1
202677,CHN,Softball,False,1,0,7,4,7,1

In [203]:
Softball_df['Predictions'] = y_pred.tolist()
Softball_final = Softball_df.drop_duplicates(subset=['NOC'], keep='last')
Softball_final = Softball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3040282946.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Softball_final = Softball_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Rugby Sevens

In [204]:
Rugby_df = data_df[data_df['Sport'] == "Rugby Sevens"]
Rugby_df = Rugby_df.dropna()

In [205]:
Rugby_dummies = pd.get_dummies(Rugby_df)
Rugby_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_BRA,NOC_CAN,NOC_COL,NOC_ESP,NOC_FJI,NOC_FRA,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
605,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
950,False,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
951,False,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [206]:
x_train = Rugby_dummies.drop(columns=['Medal'])
y_train = Rugby_dummies['Medal']

x_test = Rugby_dummies.drop(columns=['Medal'])
y_test = Rugby_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8361204013377926

In [207]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Rugby_df)

array([0.06270903, 0.11277036, 0.11277036, 0.06270903, 0.96192436,
       0.96192436, 0.06020067, 0.00708131, 0.72146844, 0.11559222,
       0.06270903, 0.06020067, 0.06270903, 0.06270903, 0.00708131,
       0.06270903, 0.05312901, 0.70688934, 0.00708131, 0.05312901,
       0.05312901, 0.06020067, 0.70688934, 0.05312901, 0.95875139,
       0.72146844, 0.00708131, 0.11277036, 0.72146844, 0.06020067,
       0.06020067, 0.06020067, 0.70688934, 0.70688934, 0.72146844,
       0.96192436, 0.11559222, 0.72146844, 0.00708131, 0.06020067,
       0.05312901, 0.06020067, 0.06020067, 0.70688934, 0.00708131,
       0.06270903, 0.70688934, 0.70688934, 0.00708131, 0.06020067,
       0.00708131, 0.72146844, 0.72350944, 0.70688934, 0.70688934,
       0.72350944, 0.06020067, 0.70688934, 0.95875139, 0.72350944,
       0.72146844, 0.96192436, 0.06020067, 0.11277036, 0.70688934,
       0.72350944, 0.05312901, 0.00708131, 0.00708131, 0.05312901,
       0.05312901, 0.06020067, 0.06020067, 0.11559222, 0.11559222,
       0.70688934, 0.11559222, 0.70688934, 0.05312901, 0.95875139,
       0.05312901, 0.06020067, 0.00708131, 0.72146844, 0.70688934,
       0.05312901, 0.70688934, 0.06020067, 0.70688934, 0.06020067,
       0.06020067, 0.06020067, 0.96192436, 0.06020067, 0.00708131,
       0.11277036, 0.70688934, 0.06020067, 0.06020067, 0.06020067,
       0.70688934, 0.05312901, 0.06020067, 0.06020067, 0.06020067,
       0.06020067, 0.06020067, 0.70688934, 0.06020067, 0.96192436,
       0.05312901, 0.72146844, 0.70688934, 0.11559222, 0.06020067,
       0.06270903, 0.70688934, 0.70688934, 0.05312901, 0.00708131,
       0.05312901, 0.06020067, 0.05312901, 0.70688934, 0.05312901,
       0.72146844, 0.70688934, 0.06020067, 0.06270903, 0.05312901,
       0.70688934, 0.95875139, 0.00708131, 0.06020067, 0.96192436,
       0.96192436, 0.72350944, 0.72350944, 0.06020067, 0.06020067,
       0.06020067, 0.06020067, 0.95875139, 0.06020067, 0.06020067,
       0.06020067, 0.72146844, 0.11277036, 0.06020067, 0.11277036,
       0.06020067, 0.06270903, 0.95875139, 0.11559222, 0.70688934,
       0.70688934, 0.11277036, 0.06020067, 0.06020067, 0.06270903,
       0.72350944, 0.06020067, 0.06270903, 0.70688934, 0.72146844,
       0.70688934, 0.72146844, 0.06020067, 0.11277036, 0.70688934,
       0.72146844, 0.06020067, 0.95875139, 0.70688934, 0.11559222,
       0.00708131, 0.11559222, 0.06270903, 0.72350944, 0.72350944,
       0.06020067, 0.72350944, 0.70688934, 0.05312901, 0.72146844,
       0.06270903, 0.06270903, 0.06020067, 0.06270903, 0.06270903,
       0.06270903, 0.70688934, 0.06270903, 0.06270903, 0.06270903,
       0.06270903, 0.06270903, 0.95875139, 0.70688934, 0.06020067,
       0.70688934, 0.70688934, 0.05312901, 0.06020067, 0.06020067,
       0.06020067, 0.70688934, 0.05312901, 0.70688934, 0.70688934,
       0.00708131, 0.11277036, 0.11277036, 0.72350944, 0.72350944,
       0.72350944, 0.06270903, 0.11559222, 0.06020067, 0.06020067,
       0.72146844, 0.72350944, 0.72146844, 0.72146844, 0.11559222,
       0.72350944, 0.11277036, 0.72350944, 0.95875139, 0.11559222,
       0.96192436, 0.06020067, 0.00708131, 0.00708131, 0.00708131,
       0.00708131, 0.00708131, 0.72350944, 0.72146844, 0.00708131,
       0.00708131, 0.11559222, 0.72146844, 0.06020067, 0.96192436,
       0.00708131, 0.96192436, 0.96192436, 0.06020067, 0.96192436,
       0.70688934, 0.95875139, 0.05312901, 0.06020067, 0.06020067,
       0.72350944, 0.72350944, 0.06020067, 0.72350944, 0.70688934,
       0.00708131, 0.05312901, 0.06020067, 0.72350944, 0.72350944,
       0.06020067, 0.06020067, 0.70688934, 0.06020067, 0.06020067,
       0.06020067, 0.06020067, 0.70688934, 0.72350944, 0.06020067,
       0.70688934, 0.72350944, 0.05312901, 0.06020067, 0.06020067,
       0.72350944, 0.06020067, 0.72350944, 0.70688934, 0.95875139,
       0.72146844, 0.72146844, 0.72146844, 0.70688934, 0.95875139,
       0.70688934, 0.70688934, 0.70688934, 0.72146844, 0.70688934,
       0.05312901, 0.06020067, 0.06020067, 0.06020067])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
605,KEN,Rugby Sevens,False,0,0,0,6,7,0
950,COL,Rugby Sevens,False,0,0,0,2,7,0
951,COL,Rugby Sevens,False,0,0,0,2,7,0
1311,KEN,Rugby Sevens,False,0,0,0,6,7,0
1555,ZAF,Rugby Sevens,True,0,0,0,3,6,0
...,...,...,...,...,...,...,...,...,...
197026,NZL,Rugby Sevens,True,0,1,0,1,8,0
197656,USA,Rugby Sevens,False,0,2,1,1,8,5
198269,JPN,Rugby Sevens,False,0,1,0,0,8,1
198376,JPN,Rugby Sevens,False,0,1,0,0,8,1
199674,JPN,Rugby Sevens,False,0,1,0,0,8,1

In [208]:
Rugby_df['Predictions'] = y_pred.tolist()
Rugby_final = Rugby_df.drop_duplicates(subset=['NOC'], keep='last')
Rugby_final = Rugby_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3353199450.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Rugby_final = Rugby_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [209]:
P = pd.merge(Softball_final, Rugby_final, how='outer', on=['NOC', 'NOC'])
P.rename(columns = {'Predictions_x':'Softball', 'Predictions_y':'Rugby Sevens'}, inplace = True)
P = P.drop(["Sport_x","Sport_y"], 1)
P

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3810029682.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  P = P.drop(["Sport_x","Sport_y"], 1)

    NOC  Softball  Rugby Sevens
0   GRC  0.019218           NaN
1   VEN  0.022073           NaN
2   PRI  0.000142           NaN
3   ITA  0.019218           NaN
4   NLD  0.081130           NaN
5   NZL  0.022073      0.706889
6   USA  0.999685      0.053129
7   AUS  0.971235      0.706889
8   JPN  0.957923      0.060201
9   CAN  0.009260      0.958751
10  CUB  0.000142           NaN
11  CHN  0.029093           NaN
12  KEN       NaN      0.062709
13  COL       NaN      0.112770
14  ARG       NaN      0.115592
15  ZAF       NaN      0.961924
16  BRA       NaN      0.007081
17  FRA       NaN      0.060201
18  ESP       NaN      0.060201
19  FJI       NaN      0.723509
20  GBR       NaN      0.721468

Trampolining

In [210]:
Trampolining_df = data_df[data_df['Sport'] == "Trampolining"]
Trampolining_df = Trampolining_df.dropna()

In [211]:
Trampolining_dummies = pd.get_dummies(Trampolining_df)
Trampolining_dummies.head(3)

,Medal,Host,NOC_AUS,NOC_BLR,NOC_BRA,NOC_CAN,NOC_CHE,NOC_CHN,NOC_CZE,NOC_DEU,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
803,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1099,False,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
2029,False,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [212]:
x_train = Trampolining_dummies.drop(columns=['Medal'])
y_train = Trampolining_dummies['Medal']

x_test = Trampolining_dummies.drop(columns=['Medal'])
y_test = Trampolining_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.8552631578947368

In [213]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Trampolining_df)

array([0.22940116, 0.48288243, 0.11766318, 0.43056299, 0.42788072,
       0.24953535, 0.11766318, 0.43056299, 0.24953535, 0.69889481,
       0.69889481, 0.84273047, 0.24953535, 0.17395346, 0.17395346,
       0.46787285, 0.69708064, 0.32380809, 0.84273047, 0.84273047,
       0.69889481, 0.69889481, 0.29491892, 0.48288243, 0.48288243,
       0.28799484, 0.28799484, 0.93995068, 0.93611176, 0.86565346,
       0.11766318, 0.26211005, 0.24953535, 0.11766318, 0.32380809,
       0.30883944, 0.17395346, 0.15397725, 0.22940116, 0.22940116,
       0.86565346, 0.29491892, 0.15338982, 0.11766318, 0.32114866,
       0.32114866, 0.32114866, 0.32380809, 0.32380809, 0.93995068,
       0.93611176, 0.86565346, 0.15397725, 0.15397725, 0.80252186,
       0.93995068, 0.93611176, 0.07307496, 0.15397725, 0.12589663,
       0.12589663, 0.12589663, 0.24953535, 0.69708064, 0.69708064,
       0.32380809, 0.32380809, 0.32380809, 0.32380809, 0.43056299,
       0.43056299, 0.43056299, 0.43056299, 0.43056299, 0.32114866,
       0.32114866, 0.07307496, 0.35767785, 0.24953535, 0.24953535,
       0.12589663, 0.86565346, 0.93995068, 0.93611176, 0.69889481,
       0.69889481, 0.84273047, 0.17395346, 0.17395346, 0.08359239,
       0.24953535, 0.22940116, 0.32380809, 0.24953535, 0.69708064,
       0.69708064, 0.35767785, 0.46787285, 0.35767785, 0.80252186,
       0.15397725, 0.15397725, 0.15397725, 0.46787285, 0.35767785,
       0.35767785, 0.24953535, 0.2353936 , 0.2353936 , 0.32380809,
       0.17395346, 0.08359239, 0.24953535, 0.32380809, 0.32380809,
       0.32380809, 0.32380809, 0.32380809, 0.32380809, 0.17395346,
       0.43056299, 0.22940116, 0.22940116, 0.22940116, 0.84273047,
       0.69708064, 0.32380809, 0.24953535, 0.48288243, 0.24953535,
       0.15397725, 0.48288243, 0.28799484, 0.28799484, 0.46787285,
       0.84273047, 0.84273047, 0.15397725, 0.07307496, 0.32380809,
       0.32380809, 0.32380809, 0.32380809, 0.17395346, 0.24953535,
       0.11766318, 0.32380809, 0.30883944, 0.17395346, 0.15338982,
       0.12589663, 0.32380809])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
803,PRT,Trampolining,False,0,0,0,3,8,0
1099,DEU,Trampolining,False,0,1,0,2,8,1
2029,USA,Trampolining,False,0,2,1,1,8,5
3963,KAZ,Trampolining,False,0,0,0,4,7,0
5722,BRA,Trampolining,False,1,0,1,1,7,0
...,...,...,...,...,...,...,...,...,...
192188,AUS,Trampolining,True,1,1,0,1,8,0
195202,CHE,Trampolining,False,0,1,0,2,8,0
195374,AUS,Trampolining,False,0,2,0,1,8,0
197277,GBR,Trampolining,False,0,2,0,1,8,1
200348,RUS,Trampolining,False,0,0,0,2,7,0

In [214]:
Trampolining_df['Predictions'] = y_pred.tolist()
Trampolining_final = Trampolining_df.drop_duplicates(subset=['NOC'], keep='last')
Trampolining_final = Trampolining_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/458389408.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Trampolining_final = Trampolining_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

Golf

In [215]:
Golf_df = data_df[data_df['Sport'] == "Golf"]
Golf_df = Golf_df.dropna()

In [216]:
Golf_dummies = pd.get_dummies(Golf_df)
Golf_dummies.head(3)

,Medal,Host,NOC_ARG,NOC_AUS,NOC_AUT,NOC_BEL,NOC_BGD,NOC_BRA,NOC_CAN,NOC_CHE,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
1755,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
5152,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
6701,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [217]:
x_train = Golf_dummies.drop(columns=['Medal'])
y_train = Golf_dummies['Medal']

x_test = Golf_dummies.drop(columns=['Medal'])
y_test = Golf_dummies['Medal']

classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9491525423728814

In [218]:
clf = LogisticRegression(penalty='l1', dual=False, tol=0.001, C=1.0, fit_intercept=True, 
                   intercept_scaling=1, class_weight='balanced', random_state=None, 
                   solver='liblinear', max_iter=1000, multi_class='ovr', verbose=0)

clf.fit(x_train, np.ravel(y_train.values))
y_pred = clf.predict_proba(x_test)
y_pred = y_pred[:,1]

display(y_pred,Golf_df)

array([0.07932782, 0.70851056, 0.03385587, 0.14228339, 0.07932782,
       0.07932782, 0.19735858, 0.19735858, 0.19735858, 0.1744016 ,
       0.14228339, 0.03385587, 0.70851056, 0.19735858, 0.07932782,
       0.32129572, 0.19735858, 0.65331279, 0.74051162, 0.81137233,
       0.07932782, 0.1744016 , 0.19735858, 0.07932782, 0.07932782,
       0.03385587, 0.03385587, 0.07932782, 0.03385587, 0.07932782,
       0.19735858, 0.07932782, 0.19735858, 0.77391442, 0.19735858,
       0.1744016 , 0.19735858, 0.07932782, 0.03385587, 0.03385587,
       0.19735858, 0.1744016 , 0.1744016 , 0.70851056, 0.19735858,
       0.81137233, 0.19735858, 0.03385587, 0.74051162, 0.65331279,
       0.14228339, 0.19735858, 0.81137233, 0.07932782, 0.07932782,
       0.74051162, 0.65331279, 0.07932782, 0.65331279, 0.65331279,
       0.77394863, 0.77394863, 0.19735858, 0.19735858, 0.32129572,
       0.65331279, 0.07932782, 0.19735858, 0.07932782, 0.07932782,
       0.1744016 , 0.77391442, 0.07932782, 0.07932782, 0.19735858,
       0.32129572, 0.19735858, 0.1744016 , 0.77394863, 0.07932782,
       0.19735858, 0.1744016 , 0.65331279, 0.70851056, 0.19735858,
       0.03385587, 0.07932782, 0.74051162, 0.07932782, 0.19735858,
       0.03385587, 0.74051162, 0.07932782, 0.77391442, 0.07932782,
       0.19735858, 0.07932782, 0.19735858, 0.07932782, 0.77394863,
       0.07932782, 0.03385587, 0.19735858, 0.03385587, 0.74051162,
       0.03385587, 0.07932782, 0.07932782, 0.03385587, 0.70851056,
       0.74051162, 0.07932782, 0.19735858, 0.77391442, 0.07932782,
       0.65331279, 0.70851056, 0.03385587])

,NOC,Sport,Medal,Host,GDP_Per_Cap,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
1755,CHL,Golf,False,0,0,0,0,8,0
5152,KOR,Golf,False,0,1,0,1,8,0
6701,THA,Golf,False,0,0,0,4,7,0
7986,IND,Golf,False,0,0,7,6,7,0
13296,ISR,Golf,False,0,1,0,0,8,0
...,...,...,...,...,...,...,...,...,...
195547,GBR,Golf,False,0,1,0,1,8,0
196704,AUT,Golf,False,0,2,0,3,8,0
197358,CHN,Golf,False,0,0,7,4,8,3
198605,KOR,Golf,False,0,1,0,1,8,0
201209,PRY,Golf,False,0,0,0,3,7,0

In [219]:
Golf_df['Predictions'] = y_pred.tolist()
Golf_final = Golf_df.drop_duplicates(subset=['NOC'], keep='last')
Golf_final = Golf_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/3088466276.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Golf_final = Golf_final.drop(["Host","GDP_Per_Cap", "Global_Pop_Bin", "Rural_Pop_Bin", "Life_Expect_Bin", "Global_GDP_Perc_Bin", "Medal"], 1)

In [220]:
Q = pd.merge(Trampolining_final, Golf_final, how='outer', on=['NOC', 'NOC'])
Q.rename(columns = {'Predictions_x':'Trampoling', 'Predictions_y':'Golf'}, inplace = True)
Q = Q.drop(["Sport_x","Sport_y"], 1)
Q

C:\Users\14043\AppData\Local\Temp/ipykernel_4512/762997901.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Q = Q.drop(["Sport_x","Sport_y"], 1)

    NOC  Trampoling      Golf
0   KAZ    0.430563       NaN
1   BRA    0.427881  0.321296
2   DZA    0.430563       NaN
3   ITA    0.173953  0.079328
4   DNK    0.125897  0.197359
5   UZB    0.430563       NaN
6   GEO    0.321149       NaN
7   CHN    0.802522  0.653313
8   GRC    0.173953       NaN
9   FRA    0.249535  0.197359
10  BLR    0.323808       NaN
11  SVK    0.430563       NaN
12  PRT    0.229401  0.079328
13  NZL    0.249535  0.811372
14  DEU    0.287995  0.174402
15  UKR    0.467873       NaN
16  CAN    0.842730  0.197359
17  JPN    0.073075  0.174402
18  CZE    0.323808  0.079328
19  NLD    0.249535  0.079328
20  USA    0.117663  0.740512
21  CHE    0.173953  0.079328
22  AUS    0.153390  0.079328
23  GBR    0.125897  0.773914
24  RUS    0.323808  0.033856
25  CHL         NaN  0.079328
26  ISR         NaN  0.079328
27  ARG         NaN  0.079328
28  MAR         NaN  0.033856
29  IND         NaN  0.142283
30  MEX         NaN  0.197359
31  ESP         NaN  0.197359
32  THA         NaN  0.033856
33  BEL         NaN  0.079328
34  IRL         NaN  0.079328
35  BGD         NaN  0.033856
36  NOR         NaN  0.197359
37  SWE         NaN  0.773949
38  PHL         NaN  0.033856
39  MYS         NaN  0.033856
40  COL         NaN  0.033856
41  ZAF         NaN  0.079328
42  FIN         NaN  0.197359
43  AUT         NaN  0.079328
44  KOR         NaN  0.708511
45  PRY         NaN  0.033856

In [221]:
First = pd.merge(A, B, how='outer', on=['NOC', 'NOC'])
First

     NOC  Athletics  Swimming  Gymnastics   Cycling
0    OMN   0.056707  0.035696         NaN  0.082338
1    PLW   0.142536  0.035696         NaN       NaN
2    SOM   0.039518       NaN         NaN       NaN
3    AGO   0.039518  0.006514         NaN       NaN
4    BDI   0.394044  0.007105         NaN       NaN
..   ...        ...       ...         ...       ...
182  DEU   0.464117  0.635424    0.302110  0.766620
183  NLD   0.186885  0.642632    0.258117  0.579877
184  USA   0.858045  0.964731    0.631477  0.008193
185  KAZ   0.268189  0.073388    0.017298  0.389340
186  RUS   0.735713  0.499230    0.787091  0.543093

[187 rows x 5 columns]

In [222]:
Second = pd.merge(C, D, how='outer', on=['NOC', 'NOC'])
Second

     NOC    Rowing  Shooting   Fencing  Canoeing
0    KWT  0.191735  0.534134  0.031137       NaN
1    TGO  0.008697       NaN       NaN  0.689710
2    HND  0.091383  0.190864  0.043268       NaN
3    TTO  0.186799  0.145889       NaN       NaN
4    CMR  0.103624       NaN       NaN       NaN
..   ...       ...       ...       ...       ...
136  ATG       NaN       NaN       NaN  0.030552
137  SYC       NaN       NaN       NaN  0.106971
138  MOZ       NaN       NaN       NaN  0.023626
139  GUM       NaN       NaN       NaN  0.310492
140  STP       NaN       NaN       NaN  0.317250

[141 rows x 5 columns]

In [223]:
Third = pd.merge(E, F, how='outer', on=['NOC', 'NOC'])
Third

     NOC  Wrestling  Football    Boxing  Equestrianism
0    YEM   0.024006       NaN       NaN            NaN
1    CHL   0.196795  0.892681  0.094675       0.008917
2    BHR   0.298853       NaN       NaN            NaN
3    LBN   0.165656       NaN  0.274770            NaN
4    CIV   0.050698  0.000010  0.084458            NaN
..   ...        ...       ...       ...            ...
158  ETH        NaN       NaN  0.133529            NaN
159  TON        NaN       NaN  0.257761            NaN
160  JAM        NaN       NaN  0.061497       0.112294
161  PNG        NaN       NaN  0.096769            NaN
162  SYC        NaN       NaN  0.123814            NaN

[163 rows x 5 columns]

In [224]:
Fourth = pd.merge(G, H, how='outer', on=['NOC', 'NOC'])
Fourth

     NOC      Judo  Basketball  Handball  Volleyball
0    GUM  0.133960         NaN       NaN         NaN
1    TGO  0.068379         NaN       NaN         NaN
2    NIC  0.179992         NaN       NaN         NaN
3    TTO  0.179992         NaN       NaN         NaN
4    BEN  0.068379         NaN       NaN         NaN
..   ...       ...         ...       ...         ...
152  HUN  0.430832         NaN  0.574356         NaN
153  CHL  0.174682         NaN       NaN         NaN
154  CAN  0.194526     0.00204  0.014220    0.018686
155  GEO  0.579885         NaN       NaN         NaN
156  NLD  0.643762         NaN  0.039175    0.426191

[157 rows x 5 columns]

In [225]:
Fifth = pd.merge(I, J, how='outer', on=['NOC', 'NOC'])
Fifth

     NOC  Weightlifting  Water Polo   Archery    Diving
0    SAU       0.199775         NaN  0.011236       NaN
1    GHA       0.055786         NaN       NaN       NaN
2    ZWE       0.018352         NaN  0.026787  0.025322
3    SLE       0.060129         NaN       NaN       NaN
4    LBN       0.199775         NaN       NaN       NaN
..   ...            ...         ...       ...       ...
133  LAO            NaN         NaN  0.026787       NaN
134  CAF            NaN         NaN  0.050443       NaN
135  HKG            NaN         NaN  0.156770  0.033823
136  BTN            NaN         NaN  0.050443       NaN
137  BHS            NaN         NaN       NaN  0.043903

[138 rows x 5 columns]

In [226]:
Sixth = pd.merge(K, L, how='outer', on=['NOC', 'NOC'])
Sixth

     NOC    Tennis  Table Tennis  Badminton  Modern Pentathlon
0    MDA  0.168410           NaN        NaN                NaN
1    SLV  0.042122           NaN        NaN                NaN
2    LTU  0.042122      0.006635   0.001490           0.790220
3    TUR  0.117691      0.006635   0.033892           0.111342
4    BOL  0.030830           NaN        NaN                NaN
..   ...       ...           ...        ...                ...
116  LKA       NaN           NaN   0.063584                NaN
117  GTM       NaN           NaN   0.042545           0.070190
118  BRN       NaN           NaN   0.016012                NaN
119  BHR       NaN           NaN        NaN           0.153441
120  KGZ       NaN           NaN        NaN           0.166407

[121 rows x 5 columns]

In [227]:
Seventh = pd.merge(M, N, how='outer', on=['NOC', 'NOC'])
Seventh

     NOC  Sychronized Swimming  Baseball  Rhythmic Gymnastics  Taekwondo
0    COL              0.020051       NaN                  NaN   0.391366
1    SWE              0.031143       NaN             0.138581   0.175474
2    SVK              0.020051       NaN                  NaN        NaN
3    FIN              0.031143       NaN             0.075327   0.254020
4    HUN              0.017322       NaN             0.072182   0.233564
..   ...                   ...       ...                  ...        ...
105  THA                   NaN       NaN                  NaN   0.666829
106  ARM                   NaN       NaN                  NaN   0.233564
107  GTM                   NaN       NaN                  NaN   0.293453
108  MAR                   NaN       NaN                  NaN   0.112194
109  HRV                   NaN       NaN                  NaN   0.581029

[110 rows x 5 columns]

In [228]:
Eighth = pd.merge(O, P, how='outer', on=['NOC', 'NOC'])
Eighth

    NOC  Beach Volleyball  Triathlon  Softball  Rugby Sevens
0   TUN          0.027408        NaN       NaN           NaN
1   CRI          0.072556   0.023686       NaN           NaN
2   AGO          0.002972        NaN       NaN           NaN
3   CHL          0.083066   0.033360       NaN           NaN
4   NZL          0.040325   0.069096  0.022073      0.706889
5   EGY          0.002972        NaN       NaN           NaN
6   GBR          0.062842   0.857414       NaN      0.721468
7   PRI          0.083066        NaN  0.000142           NaN
8   SWE          0.044608   0.788065       NaN           NaN
9   POL          0.027408   0.023686       NaN           NaN
10  FRA          0.079977   0.144138       NaN      0.060201
11  MUS          0.002972   0.037677       NaN           NaN
12  CUB          0.072556        NaN  0.000142           NaN
13  GEO          0.040325        NaN       NaN           NaN
14  PRT          0.040325   0.088491       NaN           NaN
15  LVA          0.604058        NaN       NaN           NaN
16  AUT          0.030362   0.466073       NaN           NaN
17  CZE          0.072556   0.448673       NaN           NaN
18  JPN          0.031770   0.009754  0.957923      0.060201
19  NOR          0.064390   0.438785       NaN           NaN
20  GRC          0.079977   0.246626  0.019218           NaN
21  ITA          0.197040   0.107291  0.019218           NaN
22  CAN          0.257621   0.580318  0.009260      0.958751
23  BEL          0.114710   0.051021       NaN           NaN
24  NLD          0.368922   0.088831  0.081130           NaN
25  EST          0.072556   0.023686       NaN           NaN
26  VEN          0.040325   0.118990  0.022073           NaN
27  MEX          0.040325   0.037677       NaN           NaN
28  DEU          0.485039   0.602803       NaN           NaN
29  ZAF          0.027408   0.254785       NaN      0.961924
30  BGR          0.072556        NaN       NaN           NaN
31  RUS          0.072556   0.037677       NaN           NaN
32  USA          0.767380   0.530359  0.999685      0.053129
33  QAT          0.114710        NaN       NaN           NaN
34  IDN          0.187483        NaN       NaN           NaN
35  ESP          0.417975   0.530359       NaN      0.060201
36  AUS          0.486883   0.816431  0.971235      0.706889
37  BRA          0.865407   0.094203       NaN      0.007081
38  CHN          0.419826   0.037677  0.029093           NaN
39  ARG          0.083066   0.002101       NaN      0.115592
40  CHE          0.091603   0.757366       NaN           NaN
41  ECU               NaN   0.023686       NaN           NaN
42  ISR               NaN   0.064440       NaN           NaN
43  JOR               NaN   0.118990       NaN           NaN
44  KOR               NaN   0.530359       NaN           NaN
45  ZWE               NaN   0.037677       NaN           NaN
46  LUX               NaN   0.468504       NaN           NaN
47  IRL               NaN   0.376754       NaN           NaN
48  AZE               NaN   0.037677       NaN           NaN
49  COL               NaN   0.037677       NaN      0.112770
50  DNK               NaN   0.254887       NaN           NaN
51  KAZ               NaN   0.140696       NaN           NaN
52  SVN               NaN   0.246626       NaN           NaN
53  HUN               NaN   0.037677       NaN           NaN
54  SVK               NaN   0.009905       NaN           NaN
55  BRB               NaN   0.037677       NaN           NaN
56  JAM               NaN   0.037677       NaN           NaN
57  UKR               NaN   0.037677       NaN           NaN
58  KEN               NaN        NaN       NaN      0.062709
59  FJI               NaN        NaN       NaN      0.723509

In [229]:
A = pd.merge(First, Second, how='outer', on=['NOC', 'NOC'])
A

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing
0,OMN,0.056707,0.035696,NaN,0.082338,NaN,0.086524,NaN,NaN
1,PLW,0.142536,0.035696,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039518,0.006514,NaN,NaN,0.008697,0.007466,NaN,0.160380
4,BDI,0.394044,0.007105,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
183,NLD,0.186885,0.642632,0.258117,0.579877,0.589538,0.192891,0.256282,0.336487
184,USA,0.858045,0.964731,0.631477,0.008193,0.404303,0.775123,0.214372,0.330402
185,KAZ,0.268189,0.073388,0.017298,0.389340,0.091383,0.412269,0.008771,0.027575
186,RUS,0.735713,0.499230,0.787091,0.543093,0.382407,0.875065,0.838278,0.586222
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095240,NaN,NaN

In [230]:
B = pd.merge(Third, Fourth, how = 'outer', on=['NOC','NOC'])
B

,NOC,Wrestling,Football,Boxing,Equestrianism,Judo,Basketball,Handball,Volleyball
0,YEM,0.024006,NaN,NaN,NaN,0.002548,NaN,NaN,NaN
1,CHL,0.196795,0.892681,0.094675,0.008917,0.174682,NaN,NaN,NaN
2,BHR,0.298853,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LBN,0.165656,NaN,0.274770,NaN,0.172846,NaN,NaN,NaN
4,CIV,0.050698,0.000010,0.084458,NaN,0.035570,NaN,0.009610,NaN
...,...,...,...,...,...,...,...,...,...
169,ISL,NaN,NaN,NaN,NaN,0.236402,NaN,0.478393,NaN
170,RWA,NaN,NaN,NaN,NaN,0.048658,NaN,NaN,NaN
171,ABW,NaN,NaN,NaN,NaN,0.179992,NaN,NaN,NaN
172,MMR,NaN,NaN,NaN,NaN,0.079553,NaN,NaN,NaN
173,SVN,NaN,NaN,NaN,NaN,0.577799,NaN,0.023644,NaN

In [231]:
C = pd.merge(Fifth, Sixth, how = 'outer', on=['NOC','NOC'])
C

,NOC,Weightlifting,Water Polo,Archery,Diving,Tennis,Table Tennis,Badminton,Modern Pentathlon
0,SAU,0.199775,NaN,0.011236,NaN,NaN,0.006635,NaN,NaN
1,GHA,0.055786,NaN,NaN,NaN,NaN,0.007005,NaN,NaN
2,ZWE,0.018352,NaN,0.026787,0.025322,0.030226,NaN,NaN,NaN
3,SLE,0.060129,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LBN,0.199775,NaN,NaN,NaN,NaN,0.002924,NaN,NaN
...,...,...,...,...,...,...,...,...,...
148,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,0.055163,NaN
149,MDV,NaN,NaN,NaN,NaN,NaN,NaN,0.055163,NaN
150,SUR,NaN,NaN,NaN,NaN,NaN,NaN,0.001490,NaN
151,BRN,NaN,NaN,NaN,NaN,NaN,NaN,0.016012,NaN
152,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.153441

In [232]:
D = pd.merge(Seventh, Eighth, how = 'outer', on=['NOC','NOC'])
D

,NOC,Sychronized Swimming,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens
0,COL,0.020051,NaN,NaN,0.391366,NaN,0.037677,NaN,0.112770
1,SWE,0.031143,NaN,0.138581,0.175474,0.044608,0.788065,NaN,NaN
2,SVK,0.020051,NaN,NaN,NaN,NaN,0.009905,NaN,NaN
3,FIN,0.031143,NaN,0.075327,0.254020,NaN,NaN,NaN,NaN
4,HUN,0.017322,NaN,0.072182,0.233564,NaN,0.037677,NaN,NaN
...,...,...,...,...,...,...,...,...,...
113,ZWE,NaN,NaN,NaN,NaN,NaN,0.037677,NaN,NaN
114,LUX,NaN,NaN,NaN,NaN,NaN,0.468504,NaN,NaN
115,IRL,NaN,NaN,NaN,NaN,NaN,0.376754,NaN,NaN
116,BRB,NaN,NaN,NaN,NaN,NaN,0.037677,NaN,NaN
117,FJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.723509

In [233]:
First = pd.merge(A, B, how = 'outer', on=['NOC','NOC'])
First

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing,Wrestling,Football,Boxing,Equestrianism,Judo,Basketball,Handball,Volleyball
0,OMN,0.056707,0.035696,NaN,0.082338,NaN,0.086524,NaN,NaN,NaN,NaN,0.270755,NaN,NaN,NaN,NaN,NaN
1,PLW,0.142536,0.035696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039518,0.006514,NaN,NaN,0.008697,0.007466,NaN,0.160380,NaN,NaN,0.063600,NaN,0.060357,0.013764,0.023001,NaN
4,BDI,0.394044,0.007105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.061272,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NLD,0.186885,0.642632,0.258117,0.579877,0.589538,0.192891,0.256282,0.336487,0.334518,0.103060,0.551307,0.484662,0.643762,NaN,0.039175,0.426191
184,USA,0.858045,0.964731,0.631477,0.008193,0.404303,0.775123,0.214372,0.330402,0.767301,0.018224,0.793272,0.819400,0.538317,0.986402,0.000235,0.519885
185,KAZ,0.268189,0.073388,0.017298,0.389340,0.091383,0.412269,0.008771,0.027575,0.712689,NaN,0.800885,NaN,0.297531,NaN,0.027042,0.124584
186,RUS,0.735713,0.499230,0.787091,0.543093,0.382407,0.875065,0.838278,0.586222,0.924535,NaN,0.843007,0.104260,0.694082,0.880375,0.804641,0.738540
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
Second = pd.merge(C, D, how = 'outer', on=['NOC','NOC'])
Second

,NOC,Weightlifting,Water Polo,Archery,Diving,Tennis,Table Tennis,Badminton,Modern Pentathlon,Sychronized Swimming,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens
0,SAU,0.199775,NaN,0.011236,NaN,NaN,0.006635,NaN,NaN,NaN,NaN,NaN,0.406913,NaN,NaN,NaN,NaN
1,GHA,0.055786,NaN,NaN,NaN,NaN,0.007005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZWE,0.018352,NaN,0.026787,0.025322,0.030226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037677,NaN,NaN
3,SLE,0.060129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LBN,0.199775,NaN,NaN,NaN,NaN,0.002924,NaN,NaN,NaN,NaN,NaN,0.271075,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,GAB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.406913,NaN,NaN,NaN,NaN
160,KHM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.233564,NaN,NaN,NaN,NaN
161,GRD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.157756,NaN,NaN,NaN,NaN
162,LSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.233564,NaN,NaN,NaN,NaN
163,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002972,NaN,NaN,NaN

In [235]:
A = pd.merge(First, Second, how = 'outer', on=['NOC','NOC'])
A

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing,Wrestling,...,Badminton,Modern Pentathlon,Sychronized Swimming,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens
0,OMN,0.056707,0.035696,NaN,0.082338,NaN,0.086524,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PLW,0.142536,0.035696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039518,0.006514,NaN,NaN,0.008697,0.007466,NaN,0.160380,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.002972,NaN,NaN,NaN
4,BDI,0.394044,0.007105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NLD,0.186885,0.642632,0.258117,0.579877,0.589538,0.192891,0.256282,0.336487,0.334518,...,0.226639,0.166407,0.048301,0.025387,NaN,0.263049,0.368922,0.088831,0.081130,NaN
184,USA,0.858045,0.964731,0.631477,0.008193,0.404303,0.775123,0.214372,0.330402,0.767301,...,0.038576,0.472340,0.772991,0.968680,0.034825,0.765578,0.767380,0.530359,0.999685,0.053129
185,KAZ,0.268189,0.073388,0.017298,0.389340,0.091383,0.412269,0.008771,0.027575,0.712689,...,NaN,0.490189,0.020051,NaN,0.072182,0.293453,NaN,0.140696,NaN,NaN
186,RUS,0.735713,0.499230,0.787091,0.543093,0.382407,0.875065,0.838278,0.586222,0.924535,...,0.274393,0.849728,0.456774,NaN,0.980243,0.566185,0.072556,0.037677,NaN,NaN
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095240,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [240]:
Final1 = pd.merge(A, Q, how = 'outer', on=['NOC','NOC'])
Final1

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing,Wrestling,...,Sychronized Swimming,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens,Trampoling,Golf
0,OMN,0.056707,0.035696,NaN,0.082338,NaN,0.086524,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PLW,0.142536,0.035696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039518,0.006514,NaN,NaN,0.008697,0.007466,NaN,0.160380,NaN,...,NaN,NaN,NaN,NaN,0.002972,NaN,NaN,NaN,NaN,NaN
4,BDI,0.394044,0.007105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NLD,0.186885,0.642632,0.258117,0.579877,0.589538,0.192891,0.256282,0.336487,0.334518,...,0.048301,0.025387,NaN,0.263049,0.368922,0.088831,0.081130,NaN,0.249535,0.079328
184,USA,0.858045,0.964731,0.631477,0.008193,0.404303,0.775123,0.214372,0.330402,0.767301,...,0.772991,0.968680,0.034825,0.765578,0.767380,0.530359,0.999685,0.053129,0.117663,0.740512
185,KAZ,0.268189,0.073388,0.017298,0.389340,0.091383,0.412269,0.008771,0.027575,0.712689,...,0.020051,NaN,0.072182,0.293453,NaN,0.140696,NaN,NaN,0.430563,NaN
186,RUS,0.735713,0.499230,0.787091,0.543093,0.382407,0.875065,0.838278,0.586222,0.924535,...,0.456774,NaN,0.980243,0.566185,0.072556,0.037677,NaN,NaN,0.323808,0.033856
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095240,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
Final = pd.merge(Final1, Hockey_final, how = 'outer', on=['NOC','NOC'])
Final

,NOC,Athletics,Swimming,Gymnastics,Cycling,Rowing,Shooting,Fencing,Canoeing,Wrestling,...,Baseball,Rhythmic Gymnastics,Taekwondo,Beach Volleyball,Triathlon,Softball,Rugby Sevens,Trampoling,Golf,Hockey
0,OMN,0.056707,0.035696,NaN,0.082338,NaN,0.086524,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PLW,0.142536,0.035696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SOM,0.039518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,0.039518,0.006514,NaN,NaN,0.008697,0.007466,NaN,0.160380,NaN,...,NaN,NaN,NaN,0.002972,NaN,NaN,NaN,NaN,NaN,NaN
4,BDI,0.394044,0.007105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NLD,0.186885,0.642632,0.258117,0.579877,0.589538,0.192891,0.256282,0.336487,0.334518,...,0.025387,NaN,0.263049,0.368922,0.088831,0.081130,NaN,0.249535,0.079328,0.323202
184,USA,0.858045,0.964731,0.631477,0.008193,0.404303,0.775123,0.214372,0.330402,0.767301,...,0.968680,0.034825,0.765578,0.767380,0.530359,0.999685,0.053129,0.117663,0.740512,0.002326
185,KAZ,0.268189,0.073388,0.017298,0.389340,0.091383,0.412269,0.008771,0.027575,0.712689,...,NaN,0.072182,0.293453,NaN,0.140696,NaN,NaN,0.430563,NaN,NaN
186,RUS,0.735713,0.499230,0.787091,0.543093,0.382407,0.875065,0.838278,0.586222,0.924535,...,NaN,0.980243,0.566185,0.072556,0.037677,NaN,NaN,0.323808,0.033856,NaN
187,BTN,NaN,NaN,NaN,NaN,NaN,0.095240,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
Final.to_csv(r'archive\countryPredictions.csv', index = False)