In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the data.csv.
import pandas as pd 
data_df = pd.read_csv("archive/data.csv")
data_df.head()

,Unnamed: 0,Unnamed: 0.1,ID,Name,Sex,Age,Height,Weight,Team,NOC,...,Event,Medal,Host,Nat_Pop,Global_Pop%,Rural_Pop%,Life_Expect,GDP,GDP_Per_Cap,Global_GDP%
0,0,0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,...,Basketball Men's Basketball,NaN,0,1.164970e+09,0.213515,71.800,69.587000,4.270000e+11,366.5330438,0.016811
1,1,1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,...,Judo Men's Extra-Lightweight,NaN,0,1.350695e+09,0.190308,48.111,75.602000,8.560000e+12,6337.478113,0.114286
2,2,2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NLD,...,Speed Skating Women's 500 metres,NaN,0,1.476009e+07,0.002891,32.094,76.890244,2.590000e+11,17547.31372,0.013560
3,3,3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NLD,...,"Speed Skating Women's 1,000 metres",NaN,0,1.476009e+07,0.002891,32.094,76.890244,2.590000e+11,17547.31372,0.013560
4,4,4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NLD,...,Speed Skating Women's 500 metres,NaN,0,1.518417e+07,0.002783,29.777,77.217073,3.580000e+11,23577.19219,0.014094

In [2]:
#Drop unnecessary columns
data_df = data_df.drop(["Unnamed: 0","Unnamed: 0.1", "ID", "Name", "Sex", "Age", "Height", "Weight","Event", "Team", "Games","Year","City", "Nat_Pop", "GDP"], 1)

data_df = data_df.drop(["GDP_Per_Cap"], 1)


#Rename Global_Pop% and Rural_Pop% to make it easier to call in future
data_df.rename(columns = {'Global_Pop%':'Global_Pop_Perc'}, inplace = True)
data_df.rename(columns = {'Rural_Pop%':'Rural_Pop_Perc'}, inplace = True)
data_df.rename(columns = {'Global_GDP%':'Global_GDP_Perc'}, inplace = True)


data_df.head()

C:\Users\14043\AppData\Local\Temp/ipykernel_10328/1863630992.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Unnamed: 0","Unnamed: 0.1", "ID", "Name", "Sex", "Age", "Height", "Weight","Event", "Team", "Games","Year","City", "Nat_Pop", "GDP"], 1)
C:\Users\14043\AppData\Local\Temp/ipykernel_10328/1863630992.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["GDP_Per_Cap"], 1)

,NOC,Season,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,Global_GDP_Perc
0,CHN,Summer,Basketball,NaN,0,0.213515,71.800,69.587000,0.016811
1,CHN,Summer,Judo,NaN,0,0.190308,48.111,75.602000,0.114286
2,NLD,Winter,Speed Skating,NaN,0,0.002891,32.094,76.890244,0.013560
3,NLD,Winter,Speed Skating,NaN,0,0.002891,32.094,76.890244,0.013560
4,NLD,Winter,Speed Skating,NaN,0,0.002783,29.777,77.217073,0.014094

In [3]:
#Filter out season data to just summer
data_df = data_df[data_df["Season"].str.contains("Winter") == False]
data_df.head()

,NOC,Season,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,Global_GDP_Perc
0,CHN,Summer,Basketball,NaN,0,0.213515,71.800,69.587000,0.016811
1,CHN,Summer,Judo,NaN,0,0.190308,48.111,75.602000,0.114286
26,FIN,Summer,Badminton,NaN,0,0.000846,17.817,77.465854,0.003750
29,FIN,Summer,Athletics,NaN,0,0.000846,17.817,77.465854,0.003750
50,NOR,Summer,Handball,Gold,0,0.000705,21.474,80.592683,0.007291

In [4]:
#Turn Medal Values into Boolean
data_df.fillna(value = False,
          inplace = True)

#Drop Season since no longer needed after filtering
data_df = data_df.drop(["Season"],1)
data_df.head()

C:\Users\14043\AppData\Local\Temp/ipykernel_10328/516755359.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Season"],1)

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,Global_GDP_Perc
0,CHN,Basketball,False,0,0.213515,71.8,69.587,0.016811
1,CHN,Judo,False,0,0.190308,48.111,75.602,0.114286
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,0.00375
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,0.00375
50,NOR,Handball,Gold,0,0.000705,21.474,80.592683,0.007291

In [5]:
#Replace medal values to true to finish boolean
data_df = data_df.replace({"Gold" : True})
data_df = data_df.replace({"Silver" : True})
data_df = data_df.replace({"Bronze" : True})
data_df.head(15)

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,Global_GDP_Perc
0,CHN,Basketball,False,0,0.213515,71.8,69.587,0.016811
1,CHN,Judo,False,0,0.190308,48.111,75.602,0.114286
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,0.00375
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,0.00375
50,NOR,Handball,True,0,0.000705,21.474,80.592683,0.007291
51,ROU,Weightlifting,False,0,0.002648,45.251,75.012195,0.00248
52,NOR,Wrestling,False,0,0.000734,23.919,78.634146,0.005089
53,NOR,Wrestling,False,0,0.000713,22.725,79.841463,0.006027
58,NLD,Water Polo,False,0,0.00303,33.681,76.233171,0.011736
59,NLD,Hockey,True,0,0.002891,32.094,76.890244,0.01356
60,NLD,Rowing,True,0,0.002681,26.36,77.43561,0.014114
61,NLD,Rowing,False,0,0.002603,23.205,77.987805,0.012292
62,FRA,Athletics,False,0,0.009251,21.18,81.968293,0.035781
64,NLD,Swimming,False,0,0.002681,26.36,77.43561,0.014114
65,NLD,Swimming,False,0,0.002681,26.36,77.43561,0.014114

In [6]:
#Get Sport count to use for later dataframe creation
Sport_counts = data_df["Sport"].value_counts()
Sport_counts

Athletics                28092
Swimming                 20007
Gymnastics               18179
Cycling                   7917
Rowing                    7849
Shooting                  7328
Fencing                   6348
Canoeing                  5559
Wrestling                 5199
Football                  4850
Boxing                    4661
Equestrianism             4490
Hockey                    4437
Judo                      3801
Basketball                3587
Handball                  3560
Volleyball                3404
Weightlifting             3168
Water Polo                2759
Archery                   2069
Diving                    2059
Tennis                    2024
Table Tennis              1955
Badminton                 1457
Modern Pentathlon         1260
Synchronized Swimming      909
Baseball                   894
Rhythmic Gymnastics        658
Taekwondo                  606
Beach Volleyball           564
Triathlon                  529
Softball                   478
Rugby Sevens               299
Trampolining               152
Golf                       120
Name: Sport, dtype: int64

In [7]:
#Begin binning data to make it easier to get dummies
#Find min and max of data types to create bins
data_df['Global_Pop_Perc'] = data_df['Global_Pop_Perc'].astype(float, errors = 'raise')

min_value = data_df['Global_Pop_Perc'].min()
max_value = data_df['Global_Pop_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

names = ["0","1","2","3","4","5","6","7","8"]
print(bins)
print (names)

0.0
0.224549844
[0.         0.02494998 0.04989997 0.07484995 0.09979993 0.12474991
 0.1496999  0.17464988 0.19959986 0.22454984]
['0', '1', '2', '3', '4', '5', '6', '7', '8']

In [8]:
data_df["Global_Pop_Bin"] = pd.cut(data_df["Global_Pop_Perc"], bins, labels=names)
data_df

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,Global_GDP_Perc,Global_Pop_Bin
0,CHN,Basketball,False,0,0.213515,71.8,69.587,0.016811,8
1,CHN,Judo,False,0,0.190308,48.111,75.602,0.114286,7
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,0.00375,0
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,0.00375,0
50,NOR,Handball,True,0,0.000705,21.474,80.592683,0.007291,0
...,...,...,...,...,...,...,...,...,...
204023,ARG,Hockey,False,0,0.006017,10.101,74.603,0.003767,0
204024,USA,Football,False,0,0.054676,26.377,71.156098,0.339523,2
204025,RUS,Rowing,False,0,0.023961,26.65,65.483659,0.007738,0
204026,RUS,Rowing,False,0,0.022383,26.582,65.470976,0.013493,0
204027,BLR,Basketball,False,0,0.001277,22.954,73.826829,0.000625,0

In [9]:
data_df['Rural_Pop_Perc'] = data_df['Rural_Pop_Perc'].astype(float, errors = 'raise')

min_value = data_df['Rural_Pop_Perc'].min()
max_value = data_df['Rural_Pop_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

0.0
96.305

In [10]:
data_df["Rural_Pop_Bin"] = pd.cut(data_df["Rural_Pop_Perc"], bins, labels=names)
data_df

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,Global_GDP_Perc,Global_Pop_Bin,Rural_Pop_Bin
0,CHN,Basketball,False,0,0.213515,71.800,69.587,0.016811,8,6
1,CHN,Judo,False,0,0.190308,48.111,75.602,0.114286,7,4
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,0.00375,0,1
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,0.00375,0,1
50,NOR,Handball,True,0,0.000705,21.474,80.592683,0.007291,0,2
...,...,...,...,...,...,...,...,...,...,...
204023,ARG,Hockey,False,0,0.006017,10.101,74.603,0.003767,0,0
204024,USA,Football,False,0,0.054676,26.377,71.156098,0.339523,2,2
204025,RUS,Rowing,False,0,0.023961,26.650,65.483659,0.007738,0,2
204026,RUS,Rowing,False,0,0.022383,26.582,65.470976,0.013493,0,2
204027,BLR,Basketball,False,0,0.001277,22.954,73.826829,0.000625,0,2

In [11]:
data_df['Life_Expect'] = data_df['Life_Expect'].astype(float, errors = 'raise')

min_value = data_df['Life_Expect'].min()
max_value = data_df['Life_Expect'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

data_df["Life_Expect_Bin"] = pd.cut(data_df["Life_Expect"], bins, labels=names)
data_df

0.0
85.41707317

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,Global_GDP_Perc,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin
0,CHN,Basketball,False,0,0.213515,71.800,69.587000,0.016811,8,6,7
1,CHN,Judo,False,0,0.190308,48.111,75.602000,0.114286,7,4,7
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,0.00375,0,1,8
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,0.00375,0,1,8
50,NOR,Handball,True,0,0.000705,21.474,80.592683,0.007291,0,2,8
...,...,...,...,...,...,...,...,...,...,...,...
204023,ARG,Hockey,False,0,0.006017,10.101,74.603000,0.003767,0,0,7
204024,USA,Football,False,0,0.054676,26.377,71.156098,0.339523,2,2,7
204025,RUS,Rowing,False,0,0.023961,26.650,65.483659,0.007738,0,2,6
204026,RUS,Rowing,False,0,0.022383,26.582,65.470976,0.013493,0,2,6
204027,BLR,Basketball,False,0,0.001277,22.954,73.826829,0.000625,0,2,7

In [12]:
data_df.dtypes

NOC                  object
Sport                object
Medal                  bool
Host                  int64
Global_Pop_Perc     float64
Rural_Pop_Perc      float64
Life_Expect         float64
Global_GDP_Perc      object
Global_Pop_Bin     category
Rural_Pop_Bin      category
Life_Expect_Bin    category
dtype: object

In [13]:
min_value = data_df['Global_GDP_Perc'].min()
max_value = data_df['Global_GDP_Perc'].max()
print(min_value)
print(max_value)

#Create bins with min and max
bins = np.linspace(min_value,max_value,10)

names = ["0","1","2","3","4","5","6","7","8"]

data_df["Global_GDP_Perc_Bin"] = pd.cut(data_df["Global_GDP_Perc"], bins, labels=names)
data_df

False
0.3963503649635037

,NOC,Sport,Medal,Host,Global_Pop_Perc,Rural_Pop_Perc,Life_Expect,Global_GDP_Perc,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
0,CHN,Basketball,False,0,0.213515,71.800,69.587000,0.016811,8,6,7,0
1,CHN,Judo,False,0,0.190308,48.111,75.602000,0.114286,7,4,7,2
26,FIN,Badminton,False,0,0.000846,17.817,77.465854,0.00375,0,1,8,0
29,FIN,Athletics,False,0,0.000846,17.817,77.465854,0.00375,0,1,8,0
50,NOR,Handball,True,0,0.000705,21.474,80.592683,0.007291,0,2,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...
204023,ARG,Hockey,False,0,0.006017,10.101,74.603000,0.003767,0,0,7,0
204024,USA,Football,False,0,0.054676,26.377,71.156098,0.339523,2,2,7,7
204025,RUS,Rowing,False,0,0.023961,26.650,65.483659,0.007738,0,2,6,0
204026,RUS,Rowing,False,0,0.022383,26.582,65.470976,0.013493,0,2,6,0
204027,BLR,Basketball,False,0,0.001277,22.954,73.826829,0.000625,0,2,7,0

In [14]:
data_df = data_df.drop(["Global_Pop_Perc", "Rural_Pop_Perc", "Life_Expect", "Global_GDP_Perc"], 1)
data_df.head()

C:\Users\14043\AppData\Local\Temp/ipykernel_10328/4282354263.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_df = data_df.drop(["Global_Pop_Perc", "Rural_Pop_Perc", "Life_Expect", "Global_GDP_Perc"], 1)

,NOC,Sport,Medal,Host,Global_Pop_Bin,Rural_Pop_Bin,Life_Expect_Bin,Global_GDP_Perc_Bin
0,CHN,Basketball,False,0,8,6,7,0
1,CHN,Judo,False,0,7,4,7,2
26,FIN,Badminton,False,0,0,1,8,0
29,FIN,Athletics,False,0,0,1,8,0
50,NOR,Handball,True,0,0,2,8,0

In [15]:
# Creating on the basis of Athlethics
Athletics_df = data_df[data_df['Sport'] == "Athletics"]
  
print(Athletics_df)

        NOC      Sport  Medal  Host Global_Pop_Bin Rural_Pop_Bin  \
29      FIN  Athletics  False     0              0             1
62      FRA  Athletics  False     0              0             1
81      EST  Athletics  False     0              0             2
82      EST  Athletics  False     0              0             2
91      FRA  Athletics  False     0              0             2
...     ...        ...    ...   ...            ...           ...
203979  KAZ  Athletics  False     0              0             4
203999  URS  Athletics  False     0              2           NaN
204000  URS  Athletics   True     0              2           NaN
204019  RUS  Athletics   True     0              0             2
204020  RUS  Athletics   True     0              0             2

       Life_Expect_Bin Global_GDP_Perc_Bin
29                   8                   0
62                   8                   0
81                   7                   0
82                   7                   0
91                   7                   1
...                ...                 ...
203979               7                   0
203999             NaN                 NaN
204000             NaN                 NaN
204019               6                   0
204020               6                   0

[28092 rows x 8 columns]

In [16]:
Athletics_dummies = pd.get_dummies(Athletics_df)
Athletics_dummies.head(3)

,Medal,Host,NOC_ABW,NOC_AFG,NOC_AGO,NOC_ALB,NOC_AND,NOC_ARE,NOC_ARG,NOC_ARM,...,Life_Expect_Bin_8,Global_GDP_Perc_Bin_0,Global_GDP_Perc_Bin_1,Global_GDP_Perc_Bin_2,Global_GDP_Perc_Bin_3,Global_GDP_Perc_Bin_4,Global_GDP_Perc_Bin_5,Global_GDP_Perc_Bin_6,Global_GDP_Perc_Bin_7,Global_GDP_Perc_Bin_8
29,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
62,False,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
81,False,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [22]:
from sklearn.model_selection import train_test_split

# Convert categorical data to numeric and separate target feature for training data
x_train = Athletics_dummies.drop(columns=['Medal'])
y_train = Athletics_dummies['Medal']

In [23]:
# Convert categorical data to numeric and separate target feature for testing data
x_test = Athletics_dummies.drop(columns=['Medal'])
y_test = Athletics_dummies['Medal']

In [26]:
# Train the Logistic Regression model on the unscaled data and print the model score
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

C:\Users\14043\Downloads\Newfolder\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9113626655275523