# Data Merging Part 2.

In [1]:
# pandas
import pandas as pd

In [5]:
# import the modified dataset from part 1
popped_df = pd.read_csv('./archive/AthletesWithPopulations.csv')

# import the datasets still needed
lifex_df = pd.read_csv('./archive/life_expectancy.csv')
ruralperc_df = pd.read_csv('./archive/RuralPopperc.csv')
gdp_df = pd.read_csv('./archive/GDP.csv')

In [7]:
ruralperc_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,NaN

In [ ]:
# attach the rural population percentage data to the dataframe
rur_pop = []
for index, row in popped_df.iterrows():
    NOC = row['NOC']
    year = str(row['Year']) 
    ref_df = ruralperc_df[ruralperc_df['Country Code'] == NOC]
    rpop = ref_df[year].iat[0]
    rur_pop.append(rpop)
popped_df['Rural_Pop%'] = rur_pop